<div id="utility">
    <div class="banner">
        <h3>Utility Data</h3>
        <div class="compNav">
            <ul>
                <li><a routerLink="energy-consumption" [routerLinkActive]="['active']">Energy Consumption</a></li>
                <li><a routerLink="data-table" [routerLinkActive]="['active']">Data Table</a></li>
                <li><a routerLink="predictors" [routerLinkActive]="['active']">Predictors</a></li>
                <li><a routerLink="visualization" [routerLinkActive]="['active']">Data Visualization</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="row no-margin">
    <div class="col">
        <router-outlet></router-outlet>
    </div>
    <div class="col-3">
        <app-help-panel></app-help-panel>
    </div>
</div>


