<div id="utility">
    <div class="banner">
        <h3>Utility Data</h3>
        <div class="compNav">
            <ul *ngIf="selectedAccount && selectedFacility">
                <li><a routerLink="energy-consumption" [routerLinkActive]="['active']">Utilities</a></li>
                <li><a routerLink="mo-meter-data" [routerLinkActive]="['active']">Monthly Meter Data</a></li>
                <li><a routerLink="meter-groups" [routerLinkActive]="['active']">Meter Grouping</a></li>
                <li><a routerLink="predictors" [routerLinkActive]="['active']">Predictors</a></li>
                <li><a routerLink="visualization" [routerLinkActive]="['active']">Data Visualization</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="row no-margin" *ngIf="(selectedAccount && selectedFacility) && appRendered">
    <div class="col">
        <router-outlet></router-outlet>
    </div>
    <div class="col-3">
        <app-help-panel></app-help-panel>
    </div>
</div>

<div *ngIf="(!selectedAccount || !selectedFacility) && appRendered">
    <div class="wrapper main-content">
        <h4>Info</h4>
        <p class="alert alert-warning"><i class="fa fa-info-circle"></i> No account or facility selected. <a routerLink="/account-summary">Return to dashboard</a></p>
        
    </div>
</div>

