<div class="wrapper main-content">
    <h4>Data Table</h4>
    <p>Meter data has been calendarized.</p>
    <br>

    <div class="meter" *ngFor="let meterLists of meterList">
        <div class="meterData">
            <p><span class="bold">Meter #</span> {{meterLists.meterNumber}}</p>
            <p><span class="bold">Type</span> {{meterLists.type}}</p>
            <!--<p><span class="bold">Account #</span> {{meterLists.accountNumber}}</p>
            <p><span class="bold">Building / Area</span> {{meterLists.name}}</p>
            <p><span class="bold">Utility Supplier</span> {{meterLists.supplier}}</p>
            <p><span class="bold">Notes</span> {{meterLists.notes}}</p>-->
        </div>

        <div class="row">
            <div class="col tableData">
                <table>
                    <tr>
                        <th class="row-year">Month</th>
                        <th [hidden]="meterLists.type != 'Electricity'">Total kWh</th>
                        <th [hidden]="meterLists.type != 'Natural Gas'">Total Volume (cfm)/MMBTU</th>
                        <th>Total Cost</th>
                    </tr>
                    <tr *ngFor="let meterData of meterLists.calendarization">
                        <td>{{meterData.month}}</td>
                        <td>{{meterData.monthKwh}}</td>
                        <td>${{meterData.monthCost}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>