.content-padding{
    padding: 20px 30px;
    height: calc(100vh - 290px);
    overflow-y: auto;
}

.wrapper.main-content{
    margin: 25px 40px;
}

.alert-info .fa{
    color: #0c5460;
}

.row.form-group{
    margin-bottom:.25rem;
}