.banner {
    background-color: #c53f00;
}

li.disabled:hover .navigation-warning{
    display: block;
}
.navigation-warning {
    display: none;
    position: absolute;
    top: 110px;
    padding: 3px 7px;
    background-color: #f5d0d0e8;
    color: #c53f00;
    z-index: 99;
    margin-left: 10px;
}
.navigation-warning .arrow-up {
    border-bottom: 10px solid #f1c3be;
}

