<table class="table utility-data table-sm table-bordered table-hover">
    <thead>
        <tr>
            <th>Date</th>
            <th>% of Day</th>
            <th>Dry Bulb Temp</th>
            <th>Heating Degree Difference</th>
            <th>Heating Degree Days</th>
            <th>Cooling Degree Difference</th>
            <th>Cooling Degree Days</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        <tr *ngFor="let summaryData of hourlySummaryData">
            <td>
                {{summaryData.time | date:'short'}}
            </td>
            <td>
                {{summaryData.percentOfDay | number}}
            </td>
            <td>
                {{summaryData.dryBulbTemp | number}}
            </td>
            <td>
                {{summaryData.heatingDegreeDifference | number}}
            </td>
            <td>
                {{summaryData.heatingDegreeDay | number}}
            </td>
            <td>
                {{summaryData.coolingDegreeDifference | number}}
            </td>
            <td>
                {{summaryData.coolingDegreeDay | number}}
            </td>
        </tr>
    </tbody>
</table>