<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col">
                <h1 class="card-title"><span class="fa fa-building"></span> {{account.name}}</h1>
                <p class="card-text mg-0" *ngIf="account.address">{{account.address}}, {{account.city}}, {{account.state}}
                    {{account.zip}}
                    {{account.country}}
                </p>
            </div>
            <div class="col" *ngIf="goalYear">
                <div class="row">
                    <div class="col-2 text-center">
                        Baseline
                    </div>
                    <div class="col-8 text-center">
                        Energy Reduction Progress <ng-container *ngIf="latestAnalysisDate">({{latestAnalysisDate | date:
                            'MMM. y'}})
                        </ng-container>
                    </div>
                    <div class="col-2 text-center">
                        Goal
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 text-center">
                        {{baselineYear | yearDisplay:account.fiscalYear}}
                    </div>
                    <div class="col-8">
                        <div class="d-flex flex-column">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" [style.width.%]="percentTowardsGoal"
                                    aria-valuemin="0" aria-valuemax="percentGoal">
                                </div>
                            </div>
                            <div class="w-100 text-center bold">
                                {{percentSavings | number:'1.0-0'}}%
                            </div>
                        </div>
                    </div>
                    <div class="col-2 text-center">
                        {{goalYear | yearDisplay:account.fiscalYear}} ({{percentGoal}}%)
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-center flex-wrap">
                    <div class="p-1">
                        <button class="btn btn-outline m-0" (click)="navigateTo('overview')"
                            [disabled]="disableButtons">
                            <span class="fa fa-chart-column"></span><br>
                            View Account <br> Data Overview
                        </button>
                    </div>
                    <div class="p-1">
                        <button class="btn btn-outline m-0" (click)="navigateTo('analysis')"
                            [disabled]="disableButtons">
                            <span class="fa fa-microscope"></span><br>
                            Conduct Account <br> Analysis
                        </button>
                    </div>
                    <div class="p-1">
                        <button class="btn btn-outline m-0" (click)="navigateTo('reports')" [disabled]="disableButtons">
                            <span class="fa fa-folder"></span><br>
                            Generate Account <br> Reports
                        </button>
                    </div>
                    <div class="p-1">
                        <button class="btn btn-outline m-0" (click)="navigateTo('settings')">
                            <span class="fa fa-gear"></span><br>
                            Manage Account <br> Settings
                        </button>
                    </div>
                    <div class="p-1">
                        <button class="btn btn-outline m-0" (click)="navigateTo('upload')">
                            <span class="fa fa-upload"></span><br>
                            Upload Utility <br> Data
                        </button>
                    </div>
                    <div class="p-1">
                        <button class="btn btn-outline m-0" (click)="exportData()">
                            <span class="fa fa-download"></span><br>
                            Export Account <br> Utility Data
                        </button>
                    </div>
                    <!--TODO: Add functionality-->
                    <!--<div class="pe-2">
                        <button class="btn btn-outline m-0">
                            <span class="fa fa-plus"></span><br>
                            Add New <br> Facility
                        </button>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <!-- <h5>Account Status</h5> -->
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a class="nav-link" routerLink="/account/analysis">
                            <span class="fa fa-chevron-right pe-2"></span>
                            <span>Latest Plant Analysis:
                                <span *ngIf="accountAnalysisYear">{{accountAnalysisYear | yearDisplay:account.fiscalYear}}</span>
                                <span *ngIf="!accountAnalysisYear">&mdash;</span></span>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a class="nav-link" routerLink="/account/reports">
                            <span class="fa fa-chevron-right pe-2"></span>
                            <span>Latest Better Plants Report:
                                <span *ngIf="betterPlantsReportYear">{{betterPlantsReportYear | yearDisplay:account.fiscalYear}}</span>
                                <span *ngIf="!betterPlantsReportYear">&mdash;</span>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-8">
                <ng-container *ngIf="latestAnalysisItem">
                    <app-monthly-analysis-summary-graph *ngIf="!calculating && monthlyFacilityAnalysisData"
                        [monthlyAnalysisSummaryData]="monthlyFacilityAnalysisData" [analysisItem]="latestAnalysisItem"
                        [facilityOrAccount]="account">
                    </app-monthly-analysis-summary-graph>
                    <app-calculating-spinner *ngIf="calculating" [message]="'Calculating Monthly Results...'">
                    </app-calculating-spinner>
                </ng-container>
            </div>
        </div>


        <div class="row" *ngIf="disableButtons">
            <div class="col-12">
                <hr>
                <div class="d-flex justify-content-center">
                    <div class="alert alert-warning">
                        No meter data found for this account. Please add meter data to facilities within this account to
                        begin.
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>