<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col">
                <h1 class="card-title"><span class="fa fa-building"></span> {{account.name}}</h1>
                <p class="card-text" *ngIf="account.address">{{account.address}}, {{account.city}}, {{account.state}}
                    {{account.zip}}
                    {{account.country}}
                </p>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-2 text-center">
                        Baseline
                    </div>
                    <div class="col-8 text-center">
                        Energy Reduction Goal
                    </div>
                    <div class="col-2 text-center">
                        Goal
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 text-center">
                        2018
                    </div>
                    <div class="col-8">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" [style.width.%]="25" aria-valuemin="0"
                                aria-valuemax="20">
                                <span class="progress-bar-data">5%</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-2 text-center">
                        2027 (20%)
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a class="nav-link pl-0" routerLink="/account/analysis">
                            <span class="fa pr-2 fa-check-circle"></span>
                            <span>Plant Analysis 2022</span>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a class="nav-link pl-0" routerLink="/account/reports">
                            <span class="fa pr-2 fa-circle"></span>
                            <span>Better Plants Report 2022</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col">
                <div class="d-flex justify-content-end">
                    <div class="pr-2">
                        <button class="btn btn-outline m-0">
                            <span class="fa fa-chart-column"></span><br>
                            View Account <br> Data Overview
                        </button>
                    </div>
                    <div class="pr-2">
                        <button class="btn btn-outline m-0">
                            <span class="fa fa-microscope"></span><br>
                            Conduct Account <br> Analysis
                        </button>
                    </div>
                    <div class="pr-2">
                        <button class="btn btn-outline m-0">
                            <span class="fa fa-folder"></span><br>
                            Generate Account <br> Reports
                        </button>
                    </div>
                    <div class="pr-2">
                        <button class="btn btn-outline m-0">
                            <span class="fa fa-gear"></span><br>
                            Manage Account <br> Settings
                        </button>
                    </div>
                    <div class="pr-2">
                        <button class="btn btn-outline m-0">
                            <span class="fa fa-upload"></span><br>
                            Upload Utility <br> Data
                        </button>
                    </div>
                    <div class="pr-2">
                        <button class="btn btn-outline m-0">
                            <span class="fa fa-plus"></span><br>
                            Add New <br> Facility
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>