<table class="table utility-data table-sm table-bordered table-hover" #meterTable
    [ngClass]="{'copying-table': copyingTable}">
    <thead class="sortable">
        <tr class="table-mh">
            <th></th>
            <th [attr.colspan]="numGeneralInformation">
                General Information
            </th>
            <th *ngIf="showEmissionsSection && showEmissions" [attr.colspan]="numEmissions">
                Emissions
            </th>
            <th *ngIf="showDetailedCharges" [attr.colspan]="numDetailedCharges">
                Detailed Charges
            </th>
            <th>

            </th>
        </tr>
        <tr>
            <th *ngIf="!copyingTable" class="input">
                <input #masterCheckbox type="checkbox" (change)="checkAll()" [(ngModel)]="allChecked">
            </th>
            <th (click)="setOrderDataField('readDate')" [ngClass]="{'active': orderDataField == 'readDate'}"
                class="row-year">Meter Read Date</th>
            <th (click)="setOrderDataField('totalVolume')" [ngClass]="{'active': orderDataField == 'totalVolume'}"
                *ngIf="generalUtilityDataFilters.totalVolume && showVolumeColumn">
                Total Consumption<br> (<span [innerHTML]="volumeUnit | settingsLabel"></span>)
            </th>
            <th (click)="setOrderDataField('totalEnergyUse')" [ngClass]="{'active': orderDataField == 'totalEnergyUse'}"
                *ngIf="showEnergyColumn">Total Energy<br> (<span [innerHTML]="energyUnit | settingsLabel"></span>)</th>
            <th *ngIf="generalUtilityDataFilters.totalCost" (click)="setOrderDataField('totalCost')"
                [ngClass]="{'active': orderDataField == 'totalCost'}">Total
                Cost</th>

            <ng-container *ngIf="showEmissions">
                <ng-template [ngIf]="selectedMeter.source == 'Natural Gas' || selectedMeter.source == 'Other Fuels'"
                    [ngIfElse]="otherEnergyHeadersBlock">

                    <th *ngIf="generalUtilityDataFilters.stationaryBiogenicEmmissions"
                        (click)="setOrderDataField('stationaryBiogenicEmmissions')"
                        [ngClass]="{'active': orderDataField == 'stationaryBiogenicEmmissions'}">Total Biogenic
                        <br>Emissions
                        (tonne
                        CO<sub>2</sub>e)
                    </th>
                    <th *ngIf="generalUtilityDataFilters.stationaryCarbonEmissions"
                        (click)="setOrderDataField('stationaryCarbonEmissions')"
                        [ngClass]="{'active': orderDataField == 'stationaryCarbonEmissions'}">Total Carbon <br>Emissions
                        (tonne
                        CO<sub>2</sub>e)</th>
                    <th *ngIf="generalUtilityDataFilters.stationaryOtherEmissions"
                        (click)="setOrderDataField('stationaryOtherEmissions')"
                        [ngClass]="{'active': orderDataField == 'stationaryOtherEmissions'}">Total Other <br>Emissions
                        (tonne
                        CO<sub>2</sub>e)</th>

                    <th *ngIf="generalUtilityDataFilters.totalEmissions"
                        (click)="setOrderDataField('stationaryEmissions')"
                        [ngClass]="{'active': orderDataField == 'stationaryEmissions'}">Total <br>Emissions (tonne
                        CO<sub>2</sub>e)</th>
                </ng-template>
                <ng-template #otherEnergyHeadersBlock>
                    <th *ngIf="generalUtilityDataFilters.totalEmissions"
                        (click)="setOrderDataField('otherScope2Emissions')"
                        [ngClass]="{'active': orderDataField == 'otherScope2Emissions'}">Total <br>Emissions (tonne
                        CO<sub>2</sub>e)</th>
                </ng-template>


            </ng-container>

            <th *ngIf="generalUtilityDataFilters.commodityCharge" (click)="setOrderDataField('commodityCharge')"
                [ngClass]="{'active': orderDataField == 'commodityCharge'}">Commodity Charge</th>
            <th *ngIf="generalUtilityDataFilters.deliveryCharge" (click)="setOrderDataField('deliveryCharge')"
                [ngClass]="{'active': orderDataField == 'deliveryCharge'}">Delivery Charge</th>
            <th *ngIf="generalUtilityDataFilters.otherCharge" (click)="setOrderDataField('otherCharge')"
                [ngClass]="{'active': orderDataField == 'otherCharge'}">Other
                Charges</th>
            <th *ngIf="!copyingTable">Actions</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        <tr
            *ngFor="let meterData of selectedMeterData | orderBy: orderDataField: orderByDirection | slice: ((currentPageNumber-1) * itemsPerPage): currentPageNumber * itemsPerPage">
            <td *ngIf="!copyingTable" class="input">
                <input type="checkbox" name="metersSelected" (change)="toggleChecked()" [(ngModel)]="meterData.checked">
            </td>
            <td class="read-date" [ngClass]="checkError(meterData.readDate)">{{meterData.readDate | date}}</td>
            <td *ngIf="generalUtilityDataFilters.totalVolume && showVolumeColumn">
                <span class="fa fa-asterisk" *ngIf="meterData.isEstimated"></span>
                {{meterData.totalVolume | customNumber}}
            </td>
            <td *ngIf="showEnergyColumn">
                <span class="fa fa-asterisk" *ngIf="meterData.isEstimated && !showVolumeColumn"></span>
                {{meterData.totalEnergyUse | customNumber}}
            </td>
            <td *ngIf="generalUtilityDataFilters.totalCost">{{meterData.totalCost | customNumber:true}}</td>

            <!--TODO: update table and filters for emissions (scope2other, stationary)-->
            <ng-container *ngIf="showEmissions">
                <ng-template [ngIf]="selectedMeter.source == 'Natural Gas' || selectedMeter.source == 'Other Fuels'"
                    [ngIfElse]="otherEnergyBlock">

                    <td *ngIf="generalUtilityDataFilters.stationaryBiogenicEmmissions">
                        {{meterData.stationaryBiogenicEmmissions
                        | customNumber}}</td>
                    <td *ngIf="generalUtilityDataFilters.stationaryCarbonEmissions">
                        {{meterData.stationaryCarbonEmissions
                        | customNumber}}</td>
                    <td *ngIf="generalUtilityDataFilters.stationaryOtherEmissions">
                        {{meterData.stationaryOtherEmissions
                        | customNumber}}</td>
                    <td *ngIf="generalUtilityDataFilters.totalEmissions">
                        {{meterData.stationaryEmissions
                        | customNumber}}</td>
                </ng-template>
                <ng-template #otherEnergyBlock>
                    <td *ngIf="generalUtilityDataFilters.totalEmissions">
                        {{meterData.otherScope2Emissions
                        | customNumber}}</td>
                </ng-template>
            </ng-container>



            <td *ngIf="generalUtilityDataFilters.commodityCharge">{{meterData.commodityCharge | customNumber:true}}</td>
            <td *ngIf="generalUtilityDataFilters.deliveryCharge">{{meterData.deliveryCharge | customNumber:true}}</td>
            <td *ngIf="generalUtilityDataFilters.otherCharge">{{meterData.otherCharge | customNumber:true}}</td>
            <td class="actions" *ngIf="!copyingTable">
                <div class="btn-group">
                    <button class="btn btn-sm btn-outline" (click)="setEditMeterData(meterData)" title="Edit">
                        <i class="fa fa-pencil"></i>
                    </button>
                    <app-view-connect-bill *ngIf="isElectron" [meterData]="meterData"></app-view-connect-bill>
                    <button class="btn btn-sm btn-outline" (click)="setDeleteMeterData(meterData)" title="Delete">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<div class="d-flex w-100 justify-content-between">
    <div class="d-flex">
        <div>
            <button class="btn action-btn btn-sm" (click)="copyTable()">
                <span class="fa fa-copy"></span> Copy Table
            </button>
        </div>
        <div class="ps-2" *ngIf="showEstimated">
            <span class="fa fa-asterisk"></span> Indicates Estimated Reading
        </div>
    </div>
    <ngb-pagination [collectionSize]="selectedMeterData.length" [(page)]="currentPageNumber" [pageSize]="itemsPerPage"
        [maxSize]="5" [rotate]="true" aria-label="Pagination">
    </ngb-pagination>
</div>