.report-card{
    margin: 1rem;
    background-color: white;
    padding: .5rem;
    width: 250px;
    border-radius: .5rem;
}

.report-card-header{
    font-weight: bold;
    /* text-align: center; */
    font-size: larger;
}


.no-reports{
    margin-top: 40px;
    background-color: white;
    padding: 20px;
    border-radius: .5rem;
}

.no-reports p, .no-reports .btn{
    font-size: large;
}