.group-spacer {
    opacity: 1;
}

.banner-image {
    width: 100px;
}


@media print {
    .report-footer {
        width: 100%;
        position: fixed;
        bottom: 0;
    }

    hr.footer {
        display: block;
    }
}

.report-footer {
    padding-top: .75rem;
    border-top: solid 2px;
    color: rgb(29, 66, 138);
}