.group-section h5 {
    font-weight: bold;
    font-size: 15px;
    border-bottom: solid 3px black;
    margin-bottom: 0px;
    padding-bottom: 3px;
}


.group-label.click-link{
    font-size: 14px;
}