.navbar{
    background-color: white;
}

.navbar-brand:first-letter, .dropdown-toggle span.active{
    color: #ff6000;
}

a:not([href]).dropdown-item.active {
    color: #ff6000 !important;
    background-color: #efefef;

}

.navbar-brand{
    font-weight: 500;
    font-size: 30px;
    color: black;
}

.account-name{
    font-size: 20px;
    font-weight: 500;
}

.backup-account.btn{
    font-size: 12px;
}

.backup-account.btn span.small{
    font-size: 10px;
}

.account-required{
    font-style: italic;
}

.dropdown-toggle:hover{
    cursor: pointer;
    text-decoration: underline;
}

.dropdown-toggle, .form-inline .btn{
    font-size: 12px;
    padding: 5.2px 10px;
}