<nav class="navbar navbar-expand-sm" #header>
    <a class="navbar-brand" routerLink="/account">VERIFI</a>
    <span class="badge bg-secondary">v{{version}}</span>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="ps-2" *ngIf="dataInitialized && activeAccount">
            <app-search-bar></app-search-bar>
        </div>

        <div class="dropdown ms-auto" *ngIf="dataInitialized">
            <button *ngIf="activeAccount" class="btn action-btn dropdown-toggle"
                data-bs-toggle="dropdown" aria-expanded="false"><span class="fa fa-building"></span>
                {{activeAccount.name}}
            </button>
            <button *ngIf="!activeAccount" class="btn action-btn dropdown-toggle italic"
                data-bs-toggle="dropdown" aria-expanded="false">Account Required
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a *ngFor="let account of accountList| orderBy:'name':'asc'"
                        [class.active]="activeAccount?.id === account.id" class="dropdown-item"
                        (click)="switchAccount(account)"> {{account.name}}</a>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" (click)="addNewAccount()"><i class="fa fa-plus"></i> Add New
                        Account</a></li>
                <li><a class="dropdown-item" (click)="addNewAccount()"><i class="fa fa-upload"></i> Import Backup</a>
                </li>
            </ul>
        </div>
        <div class="ps-2" *ngIf="dataInitialized && activeAccount">
            <button class="btn action-btn" (click)="backupAccount()">Backup Account
            </button>
        </div>
        <div class="ps-2" *ngIf="dataInitialized && activeAccount">Last Backup: (<span
                *ngIf="lastBackupDate">{{lastBackupDate | date:'medium'}}</span><span
                *ngIf="!lastBackupDate">&mdash;</span>)</div>
        <!--TODO: Remove For Production-->
        <div class="ps-2" *ngIf="!isProduction">
            <button *ngIf="!resetDatabase" class="btn btn-danger" (click)="toggleResetDatabase()">Reset
                Database
            </button>
            <button *ngIf="resetDatabase" class="btn btn-danger" (click)="deleteDatabase()">Are you sure
                you want to reset the database?
            </button>
        </div>

    </div>
</nav>