.navbar{
    background-color: white;
    padding: .5rem .5rem;
}

.navbar-brand:first-letter, .dropdown-toggle span.active{
    color: #ff6000;
}

a:not([href]).dropdown-item.active {
    color: #ff6000 !important;
    background-color: #efefef;

}

.navbar-brand{
    font-weight: 500;
    font-size: 30px;
    color: black;
    padding-top: 0px;
    padding-bottom: 0px;
}

.btn{
    margin: 0px;
}

.dropdown-menu{
    z-index: 9999;
}