.navbar {
    background-color: white;
    padding: .5rem .5rem;
    transition: background-color 1s;
}

.navbar-brand:first-letter,
.dropdown-toggle span.active {
    color: #ff6000;
}

a:not([href]).navbar-brand {
    color: black !important;
}

a:not([href]).dropdown-item.active {
    color: #ff6000 !important;
    background-color: #efefef;
}

.navbar-brand {
    font-weight: 500;
    font-size: 30px;
    color: black;
    padding-top: 0px;
    padding-bottom: 0px;
}

.btn {
    margin: 0px;
}

.dropdown-menu {
    z-index: 9999;
}

.fa.fa-file-arrow-down {
    font-size: 22px;
    color: white;
}

.badge.bg-success:hover .fa.fa-file-arrow-down {
    cursor: pointer;
    color: black;
}

.btn.action-btn.active {
    background-color: #2c386b;
    color: white;
    border-color: #2c386b;
}

.btn.action-btn.active .fa {
    color: white;
}