.navbar.collapsed{
    width: auto;
}

.toggle-collapse .fa{
    font-size: x-large;
}

.toggle-collapse:hover .fa{
    cursor: pointer;
    border: so;
}

.help-container {
    container-type: inline-size;
    background-color: white;
    overflow-y: auto;
}

.help-content {
    display: block;
}

@container (max-width: 45px) {
    .help-content, .panel-label {
        display: none;
    }
}


.panel-label{
    display: inline-block !important;
    line-height: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    font-size: large;
}
