<table class="table utility-data table-sm table-bordered table-hover">
    <thead>
        <tr class="table-mh">
            <th class="w-25"></th>
            <th class="w-25">
                Latest Month
                <br><span class="small" *ngIf="dateRange.endDate">
                    ({{dateRange.endDate | date: 'MMM, y'}})</span>
            </th>
            <th class="w-25">
                Previous Year
                <br>
                <span class="small" *ngIf="previousYear">({{previousYear | date: 'MMM, y'}})</span>
            </th>
            <th class="w-25">
                Monthly Average
                <br>
                <span class="small" *ngIf="dateRange.startDate">
                    ({{dateRange.startDate | date: 'MMM, y'}} -
                    {{dateRange.endDate | date: 'MMM, y'}})</span>
            </th>
        </tr>
        <tr>
            <th></th>
            <th>
                (<span>tonne CO<sub>2</sub>e</span>)
            </th>
            <th>
                (<span>tonne CO<sub>2</sub>e</span>)
            </th>
            <th>
                (<span>tonne CO<sub>2</sub>e</span>)
            </th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        <!--Mobile-->
        <tr *ngIf="showMobile">
            <td>
                Scope 1: Mobile
            </td>
            <td class="text-center">
                <span *ngIf="useAndCostTotal.end.mobileTotalEmissions">
                    {{useAndCostTotal.end.mobileTotalEmissions | customNumber}}
                </span>
                <span *ngIf="!useAndCostTotal.end.mobileTotalEmissions">
                    &mdash;
                </span>
            </td>
            <td>
                <div class="d-flex w-100">
                    <div class="w-50 text-right pe-1 print-full">
                        <span *ngIf="useAndCostTotal.previousYear.mobileTotalEmissions">
                            {{useAndCostTotal.previousYear.mobileTotalEmissions | customNumber}}
                        </span>
                        <span *ngIf="!useAndCostTotal.previousYear.mobileTotalEmissions">
                            &mdash;
                        </span>
                    </div>
                    <div class="w-50 ps-1 hide-print">
                        <span *ngIf="useAndCostTotal.previousYear.mobileTotalEmissionsChange" class="small ps-2 badge"
                            [ngClass]="{'bg-danger': useAndCostTotal.previousYear.mobileTotalEmissionsChange < 0, 'bg-success': useAndCostTotal.previousYear.mobileTotalEmissionsChange > 0}">
                            <span class="fa fa-chevron-down"
                                *ngIf="useAndCostTotal.previousYear.mobileTotalEmissionsChange > 0"></span>
                            <span class="fa fa-chevron-up"
                                *ngIf="useAndCostTotal.previousYear.mobileTotalEmissionsChange < 0"></span>
                            {{useAndCostTotal.previousYear.mobileTotalEmissionsChange | customNumber}}
                        </span>
                    </div>
                </div>
            </td>
            <td>
                <div class="d-flex w-100">
                    <div class="w-50 text-right pe-1 print-full">
                        <span *ngIf="useAndCostTotal.average.mobileTotalEmissions">
                            {{useAndCostTotal.average.mobileTotalEmissions | customNumber}}
                        </span>
                        <span *ngIf="!useAndCostTotal.average.mobileTotalEmissions">
                            &mdash;
                        </span>
                    </div>
                    <div class="w-50 ps-1 hide-print">
                        <span *ngIf="useAndCostTotal.average.mobileTotalEmissionsChange" class="small ps-2 badge"
                            [ngClass]="{'bg-danger': useAndCostTotal.average.mobileTotalEmissionsChange < 0, 'bg-success': useAndCostTotal.average.mobileTotalEmissionsChange > 0}">
                            <span class="fa fa-chevron-down"
                                *ngIf="useAndCostTotal.average.mobileTotalEmissionsChange > 0"></span>
                            <span class="fa fa-chevron-up"
                                *ngIf="useAndCostTotal.average.mobileTotalEmissionsChange < 0"></span>
                            {{useAndCostTotal.average.mobileTotalEmissionsChange | customNumber}}
                        </span>
                    </div>
                </div>
            </td>
        </tr>
        <!--fugitive-->
        <tr *ngIf="showFugitive">
            <td>
                Scope 1: Fugitive
            </td>
            <td class="text-center">
                <span *ngIf="useAndCostTotal.end.fugitiveEmissions">
                    {{useAndCostTotal.end.fugitiveEmissions | customNumber}}
                </span>
                <span *ngIf="!useAndCostTotal.end.fugitiveEmissions">
                    &mdash;
                </span>
            </td>
            <td>
                <div class="d-flex w-100">
                    <div class="w-50 text-right pe-1 print-full">
                        <span *ngIf="useAndCostTotal.previousYear.fugitiveEmissions">
                            {{useAndCostTotal.previousYear.fugitiveEmissions | customNumber}}
                        </span>
                        <span *ngIf="!useAndCostTotal.previousYear.fugitiveEmissions">
                            &mdash;
                        </span>
                    </div>
                    <div class="w-50 ps-1 hide-print">
                        <span *ngIf="useAndCostTotal.previousYear.fugitiveEmissionsChange" class="small ps-2 badge"
                            [ngClass]="{'bg-danger': useAndCostTotal.previousYear.fugitiveEmissionsChange < 0, 'bg-success': useAndCostTotal.previousYear.fugitiveEmissionsChange > 0}">
                            <span class="fa fa-chevron-down"
                                *ngIf="useAndCostTotal.previousYear.fugitiveEmissionsChange > 0"></span>
                            <span class="fa fa-chevron-up"
                                *ngIf="useAndCostTotal.previousYear.fugitiveEmissionsChange < 0"></span>
                            {{useAndCostTotal.previousYear.fugitiveEmissionsChange | customNumber}}
                        </span>
                    </div>
                </div>
            </td>
            <td>
                <div class="d-flex w-100">
                    <div class="w-50 text-right pe-1 print-full">
                        <span *ngIf="useAndCostTotal.average.fugitiveEmissions">
                            {{useAndCostTotal.average.fugitiveEmissions | customNumber}}
                        </span>
                        <span *ngIf="!useAndCostTotal.average.fugitiveEmissions">
                            &mdash;
                        </span>
                    </div>
                    <div class="w-50 ps-1 hide-print">
                        <span *ngIf="useAndCostTotal.average.fugitiveEmissionsChange" class="small ps-2 badge"
                            [ngClass]="{'bg-danger': useAndCostTotal.average.fugitiveEmissionsChange < 0, 'bg-success': useAndCostTotal.average.fugitiveEmissionsChange > 0}">
                            <span class="fa fa-chevron-down"
                                *ngIf="useAndCostTotal.average.fugitiveEmissionsChange > 0"></span>
                            <span class="fa fa-chevron-up"
                                *ngIf="useAndCostTotal.average.fugitiveEmissionsChange < 0"></span>
                            {{useAndCostTotal.average.fugitiveEmissionsChange | customNumber}}
                        </span>
                    </div>
                </div>
            </td>
        </tr>
        <!--process-->
        <tr *ngIf="showProcess">
            <td>
                Scope 1: Process
            </td>
            <td class="text-center">
                <span *ngIf="useAndCostTotal.end.processEmissions">
                    {{useAndCostTotal.end.processEmissions | customNumber}}
                </span>
                <span *ngIf="!useAndCostTotal.end.processEmissions">
                    &mdash;
                </span>
            </td>
            <td>
                <div class="d-flex w-100">
                    <div class="w-50 text-right pe-1 print-full">
                        <span *ngIf="useAndCostTotal.previousYear.processEmissions">
                            {{useAndCostTotal.previousYear.processEmissions | customNumber}}
                        </span>
                        <span *ngIf="!useAndCostTotal.previousYear.processEmissions">
                            &mdash;
                        </span>
                    </div>
                    <div class="w-50 ps-1 hide-print">
                        <span *ngIf="useAndCostTotal.previousYear.processEmissionsChange" class="small ps-2 badge"
                            [ngClass]="{'bg-danger': useAndCostTotal.previousYear.processEmissionsChange < 0, 'bg-success': useAndCostTotal.previousYear.processEmissionsChange > 0}">
                            <span class="fa fa-chevron-down"
                                *ngIf="useAndCostTotal.previousYear.processEmissionsChange > 0"></span>
                            <span class="fa fa-chevron-up"
                                *ngIf="useAndCostTotal.previousYear.processEmissionsChange < 0"></span>
                            {{useAndCostTotal.previousYear.processEmissionsChange | customNumber}}
                        </span>
                    </div>
                </div>
            </td>
            <td>
                <div class="d-flex w-100">
                    <div class="w-50 text-right pe-1 print-full">
                        <span *ngIf="useAndCostTotal.average.processEmissions">
                            {{useAndCostTotal.average.processEmissions | customNumber}}
                        </span>
                        <span *ngIf="!useAndCostTotal.average.processEmissions">
                            &mdash;
                        </span>
                    </div>
                    <div class="w-50 ps-1 hide-print">
                        <span *ngIf="useAndCostTotal.average.processEmissionsChange" class="small ps-2 badge"
                            [ngClass]="{'bg-danger': useAndCostTotal.average.processEmissionsChange < 0, 'bg-success': useAndCostTotal.average.processEmissionsChange > 0}">
                            <span class="fa fa-chevron-down"
                                *ngIf="useAndCostTotal.average.processEmissionsChange > 0"></span>
                            <span class="fa fa-chevron-up"
                                *ngIf="useAndCostTotal.average.processEmissionsChange < 0"></span>
                            {{useAndCostTotal.average.processEmissionsChange | customNumber}}
                        </span>
                    </div>
                </div>
            </td>
        </tr>
        <!--Stationary-->
        <tr *ngIf="showStationary">
            <td>
                Scope 1: Stationary
            </td>
            <td class="text-center">
                <span *ngIf="useAndCostTotal.end.stationaryEmissions">
                    {{useAndCostTotal.end.stationaryEmissions | customNumber}}
                </span>
                <span *ngIf="!useAndCostTotal.end.stationaryEmissions">
                    &mdash;
                </span>
            </td>
            <td>
                <div class="d-flex w-100">
                    <div class="w-50 text-right pe-1 print-full">
                        <span *ngIf="useAndCostTotal.previousYear.stationaryEmissions">
                            {{useAndCostTotal.previousYear.stationaryEmissions | customNumber}}
                        </span>
                        <span *ngIf="!useAndCostTotal.previousYear.stationaryEmissions">
                            &mdash;
                        </span>
                    </div>
                    <div class="w-50 ps-1 hide-print">
                        <span *ngIf="useAndCostTotal.previousYear.stationaryEmissionsChange" class="small ps-2 badge"
                            [ngClass]="{'bg-danger': useAndCostTotal.previousYear.stationaryEmissionsChange < 0, 'bg-success': useAndCostTotal.previousYear.stationaryEmissionsChange > 0}">
                            <span class="fa fa-chevron-down"
                                *ngIf="useAndCostTotal.previousYear.stationaryEmissionsChange > 0"></span>
                            <span class="fa fa-chevron-up"
                                *ngIf="useAndCostTotal.previousYear.stationaryEmissionsChange < 0"></span>
                            {{useAndCostTotal.previousYear.stationaryEmissionsChange | customNumber}}
                        </span>
                    </div>
                </div>
            </td>
            <td>
                <div class="d-flex w-100">
                    <div class="w-50 text-right pe-1 print-full">
                        <span *ngIf="useAndCostTotal.average.stationaryEmissions">
                            {{useAndCostTotal.average.stationaryEmissions | customNumber}}
                        </span>
                        <span *ngIf="!useAndCostTotal.average.stationaryEmissions">
                            &mdash;
                        </span>
                    </div>
                    <div class="w-50 ps-1 hide-print">
                        <span *ngIf="useAndCostTotal.average.processEmissionsChange" class="small ps-2 badge"
                            [ngClass]="{'bg-danger': useAndCostTotal.average.stationaryEmissionsChange < 0, 'bg-success': useAndCostTotal.average.stationaryEmissionsChange > 0}">
                            <span class="fa fa-chevron-down"
                                *ngIf="useAndCostTotal.average.stationaryEmissionsChange > 0"></span>
                            <span class="fa fa-chevron-up"
                                *ngIf="useAndCostTotal.average.stationaryEmissionsChange < 0"></span>
                            {{useAndCostTotal.average.stationaryEmissionsChange | customNumber}}
                        </span>
                    </div>
                </div>
            </td>
        </tr>
        <!--Location-->
        <tr *ngIf="emissionsDisplay == 'location' && showScope2LocationElectricity">
            <td>
                Scope 2: Electricity (Location)
            </td>
            <td class="text-center">
                <span *ngIf="useAndCostTotal.end.locationElectricityEmissions">
                    {{useAndCostTotal.end.locationElectricityEmissions | customNumber}}
                </span>
                <span *ngIf="!useAndCostTotal.end.locationElectricityEmissions">
                    &mdash;
                </span>
            </td>
            <td>
                <div class="d-flex w-100">
                    <div class="w-50 text-right pe-1 print-full">
                        <span *ngIf="useAndCostTotal.previousYear.locationElectricityEmissions">
                            {{useAndCostTotal.previousYear.locationElectricityEmissions | customNumber}}
                        </span>
                        <span *ngIf="!useAndCostTotal.previousYear.locationElectricityEmissions">
                            &mdash;
                        </span>
                    </div>
                    <div class="w-50 ps-1 hide-print">
                        <span *ngIf="useAndCostTotal.previousYear.locationElectricityEmissionsChange" class="small ps-2 badge"
                            [ngClass]="{'bg-danger': useAndCostTotal.previousYear.locationElectricityEmissionsChange < 0, 'bg-success': useAndCostTotal.previousYear.locationElectricityEmissionsChange > 0}">
                            <span class="fa fa-chevron-down"
                                *ngIf="useAndCostTotal.previousYear.locationElectricityEmissionsChange > 0"></span>
                            <span class="fa fa-chevron-up"
                                *ngIf="useAndCostTotal.previousYear.locationElectricityEmissionsChange < 0"></span>
                            {{useAndCostTotal.previousYear.locationElectricityEmissionsChange | customNumber}}
                        </span>
                    </div>
                </div>
            </td>
            <td>
                <div class="d-flex w-100">
                    <div class="w-50 text-right pe-1 print-full">
                        <span *ngIf="useAndCostTotal.average.locationElectricityEmissions">
                            {{useAndCostTotal.average.locationElectricityEmissions | customNumber}}
                        </span>
                        <span *ngIf="!useAndCostTotal.average.locationElectricityEmissions">
                            &mdash;
                        </span>
                    </div>
                    <div class="w-50 ps-1 hide-print">
                        <span *ngIf="useAndCostTotal.average.locationElectricityEmissionsChange" class="small ps-2 badge"
                            [ngClass]="{'bg-danger': useAndCostTotal.average.locationElectricityEmissionsChange < 0, 'bg-success': useAndCostTotal.average.locationElectricityEmissionsChange > 0}">
                            <span class="fa fa-chevron-down"
                                *ngIf="useAndCostTotal.average.locationElectricityEmissionsChange > 0"></span>
                            <span class="fa fa-chevron-up"
                                *ngIf="useAndCostTotal.average.locationElectricityEmissionsChange < 0"></span>
                            {{useAndCostTotal.average.locationElectricityEmissionsChange | customNumber}}
                        </span>
                    </div>
                </div>
            </td>
        </tr>
        <!--Market-->
        <tr *ngIf="emissionsDisplay == 'market' && showScope2MarketElectricity">
            <td>
                Scope 2: Electricity (Market)
            </td>
            <td class="text-center">
                <span *ngIf="useAndCostTotal.end.marketElectricityEmissions">
                    {{useAndCostTotal.end.marketElectricityEmissions | customNumber}}
                </span>
                <span *ngIf="!useAndCostTotal.end.marketElectricityEmissions">
                    &mdash;
                </span>
            </td>
            <td>
                <div class="d-flex w-100">
                    <div class="w-50 text-right pe-1 print-full">
                        <span *ngIf="useAndCostTotal.previousYear.marketElectricityEmissions">
                            {{useAndCostTotal.previousYear.marketElectricityEmissions | customNumber}}
                        </span>
                        <span *ngIf="!useAndCostTotal.previousYear.marketElectricityEmissions">
                            &mdash;
                        </span>
                    </div>
                    <div class="w-50 ps-1 hide-print">
                        <span *ngIf="useAndCostTotal.previousYear.marketElectricityEmissionsChange" class="small ps-2 badge"
                            [ngClass]="{'bg-danger': useAndCostTotal.previousYear.marketElectricityEmissionsChange < 0, 'bg-success': useAndCostTotal.previousYear.marketElectricityEmissionsChange > 0}">
                            <span class="fa fa-chevron-down"
                                *ngIf="useAndCostTotal.previousYear.marketElectricityEmissionsChange > 0"></span>
                            <span class="fa fa-chevron-up"
                                *ngIf="useAndCostTotal.previousYear.marketElectricityEmissionsChange < 0"></span>
                            {{useAndCostTotal.previousYear.marketElectricityEmissionsChange | customNumber}}
                        </span>
                    </div>
                </div>
            </td>
            <td>
                <div class="d-flex w-100">
                    <div class="w-50 text-right pe-1 print-full">
                        <span *ngIf="useAndCostTotal.average.marketElectricityEmissions">
                            {{useAndCostTotal.average.marketElectricityEmissions | customNumber}}
                        </span>
                        <span *ngIf="!useAndCostTotal.average.marketElectricityEmissions">
                            &mdash;
                        </span>
                    </div>
                    <div class="w-50 ps-1 hide-print">
                        <span *ngIf="useAndCostTotal.average.marketElectricityEmissionsChange" class="small ps-2 badge"
                            [ngClass]="{'bg-danger': useAndCostTotal.average.marketElectricityEmissionsChange < 0, 'bg-success': useAndCostTotal.average.marketElectricityEmissionsChange > 0}">
                            <span class="fa fa-chevron-down"
                                *ngIf="useAndCostTotal.average.marketElectricityEmissionsChange > 0"></span>
                            <span class="fa fa-chevron-up"
                                *ngIf="useAndCostTotal.average.marketElectricityEmissionsChange < 0"></span>
                            {{useAndCostTotal.average.marketElectricityEmissionsChange | customNumber}}
                        </span>
                    </div>
                </div>
            </td>
        </tr>
        <!--Scope 2: OTHER-->
        <tr *ngIf="showScope2Other">
            <td>
                Scope 2: Other
            </td>
            <td class="text-center">
                <span *ngIf="useAndCostTotal.end.otherScope2Emissions">
                    {{useAndCostTotal.end.otherScope2Emissions | customNumber}}
                </span>
                <span *ngIf="!useAndCostTotal.end.otherScope2Emissions">
                    &mdash;
                </span>
            </td>
            <td>
                <div class="d-flex w-100">
                    <div class="w-50 text-right pe-1 print-full">
                        <span *ngIf="useAndCostTotal.previousYear.otherScope2Emissions">
                            {{useAndCostTotal.previousYear.otherScope2Emissions | customNumber}}
                        </span>
                        <span *ngIf="!useAndCostTotal.previousYear.otherScope2Emissions">
                            &mdash;
                        </span>
                    </div>
                    <div class="w-50 ps-1 hide-print">
                        <span *ngIf="useAndCostTotal.previousYear.otherScope2EmissionsChange" class="small ps-2 badge"
                            [ngClass]="{'bg-danger': useAndCostTotal.previousYear.otherScope2EmissionsChange < 0, 'bg-success': useAndCostTotal.previousYear.otherScope2EmissionsChange > 0}">
                            <span class="fa fa-chevron-down"
                                *ngIf="useAndCostTotal.previousYear.otherScope2EmissionsChange > 0"></span>
                            <span class="fa fa-chevron-up"
                                *ngIf="useAndCostTotal.previousYear.otherScope2EmissionsChange < 0"></span>
                            {{useAndCostTotal.previousYear.otherScope2EmissionsChange | customNumber}}
                        </span>
                    </div>
                </div>
            </td>
            <td>
                <div class="d-flex w-100">
                    <div class="w-50 text-right pe-1 print-full">
                        <span *ngIf="useAndCostTotal.average.otherScope2Emissions">
                            {{useAndCostTotal.average.otherScope2Emissions | customNumber}}
                        </span>
                        <span *ngIf="!useAndCostTotal.average.otherScope2Emissions">
                            &mdash;
                        </span>
                    </div>
                    <div class="w-50 ps-1 hide-print">
                        <span *ngIf="useAndCostTotal.average.otherScope2EmissionsChange" class="small ps-2 badge"
                            [ngClass]="{'bg-danger': useAndCostTotal.average.otherScope2EmissionsChange < 0, 'bg-success': useAndCostTotal.average.otherScope2EmissionsChange > 0}">
                            <span class="fa fa-chevron-down"
                                *ngIf="useAndCostTotal.average.otherScope2EmissionsChange > 0"></span>
                            <span class="fa fa-chevron-up"
                                *ngIf="useAndCostTotal.average.otherScope2EmissionsChange < 0"></span>
                            {{useAndCostTotal.average.otherScope2EmissionsChange | customNumber}}
                        </span>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th>
                Total
            </th>
            <!--previous month-->
            <th class="text-center" *ngIf="emissionsDisplay == 'market'">
                <span *ngIf="useAndCostTotal.end.totalWithMarketEmissions">
                    {{useAndCostTotal.end.totalWithMarketEmissions | customNumber}}
                </span>
                <span *ngIf="!useAndCostTotal.end.totalWithMarketEmissions">
                    &mdash;
                </span>
            </th>
            <th class="text-center" *ngIf="emissionsDisplay == 'location'">
                <span *ngIf="useAndCostTotal.end.totalWithLocationEmissionsChange">
                    {{useAndCostTotal.end.totalWithLocationEmissionsChange | customNumber}}
                </span>
                <span *ngIf="!useAndCostTotal.end.totalWithLocationEmissionsChange">
                    &mdash;
                </span>
            </th>

            <!--year prior-->
            <th *ngIf="emissionsDisplay == 'market'">
                <div class="d-flex w-100">
                    <div class="w-50 text-right pe-1 print-full">
                        <span *ngIf="useAndCostTotal.previousYear.totalWithMarketEmissions">
                            {{useAndCostTotal.previousYear.totalWithMarketEmissions | customNumber}}
                        </span>
                        <span *ngIf="!useAndCostTotal.previousYear.totalWithMarketEmissions">
                            &mdash;
                        </span>
                    </div>
                    <div class="w-50 ps-1 hide-print">
                        <span *ngIf="useAndCostTotal.previousYear.totalWithMarketEmissionsChange" class="small ps-2 badge"
                            [ngClass]="{'bg-danger': useAndCostTotal.previousYear.totalWithMarketEmissionsChange < 0, 'bg-success': useAndCostTotal.previousYear.totalWithMarketEmissionsChange > 0}">
                            <span class="fa fa-chevron-down"
                                *ngIf="useAndCostTotal.previousYear.totalWithMarketEmissionsChange > 0"></span>
                            <span class="fa fa-chevron-up"
                                *ngIf="useAndCostTotal.previousYear.totalWithMarketEmissionsChange < 0"></span>
                            {{useAndCostTotal.previousYear.totalWithMarketEmissionsChange | customNumber}}
                        </span>
                    </div>
                </div>
            </th>
            <th *ngIf="emissionsDisplay == 'location'">
                <div class="d-flex w-100">
                    <div class="w-50 text-right pe-1 print-full">
                        <span *ngIf="useAndCostTotal.previousYear.totalWithLocationEmissionsChange">
                            {{useAndCostTotal.previousYear.totalWithLocationEmissionsChange | customNumber}}
                        </span>
                        <span *ngIf="!useAndCostTotal.previousYear.totalWithLocationEmissionsChange">
                            &mdash;
                        </span>
                    </div>
                    <div class="w-50 ps-1 hide-print">
                        <span *ngIf="useAndCostTotal.previousYear.totalWithLocationEmissionsChange" class="small ps-2 badge"
                            [ngClass]="{'bg-danger': useAndCostTotal.previousYear.totalWithLocationEmissionsChange < 0, 'bg-success': useAndCostTotal.previousYear.totalWithLocationEmissionsChange > 0}">
                            <span class="fa fa-chevron-down"
                                *ngIf="useAndCostTotal.previousYear.totalWithLocationEmissionsChange > 0"></span>
                            <span class="fa fa-chevron-up"
                                *ngIf="useAndCostTotal.previousYear.totalWithLocationEmissionsChange < 0"></span>
                            {{useAndCostTotal.previousYear.totalWithLocationEmissionsChange | customNumber}}
                        </span>
                    </div>
                </div>
            </th>

            <!--average-->
            <th *ngIf="emissionsDisplay == 'market'">
                <div class="d-flex w-100">
                    <div class="w-50 text-right pe-1 print-full">
                        <span *ngIf="useAndCostTotal.average.totalWithMarketEmissions">
                            {{useAndCostTotal.average.totalWithMarketEmissions | customNumber}}
                        </span>
                        <span *ngIf="!useAndCostTotal.average.totalWithMarketEmissions">
                            &mdash;
                        </span>
                    </div>
                    <div class="w-50 ps-1 hide-print">
                        <span *ngIf="useAndCostTotal.average.totalWithMarketEmissionsChange" class="small ps-2 badge"
                            [ngClass]="{'bg-danger': useAndCostTotal.average.totalWithMarketEmissionsChange < 0, 'bg-success': useAndCostTotal.average.totalWithMarketEmissionsChange > 0}">
                            <span class="fa fa-chevron-down"
                                *ngIf="useAndCostTotal.average.totalWithMarketEmissionsChange > 0"></span>
                            <span class="fa fa-chevron-up"
                                *ngIf="useAndCostTotal.average.totalWithMarketEmissionsChange < 0"></span>
                            {{useAndCostTotal.average.totalWithMarketEmissionsChange | customNumber}}
                        </span>
                    </div>
                </div>
            </th>
            <th *ngIf="emissionsDisplay == 'location'">
                <div class="d-flex w-100">
                    <div class="w-50 text-right pe-1 print-full">
                        <span *ngIf="useAndCostTotal.average.totalWithLocationEmissionsChange">
                            {{useAndCostTotal.average.totalWithLocationEmissionsChange | customNumber}}
                        </span>
                        <span *ngIf="!useAndCostTotal.average.totalWithLocationEmissionsChange">
                            &mdash;
                        </span>
                    </div>
                    <div class="w-50 ps-1 hide-print">
                        <span *ngIf="useAndCostTotal.average.totalWithLocationEmissionsChange" class="small ps-2 badge"
                            [ngClass]="{'bg-danger': useAndCostTotal.average.totalWithLocationEmissionsChange < 0, 'bg-success': useAndCostTotal.average.totalWithLocationEmissionsChange > 0}">
                            <span class="fa fa-chevron-down"
                                *ngIf="useAndCostTotal.average.totalWithLocationEmissionsChange > 0"></span>
                            <span class="fa fa-chevron-up"
                                *ngIf="useAndCostTotal.average.totalWithLocationEmissionsChange < 0"></span>
                            {{useAndCostTotal.average.totalWithLocationEmissionsChange | customNumber}}
                        </span>
                    </div>
                </div>
            </th>
        </tr>
    </tfoot>
</table>