/* tr > td {
    width: 10%;
}  */

thead th{
    text-align: center;
}

.badge .fa{
    color: white;
    font-size: smaller;
}

.badge{
    font-weight: normal;
}

.text-right{
    text-align: right;
}


@media print{
    .print-full{
        width: 100% !important;
        text-align: center !important;
    }

    td, th{
        width: fit-content;
    }

    table.table{
        width: 740px !important;
    }
}