<div class="upload-banner banner d-flex justify-content-between w-100">
    <div class="banner-title">
        <h3><span class="fa fa-temperature-half"></span> Weather Data</h3>
    </div>
    <div class="help-toggle">
        <a (click)="toggleHelpPanel()"><span class="fa fa-circle-question"></span></a>
    </div>
</div>

<div class="wrapper main-content">
    <h4>
        Weather Data Used by VERIFI
    </h4>
    <p>
        This page provides a detailed look of the weather data available for use by VERIFI. The weather data is pulled
        from <a href="https://www.ncei.noaa.gov/" target="_blank">The National Centers for Environmental
            Information</a>. If quality
        data is found VERIFI can automatically calculate heating and cooling degree days. The calculated degree days can
        be used as predictor data for analysis.
    </p>
    <p>
        For much more information on all things degree days, visit <a href="https://www.degreedays.net/"
            target="_blank">https://www.degreedays.net/</a>
    </p>
    <hr>
    <ng-template [ngIf]="hasServerError == false" [ngIfElse]="serverErrorBlock">
        <router-outlet></router-outlet>
    </ng-template>
    <ng-template #serverErrorBlock>
        <div class="alert alert-danger">
            An error occured when accessing the weather data servers.
        </div>
    </ng-template>
</div>

<div [ngClass]="{'windowOverlay': applyToFacility}"></div>
<div class="popup" [class.open]="applyToFacility">
    <div class="popup-header">Create Degree Day Predictors
        <button class="item-right" (click)="cancelApplyToFacility()">x</button>
    </div>
    <div class="popup-body">
        <p *ngIf="weatherDataSelection == 'HDD'">Select the facility to create new heating degree day predictors using
            the selected weather station and temperature threshold.</p>
        <p *ngIf="weatherDataSelection == 'CDD'">Select the facility to create new cooling degree day predictors using
            the selected weather station and temperature threshold.</p>
        <p *ngIf="weatherDataSelection == 'degreeDays'">Select the facility to create new heating and cooling degree day
            predictors using the selected weather station and temperature thresholds.</p>
        <form>
            <select class="form-select" name="selectedFacility" [(ngModel)]="selectedFacility"
                (change)="setFacilityData()">
                <option *ngFor="let facility of facilities" [ngValue]="facility">{{facility.name}}</option>
            </select>
        </form>
        <div class="alert alert-warning"
            *ngIf="facilityPredictorEntries?.length == 0 && facilityMeterData?.length != 0">
            No facility predictor entries found. Entries will be created to match facility meter dates.
        </div>
        <div class="alert alert-danger" *ngIf="facilityMeterData?.length == 0">
            No meter data found for this facility, predictors cannot be created.
        </div>
    </div>
    <div class="saveCancel popup-footer text-end">
        <button class="btn btn-secondary" (click)="cancelApplyToFacility()">Cancel</button>
        <button class="btn action-btn" (click)="confirmCreate()"
            [disabled]="!selectedFacility || facilityMeterData?.length == 0">Create
            Predictors</button>
    </div>
</div>