<div class="wrapper main-content">
    <h4>Data Visualization
    </h4>
    <div class="d-flex w-100 justify-content-between border-bottom flex-wrap">
        <div class="d-flex">
            <select name="minMonth" [(ngModel)]="minMonth" class="form-control" (change)="setMinDate()">
                <option class="pr-2" *ngFor="let month of globalVariables.months" [ngValue]="month.monthNumValue">
                    {{month.abbreviation}}</option>
            </select>

            <select name="minYear" [(ngModel)]="minYear" class="form-control" (change)="setMinDate()">
                <option class="pr-2" *ngFor="let year of years" [ngValue]="year">{{year}}</option>
            </select>

            <div class="pl-1 pr-1">
                <span class="fa fa-arrow-right"></span>
            </div>

            <select name="maxMonth" [(ngModel)]="maxMonth" class="form-control" (change)="setMaxDate()">
                <option class="pr-2" *ngFor="let month of globalVariables.months" [ngValue]="month.monthNumValue">
                    {{month.abbreviation}}</option>
            </select>

            <select name="maxYear" [(ngModel)]="maxYear" class="form-control" (change)="setMaxDate()">
                <option class="pr-2" *ngFor="let year of years" [ngValue]="year">{{year}}</option>
            </select>
        </div>

        <div class="btn-group">
            <button class="btn btn-sm btn-outline" [ngClass]="{'btn-primary-2': selectedChart == 'splom'}"
                (click)="setView('splom')">Data Correlation</button>
            <button class="btn btn-sm btn-outline" [ngClass]="{'btn-primary-2': selectedChart == 'heatmap'}"
                (click)="setView('heatmap')">R<sup>2</sup> Variance</button>
            <button class="btn btn-sm btn-outline" [ngClass]="{'btn-primary-2': selectedChart == 'timeseries'}"
                (click)="setView('timeseries')">Time Series</button>
        </div>
    </div>
    <div class="d-flex w-100">
        <app-correlation-plot class="flex-grow-1"
            *ngIf="selectedChart == 'splom' || (numberOfOptionsSelected == 2 && selectedChart != 'timeseries')">
        </app-correlation-plot>
        <app-correlation-heatmap class="flex-grow-1" *ngIf="selectedChart == 'heatmap' && numberOfOptionsSelected > 2">
        </app-correlation-heatmap>
        <app-time-series class="flex-grow-1" *ngIf="selectedChart == 'timeseries'"></app-time-series>
        <app-correlation-menu></app-correlation-menu>
    </div>
</div>