<div [ngClass]="{'windowOverlay': displayModal}"></div>
<div class="popup" [class.open]="displayModal">
  <div class="popup-header">Select Fuel
    <button class="item-right" (click)="cancelSelectFuel()">x</button>
  </div>
  <div class="popup-body">
    <table class="table table-bordered table-sm table-hover">
      <thead>
        <tr>
          <th>
            Option
          </th>
          <th>
            Global Warming Potential
          </th>
        </tr>
      </thead>
      <tbody>
        @for (option of globalWarmingPotentials; track option) {
        <tr>
          <td class="ps-2">
            <a class="click-link" (click)="selectOption(option)">
              <span [innerHTML]="option.display"></span>
            </a>
          </td>
          @if(assessmentReportVersion == 'AR5') {
          <td>
            {{option.gwp_ar5 | number}} kg/kg
          </td>
          } @else if(assessmentReportVersion == 'AR6') {
          <td>
            {{option.gwp_ar6 | number}} kg/kg
          </td>
          } @else {
          <td>
            {{option.gwp_ar4 | number}} kg/kg
          </td>
          }
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>