<ng-container *ngIf="!calculating">
    <div class="row" *ngIf="displayWarning">
        <div class="col">
            <div class="alert alert-warning text-center">
                No utility costs tracked for this account. Please consider adding utility costs to your readings.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-white">
                    <h4 class="mb-0">Facility Utility Costs<span class="pull-right"
                            *ngIf="yearPriorDate">({{yearPriorDate |
                            date: 'MMM, y'}} -
                            {{lastMonthsDate | date: 'MMM, y'}})</span></h4>

                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <app-data-overview-map [dataType]="'cost'"
                                [accountFacilitiesSummary]="accountFacilitiesSummary"></app-data-overview-map>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <app-facilities-usage-table [dataType]="'cost'"
                                [accountFacilitiesSummary]="accountFacilitiesSummary"></app-facilities-usage-table>
                        </div>
                        <div class="col-6">
                            <app-facility-usage-donut [dataType]="'cost'"></app-facility-usage-donut>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-white">
                    <h4 class="mb-0">Utility Costs</h4>
                </div>
                <div class="card-body">
                    <app-utility-consumption-table [dataType]="'cost'"></app-utility-consumption-table>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-white">
                    <h4 class="mb-0">Utility Costs (All-time)</h4>
                </div>
                <div class="card-body">
                    <app-facilities-usage-stacked-bar-chart
                        [dataType]="'cost'"></app-facilities-usage-stacked-bar-chart>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-white">
                    <h4 class="mb-0">Monthly Costs</h4>
                </div>
                <div class="card-body">
                    <!-- <app-monthly-costs-chart></app-monthly-costs-chart> -->
                    <app-monthly-utility-usage-line-chart [dataType]="'cost'"></app-monthly-utility-usage-line-chart>
                </div>
            </div>
        </div>
    </div>
</ng-container>


<app-calculating-spinner *ngIf="calculating" [message]="'Calculating Data Overview...'"></app-calculating-spinner>