<ng-container *ngIf="!calculating">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-white">
                    <h4 class="mb-0">Facility Utility Costs<span class="pull-right"
                            *ngIf="yearPriorDate">({{yearPriorDate |
                            date: 'MMM, y'}} -
                            {{lastMonthsDate | date: 'MMM, y'}})</span></h4>

                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <app-facility-costs-map></app-facility-costs-map>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <app-facility-cost-table></app-facility-cost-table>
                        </div>
                        <div class="col-6">
                            <app-facility-cost-chart></app-facility-cost-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-white">
                    <h4 class="mb-0">Utility Costs</h4>
                </div>
                <div class="card-body">
                    <app-utility-cost-table></app-utility-cost-table>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-white">
                    <h4 class="mb-0">Utility Costs (All-time)</h4>
                </div>
                <div class="card-body">
                    <app-utility-cost-chart></app-utility-cost-chart>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <!-- <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-white">
                    <h4 class="mb-0">Utility Usage (All-time)</h4>
                </div>
                <div class="card-body">
                    <app-utility-usage-map></app-utility-usage-map>
                </div>
            </div>
        </div>
    </div> -->
</ng-container>


<app-calculating-spinner *ngIf="calculating" [message]="'Calculating Data Overview...'"></app-calculating-spinner>