<div class="banner sticky-top d-flex justify-content-between pb-0" [ngClass]="{'modal-open': modalOpen}">
    <div>
        <ul class="nav nav-tabs sticky-top">
            <li class="nav-item" *ngFor="let facility of facilities"
                [ngClass]="{'active': facility.wizardId == selectedFacility.wizardId}"><a class="nav-link"
                    (click)="selectFacility(facility)">{{facility.name}}</a>
            </li>
        </ul>
    </div>

    <div>
        <ul class="nav nav-tabs sticky-top">
            <li class="nav-item">
                <a class="nav-link" (click)="addFacility()">+Add Another Facility
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="wrapper">
    <div class="d-flex w-100">
        <div class="d-flex flex-column p-2 nav page-sidebar">
            <div class="nav-item">
                <a class="nav-link" routerLink="/setup-wizard/facility-setup/information-setup"
                    [routerLinkActive]="['active']">
                    <span class="badge"
                        [ngClass]="{'badge-danger':generalInformationInvalid, 'badge-success': !generalInformationInvalid}">1</span>
                    General Information
                </a>
            </div>
            <div class="nav-item">
                <a class="nav-link" routerLink="/setup-wizard/facility-setup/units-setup"
                    [routerLinkActive]="['active']" [ngClass]="{'disabled': generalInformationInvalid}">
                    <span class="badge" [ngClass]="getUnitsClass()">2</span> Units
                </a>
            </div>
            <div class="nav-item">
                <a class="nav-link" routerLink="/setup-wizard/facility-setup/reporting-setup"
                    [routerLinkActive]="['active']" [ngClass]="{'disabled': generalInformationInvalid || unitsInvalid}">
                    <span class="badge"
                        [ngClass]="{'badge-danger':reportingInvalid, 'badge-success': !reportingInvalid}">3</span>
                    Reporting
                </a>
            </div>
        </div>
        <div class="flex-fill pt-2 pl-4 pr-4 pb-4">
            <div class="d-flex w-100 justify-content-end">
                <div *ngIf="facilities.length > 1">
                    <button class="btn btn-sm btn-danger" (click)="deleteFacility()">Delete Facility</button>
                </div>
            </div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>