<br>
<ng-container *ngIf="(predictor.weatherDataType == 'HDD' || predictor.weatherDataType == 'CDD')">
    <span class="small block">({{predictor.weatherDataType}},
        <ng-container *ngIf="predictor.weatherDataType == 'HDD'">
            {{predictor.heatingBaseTemperature}} &#8457;
        </ng-container>
        <ng-container *ngIf="predictor.weatherDataType == 'CDD'">
            {{predictor.coolingBaseTemperature}} &#8457;
        </ng-container>)</span>
</ng-container>
<ng-container *ngIf="predictor.weatherDataType == 'relativeHumidity'">
    <span class="small block">
        (Relative Humidity, %)
    </span>
</ng-container>
<ng-container *ngIf="predictor.weatherDataType == 'dryBulbTemp'">
    <span class="small block">
        (Dry Bulb Temp., &#8457;)
    </span>
</ng-container>