.progress {
    margin: 7px 0px;
    /* height: 8px; */
}
.progress-bar {
    background-color: #3498DB;
}
.progress-bar-data {
    position: absolute;
    right: 50%;
    top: 35px;
    font-weight: bold;
}

.label-font{
    font-size: 18px;
}