<div class="table-responsive">
    <table class="table utility-data table-sm table-bordered table-hover">
        <thead>
            <tr>
                <th>Facility</th>
                <th>Utility Usage<br> (<span [innerHTML]="accountEnergyUnit | settingsLabel"></span>)
                </th>
                <th>Utility Cost </th>
            </tr>
        </thead>
        <tbody class="table-group-divider" *ngIf="accountFacilitiesSummary && accountFacilitiesSummary.facilitySummaries">
            <tr *ngFor="let summary of accountFacilitiesSummary.facilitySummaries | orderBy: 'energyUsage'">
                <td>
                    <span class="badge"
                        [ngStyle]="{background: summary.facility.color, color: summary.facility.color }">
                        &mdash;
                    </span>
                    <a class="ps-2 click-link" (click)="selectFacility(summary.facility)">{{summary.facility.name}}</a>
                </td>
                <td>
                    {{summary.energyUsage | customNumber}}

                </td>
                <td>
                    {{summary.energyCost | customNumber:true }}
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th>
                    Total
                </th>
                <th>
                    {{accountFacilitiesSummary.totalEnergyUse | customNumber}}
                </th>
                <th>
                    {{accountFacilitiesSummary.totalEnergyCost | customNumber:true }}
                </th>
            </tr>
        </tfoot>
    </table>
</div>