<!-- <p class="label">Account Facilities
    <span class="pull-right" *ngIf="yearPriorDate">({{yearPriorDate | date: 'MMM, y'}} -
        {{lastMonthsDate | date: 'MMM, y'}})</span>
</p> -->
<div class="table-responsive" *ngIf="!calculating">
    <table class="table table-sm">
        <thead>
            <tr>
                <th class="w-1">Facility</th>
                <!-- <th class="w-1"># of Energy Meters</th>
                <th class="w-1">Last Bill Entered</th> -->
                <th class="w-2">Utility Usage<br> (<span [innerHTML]="accountEnergyUnit | settingsLabel"></span>)
                </th>
                <th class="w-2">Utility Cost </th>
            </tr>
        </thead>
        <tbody *ngIf="accountFacilitiesSummary && accountFacilitiesSummary.facilitySummaries">
            <tr *ngFor="let summary of accountFacilitiesSummary.facilitySummaries">
                <td>
                    <span class="badge"
                        [ngStyle]="{background: summary.facility.color, color: summary.facility.color }">
                        &mdash;
                    </span>
                    <a class="pl-2" (click)="selectFacility(summary.facility)">{{summary.facility.name}}</a>
                </td>
                <!-- <td>
                    {{summary.numberOfMeters}}
                </td>
                <td>
                    {{summary.lastBillDate | date: 'MMM, y'}}
                </td> -->
                <td>
                    {{summary.energyUsage | customNumber}}

                </td>
                <td>
                    {{summary.energyCost | customNumber:true }}
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th>
                    Total
                </th>
                <!-- <th>
                    {{accountFacilitiesSummary.totalNumberOfMeters}}
                </th>
                <th>

                </th> -->
                <th>
                    {{accountFacilitiesSummary.totalEnergyUse | customNumber}}
                </th>
                <th>
                    {{accountFacilitiesSummary.totalEnergyCost | customNumber:true }}
                </th>
            </tr>
        </tfoot>
    </table>
</div>


<app-calculating-spinner *ngIf="calculating" [message]="'Calculating Facility Summaries...'"></app-calculating-spinner>