<form [formGroup]="form">
    <!--no in setup (under settings)-->
    <ng-container *ngIf="!inWizard">
        <div class="mb-3 ">
            <label for="name">{{formNameLabel}} Name <span class="required">*</span></label>
            <input type="text" class="form-control" formControlName="name" (input)="saveChanges()"
                onfocus="this.select();" minlength="1" maxlength="42" required>
        </div>
        <span class="alert alert-danger" *ngIf="form.get('name').hasError('required')">{{formNameLabel}} name is required</span>

        <div class="mb-3">
            <label for="address">Address</label>
            <input type="text" class="form-control" formControlName="address" autocomplete="shipping street-address"
                (input)="saveChanges()" onfocus="this.select();" minlength="1" maxlength="60">
        </div>

        <div class="row">
            <div class="mb-3 col-md-6 col-sm-12">
                <label for="country">Country</label>
                <select class="form-select" formControlName="country" (change)="saveChanges()">
                    <option *ngFor="let country of countries" [ngValue]="country.code">{{country.name}}</option>
                </select>
            </div>
            <div class="mb-3 col-md-6 col-sm-12" *ngIf="form.controls.country.value == 'US'">
                <label for="state">State</label>
                <select class="form-select" formControlName="state" (change)="saveChanges()">
                    <option *ngFor="let state of states" [ngValue]="state.name">{{state.name}}</option>
                </select>
            </div>
            <div class="mb-3 col-md-6 col-sm-12" [ngClass]="{'col-6':form.controls.country.value == 'US'}">
                <label for="city">City</label>
                <input type="text" class="form-control" formControlName="city" (input)="saveChanges()"
                    onfocus="this.select();" minlength="1" maxlength="85">
            </div>
            <div class="mb-3 col-md-6 col-sm-12" *ngIf="form.controls.country.value == 'US'">
                <label for="zip">Zip</label>
                <input type="text" class="form-control" formControlName="zip" (input)="saveChanges()"
                    autocomplete="postal-code" onfocus="this.select();" minlength="1" maxlength="12">
            </div>
        </div>

        <div class="row">
            <div class="mb-3  col-sm-12" [ngClass]="{'col-12':inAccount, 'col-md-6':!inAccount}">
                <!-- <label>NAICS Code</label> -->
                <app-label-with-tooltip [label]="'NAICS Code'" [field]="'naicsCode'" [labelId]="'naics1'"
                    [isRequired]="false">
                </app-label-with-tooltip>
                <select class="form-select" formControlName="naics1" (change)="checkNAICS()" id="naics1">
                    <option *ngFor="let naics of firstNaicsList" [ngValue]="naics.code">{{naics.code}} -
                        {{naics.industryType}}</option>
                </select>
                <select class="form-select" formControlName="naics2" (change)="checkNAICS()"
                    *ngIf="form.controls.naics1.value" id="naics2">
                    <option *ngFor="let naics of secondNaicsList | naicsList:form.controls.naics1.value"
                        [ngValue]="naics.code">{{naics.code}} -
                        {{naics.industryType}}</option>
                    <option [ngValue]=null></option>
                </select>
                <select class="form-select" formControlName="naics3" (change)="saveChanges()"
                    *ngIf="form.controls.naics2.value" id="naics3">
                    <option *ngFor="let naics of thirdNaicsList | naicsList:form.controls.naics2.value"
                        [ngValue]="naics.code">{{naics.code}} -
                        {{naics.industryType}}</option>
                    <option [ngValue]=null></option>
                </select>
            </div>

            <div class="mb-3 col-md-6 col-sm-12" *ngIf="!inAccount">
                <div class="row">
                    <div class="col-12">
                        <label for="facilityArea">Facility Area</label>
                        <div class="input-group">
                            <input type="text" class="form-control" formControlName="size" (input)="saveChanges()"
                                onfocus="this.select();" minlength="1" maxlength="60">
                            <span class="input-group-text" *ngIf="unitsOfMeasure != 'Metric'">ft<sup>2</sup></span>
                            <span class="input-group-text" *ngIf="unitsOfMeasure === 'Metric'">m<sup>2</sup></span>
                        </div>
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col-12">
                        <!-- <label>Facility Color</label> -->
                        <app-label-with-tooltip [label]="'Facility Color'" [field]="'facilityColor'"
                            [labelId]="'facilityColor'" [isRequired]="false">
                        </app-label-with-tooltip>
                        <input type="color" class="form-control" formControlName="color" (input)="saveChanges()"
                            [ngStyle]="{'background-color':form.controls.color.value}" id="facilityColor">
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <label for="notes">Notes</label>
            <textarea class="form-control" formControlName="notes" (input)="saveChanges()"></textarea>
        </div>

        <div class="row">
            <div class="mb-3 col-md-6 col-sm-12">
                <label for="contactName">Contact Name</label>
                <input type="text" class="form-control" formControlName="contactName" (input)="saveChanges()"
                    onfocus="this.select();" minlength="1" maxlength="60">
            </div>
            <div class="mb-3 col-md-6 col-sm-12">
                <label for="phone">Contact Phone</label>
                <input type="text" class="form-control" formControlName="contactPhone" (input)="saveChanges()"
                    onfocus="this.select();" minlength="1" maxlength="10">
            </div>
            <div class="mb-3 col-md-6 col-sm-12">
                <label for="email">Contact Email</label>
                <input type="email" class="form-control" formControlName="contactEmail" (input)="saveChanges()"
                    onfocus="this.select();" minlength="1" maxlength="85">
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="inWizard">
        <div class="row">
            <div class="col-6 d-flex flex-column">
                <div class="mb-3">
                    <label for="name">{{formNameLabel}} Name <span class="required">*</span></label>
                    <input type="text" class="form-control" formControlName="name" (input)="saveChanges()"
                        onfocus="this.select();" minlength="1" maxlength="42" required>
                </div>

                <span class="alert alert-danger" *ngIf="form.get('name').hasError('required')">{{formNameLabel}} name is
                    required</span>
                <div class="mb-3">
                    <label for="contactName">Contact Name</label>
                    <input type="text" class="form-control" formControlName="contactName" (input)="saveChanges()"
                        onfocus="this.select();" minlength="1" maxlength="60">
                </div>
                <div class="mb-3">
                    <label for="contactPhone">Contact Phone</label>
                    <input type="text" class="form-control" formControlName="contactPhone" (input)="saveChanges()"
                        onfocus="this.select();" minlength="1" maxlength="10">
                </div>
                <div class="mb-3">
                    <label for="contactEmail">Contact Email</label>
                    <input type="email" class="form-control" formControlName="contactEmail" (input)="saveChanges()"
                        onfocus="this.select();" minlength="1" maxlength="85">
                </div>
            </div>
            <div class="col-6">
                <div class="mb-3">
                    <label for="address">Address</label>
                    <input type="text" class="form-control" formControlName="address"
                        autocomplete="shipping street-address" (input)="saveChanges()" onfocus="this.select();"
                        minlength="1" maxlength="60">
                </div>

                <div class="row">
                    <div class="mb-3 col-md-6 col-sm-12">
                        <label for="country">Country</label>
                        <select class="form-select" formControlName="country" (change)="saveChanges()">
                            <option *ngFor="let country of countries" [ngValue]="country.code">{{country.name}}</option>
                        </select>
                    </div>
                    <div class="mb-3 col-md-6 col-sm-12" *ngIf="form.controls.country.value == 'US'">
                        <label for="state">State</label>
                        <select class="form-select" formControlName="state" (change)="saveChanges()">
                            <option *ngFor="let state of states" [ngValue]="state.name">{{state.name}}</option>
                        </select>
                    </div>
                    <div class="mb-3 col-md-6 col-sm-12" [ngClass]="{'col-6':form.controls.country.value == 'US'}">
                        <label for="city">City</label>
                        <input type="text" class="form-control" formControlName="city" (input)="saveChanges()"
                            onfocus="this.select();" minlength="1" maxlength="85">
                    </div>
                    <div class="mb-3 col-md-6 col-sm-12" *ngIf="form.controls.country.value == 'US'">
                        <label for="zip">Zip</label>
                        <input type="text" class="form-control" formControlName="zip" (input)="saveChanges()"
                            autocomplete="postal-code" onfocus="this.select();" minlength="1" maxlength="12">
                        <div class="alert alert-warning">
                            Zip code used for electrical emissions calculations.
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <ng-container *ngIf="!inAccount">
            <hr>
            <!--facility only-->
            <div class="row">
                <div class="col-6">
                    <label for="size">Facility Area</label>
                    <div class="input-group">
                        <input type="text" class="form-control" formControlName="size" (input)="saveChanges()"
                            onfocus="this.select();" minlength="1" maxlength="60">
                        <span class="unit" *ngIf="unitsOfMeasure != 'Metric'">ft<sup>2</sup></span>
                        <span class="unit" *ngIf="unitsOfMeasure === 'Metric'">m<sup>2</sup></span>
                    </div>
                </div>
                <div class="col-6">
                    <!-- <label>Facility Color</label> -->
                    <app-label-with-tooltip [label]="'Facility Color'" [field]="'facilityColor'"
                        [labelId]="'facilityColor'" [isRequired]="false">
                    </app-label-with-tooltip>
                    <input type="color" class="form-control" formControlName="color" (input)="saveChanges()"
                        [ngStyle]="{'background-color':form.controls.color.value}" id="facilityColor">
                </div>
            </div>
        </ng-container>
        <hr>
        <div class="row">
            <div class="mb-3 col-6">
                <!-- <label>NAICS Code</label> -->
                <app-label-with-tooltip [label]="'NAICS Code'" [field]="'naicsCode'" [labelId]="'naics1'"
                    [isRequired]="false">
                </app-label-with-tooltip>
                <select class="form-select" formControlName="naics1" (change)="checkNAICS()" id="naics1">
                    <option *ngFor="let naics of firstNaicsList" [ngValue]="naics.code">{{naics.code}} -
                        {{naics.industryType}}</option>
                </select>
                <select class="form-select" formControlName="naics2" (change)="checkNAICS()" *ngIf="form.controls.naics1.value" id="naics2">
                    <option *ngFor="let naics of secondNaicsList | naicsList:form.controls.naics1.value"
                        [ngValue]="naics.code">{{naics.code}} -
                        {{naics.industryType}}</option>
                    <option [ngValue]=null></option>
                </select>
                <select class="form-select" formControlName="naics3" (change)="saveChanges()" *ngIf="form.controls.naics2.value"
                    id="naics3">
                    <option *ngFor="let naics of thirdNaicsList | naicsList:form.controls.naics2.value"
                        [ngValue]="naics.code">{{naics.code}} -
                        {{naics.industryType}}</option>
                    <option [ngValue]=null></option>
                </select>
            </div>


            <div class="mb-3 col-6">
                <label for="notes">Notes</label>
                <textarea class="form-control" formControlName="notes" (input)="saveChanges()"></textarea>
            </div>
        </div>

    </ng-container>
</form>