<div class="row">
    <div class="col">

        <label>How would you like {{meter.name}} to be calanderized?</label>
        <select class="form-control" [(ngModel)]="meter.meterReadingDataApplication" (change)="calanderizeMeter()">
            <option [ngValue]="'fullMonth'">Apply to Full Read Month</option>
            <option [ngValue]="'backward'">Apply Partially to Previous Month</option>
            <option [ngValue]="'forward'">Apply Partially to Read Month</option>
        </select>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        Calanderized Month
                    </th>
                    <th>
                        Energy Usage
                    </th>
                </tr>
            </thead>
            <tbody *ngIf="monthlyData">
                <tr *ngFor="let data of monthlyData; let index = index;">
                    <td>
                        <div class="custom-day mr-2"
                            [ngStyle]="{'background-color': getDateBackground(data.date, true)}">
                            #</div>{{data.date | date: 'MMMM, y'}}
                    </td>
                    <td>
                        <span *ngIf="data.energyUse">{{data.energyUse | number:'1.0-2'}}</span>
                        <span *ngIf="!data.energyUse">N/A</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col text-center">
        <ngb-datepicker [dayTemplate]="customDay" [navigation]="'none'" [outsideDays]="'hidden'" [startDate]="startDate"
            [displayMonths]="3" [firstDayOfWeek]="7"></ngb-datepicker>

        <ng-template #customDay let-date="date">
            <div class="custom-day" [style.background-color]="getBackground(date)">
                {{ date.day }}
            </div>
        </ng-template>
    </div>
</div>

<hr>