<div class="controls d-flex justify-content-between">
    <app-analysis-summary-table-filter [tableContext]="'monthFacility'"></app-analysis-summary-table-filter>

    <div class="d-flex">
        <app-table-items-dropdown *ngIf="dataDisplay == 'table'"></app-table-items-dropdown>
        <div class="btn-group">
            <button class="btn toggle-btn" [ngClass]="{'active': dataDisplay == 'table'}"
                (click)="setDataDisplay('table')">Table</button>
            <button class="btn toggle-btn" [ngClass]="{'active': dataDisplay == 'graph'}"
                (click)="setDataDisplay('graph')">Graph</button>
        </div>
    </div>
</div>
<div class="w-100 x-scroll" *ngIf="!calculating">
    <app-monthly-analysis-summary-graph *ngIf="dataDisplay == 'graph'"
        [monthlyAnalysisSummaryData]="monthlyFacilityAnalysisData" [analysisItem]="analysisItem"
        [facilityOrAccount]="facility">
    </app-monthly-analysis-summary-graph>
    <app-monthly-analysis-summary-table *ngIf="dataDisplay == 'table'"
        [monthlyAnalysisSummaryData]="monthlyFacilityAnalysisData" [analysisItem]="analysisItem"
        [facilityOrAccount]="facility" [itemsPerPage]="itemsPerPage">
    </app-monthly-analysis-summary-table>
</div>

<app-calculating-spinner *ngIf="calculating" [message]="'Calculating Monthly Results...'"></app-calculating-spinner>