.excel-button-div{
    position: fixed;
    bottom: 100px;
    right: 15px;
    background-color: white;
    border-radius: 25px;
    padding: 9.5px;
    opacity: .75
}



.print-button-div{
    position: fixed;
    bottom: 15px;
    right: 15px;
    background-color: white;
    /* border-radius: 25px; */
    padding: 9.5px;
    opacity: .75
}




.button-div{
    position: fixed;
    bottom: 0px;
    right: 0px;
    background-color: white;
    /* border-radius: 25px; */
    padding: 9.5px;
    opacity: .75
}

.button-div:hover{
    opacity: 1;
}

/* .button-div.help-open{
    right: 275px;
} */

.fa{
    font-size: 25px
}

.button-div.help-open{
    right: 260px;
}

@media (max-width: 1500px) {
    .button-div.help-open{
        right: 200px;
    }
}
