<h4>
    {{facility.name}} Energy Use Summary
</h4>
@if(energyFootprintFacility){
<app-facility-energy-uses-summary-table [energyFootprintFacility]="energyFootprintFacility" [facility]="facility">
</app-facility-energy-uses-summary-table>
<hr>
<app-facility-energy-uses-summary-chart [energyFootprintFacility]="energyFootprintFacility" [facility]="facility">
</app-facility-energy-uses-summary-chart>
}@else{
<!--TODO: Message with link to manage energy use groups-->
<p>No energy use data available.</p>
}