<div class="h-100 navbar d-flex flex-column align-items-start justify-content-start shadow" *ngIf="displaySidebar">


    <div class="ps-1 pe-1 w-100">
        <div class="p-2 w-100">
            <a class="nav-link" [routerLink]="'/setup-wizard/welcome'" [routerLinkActive]="['active']">
                Welcome
            </a>
        </div>
        <div class="p-2 w-100">
            <hr class="my-1">
        </div>
        <div class="ps-2 pe-2 nav-item">
            <a class="nav-link" [routerLink]="'/setup-wizard/account-setup'" [routerLinkActive]="['active']">
                Company Setup
            </a>
        </div>
        <div class="ps-2 pe-2 nav-item">
            <a class="nav-link secondary-nav" [routerLink]="'/setup-wizard/account-setup/information-setup'"
                [routerLinkActive]="['active']">
                General Information
            </a>
        </div>
        <div class="ps-2 pe-2 nav-item">
            <a class="nav-link secondary-nav" [routerLink]="'/setup-wizard/account-setup/units-setup'"
                [routerLinkActive]="['active']">
                Units
            </a>
        </div>
        <div class="ps-2 pe-2 nav-item">
            <a class="nav-link secondary-nav" [routerLink]="'/setup-wizard/account-setup/reporting-setup'"
                [routerLinkActive]="['active']">
                Reporting
            </a>
        </div>
        <div class="p-2 w-100">
            <hr class="my-1">
        </div>
        <div class="ps-2 pe-2 nav-item">
            <a class="nav-link" [routerLink]="'/setup-wizard/facility-setup'" [routerLinkActive]="['active']">
                Facility Setup
            </a>
        </div>
        <!-- <div class="nav-item">
            <a class="nav-link secondary-nav" [routerLink]="'/setup-wizard/facility-setup/information-setup'"
                [routerLinkActive]="['active']">
                General Information
            </a>
        </div>
        <div class="nav-item">
            <a class="nav-link secondary-nav" [routerLink]="'/setup-wizard/facility-setup/units-setup'"
                [routerLinkActive]="['active']">
                Units
            </a>
        </div>
        <div class="nav-item">
            <a class="nav-link" [routerLink]="'/setup-wizard/facility-setup/reporting-setup'"
                [routerLinkActive]="['active']">
                Reporting
            </a>
        </div>
        <div class="nav-item">
            <a class="nav-link" [routerLink]="'pre-visit/'+onSiteVisit.guid+'/review-pre-visit'"
                routerLink="review-pre-visit" [routerLinkActive]="['active']">
                Review Pre-Visit
            </a>
        </div> -->
    </div>
    <div class="p-2 w-100">
        <hr class="my-1">
    </div>
</div>