<h4>{{energyUseEquipment.name}}</h4>

<div class="d-flex w-100 justify-content-end">
    <div>
        @let isInvalid = [energyUseEquipment] | energyUseEquipmentInvalid;
        <button class="btn btn-primary me-2" (click)="saveChanges()" [disabled]="isInvalid || !dataChanged">
            <span class="fa fa-save"></span>
            Save Changes</button>
    </div>
</div>
<!--FORM-->
<app-facility-energy-use-equipment-form
    [energyUseEquipment]="energyUseEquipment" (emitChanged)="setDataChanged($event)"></app-facility-energy-use-equipment-form>
<hr>

<div class="d-flex w-100 justify-content-end">
    <div>
        <button class="btn btn-danger btn-sm" (click)="showDelete()">
            <span class="fa fa-trash"></span>
            Delete Equipment
        </button>
    </div>
</div>

<div [ngClass]="{'windowOverlay': showDeleteEquipment}"></div>
<div class="popup" [class.open]="showDeleteEquipment">
    @if(showDeleteEquipment) {
    <div class="popup-header">Delete Equipment: {{energyUseEquipment.name}}
        <button class="item-right" (click)="cancelDelete()">x</button>
    </div>
    <div class="popup-body">
        <p>WARNING: By deleting this equipment, you are also deleting all of the equipment data associated with
            it.
            Are you sure you want to preform this action?</p>
    </div>
    <div class="saveCancel popup-footer text-end">
        <button class="btn btn-secondary" (click)="cancelDelete()">Cancel</button>
        <button class="btn btn-danger" (click)="deleteEquipment()">Delete</button>
    </div>
    }
</div>