<h4>{{energyUseEquipment.name}}</h4>

<div class="d-flex w-100 justify-content-end">
    <div>
        <button class="btn btn-primary me-2" (click)="saveChanges()" [disabled]="form.invalid || form.pristine">
            <span class="fa fa-save"></span>
            Save Changes</button>
    </div>
</div>
<!--FORM-->
<app-facility-energy-use-equipment-form [form]="form"></app-facility-energy-use-equipment-form>
<hr>
<!-- <form [formGroup]="form"> -->
<div class="row">
    <div class="col-12">
        <p class="bold">Consumption Data</p>
        @if(energyUseEquipment.energyUseData.length != 0){
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        Year
                    </th>
                    <th>
                        Operating Hours<br>
                        (hrs/yr)
                    </th>
                    <th>
                        Load Factor<br>
                        (%)
                    </th>
                    <th>
                        Duty Factor<br>
                        (%)
                    </th>
                    <th>
                        Energy<br> Consumption
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (data of energyUseEquipment.energyUseData; track $index) {
                <tr>
                    <td>
                        {{data.year}}
                    </td>
                    <td>
                        <div class="input-group">
                            <input class="form-control" type="number" [(ngModel)]="data.hoursOfOperation" min="0">
                            <span class="input-group-text">hrs</span>
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <input class="form-control" type="number" [(ngModel)]="data.loadFactor" min="0" max="100">
                            <span class="input-group-text">%</span>
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <input class="form-control" type="number" [(ngModel)]="data.dutyFactor" min="0" max="100">
                            <span class="input-group-text">%</span>
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <input class="form-control" type="number" [(ngModel)]="data.energyUse" min="0">
                            <span class="input-group-text">
                                <!--TODO: use correct energy units based on selection for size-->
                                {{energyUseEquipment.units}}
                            </span>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
        }@else {
        <div class="text-center mt-3">
            <h5>No energy consumption data found for this equipment.</h5>
            <div class="d-flex w-100 justify-content-center">
                <div class="pe-1">
                    <button class="btn action-btn" (click)="addEnergyUseData()"><i class="fa fa-plus"></i> Add Energy
                        Consumption Data</button>
                </div>
            </div>
        </div>
        }
    </div>
</div>
<!-- </form> -->


<hr>

<div class="d-flex w-100 justify-content-end">
    <div>
        <button class="btn btn-danger btn-sm" (click)="showDelete()">
            <span class="fa fa-trash"></span>
            Delete Equipment
        </button>
    </div>
</div>

<div [ngClass]="{'windowOverlay': showDeleteEquipment}"></div>
<div class="popup" [class.open]="showDeleteEquipment">
    <div class="popup-header" *ngIf="showDeleteEquipment">Delete Equipment: {{energyUseEquipment.name}}
        <button class="item-right" (click)="cancelDelete()">x</button>
    </div>
    <div class="popup-body">
        <p>WARNING: By deleting this equipment, you are also deleting all of the equipment data associated with
            it.
            Are you sure you want to preform this action?</p>
    </div>
    <div class="saveCancel popup-footer text-end">
        <button class="btn btn-secondary" (click)="cancelDelete()">Cancel</button>
        <button class="btn btn-danger" (click)="deleteEquipment()">Delete</button>
    </div>
</div>