@if(isMeterInvalid == false){
@if (meterData.length == 0) {
<div class="text-center mt-5">
  <h5>No bills found for {{selectedMeter.name}}.</h5>
  <p>Please <i class="fa fa-plus"></i> Add New Bill or <i class="fa fa-upload"></i> Import multiple bills from excel.
  </p>
  <div class="d-flex w-100 justify-content-center">
    <div class="pe-1">
      <button class="btn action-btn" (click)="meterDataAdd()"><i class="fa fa-plus"></i> Add New Bill</button>
    </div>
    <div class="ps-1">
      <button class="btn nav-btn" (click)="uploadData()"><i class="fa fa-upload"></i> Import Data</button>
    </div>
  </div>
</div>
}
@if (meterData.length != 0) {
<div>
  <div class="d-flex w-100 justify-content-end">
    <div class="d-flex flex-wrap">
      <!--Bulk Delete-->
      <div class="ps-1 pe-1 bulk-delete mb-2" [class.show]="hasCheckedItems">
        <button class="btn btn-danger" (click)='openBulkDelete()' [disabled]="!hasCheckedItems">Bulk
          Delete</button>
      </div>
      <!--Items Per Page-->
      <div class="mb-2 ps-1 pe-1">
        <app-table-items-dropdown></app-table-items-dropdown>
      </div>
      <app-utility-meter-data-filter [meter]="selectedMeter">
      </app-utility-meter-data-filter>
      @if(hasEstimatedReadings){
      <div class="ps-1 pe-1 d-flex align-items-center mb-2">
        <select class="form-select filter-reading" [(ngModel)]="optionSelected" (change)="filterEstimatedReadings()">
          <option value="all">All</option>
          <option value="estimated">Estimated Readings</option>
        </select>
        <app-label-with-tooltip [field]="'estimatedReading'"></app-label-with-tooltip>
      </div>
      }
      <div class="ps-1 pe-1 mb-2">
        @if (inDataManagement) {
        <button class="btn" (click)="goToDataQualityReport()"
          [ngClass]="selectedMeter | meterDataQualityStatus: meterData: true"><i class="fa fa-clipboard-check"></i>
          Data
          Quality Report</button>
        } @else {
        <app-meter-data-quality-report-modal [selectedMeter]="selectedMeter"
          [meterData]="meterData"></app-meter-data-quality-report-modal>
        }
      </div>
      <!--Import/Export-->
      <div class="ps-1 pe-1 mb-2">
        <button class="btn nav-btn" (click)="uploadData()"><i class="fa fa-upload"></i> Import Data</button>
      </div>
      <div class="ps-1 pe-1 mb-2">
        <button class="btn action-btn" (click)="meterDataAdd()"><i class="fa fa-plus"></i>
          Add New Bill</button>
      </div>
    </div>
  </div>
  <div class="meter">
    @if (hasNegativeReadings) {
    <div class="p-1 small alert alert-warning text-center">
      Negative energy use entered for one or more readings.
    </div>
    }
    @if (duplicateReadingDates.length > 0) {
    <div class="p-1 alert alert-danger">
      Two or more readings have been entered for the same day. Calanderization will experience errors.
      <ul class="mb-0">
        @for (d of duplicateReadingDates; track d) {
        <li>
          {{d | date}}
        </li>
        }
      </ul>
    </div>
    }
    <div class="row no-margin">
      <div class="col no-margin table-responsive">
        @if (selectedMeter.source == 'Electricity') {
        <app-electricity-data-table [selectedMeter]="selectedMeter" [selectedMeterData]="filteredMeterData"
          [itemsPerPage]="itemsPerPage" (setChecked)="setHasCheckedItems()" (setEdit)="setEditMeterData($event)"
          (setDelete)="setDeleteMeterData($event)">
        </app-electricity-data-table>
        }
        @if (selectedMeter.source != 'Electricity' && (selectedMeter.scope != 2 && selectedMeter.scope != 5 &&
        selectedMeter.scope != 6)) {
        <app-general-utility-data-table [selectedMeter]="selectedMeter" [selectedMeterData]="filteredMeterData"
          [itemsPerPage]="itemsPerPage" (setChecked)="setHasCheckedItems()" (setEdit)="setEditMeterData($event)"
          (setDelete)="setDeleteMeterData($event)">
        </app-general-utility-data-table>
        }
        @if (selectedMeter.source != 'Electricity' && selectedMeter.scope == 2) {
        <app-vehicle-data-table [selectedMeter]="selectedMeter" [selectedMeterData]="filteredMeterData"
          [itemsPerPage]="itemsPerPage" (setChecked)="setHasCheckedItems()" (setEdit)="setEditMeterData($event)"
          (setDelete)="setDeleteMeterData($event)">
        </app-vehicle-data-table>
        }
        @if (selectedMeter.source != 'Electricity' && (selectedMeter.scope == 5 || selectedMeter.scope ==6)) {
        <app-other-emissions-data-table [selectedMeter]="selectedMeter" [selectedMeterData]="filteredMeterData"
          [itemsPerPage]="itemsPerPage" (setChecked)="setHasCheckedItems()" (setEdit)="setEditMeterData($event)"
          (setDelete)="setDeleteMeterData($event)">
        </app-other-emissions-data-table>
        }
      </div>
    </div>
  </div>
</div>
}
}@else {
<div class="alert alert-danger">
  The meter associated with this data has errors in it's configuration. Please click here to <a class="click-link" (click)="editMeter()">edit the meter</a> to resolve these errors
  before adding meter data.
</div>
}



<div [ngClass]="{'windowOverlay': showIndividualDelete || showBulkDelete}"></div>
<!--individual delete-->
<div class="popup" [class.open]="showIndividualDelete">
  @if (meterDataToDelete) {
  <div class="popup-header">Delete Meter Data
    <button class="item-right" (click)="cancelDelete()">x</button>
  </div>
  }
  <div class="popup-body">
    <p>WARNING: Deleting meter data cannot be undone.
      Are you sure you want to preform this action?</p>
  </div>
  <div class="saveCancel popup-footer text-end">
    <button class="btn btn-secondary" (click)="cancelDelete()">Cancel</button>
    <button class="btn btn-danger" (click)="deleteMeterData()">Delete</button>
  </div>
</div>
<!--bulk delete-->
<div class="popup" [class.open]="showBulkDelete">
  @if (showBulkDelete) {
  <div class="popup-header">Delete Meter Data Items
    <button class="item-right" (click)="cancelBulkDelete()">x</button>
  </div>
  }
  <div class="popup-body">
    <p>WARNING: Deleting meter data cannot be undone.
      Are you sure you want to preform this action?</p>
  </div>
  <div class="saveCancel popup-footer text-end">
    <button class="btn btn-secondary" (click)="cancelBulkDelete()">Cancel</button>
    <button class="btn btn-danger" (click)="bulkDelete()">Delete</button>
  </div>
</div>