<div *ngIf="meterData.length == 0" class="text-center mt-5">
    <h5>No {{selectedMeter.name}} bills found for this facility.</h5>
    <p>Please <i class="fa fa-plus"></i> Add New Bill or <i class="fa fa-upload"></i> Import multiple bills from excel.
    </p>
    <div class="d-flex w-100 justify-content-center">
        <div class="pe-1">
            <button class="btn action-btn" (click)="meterDataAdd()"><i class="fa fa-plus"></i> Add New Bill</button>
        </div>
        <div class="ps-1">
            <button class="btn nav-btn" (click)="uploadData()"><i class="fa fa-upload"></i> Import Data</button>
        </div>
    </div>
</div>
<div *ngIf="meterData.length != 0">
    <div class="d-flex w-100 mb-2"
        [ngClass]="{'justify-content-between': selectedMeter.source == 'Electricity', 'justify-content-end': selectedMeter.source != 'Electricity'}">
        <app-utility-meter-data-filter *ngIf="selectedMeter.source == 'Electricity'" [meter]="selectedMeter"
            [filterType]="'table'">
        </app-utility-meter-data-filter>
        <div class="d-flex">
            <!--Bulk Delete-->
            <div class="pe-2 bulk-delete" [class.show]="hasCheckedItems">
                <button class="btn btn-danger" (click)='openBulkDelete()' [disabled]="!hasCheckedItems">Bulk
                    Delete</button>
            </div>
            <!--Items Per Page-->
            <app-table-items-dropdown></app-table-items-dropdown>
            <!--Import/Export-->
            <div class="ps-2">
                <button class="btn nav-btn" (click)="uploadData()"><i class="fa fa-upload"></i> Import Data</button>
            </div>
            <div class="ps-2">
                <button class="btn action-btn" (click)="meterDataAdd()"><i class="fa fa-plus"></i>
                    Add New Bill</button>
            </div>
            <div class="ps-2">
                <button #openModalBtn class="btn action-btn" data-bs-toggle="modal" data-bs-target="#dataQualityModal">
                    <i class="fa fa-file me-1"></i> Data Validity Check</button>
            </div>
        </div>
    </div>

    <div class="meter">
        <div *ngIf="hasNegativeReadings" class="p-1 small alert alert-warning text-center">
            Negative energy use entered for one or more readings.
        </div>
        <div *ngIf="duplicateReadingDates.length > 0" class="p-1 alert alert-danger">
            Two or more readings have been entered for the same day. Calanderization will experience errors.
            <ul class="mb-0">
                <li *ngFor="let d of duplicateReadingDates">
                    {{d | date}}
                </li>
            </ul>
        </div>
        <!--<div class="meterData">

            <p class="section-name bold">
                {{meterListItem.idbMeter.name}}
                <span class="alert-danger" *ngIf="meterListItem.errorDate">
                    {{meterListItem.errorDate | date}} has multiple data entries.
                </span>
                <span class="alert-warning" *ngIf="meterListItem.warningDate">
                    {{meterListItem.warningDate | date:'MMM, y'}} has multiple data entries. <a
                        (click)="ignoreSameMonth(meterListItem.idbMeter)">Ignore <b>duplicate</b> months for this
                        meter</a>
                </span>
                <span class="alert-warning" *ngIf="meterListItem.missingMonth">
                    {{meterListItem.missingMonth | date:'MMMM, y'}} is missing a data entry. <a
                        (click)="ignoreMissingMonth(meterListItem.idbMeter)">Ignore <b>missing</b> months this meter</a>
                </span>
            </p>
            <p *ngIf="meterListItem.idbMeter.visible">{{meterListItem.idbMeter.notes}}</p>
        </div>
    -->

        <div class="row no-margin">
            <div class="col no-margin table-responsive">
                <app-electricity-data-table *ngIf="selectedMeter.source == 'Electricity'"
                    [selectedMeter]="selectedMeter" [selectedMeterData]="meterData" [itemsPerPage]="itemsPerPage"
                    (setChecked)="setHasCheckedItems()" (setEdit)="setEditMeterData($event)"
                    (setDelete)="setDeleteMeterData($event)">
                </app-electricity-data-table>
                <app-general-utility-data-table
                    *ngIf="selectedMeter.source != 'Electricity' && (selectedMeter.scope != 2 && selectedMeter.scope != 5 && selectedMeter.scope != 6)"
                    [selectedMeter]="selectedMeter" [selectedMeterData]="meterData" [itemsPerPage]="itemsPerPage"
                    (setChecked)="setHasCheckedItems()" (setEdit)="setEditMeterData($event)"
                    (setDelete)="setDeleteMeterData($event)">
                </app-general-utility-data-table>
                <app-vehicle-data-table *ngIf="selectedMeter.source != 'Electricity' && selectedMeter.scope == 2"
                    [selectedMeter]="selectedMeter" [selectedMeterData]="meterData" [itemsPerPage]="itemsPerPage"
                    (setChecked)="setHasCheckedItems()" (setEdit)="setEditMeterData($event)"
                    (setDelete)="setDeleteMeterData($event)">
                </app-vehicle-data-table>
                <app-other-emissions-data-table
                    *ngIf="selectedMeter.source != 'Electricity' && (selectedMeter.scope == 5 || selectedMeter.scope ==6)"
                    [selectedMeter]="selectedMeter" [selectedMeterData]="meterData" [itemsPerPage]="itemsPerPage"
                    (setChecked)="setHasCheckedItems()" (setEdit)="setEditMeterData($event)"
                    (setDelete)="setDeleteMeterData($event)">
                </app-other-emissions-data-table>
            </div>
        </div>
    </div>
</div>



<div [ngClass]="{'windowOverlay': showIndividualDelete || showBulkDelete}"></div>
<!--individual delete-->
<div class="popup" [class.open]="showIndividualDelete">
    <div class="popup-header" *ngIf="meterDataToDelete">Delete Meter Data
        <button class="item-right" (click)="cancelDelete()">x</button>
    </div>
    <div class="popup-body">
        <p>WARNING: Deleting meter data cannot be undone.
            Are you sure you want to preform this action?</p>
    </div>
    <div class="saveCancel popup-footer text-end">
        <button class="btn btn-secondary" (click)="cancelDelete()">Cancel</button>
        <button class="btn btn-danger" (click)="deleteMeterData()">Delete</button>
    </div>
</div>
<!--bulk delete-->
<div class="popup" [class.open]="showBulkDelete">
    <div class="popup-header" *ngIf="showBulkDelete">Delete Meter Data Items
        <button class="item-right" (click)="cancelBulkDelete()">x</button>
    </div>
    <div class="popup-body">
        <p>WARNING: Deleting meter data cannot be undone.
            Are you sure you want to preform this action?</p>
    </div>
    <div class="saveCancel popup-footer text-end">
        <button class="btn btn-secondary" (click)="cancelBulkDelete()">Cancel</button>
        <button class="btn btn-danger" (click)="bulkDelete()">Delete</button>
    </div>
</div>

<div class="modal fade" id="dataQualityModal" tabindex="-1" aria-labelledby="dataQualityModalLabel" aria-hidden="true"
    data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-xl modal-size" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="dataQualityModalLabel">Data Validity Check: {{ selectedMeter.name }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="overflow-y: auto; width: 100%;">
                <div class="accordion" id="dataQualityAccordion">
                    <div *ngIf="showAlert"
                        class="alert alert-warning d-flex flex-column align-items-center justify-content-center gap-3 mb-3 text-center"
                        style="font-size: 1.1rem;">
                        <i class="fa fa-exclamation-triangle me-3" aria-hidden="true"
                            style="font-size:3rem; color: #b52223;"></i>
                        <div>
                            <span *ngIf="energyOutlierCount > 0 && costOutlierCount > 0"
                                style="font-size:1.5rem; text-align: center;">
                                There is an issue in
                                <span class="fw-bold text-danger" style="font-size:1.5rem;">{{ energyOutlierCount }}</span>
                                energy reading<span *ngIf="energyOutlierCount > 1" style="font-size:1.5rem;">s</span>
                                and
                                <span class="fw-bold text-danger" style="font-size:1.5rem;">{{ costOutlierCount }}</span>
                                cost reading<span *ngIf="costOutlierCount > 1" style="font-size:1.5rem;">s</span>
                                <br>
                            </span>
                            <span *ngIf="energyOutlierCount > 0 && costOutlierCount == 0"
                                style="font-size:1.5rem; text-align: center;">
                                There is an issue in
                                <span class="fw-bold text-danger" style="font-size:1.5rem;">{{ energyOutlierCount }}</span>
                                energy reading<span *ngIf="energyOutlierCount > 1" style="font-size:1.5rem;">s</span>
                                <br>
                            </span>
                            <span *ngIf="costOutlierCount > 0 && energyOutlierCount == 0"
                                style="font-size:1.5rem; text-align: center;">
                                There is an issue in
                                <span class="fw-bold text-danger" style="font-size:1.5rem;">{{ costOutlierCount }}</span>
                                cost reading<span *ngIf="costOutlierCount > 1" style="font-size:1.5rem;">s</span>
                                <br>
                            </span>
                            <span style="font-size:1.3rem; font-style:italic; color:#872e2e; display:block; text-align: center;">
                                Expand the sections below to view details.
                            </span>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingStats">
                            <button class="accordion-button collapsed" type="button"
                                [attr.aria-expanded]="expandSection === 'statistics'"
                                [ngClass]="{'collapsed': expandSection !== 'statistics'}"
                                (click)="onPanelClick('statistics')">
                                <i class="fa fa-table me-2"></i>
                                Total Consumption and Cost Statistics
                            </button>
                        </h2>
                        <div id="collapseStats" class="accordion-collapse collapse" aria-labelledby="headingStats"
                            [ngClass]="{'show': expandSection === 'statistics'}">
                            <div class="accordion-body">
                                <app-meter-statistics-table *ngIf="showGraphs && activeGraph === 'statistics'"
                                    (outlierCount)="onOutlierDetection($event)"
                                    [meterData]="meterData" [selectedMeter]="selectedMeter"></app-meter-statistics-table>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item" *ngIf="!(selectedMeter.source == 'Electricity' && !selectedMeter.includeInEnergy)">
                        <h2 class="accordion-header" id="headingEnergy">
                            <button class="accordion-button" type="button"
                                [attr.aria-expanded]="expandSection === 'energy-timeseries'"
                                [ngClass]="{'collapsed': expandSection !== 'energy-timeseries'}"
                                (click)="onPanelClick('energy-timeseries')">
                                <i class="fa fa-line-chart me-2"></i>
                                Total Consumption
                            </button>
                        </h2>
                        <div id="collapseEnergy" class="accordion-collapse collapse" aria-labelledby="headingEnergy"
                            [ngClass]="{'show': expandSection === 'energy-timeseries'}">
                            <div class="accordion-body">
                                <app-meter-energy-timeseries-graph
                                    *ngIf="showGraphs && activeGraph === 'energy-timeseries'"
                                    [meterData]="meterData" [selectedMeter]="selectedMeter"></app-meter-energy-timeseries-graph>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingCost">
                            <button class="accordion-button collapsed" type="button"
                                [attr.aria-expanded]="expandSection === 'cost-timeseries'"
                                [ngClass]="{'collapsed': expandSection !== 'cost-timeseries'}"
                                (click)="onPanelClick('cost-timeseries')">
                                <i class="fa fa-line-chart me-2"></i>
                                Total Cost
                            </button>
                        </h2>
                        <div id="collapseCost" class="accordion-collapse collapse" aria-labelledby="headingCost"
                            [ngClass]="{'show': expandSection === 'cost-timeseries'}">
                            <div class="accordion-body">
                                <app-meter-cost-timeseries-graph *ngIf="showGraphs && activeGraph === 'cost-timeseries'"
                                    [meterData]="meterData"></app-meter-cost-timeseries-graph>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item" *ngIf="!(selectedMeter.source == 'Electricity' && !selectedMeter.includeInEnergy)">
                        <h2 class="accordion-header" id="headingEnergyHist">
                            <button class="accordion-button collapsed" type="button"
                                [attr.aria-expanded]="expandSection === 'energy-histogram'"
                                [ngClass]="{'collapsed': expandSection !== 'energy-histogram'}"
                                (click)="onPanelClick('energy-histogram')">
                                <i class="fa fa-chart-bar me-2"></i>
                                Distribution of Total Consumption
                            </button>
                        </h2>
                        <div id="collapseEnergyHist" class="accordion-collapse collapse"
                            aria-labelledby="headingEnergyHist"
                            [ngClass]="{'show': expandSection === 'energy-histogram'}">
                            <div class="accordion-body">
                                <app-meter-energy-histogram *ngIf="showGraphs && activeGraph === 'energy-histogram'"
                                    [meterData]="meterData" [selectedMeter]="selectedMeter" [binSize]="binSizeEnergy" (onBinSizeChange)="binSizeEnergy = $event"></app-meter-energy-histogram>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingCostHist">
                            <button class="accordion-button collapsed" type="button"
                                [attr.aria-expanded]="expandSection === 'cost-histogram'"
                                [ngClass]="{'collapsed': expandSection !== 'cost-histogram'}"
                                (click)="onPanelClick('cost-histogram')">
                                <i class="fa fa-chart-bar me-2"></i>
                                Distribution of Total Cost
                            </button>
                        </h2>
                        <div id="collapseCostHist" class="accordion-collapse collapse" aria-labelledby="headingCostHist"
                            [ngClass]="{'show': expandSection === 'cost-histogram'}">
                            <div class="accordion-body">
                                <app-meter-cost-histogram *ngIf="showGraphs && activeGraph === 'cost-histogram'"
                                    [meterData]="meterData" [binSize]="binSizeCost" (onBinSizeChange)="binSizeCost = $event"></app-meter-cost-histogram>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    (click)="onModalClose()">Close</button>
            </div>
        </div>
    </div>
</div>