<ng-container *ngIf="meterForm.controls.source.value != 'Other Fuels'">
    <label>Fuel Emissions</label>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="w-50">
                    CO<sub>2</sub> Factor
                </td>
                <td class="w-50">
                    <ng-container *ngIf="selectedFuelTypeOption.CO2">
                        {{selectedFuelTypeOption|
                        emissionsDisplay:meterForm.controls.energyUnit.value:'CO2'}} kg
                        CO<sub>2</sub>/{{meterForm.controls.energyUnit.value}}
                    </ng-container>
                    <ng-container *ngIf="!selectedFuelTypeOption.CO2">
                        &mdash;
                    </ng-container>
                </td>
            </tr>
            <tr>
                <td>
                    CH<sub>4</sub> Factor
                </td>
                <td>
                    <ng-container *ngIf="selectedFuelTypeOption.CH4">
                        {{selectedFuelTypeOption|
                        emissionsDisplay:meterForm.controls.energyUnit.value:'CH4'}} g
                        CH<sub>4</sub>/{{meterForm.controls.energyUnit.value}}
                    </ng-container>
                    <ng-container *ngIf="!selectedFuelTypeOption.CH4">
                        &mdash;
                    </ng-container>
                </td>
            </tr>
            <tr>
                <td>
                    N<sub>2</sub>O Factor
                </td>
                <td>
                    <ng-container *ngIf="selectedFuelTypeOption.N2O">
                        {{selectedFuelTypeOption|
                        emissionsDisplay:meterForm.controls.energyUnit.value:'N2O'}} g
                        N<sub>2</sub>O/{{meterForm.controls.energyUnit.value}}
                    </ng-container>
                    <ng-container *ngIf="!selectedFuelTypeOption.N2O">
                        &mdash;
                    </ng-container>
                </td>
            </tr>
            <tr>
                <td>
                    Emissions Rate
                </td>
                <td>
                    <ng-container *ngIf="selectedFuelTypeOption.emissionsOutputRate">
                        {{selectedFuelTypeOption.emissionsOutputRate}} kg CO<sub>2</sub>e
                    </ng-container>
                    <ng-container *ngIf="!selectedFuelTypeOption.emissionsOutputRate">
                        &mdash;
                    </ng-container>
                </td>

            </tr>
        </tbody>
    </table>
</ng-container>

<ng-container *ngIf="meterForm.controls.source.value == 'Other Fuels'">
    <label>Fuel Emissions</label>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="w-50">
                    CO<sub>2</sub> Factor
                </td>
                <td class="w-50">
                    <ng-container *ngIf="selectedFuelTypeOption.CO2">
                        {{selectedFuelTypeOption|
                        emissionsDisplay:meterForm.controls.energyUnit.value:'CO2':meterForm.controls.vehicleCollectionUnit.value}}
                        kg CO<sub>2</sub>/<span [innerHTML]="meterForm.controls.vehicleCollectionUnit.value"></span>
                    </ng-container>
                    <ng-container *ngIf="!selectedFuelTypeOption.CO2">
                        &mdash;
                    </ng-container>
                </td>
            </tr>
            <tr>
                <td>
                    CH<sub>4</sub> Factor
                </td>
                <td>
                    <ng-container *ngIf="selectedFuelTypeOption.CH4">
                        {{selectedFuelTypeOption|
                        emissionsDisplay:meterForm.controls.energyUnit.value:'CH4':meterForm.controls.vehicleCollectionUnit.value:meterForm.controls.vehicleDistanceUnit.value}}
                        g CH<sub>4</sub>/
                        <ng-container *ngIf="selectedFuelTypeOption.isOnRoad">
                            <span [innerHTML]="meterForm.controls.vehicleDistanceUnit.value"></span>
                        </ng-container>
                        <ng-container *ngIf="!selectedFuelTypeOption.isOnRoad">
                            <span [innerHTML]="meterForm.controls.vehicleCollectionUnit.value"></span>
                        </ng-container>

                    </ng-container>
                    <ng-container *ngIf="!selectedFuelTypeOption.CH4">
                        &mdash;
                    </ng-container>
                </td>
            </tr>
            <tr>
                <td>
                    N<sub>2</sub>O Factor
                </td>
                <td>
                    <ng-container *ngIf="selectedFuelTypeOption.N2O">
                        {{selectedFuelTypeOption|
                        emissionsDisplay:meterForm.controls.energyUnit.value:'N2O':meterForm.controls.vehicleCollectionUnit.value:meterForm.controls.vehicleDistanceUnit.value}}
                        g N<sub>2</sub>O/
                        <ng-container *ngIf="selectedFuelTypeOption.isOnRoad">
                            <span [innerHTML]="meterForm.controls.vehicleDistanceUnit.value"></span>
                        </ng-container>
                        <ng-container *ngIf="!selectedFuelTypeOption.isOnRoad">
                            <span [innerHTML]="meterForm.controls.vehicleCollectionUnit.value"></span>
                        </ng-container>
                    </ng-container>
                    <ng-container *ngIf="!selectedFuelTypeOption.N2O">
                        &mdash;
                    </ng-container>
                </td>
            </tr>
        </tbody>
    </table>
</ng-container>