<div class="card">
    <div class="card-header">
        <h3 class="card-title"> <span class="fa fa-industry pr-2" [ngStyle]="{color: facility.color}"></span>
            <a routerLink="/facility/{{facility.id}}">
                {{facility.name}}
            </a>
        </h3>

        <p class="card-text" *ngIf="facility.address">{{facility.address}}, {{facility.city}},
            {{facility.state}}
            {{facility.zip}}
            {{facility.country}}
        </p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <a class="nav-link" routerLink="/facility/{{facility.id}}/utility">
                <span class="fa pr-2"
                    [ngClass]="{'fa-check-circle': meterDataUpToDate, 'fa-circle': !meterDataUpToDate}"></span>
                <span *ngIf="meterDataUpToDate">Utility Data Up-to Date</span>
                <span *ngIf="!meterDataUpToDate">No Meter Data for Last Month</span>
                <span class="float-right" *ngIf="lastBill">
                    Last Reading: {{lastBill.readDate | date}}
                </span>
                <span class="float-right" *ngIf="!lastBill">
                    No Readings Found
                </span>
            </a>
        </li>
        <li class="list-group-item">
            <a class="nav-link" routerLink="/facility/{{facility.id}}/analysis">
                <span class="fa pr-2"
                    [ngClass]="{'fa-check-circle': hasCurrentYearAnalysis, 'fa-circle': !hasCurrentYearAnalysis}"></span>
                <span *ngIf="hasCurrentYearAnalysis">Annual Analysis Found For {{lastYear}}</span>
                <span *ngIf="!hasCurrentYearAnalysis">No Analysis Found For {{lastYear}}</span>
            </a>
        </li>
    </ul>
    <div class="card-footer">
        <div class="d-flex icon-row">
            <a title="Facility Overview" class="nav-link" routerLink="/facility/{{facility.id}}/home"><i
                    class="fa fa-home"></i>
            </a>
            <a title="Facility Utility Data" class="nav-link" routerLink="/facility/{{facility.id}}/utility"><i
                    class="fa fa-book"></i>
            </a>
            <a title="Facility Data Visualization" class="nav-link"
                routerLink="/facility/{{facility.id}}/visualization"><i class="fa fa-chart-line"></i>
            </a>
            <a title="Facility Analysis" class="nav-link" routerLink="/facility/{{facility.id}}/analysis"><i
                    class="fa fa-microscope"></i>
            </a>
            <a title="Facility Settings" class="nav-link" routerLink="/facility/{{facility.id}}/settings"><i
                    class="fa fa-cog"></i>
            </a>
        </div>
    </div>
</div>