<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col">
                <h3 class="card-title"> <span class="fa fa-industry pe-2" [ngStyle]="{color: facility.color}"></span>
                    <a class="click-link" routerLink="/facility/{{facility.id}}">
                        {{facility.name}}
                    </a>
                </h3>
                <p class="card-text mb-0">
                    <span *ngIf="facility.address"> {{facility.address}}, {{facility.city}},
                        {{facility.state}}
                        {{facility.zip}}
                        {{facility.country}}
                    </span>
                    <span *ngIf="!facility.address">
                        Address: &mdash;
                    </span>
                </p>
                <p class="mb-0">
                    Contact:
                    <span *ngIf="facility.contactName" class="pe-2">{{facility.contactName}},</span>
                    <span *ngIf="facility.contactEmail" class="pe-2">{{facility.contactEmail}},</span>
                    <span *ngIf="facility.contactPhone">{{facility.contactPhone | phoneNumber}}</span>
                    <span
                        *ngIf="!facility.contactPhone && !facility.contactEmail && !facility.contactName">&mdash;</span>
                </p>
                <p class="card-text mb-0">NAICS:
                    <span *ngIf="naics">{{naics}}</span>
                    <span *ngIf="!naics">&mdash;</span>
                </p>
            </div>
            <div class="col" *ngIf="goalYear">
                <div class="row">
                    <div class="col-2 text-center">
                        Baseline
                    </div>
                    <div class="col-8 text-center">
                        Energy Reduction Progress <ng-container *ngIf="latestAnalysisDate">({{latestAnalysisDate | date:
                            'MMM. y'}})
                        </ng-container>
                    </div>
                    <div class="col-2 text-center">
                        Goal
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 text-center">
                        {{baselineYear | yearDisplay:facility.fiscalYear}}
                    </div>
                    <div class="col-8">
                        <div class="d-flex flex-column">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" [style.width.%]="percentTowardsGoal"
                                    aria-valuemin="0" aria-valuemax="percentGoal">
                                </div>
                            </div>
                            <div class="w-100 text-center bold">
                                {{percentSavings | number:'1.0-0'}}%
                            </div>
                        </div>
                    </div>
                    <div class="col-2 text-center">
                        {{goalYear | yearDisplay:facility.fiscalYear}} ({{percentGoal}}%)
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row collapse" *ngIf="!noMeterData" [ngClass]="{'show': showContent}">
        <div class="col-4">
            <ul class="list-group list-group-flush">
                <!--meters-->
                <li class="list-group-item">
                    <a class="nav-link" routerLink="/facility/{{facility.id}}/utility">
                        <span class="fa fa-chevron-right pe-2"></span>
                        <span *ngIf="sources.length != 0">Utility Sources: </span>
                        <span class="badge ms-2" *ngFor="let source of sources"
                            [ngStyle]="{'background-color': getColor(source)}">{{source}}</span>
                        <span *ngIf="sources.length == 0">No Sources Found For Facility</span>
                    </a>
                </li>
                <li class="list-group-item">
                    <a class="nav-link" routerLink="/facility/{{facility.id}}/utility">
                        <span class="fa fa-chevron-right pe-2"></span>
                        <span *ngIf="lastBill">Latest Meter Reading: {{lastBill.readDate | date}}</span>
                        <span *ngIf="!lastBill">
                            No Meter Readings Found For Facility
                        </span>
                    </a>
                </li>
                <!--predictors-->
                <li class="list-group-item" *ngIf="latestPredictorEntry">
                    <a class="nav-link" routerLink="/facility/{{facility.id}}/utility/predictors">
                        <span class="fa fa-chevron-right pe-2"></span>
                        <span *ngIf="facilityPredictors">Facility Predictor Variables:
                            <span class="badge bg-info ms-2"
                                *ngFor="let predictor of facilityPredictors">{{predictor.name}}</span>
                        </span>
                        <span *ngIf="!facilityPredictors">No Predictor Variables Found</span>
                    </a>
                </li>
                <li class="list-group-item">
                    <a class="nav-link" routerLink="/facility/{{facility.id}}/utility/predictors">
                        <span class="fa fa-chevron-right pe-2"></span>
                        <span *ngIf="latestPredictorEntry">Latest Predictor Entry: {{latestPredictorEntry.date |
                            date}}</span>
                        <span *ngIf="!latestPredictorEntry">
                            No Predictor Entries Found For Facility
                        </span>
                    </a>
                </li>
                <!--analysis-->

                <li class="list-group-item">
                    <a class="nav-link" routerLink="/facility/{{facility.id}}/analysis">
                        <span class="fa fa-chevron-right pe-2"></span>
                        <span *ngIf="latestAnalysisItem">Latest Facility Analysis:
                            {{latestAnalysisItem.reportYear | yearDisplay:facility.fiscalYear}}</span>
                        <span *ngIf="!latestAnalysisItem">No Analysis Found For Facility</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-8">
            <ng-container *ngIf="latestAnalysisItem">
                <app-monthly-analysis-summary-graph *ngIf="!calculating && monthlyFacilityAnalysisData"
                    [monthlyAnalysisSummaryData]="monthlyFacilityAnalysisData" [analysisItem]="latestAnalysisItem"
                    [facilityOrAccount]="facility">
                </app-monthly-analysis-summary-graph>
                <app-calculating-spinner *ngIf="calculating" [message]="'Calculating Monthly Results...'">
                </app-calculating-spinner>
            </ng-container>
        </div>
    </div>
    <!--No Meter Data for Facility-->
    <div *ngIf="noMeterData" class="card-body text-center no-meter-data" routerLink="/facility/{{facility.id}}/utility">
        <h5>No utility meters found for this facility.</h5>
        <p>Please click here to <i class="fa fa-book"></i> Manage Utility Data.</p>
    </div>



    <div class="card-footer">
        <div class="d-flex justify-content-between">
            <div class="d-flex">
                <div class="p-0">
                    <button title="Facility Overview" class="btn nav-btn btn-sm" (click)="navigateTo('home')">
                        <i class="fa fa-home"></i>
                    </button>
                </div>
                <div class="ps-1 pe-1">
                    <button title="Facility Utility Data" class="btn nav-btn btn-sm" (click)="navigateTo('utility')">
                        <i class="fa fa-book"></i>
                    </button>
                </div>
                <div class="ps-1 pe-1" *ngIf="!noMeterData">
                    <button title="Facility Data Visualization" class="btn nav-btn btn-sm"
                        (click)="navigateTo('visualization')">
                        <i class="fa fa-chart-line"></i>
                    </button>
                </div>
                <div class="ps-1 pe-1" *ngIf="!noMeterData">
                    <button title="Facility Analysis" class="btn nav-btn btn-sm"
                        (click)="navigateTo('analysis')">
                        <i class="fa fa-microscope"></i>
                    </button>
                </div>
                <div class="ps-1 pe-1" *ngIf="!noMeterData">
                    <button title="Facility Settings" class="btn nav-btn btn-sm"
                        (click)="navigateTo('settings')">
                        <i class="fa fa-cog"></i>
                    </button>
                </div>
                <!-- <a title="Facility Overview" class="nav-link" routerLink="/facility/{{facility.id}}/home"><i
                        class="fa fa-home"></i>
                </a> -->
                <!-- <a title="Facility Utility Data" class="nav-link" routerLink="/facility/{{facility.id}}/utility"><i
                        class="fa fa-book"></i>
                </a> -->
                <!-- <a title="Facility Data Visualization" class="nav-link"
                    routerLink="/facility/{{facility.id}}/visualization" *ngIf="!noMeterData"><i
                        class="fa fa-chart-line"></i>
                </a> -->
                <!-- <a title="Facility Analysis" class="nav-link" routerLink="/facility/{{facility.id}}/analysis"
                    *ngIf="!noMeterData"><i class="fa fa-microscope"></i>
                </a> -->
                <!-- <a title="Facility Settings" class="nav-link" routerLink="/facility/{{facility.id}}/settings"><i
                        class="fa fa-cog"></i>
                </a> -->
            </div>
            <div class="d-flex">
                <button class="btn btn-secondary m-0" (click)="toggleShowContent()">
                    <span *ngIf="showContent" class="fa fa-chevron-up"></span>
                    <span *ngIf="!showContent" class="fa fa-chevron-down"></span>
                </button>
            </div>
        </div>
    </div>
</div>