.fa-industry {
    font-size: 24.5px;
}

button span.fa {
    font-size: 14px;
}

h3.card-title a{
    font-size: 20px;
}

.card-header,
.card-footer {
    background-color: white;
}

.fa-check-circle {
    color: green;
}

.fa-circle {
    color: red;
}

.icon-row .fa {
    color: rgb(29, 95, 216);
}

.nav-link:hover {
    background-color: #efefef;
}

.list-group-item {
    padding: 0px !important;
}

.list-group-item .nav-link {
    padding: .75rem 1.25rem;
}

h3 .badge{
    font-size: 12px;
}
.card-body.no-meter-data:hover{
    cursor: pointer;
    background-color: #efefef;
}



.progress-bar-data-year{
    top: 50px;
    right: 48%;
    font-weight: bold;
    position: absolute;
}

.progress {
    margin: 7px 0px;
    /* height: 8px; */
}
.progress-bar {
    background-color: #145A32;
}

.card-footer .nav-btn{
    margin: 0px;
}