<div class="wrapper main-content">
    <h4>Upload Data From .CSV Files</h4>
    <p>Select the method you want to use to upload data.</p>

    <div class="card mt-5">
        <div class="card-body">
            <h5 class="card-title">Select Files</h5>
            <div class="input-group">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="meterTemplate" accept=".csv"
                        (input)="setImportFile($event.target.files)" multiple>
                    <label class="custom-file-label" for="meterTemplate">
                        {{inputLabel}}
                    </label>
                </div>
            </div>
            <div class="mt-3" *ngIf="importMeterFiles.length != 0">
                <table class="table table-sm">
                    <thead>
                        <tr class="import-meter">
                            <th class="file-name-width">
                                File Name
                            </th>
                            <th>
                                New
                            </th>
                            <th>
                                Existing
                            </th>
                            <th>
                                Invalid
                            </th>
                            <th>
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let importMeterFile of importMeterFiles">
                            <td>{{importMeterFile.fileName}}</td>
                            <td>{{importMeterFile.importMeterFileSummary.newMeters.length}}</td>
                            <td>{{importMeterFile.importMeterFileSummary.existingMeters.length}}</td>
                            <td>{{importMeterFile.importMeterFileSummary.invalidMeters.length}}</td>
                            <td>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- <table class="table table-sm" *ngIf="nonTemplateFiles.length != 0">
                    <thead>
                        <tr>
                            <th class="w-25">
                                File Type
                            </th>
                            <th class="w-75">
                                File Name
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let summary of nonTemplateFiles">
                            <td>{{summary.fileType}}</td>
                            <td>{{summary.fileName}}</td>
                        </tr>
                    </tbody>
                </table> 
        </div>-->
        </div>
    </div>
</div>