<div class="card">
    <div class="card-body">
        <div class="text-center">
            <label>{{axisCombo.y.label}} vs {{axisCombo.x.label}}</label>
            <ng-container *ngIf="regressionTableDataItem">
                <br>Best Fit:
                <br> {{bestFit}}
                <br>R&#178; {{regressionTableDataItem.r2Value | number}}
                <br>P-value: {{regressionTableDataItem.pValue|number}}
            </ng-container>
            <ng-container *ngIf="!regressionTableDataItem">
                <br>Best fit line not found.
                <br><br><br><br>
            </ng-container>
        </div>
        <div #matrixPlot id="matrixPlot"></div>
    </div>
</div>