.nav-items a:hover .fa{
    color: black !important;
}

.fa.fa-exclamation-circle, .banner a.nav-link:not(.active) .fa.fa.fa-exclamation-circle{
    color: red;
}


.fa.fa-exclamation-circle.warning, .banner a.nav-link:not(.active) .fa.fa.fa-exclamation-circle.warning{
    color: orange;
}


.analysis.banner{
    background-color: white;
     /* border-bottom: solid #34495E; */
     padding-bottom: 0px;
 }
 
 .nav-link{
     /* color: #fff; */
     background-color: #CCCCCC;
 }
 
 .breadcrumbs .nav-item a.nav-link{
     padding: .5rem;
     font-size: 12px;
 
 }
 .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
     background-color: #2c386b;
 }
 
 .banner-border{
     border-bottom: solid #2c386b;
 }
 

 .nav-tabs .nav-link.active{
    color: #ff6000;
    background-color: white;
}

.nav-tabs .nav-link:not(.active){
    background-color: #2c386b;
    color: white;
    border: solid 1px white;
}


.nav-tabs .nav-link.active, .nav-tabs .nav-link.active i.fa{
    color: #ff6000;
}