<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" routerLink="manage" [routerLinkActive]="['active']">
            <i class="fa fa-gears"></i>
            Manage Predictors
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="entries" [routerLinkActive]="['active']">
            <i class="fa fa-table"></i>
            Predictor Entries
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="degree-days" [routerLinkActive]="['active']">
            <i class="fa fa-table"></i>
            Degree Days
        </a>
    </li>
</ul>