<label for={{labelId}} [ngClass]="{'bold': isBold, 'semibold': isSemiBold}"> {{label}}
    <span *ngIf="isRequired" class="required">*</span>
    <span class="fa fa-question-circle pull-right" (mouseenter)="displayTooltipHover()"
        (mouseleave)="hideTooltipHover()" (click)="toggleClickTooltip()"></span>
</label>


<div class="tooltip-box" *ngIf="showTooltipHover || showTooltipClick">
    <div class="tooltip up"><span class="arrow arrow-up"></span>
        <div [innerHTML]="helpTooltip.tooltip" class="p-2">
        </div>
    </div>
</div>