li.disabled:hover .navigation-warning{
    display: block;
}
.navigation-warning {
    display: none;
    position: absolute;
    top: 110px;
    padding: 3px 7px;
    background-color: #f5d0d0e8;
    color: #c53f00;
    z-index: 99;
    margin-left: 10px;
}
.navigation-warning .arrow-up {
    border-bottom: 10px solid #f1c3be;
}

.nav-pills .nav-item{
    padding-right: .5rem;
    padding-left: .5rem;
}

a.nav-link{
    /* color: white; */
}

.banner{
   background-color: #f5f5f5;
    border-bottom: solid white;
}

.nav-link{
    /* color: #fff; */
    background-color: #CCCCCC;
}

.breadcrumbs .nav-item a.nav-link{
    padding: .5rem;
    font-size: 12px;

}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #34495E;
}

/* .nav-link.active{
    background-color: #c53f00;
} */

.banner-border{
    border-bottom: solid #34495E;
}