<div class="tabs">
    <ul>
        <li><a routerLink="/utility/energy-consumption" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">Energy Source</a></li>
        <li [hidden]="!energySource.value.electricity"><a routerLink="electricity" [routerLinkActive]="['active']">Electricity</a></li>
        <li [hidden]="!energySource.value.naturalGas"><a routerLink="natural-gas" [routerLinkActive]="['active']">Natural Gas</a></li>

        <li [hidden]="!energySource.value.lpg"><a routerLink="lpg" [routerLinkActive]="['active']">LPG</a></li>
        <li [hidden]="!energySource.value.fuelOil"><a routerLink="fuel-oil" [routerLinkActive]="['active']">Fuel Oil</a></li>
        <li [hidden]="!energySource.value.coal"><a routerLink="coal" [routerLinkActive]="['active']">Coal</a></li>
        <li [hidden]="!energySource.value.wood"><a routerLink="wood" [routerLinkActive]="['active']">Wood</a></li>
        <li [hidden]="!energySource.value.paper"><a routerLink="paper" [routerLinkActive]="['active']">Paper</a></li>
        <li [hidden]="!energySource.value.otherGas"><a routerLink="other-gas" [routerLinkActive]="['active']">Other Gas</a></li>
        <li [hidden]="!energySource.value.otherEnergy"><a routerLink="other-elec" [routerLinkActive]="['active']">Other Energy</a></li>
    </ul>
</div>
<div class="wrapper main-content">
    <router-outlet></router-outlet>
</div>
