<div class="tabs">
    <ul>
        <li><a routerLink="/utility/energy-consumption" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">Energy Source</a></li>
        <li [hidden]="!electricity"><a routerLink="electricity" [routerLinkActive]="['active']">Electricity</a></li>
        <li [hidden]="!naturalGas"><a routerLink="natural-gas" [routerLinkActive]="['active']">Natural Gas</a></li>

        <li [hidden]="!lpg"><a routerLink="lpg" [routerLinkActive]="['active']">LPG</a></li>
        <li [hidden]="!fuelOil"><a routerLink="fuel-oil" [routerLinkActive]="['active']">Fuel Oil</a></li>
        <li [hidden]="!coal"><a routerLink="coal" [routerLinkActive]="['active']">Coal</a></li>
        <li [hidden]="!wood"><a routerLink="wood" [routerLinkActive]="['active']">Wood</a></li>
        <li [hidden]="!paper"><a routerLink="paper" [routerLinkActive]="['active']">Paper</a></li>
        <li [hidden]="!otherGas"><a routerLink="other-gas" [routerLinkActive]="['active']">Other Gas</a></li>
        <li [hidden]="!otherEnergy"><a routerLink="other-elec" [routerLinkActive]="['active']">Other Energy</a></li>
    </ul>
</div>
<div class="wrapper main-content">
    <router-outlet></router-outlet>
</div>
