<div class="wrapper main-content">
    <div class="empty-state text-center">
        <h1>Welcome to Verifi</h1>
        <p>First, we need you to add some information to get started. Follow the 3 easy steps below.</p>
        <br>

        <div class="row">
            <div class="col">
                <div class="box">
                    <img [hidden]="selectedAccount" src="assets/images/emptyFile.png" alt="Account Incomplete">
                    <img [hidden]="!selectedAccount" src="assets/images/completeFile.png" alt="Account Complete">
                    <br>
                    <p>1.</p>
                    <p>Add An Account</p>
                    <button [hidden]="selectedAccount" class="btn btn-primary-2" (click)="addAccount()">Add
                        Account</button>
                    <button [hidden]="!selectedAccount" class="btn btn-primary-2" (click)="addAccount()">Update
                        Account</button>
                </div>
            </div>
            <div class="col">
                <div class="box">
                    <img [hidden]="selectedFacility" src="assets/images/emptyFile.png" alt="Facility Incomplete">
                    <img [hidden]="!selectedFacility" src="assets/images/completeFile.png" alt="Facility Complete">
                    <br>
                    <p>2.</p>
                    <p>Add A Facility</p>
                    <button [hidden]="selectedFacility" [disabled]="!selectedAccount" class="btn btn-primary-2"
                        (click)="addFacility()">Add Facility</button>
                    <button [hidden]="!selectedFacility" class="btn btn-primary-2" (click)="addFacility()">Update
                        Facility</button>
                </div>
            </div>
            <div class="col">
                <div class="box">
                    <img [hidden]="utilityMeters.length > 0" src="assets/images/emptyFile.png" alt="Utility Incomplete">
                    <img [hidden]="utilityMeters.length === 0" src="assets/images/completeFile.png"
                        alt="Utility Complete">
                    <br>
                    <p>3.</p>
                    <p>Add Utility Data</p>
                    <button [disabled]="!selectedFacility" class="btn btn-primary-2" (click)="addUtilityData()">Add
                        Utility Data</button>
                </div>
            </div>
        </div>
        <br>
        <hr>
        <p class="text-center">Want a quick start? <a (click)="loadTestData();">Load our test data</a></p>
        <p class="text-center">Have an account backup file? <a (click)="openImportBackup();">Load Account Backup</a></p>
    </div>
</div>
<div class="measurFooter"></div>

<app-import-backup-modal *ngIf="showImportFile" (emitClose)="cancelImportBackup()"></app-import-backup-modal>