
.progress {
    margin: 7px 0px;
    /* height: 8px; */
}
.progress-bar {
    background-color: #2c386b;
}
.progress-bar-data {
    position: absolute;
    right: 50%;
    top: 35px;
    font-weight: bold;
}
