<div class="wrapper main-content">
    <h4>Import Data From .XLSX Files</h4>
    <div class="alert alert-info">
        <ul class="mb-0">
            <li>
                Select the files you wish to upload data from into facilities.
            </li>
            <li>
                Data must be in excel (.XLSX) files.
            </li>
            <li>
                Once the files have been selected we will work through parsing out the relevant data into the correct
                places.
            </li>
            <li>
                Click the "Choose Files" button or drag and drop files into the grey box.
            </li>
            <li>
                Multiple files can be uploaded.
            </li>
        </ul>
    </div>
    <hr>
    <input class="form-control" [ngClass]="{'drag-in': dragOver}" type="file" #importFile id="importFile"
        (dragenter)="setDragEnter()" (input)="setImportFile($event.target)" multiple accept=".xlsx"
        (dragleave)="setDragOut()">
    <div *ngIf="fileUploadError">
        <div class="p-2 alert-danger">
            There was an error processing this file. Please try a different file.
        </div>
    </div>
    <div class="table-responsive" *ngIf="fileReferences.length != 0">
        <hr>
        <table class="table table-hover table-sm table-bordered utility-data">
            <thead class="table-mh">
                <tr>
                    <th>
                        Files
                    </th>
                    <th>
                        <!-- Remove -->
                    </th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr *ngFor="let reference of fileReferences; let index = index;">
                    <td>
                        {{reference.name}}
                    </td>
                    <td class="text-center">
                        <button class="btn btn-danger btn-sm danger" (click)="removeReference(index)">Remove</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="data-template-div" *ngIf="fileReferences.length == 0">
        <hr>
        <p>An excel tamplate can be used to make uploading your data easier, use this link to download the template:<br>
            <a href="assets/csv_templates/VERIFI-Import-Data.xlsx">Download Data Template</a>
        </p>
    </div>
    <div class="d-flex justify-content-end mt-auto" *ngIf="fileReferences.length != 0">
        <div class="d-flex">
            <button class="btn nav-btn" (click)="continue()">Submit &amp; Continue</button>
        </div>
    </div>
</div>