@if(tableType == 'source'){
<table class="table table-bordered utility-data">
    <thead class="sortable">
        <tr class="table-mh">
            <th></th>
            @for (annualSourceResult of energyFootprintFacility.includedSourcesAnnualResults[0].annualTotals; track
            $index) {
            <th colspan="3">
                {{annualSourceResult.year}}
            </th>
            }
        </tr>
        <tr class="table-mh">
            <th (click)="setOrderDataField('equipmentName', orderByYear)"
                [ngClass]="{'active': orderByField == 'equipmentName'}">Source</th>

            @for (sourceResult of energyFootprintFacility.includedSourcesAnnualResults[0].annualTotals; track
            $index) {
            <th (click)="setOrderDataField('totalEquipmentEnergyUse', sourceResult.year)"
                [ngClass]="{'active': orderByField == 'totalEquipmentEnergyUse' && orderByYear == sourceResult.year}">
                Equipment Energy Use <span class="fw-light" [innerHTML]="'(' + facility.energyUnit + '/yr)'"></span>
            </th>
            <th (click)="setOrderDataField('totalFacilityEnergyUse', sourceResult.year)"
                [ngClass]="{'active': orderByField == 'totalFacilityEnergyUse' && orderByYear == sourceResult.year}">
                Facility Energy Use <span class="fw-light" [innerHTML]="'(' + facility.energyUnit + '/yr)'"></span>
            </th>
            <th (click)="setOrderDataField('percentOfFacilityUse', sourceResult.year)"
                [ngClass]="{'active': orderByField == 'percentOfFacilityUse' && orderByYear == sourceResult.year}">% of
                Facility
                Total</th>
            }
        </tr>
    </thead>
    <tbody>
        @for (sourceResult of energyFootprintFacility.includedSourcesAnnualResults; track $index){
        <tr class="section-row">
            <td class="nowrap" (click)="toggleCollapseGroup($index)">
                <span class="fa"
                    [ngClass]="{'fa-chevron-right': !sourceResult.showGroupResults, 'fa-chevron-down': sourceResult.showGroupResults}"></span>
                {{sourceResult.source}}
            </td>
            @for(annualEnergyUse of sourceResult.annualTotals; track $index){
            <td class="fill-cell" [ngStyle]="{'background-size': annualEnergyUse.percentOfFacilityUse + '% 100%'}">
                {{annualEnergyUse.totalEquipmentEnergyUse| number:'1.0-0'}}</td>
            <td> {{annualEnergyUse.totalFacilityEnergyUse| number:'1.0-0'}}</td>
            <td class="fill-cell" [ngStyle]="{'background-size': annualEnergyUse.percentOfFacilityUse + '% 100%'}">
                {{annualEnergyUse.percentOfFacilityUse| number:'1.0-0'}}&percnt;</td>
            }
        </tr>
        @if(sourceResult.showGroupResults){
        @for(groupResult of sourceResult.groupResults; track $index){
        <tr>
            <td class="ps-3 nowrap">
                <a class="click-link" (click)="goToMeterGroup(groupResult.groupId)">
                    {{groupResult.groupName}}
                </a>
            </td>
            @for(annualResult of groupResult.annualSourceResults; track $index){
            <td class="fill-cell" [ngStyle]="{'background-size': annualResult.percentTotalEnergyUse + '% 100%'}">
                {{annualResult.totalEquipmentEnergyUse | number:'1.0-0'}}</td>
            <td>
                &mdash;
            </td>
            <td class="fill-cell" [ngStyle]="{'background-size': annualResult.percentTotalEnergyUse + '% 100%'}">
                {{annualResult.percentTotalEnergyUse | number:'1.0-0'}}&percnt;</td>
            }
        </tr>
        }
        }
        }
    </tbody>
</table>
}@else if(tableType == 'meterGroup'){
<table class="table table-bordered utility-data">
    <thead class="sortable">
        <tr class="table-mh">
            <th></th>
            @for (annualMeterGroupResult of energyFootprintFacility.meterGroupsAnnualResults[0].annualResults; track
            $index) {
            <th colspan="3">
                {{annualMeterGroupResult.year}}
            </th>
            }
        </tr>
        <tr class="table-mh">
            <th (click)="setOrderDataField('equipmentName', orderByYear)"
                [ngClass]="{'active': orderByField == 'equipmentName'}">Meter Group</th>

            @for (meterGroupResult of energyFootprintFacility.meterGroupsAnnualResults[0].annualResults; track
            $index) {
            <th (click)="setOrderDataField('totalEquipmentEnergyUse', meterGroupResult.year)"
                [ngClass]="{'active': orderByField == 'totalEquipmentEnergyUse' && orderByYear == meterGroupResult.year}">
                Equipment Energy Use <span class="fw-light" [innerHTML]="'(' + facility.energyUnit + '/yr)'"></span>
            </th>
            <th (click)="setOrderDataField('totalFacilityEnergyUse', meterGroupResult.year)"
                [ngClass]="{'active': orderByField == 'totalFacilityEnergyUse' && orderByYear == meterGroupResult.year}">
                Group Energy Use <span class="fw-light" [innerHTML]="'(' + facility.energyUnit + '/yr)'"></span>
            </th>
            <th (click)="setOrderDataField('percentOfFacilityUse', meterGroupResult.year)"
                [ngClass]="{'active': orderByField == 'percentOfFacilityUse' && orderByYear == meterGroupResult.year}">%
                of

                Total</th>
            }
        </tr>
    </thead>
    <tbody>
        @for (meterGroupResult of energyFootprintFacility.meterGroupsAnnualResults; track $index){
        <tr class="section-row">
            <td class="nowrap">
                {{meterGroupResult.meterGroupName}}
            </td>
            @for(annualEnergyUse of meterGroupResult.annualResults; track $index){
            <td class="fill-cell" [ngStyle]="{'background-size': annualEnergyUse.percentIncludedEnergyUse + '% 100%'}">
                {{annualEnergyUse.totalEquipmentEnergyUse| number:'1.0-0'}}</td>
            <td> {{annualEnergyUse.includedMetersEnergyUse| number:'1.0-0'}}</td>
            <td class="fill-cell" [ngStyle]="{'background-size': annualEnergyUse.percentIncludedEnergyUse + '% 100%'}">
                {{annualEnergyUse.percentIncludedEnergyUse| number:'1.0-0'}}&percnt;</td>
            }
        </tr>
        @for(groupResult of meterGroupResult.energyUseGroupAnnualResults; track $index){
        <tr>
            <td class="ps-3 nowrap">
                <a class="click-link" (click)="goToMeterGroup(groupResult.groupGuid)">
                    {{groupResult.groupName}}
                </a>
            </td>
            @for(annualResult of groupResult.annualResults; track $index){
            <td class="fill-cell" [ngStyle]="{'background-size': annualResult.percentOfTotal + '% 100%'}">
                {{annualResult.energyUse | number:'1.0-0'}}</td>
            <td>
                &mdash;
            </td>
            <td class="fill-cell" [ngStyle]="{'background-size': annualResult.percentOfTotal + '% 100%'}">
                {{annualResult.percentOfTotal | number:'1.0-0'}}&percnt;</td>
            }
        </tr>
        }
        }
    </tbody>
</table>
}