table input{
    margin: 0px !important;
}

label{
    font-size: 17.5px;
}
.fa-save{
    color: white;
}

.delete-button{
    font-size: x-small;
    float: right;
}

.form-group label{
    font-size: small;
}

.form-group{
    padding-bottom: .25rem;
}