<div class="banner sticky-top d-flex justify-content-between" [ngClass]="{'modal-open': modalOpen}">
    <ul class="nav nav-tabs">
        <li class="nav-item" *ngFor="let reference of fileReferences">
            <a class="nav-link disabled" routerLink="/upload/data-setup/file-setup/{{reference.id}}"
                [routerLinkActive]="['active']">
                <i class="fa fa-file"></i>{{reference.name}}</a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link" routerLink="/upload/data-setup/set-facility-meters"
            [routerLinkActive]="['active']">
                <i class="fa fa-industry"></i>Set Facility Meters</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/upload/data-setup/set-facility-predictors"
            [routerLinkActive]="['active']">
                <i class="fa fa-industry"></i>Set Facility Predictors</a>
        </li> -->
        <!-- <li class="nav-item">
            <a class="nav-link" routerLink="/upload/data-setup/manage-meters" [routerLinkActive]="['active']">
                <i class="fa fa-gauge-high"></i>Meters</a>
        </li> -->
    </ul>
    <ul class="nav nav-tabs">
        <li class="nav-item home-link">
            <a class="nav-link" (click)="openStartOverModal()">
                Start Over
            </a>
        </li>

    </ul>

</div>



<div [ngClass]="{'windowOverlay': showStartOverModal}"></div>
<div class="popup" [class.open]="showStartOverModal">
    <div class="popup-header">Are you sure?
        <button class="item-right" (click)="cancelStartOver()">x</button>
    </div>
    <div class="popup-body">
        <p>WARNING: Are you sure you want to start the upload process over? Progress will be lost.</p>
    </div>
    <div class="saveCancel popup-footer text-end pb-2">
        <button class="btn btn-secondary" (click)="cancelStartOver()">Cancel</button>
        <button class="btn btn-outline" (click)="confirmStartOver()">Start Over</button>
    </div>
</div>