<h4>{{selectedMeter.name}} Bills</h4>
<router-outlet></router-outlet>


<!-- <div class="window" [class.open]="editMeterData || addOrEdit == 'add'">
    <div class="windowOverlay"></div>
    <div class="windowContent windowContentXLg" *ngIf="(editMeterData || addOrEdit == 'add')">
        <h4 *ngIf="addOrEdit == 'add'">Add {{editMeter.name}} Bill</h4>
        <h4 *ngIf="addOrEdit == 'edit'">Edit {{editMeter.name}} Bill</h4>
        <div class="row" *ngIf="addOrEdit == 'add'">
            <div class="col">
                <form>
                    <label class="bold">Select Meter</label>
                    <select name="editMeter" [(ngModel)]="editMeter" class="form-control"
                        (change)="changeSelectedMeter()">
                        <option *ngFor="let facilityMeter of facilityMeters" [ngValue]="facilityMeter">
                            {{facilityMeter.name}} (Last Bill: {{getLastMeterBillDate(facilityMeter) | date}})</option>
                    </select>
                </form>
            </div>
        </div>
        <app-edit-electricity-bill *ngIf="editMeter.source == 'Electricity'" [editMeterData]="editMeterData"
            (emitClose)="cancelEditMeter()" [addOrEdit]="addOrEdit">
        </app-edit-electricity-bill>
        <app-edit-utility-bill *ngIf="editMeter.source != 'Electricity'" [editMeterData]="editMeterData"
            (emitClose)="cancelEditMeter()" [addOrEdit]="addOrEdit">
        </app-edit-utility-bill>
    </div>
</div> -->
