<table class="table table-sm table-hover">
    <thead>
        <tr class="table-mh">
            <th class="first-column"></th>
            <th class="text-center th-3" colspan="3">
                Energy (<span [innerHTML]="analysisItem.energyUnit | settingsLabel"></span>)
            </th>
            <th class="text-center th-3" colspan="3">
                Production ({{group.productionUnits}})
            </th>
            <th class="text-center th-3" colspan="3">
                Energy Intensity (<span
                    [innerHTML]="analysisItem.energyUnit | settingsLabel"></span>/{{group.productionUnits}})
            </th>
        </tr>
        <tr>
            <th>
                Year
            </th>
            <th>
                Total Energy
            </th>
            <th>
                Annual Savings
            </th>
            <th>
                Total Savings
            </th>
            <th>
                Total Production
            </th>
            <th>
                Annual Change
            </th>
            <th>
                Total Change
            </th>
            <th>
                Energy Intensity
            </th>
            <th>
                Annual Improvement
            </th>
            <th>
                Total Improvement
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let summary of annualGroupSummaries">
            <td>
                FY - {{summary.year}}
            </td>
            <td>
                <span *ngIf="summary.totalEnergy">
                    {{summary.totalEnergy | customNumber}}
                </span>
                <span *ngIf="!summary.totalEnergy">
                    &mdash;
                </span>
            </td>
            <td>
                <span *ngIf="summary.annualEnergySavings" [ngClass]="{'red': summary.annualEnergySavings < 0}">
                    {{summary.annualEnergySavings | customNumber}}
                </span>
                <span *ngIf="!summary.annualEnergySavings">
                    &mdash;
                </span>
            </td>
            <td>
                <span *ngIf="summary.totalEnergySavings" [ngClass]="{'red': summary.totalEnergySavings < 0}">
                    {{summary.totalEnergySavings | customNumber}}
                </span>
                <span *ngIf="!summary.totalEnergySavings">
                    &mdash;
                </span>
            </td>
            <td>
                <span *ngIf="summary.totalProduction">
                    {{summary.totalProduction | customNumber}}
                </span>
                <span *ngIf="!summary.totalProduction">
                    &mdash;
                </span>
            </td>
            <td>
                <span *ngIf="summary.annualProductionChange" [ngClass]="{'red': summary.annualProductionChange < 0}">
                    {{summary.annualProductionChange | customNumber}}
                </span>
                <span *ngIf="!summary.annualProductionChange">
                    &mdash;
                </span>
            </td>
            <td>
                <span *ngIf="summary.totalProductionChange" [ngClass]="{'red': summary.totalProductionChange < 0}">
                    {{summary.totalProductionChange | customNumber}}
                </span>
                <span *ngIf="!summary.totalProductionChange">
                    &mdash;
                </span>
            </td>
            <td>
                <span *ngIf="summary.energyIntensity">
                    {{summary.energyIntensity | customNumber}}
                </span>
                <span *ngIf="!summary.energyIntensity">
                    &mdash;
                </span>
            </td>
            <td>
                <span *ngIf="summary.annualEnergyIntensityChange"
                    [ngClass]="{'red': summary.annualEnergyIntensityChange < 0}">
                    {{summary.annualEnergyIntensityChange | customNumber}} %
                </span>
                <span *ngIf="!summary.annualEnergyIntensityChange">
                    &mdash;
                </span>
            </td>
            <td>
                <span *ngIf="summary.totalEnergyIntensityChange"
                    [ngClass]="{'red': summary.totalEnergyIntensityChange < 0}">
                    {{summary.totalEnergyIntensityChange | customNumber}} %
                </span>
                <span *ngIf="!summary.totalEnergyIntensityChange">
                    &mdash;
                </span>
            </td>
        </tr>
    </tbody>
</table>