<table class="table table-sm">
    <thead>
        <tr>
            <th class="first-col">
                
            </th>
            <th *ngFor="let summary of annualGroupSummaries">
                {{summary.year}}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Total Energy ({{analysisItem.energyUnit}})
            </td>
            <td *ngFor="let summary of annualGroupSummaries">
                <span *ngIf="summary.totalEnergy">
                    {{summary.totalEnergy | customNumber}}
                </span>
                <span *ngIf="!summary.totalEnergy">
                    &mdash;
                </span>
            </td>
        </tr>
        <tr>
            <td>
                Total Energy Savings
            </td>
            <td *ngFor="let summary of annualGroupSummaries">
                <span *ngIf="summary.totalEnergySavings">
                    {{summary.totalEnergySavings | customNumber}}
                </span>
                <span *ngIf="!summary.totalEnergySavings">
                    &mdash;
                </span>
            </td>
        </tr>
        <tr>
            <td>
                New Energy Savings
            </td>
            <td *ngFor="let summary of annualGroupSummaries">
                <span *ngIf="summary.newEnergySavings">
                    {{summary.newEnergySavings | customNumber}}
                </span>
                <span *ngIf="!summary.newEnergySavings">
                    &mdash;
                </span>
            </td>
        </tr>
        <tr>
            <td>
                Total Production
            </td>
            <td *ngFor="let summary of annualGroupSummaries">
                <span *ngIf="summary.totalProduction">
                    {{summary.totalProduction | customNumber}}
                </span>
                <span *ngIf="!summary.totalProduction">
                    &mdash;
                </span>
            </td>
        </tr>
        <tr>
            <td>
                Production Change
            </td>
            <td *ngFor="let summary of annualGroupSummaries">
                <span *ngIf="summary.productionChange">
                    {{summary.productionChange | customNumber}}
                </span>
                <span *ngIf="!summary.productionChange">
                    &mdash;
                </span>
            </td>
        </tr>
        <tr>
            <td>
                Energy Intensity
            </td>
            <td *ngFor="let summary of annualGroupSummaries">
                <span *ngIf="summary.energyIntensity">
                    {{summary.energyIntensity | customNumber}}
                </span>
                <span *ngIf="!summary.energyIntensity">
                    &mdash;
                </span>
            </td>
        </tr>
        <tr>
            <td>
                Cumulative EI Improvement
            </td>
            <td *ngFor="let summary of annualGroupSummaries">
                <span *ngIf="summary.cumulativeEnergyIntensityChange">
                    {{summary.cumulativeEnergyIntensityChange | customNumber}} %
                </span>
                <span *ngIf="!summary.cumulativeEnergyIntensityChange">
                    &mdash;
                </span>
            </td>
        </tr>
        <tr>
            <td>
                Annual EI Improvement
            </td>
            <td *ngFor="let summary of annualGroupSummaries">
                <span *ngIf="summary.annualEnergyIntensityChange">
                    {{summary.annualEnergyIntensityChange | customNumber}} %
                </span>
                <span *ngIf="!summary.annualEnergyIntensityChange">
                    &mdash;
                </span>
            </td>
        </tr>
    </tbody>
</table>