<div class="d-flex flex-column">
    <div class="d-flex w-100 justify-content-end">
        <button class="btn nav-btn" (click)="goToEquipmentDetails()"><i class="fa fa-arrow-right"></i>
            Equipment Details
        </button>
    </div>
    <div>
        <h5 class="mb-0">Edit Existing Groups</h5>
        <p class="fw-light">
            Select the groups you want to modify.
        </p>
        <div class="d-flex flex-column">
            @for(group of facilityEnergyUseGroups; track group.guid;){
            <div class="d-flex">
                <label for="{{'group'+group.guid}}" class="form-check-label large">
                    <input id="{{'group'+group.guid}}" type="checkbox" [checked]="group.selected"
                        (change)="toggleGroupSelection(group);" />
                    {{group.name}}
                </label>
            </div>
            }
        </div>
    </div>
</div>