thead th.active {
    text-decoration: underline;
}

thead th:hover{
    cursor: pointer;
    text-decoration: underline;
}

.fa.fa-check-circle-o{
    color: green;
    font-size: larger;
}

.copying-table .actions .fa, .copying-table input, .copying-table br{
    display: none;
}