<div class="account banner d-flex justify-content-between w-100 pb-0 hide-print sticky-top"
    [ngClass]="{'modal-open': modalOpen}">
    <div class="d-flex">
        <div class="banner-title">
            <span class="fa fa-building"></span>
            Corporate Account Setup
        </div>

        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" routerLink="welcome" [routerLinkActive]="['active']"><i
                        class="fa fa-home"></i>Welcome</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="account-setup" [routerLinkActive]="['active']">
                    <i class="fa fa-building"></i>
                    Setup Account
                </a>
            </li>
            <li class="nav-item" [ngClass]="{'disabled': !account || accountInvalid}">
                <a class="nav-link" routerLink="facility-setup" [routerLinkActive]="['active']">
                    <i class="fa fa-industry"></i>Setup Facilities</a>
            </li>
            <li class="nav-item" [ngClass]="{'disabled': (!facilities || facilities.length == 0) && !facilityTemplateAdded}">
                <a class="nav-link" routerLink="confirmation" [routerLinkActive]="['active']"><i
                        class="fa fa-circle-check"></i>Confirm Setup</a>
            </li>
        </ul>
    </div>
    <div class="help-toggle">
        <a (click)="toggleHelpPanel()"><span class="fa fa-circle-question"></span></a>
    </div>
</div>