.plot {
    background-color: white;
    margin: 3px;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 2px 3px 10px #d6d6d6;
  }

  
.plot p:first-child {
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 1px solid #eee;
  }

  
.row:last-child {
    margin-bottom: 150px;
  }