.calculator-pointer {
  cursor: pointer;
}

.alert-info {
  background-color: #d8e2dc;
  border-color: #d8e2dc;
}

.checkbox-large {
  display: inline-flex !important;
  align-items: center !important; 
  justify-content: center !important;
  vertical-align: middle !important;
  font-size: 1.25rem;
  cursor: pointer;
}

.checkbox-large .form-check-input {
  width: 1.25em;   
  height: 1.25em;  
  margin-top: 0 !important;
  margin-left: 0 !important;
  position: relative; 
  cursor: pointer;
  border: 2px solid #6c757d;
}

.checkbox-large label {
  font-size: 1.1rem;
  font-weight: bold;
}
