@let energyFootprintFacilityOrdered = energyFootprintFacility |
orderFacilityEnergyUsesSummaryTable:orderByYear:orderByField:orderByDir;
<table class="table table-bordered utility-data">
    <thead class="sortable">
        <tr class="table-mh">
            <th></th>
            @for (total of energyFootprintFacilityOrdered.totals; track $index) {
            <th colspan="2">
                {{total.year}}
            </th>
            }
        </tr>
        <tr>
            <th (click)="setOrderDataField('groupName', orderByYear)"
                [ngClass]="{'active': orderByField == 'groupName'}">Group</th>
            @for (total of energyFootprintFacilityOrdered.totals; track $index) {
            <th (click)="setOrderDataField('totalEnergyUse', total.year)"
                [ngClass]="{'active': orderByField == 'totalEnergyUse'}">
                Energy Use <span class="fw-light" [innerHTML]="'(' + facility.energyUnit + '/yr)'"></span></th>
            <th (click)="setOrderDataField('percentOfFacilityUse', total.year)"
                [ngClass]="{'active': orderByField == 'percentOfFacilityUse'}">
                % of Facility Total</th>
            }
        </tr>
    </thead>
    <tbody>
        @for (groupData of energyFootprintFacilityOrdered.footprintGroupSummaries; track $index){
        <tr>
            <td>
                <a class="click-link" (click)="goToGroup(groupData.groupId)">
                    {{groupData.groupName}}
                </a>
            </td>
            @for(annualEnergyUse of groupData.annualEnergyUse; track $index){
            <td>{{annualEnergyUse.totalEnergyUse| number:'1.0-2'}}</td>
            <td>{{annualEnergyUse.percentOfFacilityUse| number:'1.0-2'}}</td>
            }
        </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>Total</th>
            @for (total of energyFootprintFacilityOrdered.totals; track $index) {
            <th>{{total.totalEnergyUse | number:'1.0-2'}}</th>
            <th>&mdash;</th>
            }
        </tr>
    </tfoot>
</table>