<table class="table utility-data table-sm table-bordered table-hover" #dataTable
  [ngClass]="{'copying-table': copyingTable}">
  <thead>
    <tr>
      <th>Month</th>
      @if (weatherDataSelection == 'degreeDays' || weatherDataSelection == 'HDD') {
        <th>Heating Degree Days</th>
      }
      @if (weatherDataSelection == 'degreeDays' || weatherDataSelection == 'CDD') {
        <th>Cooling Degree Days</th>
      }
      @if (weatherDataSelection == 'relativeHumidity') {
        <th>Relative Humidity</th>
      }
      @if (weatherDataSelection == 'dryBulbTemp') {
        <th>Dry Bulb Temp.</th>
      }
    </tr>
  </thead>
  <tbody class="table-group-divider">
    @for (degreeDay of yearSummaryData; track degreeDay) {
      <tr>
        <td>
          @if (degreeDay.hasErrors) {
            <span class="fa fa-exclamation-circle"></span>
          }
          <a class="click-link" (click)="gotToMonthSummary(degreeDay.date)">
            {{degreeDay.date | date:'MMM. y'}}
          </a>
        </td>
        @if (weatherDataSelection == 'degreeDays' || weatherDataSelection == 'HDD') {
          <td>
            {{degreeDay.heatingDegreeDays | number}}
          </td>
        }
        @if (weatherDataSelection == 'degreeDays' || weatherDataSelection == 'CDD') {
          <td>
            {{degreeDay.coolingDegreeDays | number}}
          </td>
        }
        @if (weatherDataSelection == 'relativeHumidity') {
          <td>
            {{degreeDay.relativeHumidity | number:'1.0-1'}} &percnt;
          </td>
        }
        @if (weatherDataSelection == 'dryBulbTemp') {
          <td>
            {{degreeDay.dryBulbTemp | number:'1.0-1'}} &#8457;
          </td>
        }
      </tr>
    }
  </tbody>
  @if (weatherDataSelection != 'relativeHumidity' && weatherDataSelection != 'dryBulbTemp') {
    <tfoot>
      <tr>
        <th>
          Total
        </th>
        @if (weatherDataSelection == 'degreeDays' || weatherDataSelection == 'HDD') {
          <th>
            {{yearSummaryData | total: 'heatingDegreeDays' | number}}
          </th>
        }
        @if (weatherDataSelection == 'degreeDays' || weatherDataSelection == 'CDD') {
          <th>
            {{yearSummaryData | total: 'coolingDegreeDays' | number}}
          </th>
        }
      </tr>
    </tfoot>
  }
</table>

<div class="d-flex justify-content-end">
  <button class="btn action-btn btn-sm" (click)="copyTable()">
    <span class="fa fa-copy"></span> Copy Table
  </button>
</div>