<div class="p-2">
    <div class="alert alert-danger text-center">
        There was an error while initializing the application data: <br>
        <b>{{startupError}}</b><br><br>
        Please contact Kristina Armstrong at <a href="mailto: armstrongko@ornl.gov">armstrongko@ornl.gov</a>.<br><br>
        To reset your application data click here: <a class="click-link" (click)="resetDatabase()">Reset
            Database</a><br><br>
        Prior to resetting your data, download your existing account data.<br>
    </div>
</div>