.fa-industry{
    font-size: 35px;
}

.btn span.fa{
    font-size: 24px
}

.icon-row .fa {
    color: rgb(29, 95, 216);
}

.nav-link:hover {
    background-color: #efefef;
}

.list-group-item {
    padding: 0px !important;
}

.list-group-item .nav-link {
    padding: .75rem 1.25rem;
}
button:hover span.fa{
    color: white;
}


.alert-warning{
    width: auto;
}

.fa-exclamation.white{
    color: white;
}