<div class="data-management-content with-footer">
  <div class="row g-0 justify-content-center h-100 w-100 overflow-auto">
    <div class="col-11 pt-4 pb-4">
      <div class="form-paper">
        <h4>
          <div class="d-flex w-100 justify-content-between">
            <div class="h4 mb-0">
              Select Worksheet
            </div>
            <div>
              <span class="badge bg-primary">
                <span class="fa fa-file"></span>
                {{fileReference.name}}
              </span>
            </div>
          </div>
        </h4>
        <div class="row">
          <div class="col-6">
            <app-label-with-tooltip [field]="'selectWorksheet'" [label]="'Select Worksheet'" [isBold]="true"
            [labelId]="'worksheetName'" [isFloatRight]="true"></app-label-with-tooltip>
            <select class="form-select" name="worksheetName"
              [(ngModel)]="fileReference.selectedWorksheetName" (change)="setSelectedWorksheetName()"
              id="worksheetName">
              @for (name of worksheetNames; track name) {
                <option [ngValue]="name">
                  {{name}}
                </option>
              }
            </select>
            @if (hasHiddenTabs) {
              @if (!showHiddenTabs) {
                <a class="click-link small pull-right"
                (click)="setShowHidden(true)">Show Hidden Tabs</a>
              }
              @if (showHiddenTabs) {
                <a class="click-link small pull-right"
                (click)="setShowHidden(false)">Don't Show Hidden Tabs</a>
              }
            }
          </div>
          <div class="col-6">
            <app-label-with-tooltip [field]="'selectImportFacility'" [label]="'Select Import Facility'"
              [isBold]="true" [labelId]="'selectedFacilityId'"
            [isFloatRight]="true"></app-label-with-tooltip>
            <select class="form-select" name="selectedFacilityId"
              [(ngModel)]="fileReference.selectedFacilityId" (change)="setImportFacility()">
              <option [ngValue]="undefined">
                Multiple Facilities
              </option>
              @for (facility of facilityOptions; track facility) {
                <option [ngValue]="facility.guid">
                  {{facility.name}}
                </option>
              }
            </select>
          </div>
        </div>
        <br>
          @if (fileReference.selectedWorksheetData) {
            <div class="table-responsive">
              <table class="table table-bordered table-sm table-hover utility-data">
                <thead class="table-mh">
                  <tr>
                    @for (header of fileReference.selectedWorksheetData[0]; track header) {
                      <th>
                        {{header}}
                      </th>
                    }
                  </tr>
                </thead>
                <tbody class="table-group-divider">
                  @for (worksheetData of fileReference.selectedWorksheetData; track worksheetData; let index = $index) {
                    <tr
                      [ngClass]="{'hidden': index == 0}">
                      @for (data of worksheetData; track data) {
                        <td>
                          {{data}}
                        </td>
                      }
                    </tr>
                  }
                </tbody>
              </table>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
  <app-data-management-import-footer [fileReference]="fileReference" [disableNext]="!fileReference.selectedWorksheetName"
  [navOption]="'select-worksheet'"></app-data-management-import-footer>