thead th.active {
    text-decoration: underline;
}

thead th:hover{
    cursor: pointer;
    text-decoration: underline;
}

tbody tr:not(.use-and-consumption) td:first-child{
    width: 30%;
}

tbody tr:not(.use-and-consumption) td:not(:first-child){
    width: 35%;
}

tbody tr.use-and-consumption td{
    width: 25%;
}
