<div class="dropdown">
  <button class="btn action-btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Filter
  </button>
  <form class="dropdown-menu">
    @if (calanderizedDataFilters.selectedDateMin) {
      <div class="p-2">
        <label>
          Start Date
        </label>
        <select class="form-select" name="minDateMonth" [(ngModel)]="calanderizedDataFilters.selectedDateMin.month"
          (change)="save()">
          @for (monthOption of months; track monthOption) {
            <option [ngValue]="monthOption.monthNumValue">
              {{monthOption.name}}
            </option>
          }
        </select>
        <select class="form-select" name="minDateYear" [(ngModel)]="calanderizedDataFilters.selectedDateMin.year"
          (change)="save()">
          @for (yearOption of yearOptions; track yearOption) {
            <option [ngValue]="yearOption">{{yearOption}}</option>
          }
        </select>
      </div>
    }
    @if (calanderizedDataFilters.selectedDateMax) {
      <div class="p-2">
        <label>
          End Date
        </label>
        <select class="form-select" name="maxDateMonth" [(ngModel)]="calanderizedDataFilters.selectedDateMax.month"
          (change)="save()">
          @for (monthOption of months; track monthOption) {
            <option [ngValue]="monthOption.monthNumValue">
              {{monthOption.name}}
            </option>
          }
        </select>
        <select class="form-select" name="maxDateYear" [(ngModel)]="calanderizedDataFilters.selectedDateMax.year"
          (change)="save()">
          @for (yearOption of yearOptions; track yearOption) {
            <option [ngValue]="yearOption">{{yearOption}}</option>
          }
        </select>
      </div>
    }
  </form>
</div>