<h4>Add/Edit Predictors</h4>
<br>

<div class="row" *ngIf="!predictorToDelete">
    <div class="col">
        <p class="bold">Predictor Name</p>
    </div>
    <div class="col-4">
        <p class="bold">Units</p>
    </div>
    <div class="col-2">
        <p class="bold">Production?</p>
    </div>
    <div class="col-1">
        <!-- <p class="bold">Delete</p> -->
    </div>
</div>

<form *ngIf="!predictorToDelete">
    <div class="row" *ngFor="let predictor of facilityPredictors">
        <div class="col">
            <input class="form-control" type="text" [(ngModel)]="predictor.name" name="{{'predictorName'+predictor.id}}"
                onfocus="this.select();" minlength="0" maxlength="100">
        </div>
        <div class="col-4">
            <input class="form-control" [(ngModel)]="predictor.unit" name="{{'predictorUnit'+predictor.id}}"
                onfocus="this.select();" minlength="0" maxlength="100">
        </div>
        <div class="col-2 text-center">
            <label class="switch" for="{{'predictor_'+predictor.id}}">
                <input class="checkbox" type="checkbox" id="{{'predictor_'+predictor.id}}"
                    name="{{'predictor_'+predictor.id}}" [(ngModel)]="predictor.production">
                <span class="slider round"></span>
            </label>
        </div>
        <div class="col-1">
            <button class="btn btn-small btn-danger m-0 item-right" (click)="deletePredictor(predictor)"><i
                    class="fa fa-trash red pointer"></i>
            </button>
        </div>
    </div>
</form>

<button *ngIf="!predictorToDelete" class="btn btn-sm action-btn" (click)="addPredictorEntry()"><i
        class="fa fa-plus"></i> Add Predictor</button>

<div class="saveCancel item-right" *ngIf="!predictorToDelete">
    <button class="btn btn-secondary" (click)="cancel()">Cancel</button>
    <button class="btn btn-primary" (click)="save()">Save</button>
</div>


<div *ngIf="predictorToDelete">
    <p class="alert-danger p-2 text-center">
        Are you sure you want to delete {{predictorToDelete.name}}? This cannot be undone.
    </p>
    <div class="saveCancel item-right">
        <button class="btn btn-secondary" (click)="cancelDelete()">Cancel</button>
        <button class="btn btn-small btn-danger" (click)="confirmDelete()">Confirm Delete</button>
    </div>
</div>