<div id="header" role="header">
    <div class="row resetmargin">
        <div class="col-2">
            <h2>VERIFI</h2>
        </div>
        <div class="col">
            <div class="searchBar">
                <i class="fa fa-search"></i>
                <input type="text" ng-model="searchBox" placeholder="Search Verifi">
            </div>
        </div>
        <div class="col-2">
            <div class="facilityMenu">
                <div class="currentFacility" (click)="toggleFacilityMenu()">
                    <i class="fa fa-fort-awesome"></i>
                    <span>General Motors</span>
                    <p>Plant 1 <i class="fa fa-caret-down"></i></p>
                </div>
                <div class="dropdown" [class.open]="facilityMenu == true">
                    <p><i class="fa fa-fort-awesome"></i> Plant 2</p>
                    <p><i class="fa fa-fort-awesome"></i> Plant 3</p>
                    <hr>
                    <p><i class="fa fa-plus"></i> Add New Facility</p>
                </div>
            </div>
        </div>
        <div class="col-1">
            <div class="accountMenu">
                <i class="fa fa-ellipsis-v" (click)="toggleAccountMenu()"></i>
                <div class="dropdown" [class.open]="accountMenu == true">
                    <div class="currentAccount" routerLink="/account/account">
                        <img src="https://placehold.it/50x50" alt="">
                        <p>General Motors</p>
                    </div>
                    <hr>
                    <a routerLink="/account/facility">Manage Facility</a>
                    <br>
                    <a (click)="toggleManageAccountsMenu()">Manage Accounts</a>
                    <p>Settings</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="manageAccounts" [class.open]="manageAccountMenu == true">
<h5>Choose an Account</h5>
    <div class="account" (click)="toggleManageAccountsMenu()">
        <img src="https://placehold.it/50x50">
        <p class="company">General Motors</p>
        <p class="facilityCount">43 Facilities</p>
        <i class="fa fa-check"></i>
    </div>

    <hr>
    <button class="btn btn-link" (click)="toggleManageAccountsMenu()"><i class="fa fa-plus"></i> Add Account</button>
</div>
<div id="darkoverlay" [class.open]="manageAccountMenu == true" (click)="toggleManageAccountsMenu()"></div>