.sub-column{
    margin-left: 7px;
}

.checkbox-input {
  width: 1.3em;
  height: 1.3em;
}

.checkbox-label {
  font-size: 1.2rem;
  margin-left: 0.5em;
  vertical-align: middle;
}

a.click-link .fa{
  color: inherit;
}

a.click-link-danger .fa{
  color: red;
}