<h4>Edit Facility</h4>
<br>

<form [formGroup]="facilityForm">
    <label>Building / Area
        <input type="text" formControlName="name">
    </label>
    <br>
    <label>County
        <input type="text" formControlName="country">
    </label>
    <br>
    <label>State
        <input type="text" formControlName="state">
    </label>
    <br>
    <label>Address
        <input type="address" formControlName="address" autocomplete="shipping street-address">
    </label>
    <br>
    <label>Business Type
        <input type="text" formControlName="type">
    </label>
    <br>
    <label>Teir
        <input type="text" formControlName="tier">
    </label>
    <br>
    <label>Size
        <input type="text" formControlName="size">
    </label>
    <br>
    <label>Division
        <input type="text" formControlName="division">
    </label>
    <br>
    <label>Units of Measure
        <select formControlName="unitsOfMeasure" (change)="setUnitsOfMeasure()">
            <option [ngValue]="'Imperial'">Imperial</option>
            <option [ngValue]="'Metric'">Metric</option>
            <option [ngValue]="'Custom'">Custom</option>
        </select>
    </label>
    <br>
    <label>Energy Unit
        <select formControlName="energyUnit" (change)="checkCustom()">
            <option *ngFor="let energyUnitOption of energyUnitOptions" [ngValue]="energyUnitOption.value"><span
                    [innerHTML]="energyUnitOption.display"></span></option>
        </select>
    </label>
    <br>
    <label>Liquid Volume Unit
        <select formControlName="volumeLiquidUnit" (change)="checkCustom()">
            <option *ngFor="let volumeUnitOption of volumeLiquidOptions" [ngValue]="volumeUnitOption.value"><span
                    [innerHTML]="volumeUnitOption.display"></span></option>
        </select>
    </label>
    <br>
    <label>Gas Volume Unit
        <select formControlName="volumeGasUnit" (change)="checkCustom()">
            <option *ngFor="let volumeUnitOption of volumeGasOptions" [ngValue]="volumeUnitOption.value"><span
                    [innerHTML]="volumeUnitOption.display"></span></option>
        </select>
    </label>
    <!-- <br>
        <label>Size Unit
            <select formControlName="sizeUnit" (change)="checkCustom()">
                <option *ngFor="let sizeUnitOption of sizeUnitOptions" [ngValue]="sizeUnitOption.value">
                    <span [innerHTML]="sizeUnitOption.display"></span></option>
            </select>
        </label> -->
    <br>
    <label>Mass Unit
        <select formControlName="massUnit" (change)="checkCustom()">
            <option *ngFor="let massUnitOption of massUnitOptions" [ngValue]="massUnitOption.value">
                <span [innerHTML]="massUnitOption.display"></span></option>
        </select>
    </label>
</form>

<div class="saveCancel item-right">
    <button class="btn btn-secondary" (click)="cancel()">Cancel</button>
    <button class="btn btn-primary" (click)="save()">Save</button>
</div>