i.fa-industry{
    font-size: 1.25rem;
    padding-right: .5rem;
}

.radio-td{
    width: 15px;
}

.fa.fa-exclamation-circle, .banner a.nav-link:not(.active) .fa.fa.fa-exclamation-circle{
    color: red;
}