.navbar {
    background-color: white;
    width: 250px;
    overflow-y: auto;
}

.nav-link.active {
    background-color: #efefef;
    font-weight: bolder;
}

.nav-link {
    padding-left: 3px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.sidebar-section {
    border-left: groove 1px;
    margin-left: .5rem;
    padding-left: .5rem;
}


a {
    color: black !important;
}

a:hover {
    color: black !important;
    text-decoration: underline !important;
    cursor: pointer;
}