<div class="d-flex justify-content-end pb-1">
    <button class="btn btn-sm btn-secondary" (click)="closeEmissionsRates()">&times;</button>
</div>
@if (selectedSubregionEmissions) {
    <div class="d-flex flex-column">
        @if (selectedSubregionEmissions.locationEmissionRates.length != 0) {
        <table class="table table-sm table-bordered mb-0">
            <thead>
                <tr>
                    <th colspan="4">
                        {{eGridSubregion}} Location Emission Rates
                    </th>
                </tr>
                <tr>
                    <th
                        [ngClass]="{'w-50': selectedSubregionEmissions.directEmissionsRate, 'w-25': !selectedSubregionEmissions.directEmissionsRate}">
                        Year
                    </th>
                    @if (!selectedSubregionEmissions.directEmissionsRate) {
                        <th class="w-25">
                            CO<sub>2</sub> <br>(kg CO<sub>2</sub>/MWh)
                        </th>
                        <th class="w-25">
                            CH<sub>4</sub> <br>(g CH<sub>4</sub>/MWh)
                        </th>
                        <th class="w-25">
                            N<sub>2</sub>O <br>(g N<sub>2</sub>O/MWh)
                        </th>
                    } @else {
                        <th>
                            Emissions Rate <br>(kg CO<sub>2</sub>/kWh)
                        </th>
                    }
                </tr>
            </thead>
            <tbody>
                @for (emissionRate of selectedSubregionEmissions.locationEmissionRates  | orderBy: 'year': 'asc'; track emissionRate) {
                <tr>
                    <td>
                        {{emissionRate.year}}
                    </td>
                    @if (!selectedSubregionEmissions.directEmissionsRate) {
                        <td>
                            {{emissionRate.CO2 | number}}
                        </td>
                        <td>
                            {{emissionRate.CH4 | number}}
                        </td>
                        <td>
                            {{emissionRate.N2O | number}}
                        </td>
                    } @else {
                        <td>
                            {{emissionRate.co2Emissions | number}}
                        </td>
                    }
                </tr>
                }
            </tbody>
        </table>
        }
        @if (selectedSubregionEmissions.locationEmissionRates.length == 0) {
        <div class="alert alert-warning">
            No location emissions found for this region.
        </div>
        }
        <hr class="my-1">
        @if (selectedSubregionEmissions.residualEmissionRates.length != 0) {
        <table class="table table-sm table-bordered">
            <thead>
                <tr>
                    <th colspan="4">
                        {{eGridSubregion}} Residual Emission Rates
                    </th>
                </tr>
                <tr>
                    <th
                        [ngClass]="{'w-50': selectedSubregionEmissions.directEmissionsRate, 'w-25': !selectedSubregionEmissions.directEmissionsRate}">
                        Year
                    </th>
                    @if (!selectedSubregionEmissions.directEmissionsRate) {
                        <th class="w-25">
                            CO<sub>2</sub> <br>(kg CO<sub>2</sub>/MWh)
                        </th>
                        <th class="w-25">
                            CH<sub>4</sub> <br>(g CH<sub>4</sub>/MWh)
                        </th>
                        <th class="w-25">
                            N<sub>2</sub>O <br>(g N<sub>2</sub>O/MWh)
                        </th>
                    } @else {
                        <th>
                            Emissions Rate <br>(kg CO<sub>2</sub>/kWh)
                        </th>
                    }
                </tr>
            </thead>
            <tbody>
                @for (emissionRate of selectedSubregionEmissions.residualEmissionRates  | orderBy: 'year': 'asc'; track emissionRate) {
                <tr>
                    <td>
                        {{emissionRate.year}}
                    </td>
                    @if (!selectedSubregionEmissions.directEmissionsRate) {
                        <td>
                            {{emissionRate.CO2 | number}}
                        </td>
                        <td>
                            {{emissionRate.CH4 | number}}
                        </td>
                        <td>
                            {{emissionRate.N2O | number}}
                        </td>
                    } @else {
                        <td>
                            {{emissionRate.co2Emissions | number}}
                        </td>
                    }
                </tr>
                }
            </tbody>
        </table>
        }
        @if (selectedSubregionEmissions.residualEmissionRates.length == 0) {
        <div class="alert alert-warning">
            No residual emissions found for this region.
        </div>
        }
    </div>
}