<div class="filter">
    <button class="btn" [ngClass]="{'btn-solid' : !showFilterDropdown, 'btn-outline' : showFilterDropdown}"
        (click)="toggleFilterMenu()">
        Choose Columns
    </button>
    <div class="filter-dropdown" *ngIf="showFilterDropdown">
        <p class="small">Choose Table Columns</p>
        <div class="row">
            <div class="col">
                <label class="bold">
                    <input type="checkbox" name="energy" [(ngModel)]="monthlyTableColumns.energy"
                        (change)="toggleEnergyColumns()">Energy Columns
                </label>
                <label>
                    <input type="checkbox" name="actualEnergy" [(ngModel)]="monthlyTableColumns.actualEnergy"
                        (change)="save()">Actual Energy Use
                </label>
                <label>
                    <input type="checkbox" name="modeledEnergy" [(ngModel)]="monthlyTableColumns.modeledEnergy"
                        (change)="save()">Modeled Energy Use
                </label>
                <label>
                    <input type="checkbox" name="adjustedEnergy" [(ngModel)]="monthlyTableColumns.adjustedEnergy"
                        (change)="save()">Adjusted Energy Use
                </label>


            </div>
            <div class="col">
                <label class="bold">
                    <input type="checkbox" name="productionVariables"
                        [(ngModel)]="monthlyTableColumns.productionVariables"
                        (change)="toggleAllPredictors()">Production Variables
                </label>
                <label *ngFor="let predictorOption of monthlyTableColumns.predictors">
                    <input type="checkbox" name="productionVariables" [(ngModel)]="predictorOption.display"
                        (change)="save()">{{predictorOption.predictor.name}} <span
                        *ngIf="predictorOption.usedInAnalysis">&#42;</span>
                </label>
            </div>
            <div class="col">
                <label class="bold">
                    <input type="checkbox" name="incrementalImprovement"
                        [(ngModel)]="monthlyTableColumns.incrementalImprovement"
                        (change)="toggleIncrementalImprovement()">
                    Incremental Improvement
                </label>
                <label>
                    <input type="checkbox" name="SEnPI" [(ngModel)]="monthlyTableColumns.SEnPI" (change)="save()">SEnPI
                </label>
                <label>
                    <input type="checkbox" name="savings" [(ngModel)]="monthlyTableColumns.savings"
                        (change)="save()">Savings
                </label>
                <label>
                    <input type="checkbox" name="percentSavingsComparedToBaseline"
                        [(ngModel)]="monthlyTableColumns.percentSavingsComparedToBaseline" (change)="save()">% Savings
                </label>
                <label>
                    <input type="checkbox" name="yearToDateSavings" [(ngModel)]="monthlyTableColumns.yearToDateSavings"
                        (change)="save()">YTD Savings
                </label>
                <label>
                    <input type="checkbox" name="yearToDatePercentSavings"
                        [(ngModel)]="monthlyTableColumns.yearToDatePercentSavings" (change)="save()">YTD % Savings
                </label>
                <label>
                    <input type="checkbox" name="rollingSavings" [(ngModel)]="monthlyTableColumns.rollingSavings"
                        (change)="save()">Rolling Savings
                </label>
                <label>
                    <input type="checkbox" name="rolling12MonthImprovement"
                        [(ngModel)]="monthlyTableColumns.rolling12MonthImprovement" (change)="save()">Rolling 12-Month
                    Improvement
                </label>

            </div>
        </div>
        <br>
        <a (click)="showAllColumns();">Show All</a>
        <span> / </span>
        <a (click)="hideAllColumns();">Hide All</a>
    </div>
</div>