<p class="bold">General Information</p>
<form class="meterForm" [formGroup]="meterDataForm">

  <div class="row">
    <div class="col-6">
      <label for="readDate">Meter Read Date <span class="required">*</span> </label>
      <div class="input-group mb-3">
        <input id="readDate" class="form-control" type="date" formControlName="readDate" (change)="checkDate()"
          [ngClass]="{'error': invalidDate}">
      </div>
      @if (meterDataForm.get('readDate').hasError('required')) {
        <div class="alert alert-danger">Meter read date is
        required</div>
      }
      @if (meterDataForm.get('readDate').hasError('maxDate')) {
        <div class="alert alert-danger">Meter read date exceeds
        maximum read date.</div>
      }
      @if (meterDataForm.get('readDate').hasError('minDate')) {
        <div class="alert alert-danger">Meter read date is before
        minimum read date.</div>
      }
      @if (invalidDate) {
        <div class="alert alert-danger">Meter already has data entered for selected date</div>
      }
    </div>
    <div class="col-6">
      <label for="isEstimated">Is Estimated Reading?</label>
      <select class="form-select" name="isEstimated" id="isEstimated" formControlName="isEstimated">
        <option class="form-control" [ngValue]="true">Yes</option>
        <option class="form-control" [ngValue]="false">No</option>
      </select>
    </div>
  </div>

  <div class="row">
    @if (displayVolumeInput) {
      <div class="col-md-6 col-sm-12">
        <label for="totalVolume">Total Volume <span class="required">*</span></label>
        <div class="input-group mb-3">
          <input id="totalVolume" class="form-control" type="number" formControlName="totalVolume"
            (input)="calculateTotalEnergyUse()" [class.warning]="meterDataForm.controls.totalVolume.value === 0"
            onfocus="this.select();" min="0" max="999999999999999">
          <span class="input-group-text" [innerHTML]="volumeUnit | settingsLabel"></span>
        </div>
        @if (meterDataForm.get('totalVolume').hasError('required')) {
          <div class="alert alert-danger">Total Volume is
          required</div>
        }
        @if (meterDataForm.get('totalVolume').hasError('min')) {
          <div class="alert alert-danger">Can't be less than 0
          </div>
        }
        @if (meterDataForm.controls.totalVolume.value === 0) {
          <div class="alert alert-warning">Total Volume should be
            greater
          than 0</div>
        }
      </div>
    }

    @if (displayEnergyUse) {
      <div class="col-md-6 col-sm-12">
        <label for="totalEnergyUse">Total Energy Use <span class="required">*</span></label>
        <div class="input-group mb-3">
          <input id="totalEnergyUse" class="form-control" type="number" formControlName="totalEnergyUse"
            onfocus="this.select();" max="999999999999999" (input)="setTotalEmissions()">
          <span class="input-group-text" [innerHTML]="energyUnit | settingsLabel"></span>
        </div>
        @if (meterDataForm.get('totalEnergyUse').hasError('required')) {
          <div class="alert alert-danger">Total energy use
            is
          required</div>
        }
      </div>
    }

    @if (displayHeatCapacity) {
      <div class="col-md-6 col-sm-12">
        <label for="heatCapacity">Heat Capacity <span class="required">*</span></label>
        <div class="input-group mb-3">
          <span class="input-group-text p-0">
            @if (usingMeterHeatCapacity) {
              <button class="btn btn-sm" (click)="editHeatCapacity()">
                <span class="fa fa-edit"></span>
              </button>
            }
            @if (!usingMeterHeatCapacity) {
              <button class="btn btn-sm" (click)="useMeterHeatCapacity()">
                <span class="fa fa-undo"></span>
              </button>
            }
          </span>
          <input id="heatCapacity" class="form-control" type="number" formControlName="heatCapacity"
            onfocus="this.select();" min="0" max="999999999999999" (input)="calculateTotalEnergyUse()">
          <span class="input-group-text"><span [innerHTML]="editMeter.energyUnit | settingsLabel"></span>/<span
        [innerHTML]="editMeter.startingUnit | settingsLabel"></span>
      </span>
    </div>
    @if (meterDataForm.get('heatCapacity').hasError('required')) {
      <div class="alert alert-danger">Total heat
        capacity
        is
      required</div>
    }
    @if (meterDataForm.get('heatCapacity').hasError('min')) {
      <div class="alert alert-danger">Can't be less than 0
      </div>
    }
    @if (!usingMeterHeatCapacity) {
      <div class="alert alert-info">
        Custom heat capacity set for this reading. Click "<span class="fa fa-undo"></span>" to use the meter's heat
        capacity.
      </div>
    }
  </div>
}

@if (showEmissions && emissionsResults) {
  @if (showStationaryEmissions) {
    <div class="col-md-6 col-sm-12">
      <table class="table table-sm table-bordered">
        <tbody>
          @if (!isBiofuel) {
            <tr>
              <th>
                Carbon Emissions
              </th>
              <td>
                {{emissionsResults.stationaryCarbonEmissions| number:'1.0-2'}} tonne CO<sub>2</sub>e
              </td>
            </tr>
          }
          @if (isBiofuel) {
            <tr>
              <th>
                Biogenic Emissions
              </th>
              <td>
                {{emissionsResults.stationaryBiogenicEmmissions| number:'1.0-2'}} tonne CO<sub>2</sub>e
              </td>
            </tr>
          }
          <tr>
            <th>
              Other Emissions
            </th>
            <td>
              {{emissionsResults.stationaryOtherEmissions| number:'1.0-2'}} tonne CO<sub>2</sub>e
            </td>
          </tr>
          <tr>
            <th>
              Total Emissions
            </th>
            <td>
              {{emissionsResults.stationaryEmissions| number:'1.0-2'}} tonne CO<sub>2</sub>e
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  }
  @if (showScope2OtherEmissions) {
    <div class="col-md-6 col-sm-12">
      <label for="marketEmissions">
        Total Other Scope 2 Emissions
      </label>
      <div class="input-group mb-3">
        {{emissionsResults.otherScope2Emissions| number:'1.0-0'}} tonne CO<sub>2</sub>e
      </div>
    </div>
  }
}
</div>
<label for="totalCost">Total Cost</label>
<div class="input-group mb-3">
  <input id="totalCost" class="form-control" type="number" formControlName="totalCost" onfocus="this.select();"
    min="0" max="999999999999999">
  <span class="input-group-text">$</span>
</div>
@if (meterDataForm.get('totalCost').hasError('required')) {
  <div class="alert alert-danger">Total cost is required
  </div>
}
@if (meterDataForm.get('totalCost').hasError('min')) {
  <div class="alert alert-danger">Can't be less than 0</div>
}
@if (meterDataForm.controls.totalCost.value === 0) {
  <div class="alert alert-warning">Total cost should be greater
    than
  0</div>
}
</form>