<div class="wrapper main-content">
    <h4>Monthly Meter Data</h4>

    <div class="d-flex controls pb-0 justify-content-between">

        <!--Table/Chart Filters-->
        <app-calanderization-filter></app-calanderization-filter>

        <div class="d-flex">
            <!--Items Per Page-->
            <div class="items-per-page pull-right" *ngIf="dataDisplay == 'table'">
                <span>Show </span>
                <select [(ngModel)]="itemsPerPage">
                    <option [ngValue]=6>6</option>
                    <option [ngValue]=12>12</option>
                    <option [ngValue]=24>24</option>
                    <option [ngValue]=36>36</option>
                    <option [ngValue]=48>48</option>
                    <option [ngValue]=60>60</option>
                    <option [ngValue]=999999999999>All</option>
                </select>
            </div>
            <!--Chart Controls-->
            <div *ngIf="dataDisplay == 'graph'" class="pl-2">
                <span class="btn-label pr-2">Utility</span>
                <div class="btn-group pr-2 mr-2">
                    <button class="btn" [ngClass]="{'btn-solid-utility': displayGraphEnergy == 'bar'}"
                        (click)="setDisplayGraphEnergy('bar')"><span class="fa fa-bar-chart"></span></button>
                    <button class="btn" [ngClass]="{'btn-solid-utility': displayGraphEnergy == 'scatter'}"
                        (click)="setDisplayGraphEnergy('scatter')"><span class="fa fa-line-chart"></span></button>
                </div>

                <span class="btn-label pr-2">Cost</span>
                <div class="btn-group pr-2 mr-2">
                    <button class="btn" [ngClass]="{'btn-solid-cost': displayGraphCost == 'bar'}"
                        (click)="setDisplayGraphCost('bar')"><span class="fa fa-bar-chart"></span></button>
                    <button class="btn" [ngClass]="{'btn-solid-cost': displayGraphCost == 'scatter'}"
                        (click)="setDisplayGraphCost('scatter')"><span class="fa fa-line-chart"></span></button>
                </div>
            </div>
            <div class="btn-group">
                <button class="btn" [ngClass]="{'btn-solid': dataDisplay == 'table'}"
                    (click)="setDataDisplay('table')">Table</button>
                <button class="btn" [ngClass]="{'btn-solid': dataDisplay == 'graph'}"
                    (click)="setDataDisplay('graph')">Graph</button>
            </div>

            <div class="btn-group pl-2">
                <button class="btn" (click)="setFacilityEnergyIsSource(true)"
                    [ngClass]="{'btn-solid': selectedFacility.energyIsSource == true}">Source Energy</button>
                <button class="btn" (click)="setFacilityEnergyIsSource(false)"
                    [ngClass]="{'btn-solid': selectedFacility.energyIsSource == false}">Site Energy</button>
            </div>


        </div>
    </div>

    <div *ngIf="dataDisplay == 'table'">
        <div class="meter" *ngFor="let meterData of calanderizedMeterData; let index=index;">
            <div class="row">
                <div class="col table-responsive">
                    <table class="table table-sm">
                        <thead>
                            <tr class="table-mh">
                                <th colspan=5>{{meterData.meter.name}}
                                    <span class="item-right small">{{meterData.meter.source}}</span>
                                </th>
                            </tr>
                            <tr>
                                <th (click)="setOrderDataField('date')" [ngClass]="{'active': orderDataField == 'date'}"
                                    class="row-year">Month</th>
                                <th (click)="setOrderDataField('energyConsumption')"
                                    [ngClass]="{'active': orderDataField == 'energyConsumption'}"
                                    *ngIf="meterData.showConsumption">
                                    Total Consumption<br> (<span
                                        [innerHTML]="meterData.consumptionUnit | settingsLabel"></span>)</th>
                                <th (click)="setOrderDataField('energyUse')"
                                    [ngClass]="{'active': orderDataField == 'energyUse'}"
                                    *ngIf="meterData.showEnergyUse">
                                    Total Energy<br> (<span [innerHTML]="meterData.energyUnit | settingsLabel"></span>)
                                </th>
                                <th (click)="setOrderDataField('emissions')"
                                    [ngClass]="{'active': orderDataField == 'emissions'}"
                                    *ngIf="meterData.showEmissions">
                                    Total Emissions<br> (kg CO<sub>2</sub>)
                                </th>
                                <th (click)="setOrderDataField('energyCost')"
                                    [ngClass]="{'active': orderDataField == 'energyCost'}">Total Cost</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="meterData.meter.meterReadingDataApplication">
                            <tr *ngFor="let data of meterData.monthlyData| orderBy: orderDataField: orderByDirection | slice: ((tablePageNumbers[index]-1) * itemsPerPage): tablePageNumbers[index] * itemsPerPage"
                                [ngClass]="{'use-and-consumption': data.energyConsumption && data.energyUse}">
                                <td>{{data.date | date: 'MMMM, y'}}</td>
                                <td *ngIf="meterData.showConsumption">
                                    <span *ngIf="data.energyConsumption">{{data.energyConsumption |customNumber}}</span>
                                    <span *ngIf="!data.energyConsumption">N/A</span>
                                </td>
                                <td *ngIf="meterData.showEnergyUse">
                                    <span *ngIf="data.energyUse">{{data.energyUse | customNumber}}</span>
                                    <span *ngIf="!data.energyUse">N/A</span>
                                </td>
                                <td *ngIf="meterData.showEmissions">
                                    <span *ngIf="data.emissions">{{data.emissions | number:'1.0-0'}}</span>
                                    <span *ngIf="!data.emissions">N/A</span>
                                </td>
                                <td>
                                    <span *ngIf="data.energyCost">{{data.energyCost | customNumber:true}}</span>
                                    <span *ngIf="!data.energyCost">N/A</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="p-2 text-center select-calanderization"
                        *ngIf="!meterData.meter.meterReadingDataApplication">
                        <button class="btn btn-primary mr-3" (click)="showDataApplicationModal(meterData.meter)">
                            View Calanderization Modal
                        </button>
                        <button class="btn btn-primary mr-3" (click)="setCalanderizeData(meterData.meter, 'backward')">
                            Calanderize Meter
                        </button>
                        <button class="btn btn-primary mr-3" (click)="setCalanderizeData(meterData.meter, 'fullMonth')">
                            Do Not Calanderize
                        </button>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="tableControls overflow-hidden" *ngIf="meterData.meter.meterReadingDataApplication">
                <a (click)="showDataApplicationModal(meterData.meter)">Set Calendarization Method</a>
                <div class="item-right">
                    <ngb-pagination [collectionSize]="meterData.monthlyData.length" [(page)]="tablePageNumbers[index]"
                        [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" aria-label="Default pagination">
                    </ngb-pagination>
                </div>
                <p class="item-right">{{meterData.monthlyData.length}} entries</p>
            </div>
        </div>
    </div>

    <div *ngIf="dataDisplay == 'graph'">
        <br><br>
        <div class="meter" *ngFor="let meterData of calanderizedMeterData; let index=index;">
            <app-calanderization-chart *ngIf="meterData.meter.meterReadingDataApplication" [meterData]="meterData"
                [displayGraphEnergy]="displayGraphEnergy" [displayGraphCost]="displayGraphCost">
            </app-calanderization-chart>
            <div class="col table-responsive" *ngIf="!meterData.meter.meterReadingDataApplication">
                <table class="table table-sm">
                    <thead>
                        <tr class="table-mh">
                            <th colspan=5>{{meterData.meter.name}}
                                <span class="item-right small">{{meterData.meter.source}}</span>
                            </th>
                        </tr>
                    </thead>
                </table>
                <div class="p-2 text-center select-calanderization">
                    <button class="btn btn-primary mr-3" (click)="showDataApplicationModal(meterData.meter)">
                        View Calanderization Modal
                    </button>
                    <button class="btn btn-primary mr-3" (click)="setCalanderizeData(meterData.meter, 'backward')">
                        Calanderize Meter
                    </button>
                    <button class="btn btn-primary mr-3" (click)="setCalanderizeData(meterData.meter, 'fullMonth')">
                        Do Not Calanderize
                    </button>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="popup calanderization" [class.open]="dataApplicationMeter">
    <div class="popup-header" *ngIf="dataApplicationMeter">Select Calendarization Method:
        {{dataApplicationMeter.name}}
        <button class="item-right" (click)="cancelSetDataApplication()">x</button>
    </div>
    <div class="popup-body" *ngIf="dataApplicationMeter">
        <app-data-application-menu [meter]="dataApplicationMeter"></app-data-application-menu>
    </div>
    <div class="saveCancel popup-footer text-right">
        <button class="btn btn-secondary" (click)="cancelSetDataApplication()">Cancel</button>
        <button class="btn btn-success" (click)="setDataApplication()">Submit</button>
    </div>
</div>