.btn-group, .btn-group-vertical {
    display: inline-block!important;
}

.btn.btn-solid span.fa{
    color: white;
}

.button-label{
    font-size: 24px;
    padding-right: .5rem;
    padding-top: .25rem;
}
.btn-solid-utility span,
.btn-solid-cost span {
    color: #fff !important;
}

/* .btn-solid-utility {
    background-color: #1f78b4 !important;
    border-color: #1f78b4 !important;
    border: 1px solid #09619c!important;
}

.btn-solid-cost {
    background-color: #ff7f0f !important;
    border-color: #ff7f0f !important;
    border: 1px solid #e46c04!important;
} */


.popup.calanderization{
    top: 30px;
    left: 35px;
    right: 35px;
    width: auto;
    max-height: 90vh;
    overflow-y: auto;
}

.btn-label{
    font-size: 16px;
}

.content-padding{
    padding: 20px 30px;
    height: calc(100vh - 290px);
    overflow-y: auto;

}

.nav-tabs{
    background-color: #f1f1f1;
}


.nav-tabs .nav-link:not(.active){
    background-color: #2c386b;
    color: white;
    border: solid 1px white;
}


a:not([href]){
    color: white !important;
}

.nav-tabs a:not([href]).nav-link.active{
    color: #ff6000 !important;
    background-color: white;
}

.nav-link{
    font-weight: 600;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-link.active i.fa{
    color: #ff6000;
}


.nav-tabs .nav-link i.fa{
    color: white;
}