<div class="d-flex w-100 justify-content-between">
    <div>
        <app-utility-meter-data-filter *ngIf="editMeter.source == 'Electricity'" [source]="'Electricity'">
        </app-utility-meter-data-filter>
    </div>
    <div class="saveCancel item-right">
        <button class="btn btn-secondary" (click)="cancel()">Cancel</button>
        <button *ngIf="addOrEdit == 'edit'" class="btn btn-primary" (click)="saveAndQuit()"
            [disabled]="meterDataForm.invalid || invalidDate">Save</button>
        <button *ngIf="addOrEdit == 'add'" class="btn btn-primary me-2" (click)="saveAndQuit()"
            [disabled]="meterDataForm.invalid || invalidDate">Save + Quit</button>
        <button *ngIf="addOrEdit == 'add'" class="btn btn-primary" (click)="saveAndAddAnother()"
            [disabled]="meterDataForm.invalid || invalidDate">Save +
            Add Another</button>
    </div>
</div>
<hr>

<app-edit-electricity-bill *ngIf="editMeter.source == 'Electricity'" [editMeterData]="editMeterData"
    [addOrEdit]="addOrEdit" [editMeter]="editMeter" [meterDataForm]="meterDataForm" [invalidDate]="invalidDate">
</app-edit-electricity-bill>
<app-edit-utility-bill *ngIf="editMeter.source != 'Electricity'" [editMeterData]="editMeterData" [addOrEdit]="addOrEdit"
    [editMeter]="editMeter" [displayVolumeInput]="displayVolumeInput" [displayEnergyUse]="displayEnergyUse"
    [meterDataForm]="meterDataForm" [invalidDate]="invalidDate">
</app-edit-utility-bill>