<div class="d-flex w-100 justify-content-between">
    <div>
        <app-utility-meter-data-filter *ngIf="editMeter.source == 'Electricity'" [meter]="editMeter">
        </app-utility-meter-data-filter>
    </div>
    <div class="saveCancel item-right">
        <button class="btn btn-secondary" (click)="cancel()">Cancel</button>
        <button *ngIf="addOrEdit == 'edit'" class="btn btn-primary" (click)="saveAndQuit()"
            [disabled]="meterDataForm.invalid || invalidDate">Save</button>
        <button *ngIf="addOrEdit == 'add'" class="btn btn-primary me-2" (click)="saveAndQuit()"
            [disabled]="meterDataForm.invalid || invalidDate">Save + Quit</button>
        <button *ngIf="addOrEdit == 'add'" class="btn btn-primary" (click)="saveAndAddAnother()"
            [disabled]="meterDataForm.invalid || invalidDate">Save +
            Add Another</button>
    </div>
</div>
<hr>

<app-edit-electricity-bill *ngIf="editMeter.source == 'Electricity'" [editMeterData]="editMeterData"
    [addOrEdit]="addOrEdit" [editMeter]="editMeter" [meterDataForm]="meterDataForm" [invalidDate]="invalidDate">
</app-edit-electricity-bill>
<app-edit-utility-bill
    *ngIf="editMeter.source != 'Electricity' && editMeter.scope != 2 && editMeter.scope != 5 && editMeter.scope != 6"
    [editMeterData]="editMeterData" [addOrEdit]="addOrEdit" [editMeter]="editMeter"
    [displayVolumeInput]="displayVolumeInput" [displayEnergyUse]="displayEnergyUse" [meterDataForm]="meterDataForm"
    [invalidDate]="invalidDate" [displayHeatCapacity]="displayHeatCapacity">
</app-edit-utility-bill>
<app-edit-vehicle-meter-bill *ngIf="editMeter.source != 'Electricity' && editMeter.scope == 2"
    [editMeterData]="editMeterData" [addOrEdit]="addOrEdit" [editMeter]="editMeter" [meterDataForm]="meterDataForm"
    [invalidDate]="invalidDate" [displayVehicleFuelEfficiency]="displayVehicleFuelEfficiency">
</app-edit-vehicle-meter-bill>
<app-edit-other-emissions-bill
    *ngIf="editMeter.source != 'Electricity' && (editMeter.scope == 5 || editMeter.scope == 6)"
    [editMeterData]="editMeterData" [addOrEdit]="addOrEdit" [editMeter]="editMeter" [meterDataForm]="meterDataForm"
    [invalidDate]="invalidDate">
</app-edit-other-emissions-bill>

<div class="shadow-sm p-3 mb-3 mt-3 bg-light rounded" *ngIf="isElectron">
    <div class="align-items-center justify-content-center">
        <h4 class="text-center">
            <span class="fa-solid fa-link me-2"></span>
            Connect Utility Bill
        </h4>
        <div class="mb-3 text-center fw-bold">
            The utility bill connected to this meter will be copied to 'C:\Users\&lt;USERNAME&gt;\Documents\VERIFI
            Utility Bills'
        </div>
        <ng-container *ngIf="!savedUtilityFilePath || utilityFileDeleted">
            <div class="text-center">
                <button class="btn btn-outline mt-2" (click)="uploadBill()">
                    Connect Bill
                </button>
            </div>
        </ng-container>
        <ng-container *ngIf="savedUtilityFilePath && !utilityFileDeleted">
            <div class="alert alert-success mt-3 text-center">
                The selected file is available at: &nbsp;
                <a class="click-link" (click)="openBillLocation()">{{ savedUtilityFilePath }}</a>
            </div>
        </ng-container>
        <ng-container *ngIf="utilityFileDeleted">
            <div class="alert alert-danger mt-3 text-center">
                The file has been deleted from the location {{ deletedPath }}
            </div>
        </ng-container>
    </div>
</div>