<div *ngIf="!inDashboard" class="fixed-bottom footer-nav pb-3" [ngClass]="{'sidebar-open': sidebarOpen, 'help-panel-open': helpPanelOpen}">
    <div class="d-flex flex-fill justify-content-between pe-3 ps-3">
        <div>
            <button class="btn" (click)="goBack()"><span class="fa fa-chevron-left pe-1"></span>Back </button>
        </div>
        <div class="analysis-name">
            {{analysisItem.name}}
        </div>
        <div>
            <button *ngIf="showContinue" class="btn" (click)="continue()">Continue<span class="fa fa-chevron-right ps-1"></span></button>
            <button *ngIf="!showContinue" class="btn" (click)="returnToDashboard()">
                <i class="fa fa-list"></i> All Account Analysis
            </button>
        </div>
    </div>
</div>