<div *ngIf="!inDashboard" class="fixed-bottom footer-nav" [ngClass]="{'sidebar-open': sidebarOpen, 'help-panel-open': helpPanelOpen}">
    <div class="d-flex flex-fill justify-content-between pe-3 ps-3">
        <div>
            <button class="btn" (click)="goBack()"><span class="fa fa-chevron-left pe-1"></span>Back </button>
        </div>
        <div>
            <button class="btn" (click)="continue()">Continue<span class="fa fa-chevron-right ps-1"></span></button>
        </div>
    </div>
</div>