/*
Content Container
=============================================== */
.min-height-100 {
    min-height: calc(100vh - 95px);
  }
  .resetmargin {
    margin: 0 !important;
  }
  .wrapper {
    background-color: white;
    margin: 30px;
    padding: 20px 30px 30px;
  }
  .wrapper.help-panel {
    margin-left: 0px;
  }
  .wrapper.main-content {
    margin-right: 0px;
    min-height: calc(100vh - 225px);
  }
  .help-panel.tab-margin {
    margin-top: 65px;
  }