.data-wizard-content{
    /* height: calc(100% - 4rem); */
    height: 100%;
    overflow-y: auto;
}

.data-wizard-content .form-paper{
    /* min-height: 100%; */
    background-color: white;
    padding: 1rem;
}

.data-wizard-footer.navbar{
    height: 4rem;
    background-color: #ff6000 !important;
    /* opacity: .5; */
}

/* .setup-wizard-footer.navbar:hover{
    opacity: 1;
} */


/* .data-wizard-content .fa{
    color: white;
} */