.data-wizard-content{
    height: 100%;
    /* height: 100%; */
    overflow-y: auto;
}

.data-wizard-content .form-paper{
    min-height: 100%;
    background-color: white;
    padding: 1rem;
}

.data-wizard-footer.navbar{
    height: 4rem;
    background-color: #808B96 !important;
    /* opacity: .5; */
}

/* .setup-wizard-footer.navbar:hover{
    opacity: 1;
} */


.data-wizard-footer .fa{
    color: white;
}