
/*
HTML Elements
========================================================= */
/* html,
body {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, "Helvetica Neue", sans-serif;
} */
.item-right {
  float: right;
}
.item-left {
  float: left;
}
.no-margin {
  margin: 0 !important;
  padding: 0 !important;
}
.full-width {
  width: 100%;
}
.three-quarter-width {
  width: 75%;
}
.spacer {
  margin: 0px 10px;
}


.copying-table br{
  display: none;
}

a.click-link{
  color: #007bff;
  font-size: small;
  text-decoration: none;
}

a.click-link:hover{
  cursor: pointer;
  text-decoration: underline;
}