/*
Meter Displays
=============================================== */
.meter {
    margin-bottom: 50px;
  }
  .meter.collapsed {
    margin-bottom: 0px;
  }
  i.fa.fa-arrow-circle-up {
    color: green;
  }
  i.fa.fa-arrow-circle-down {
    color: red;
  }