/*
Popups & Windows
======================================================== */
.window {
    position: relative;
    z-index: 1000;
    display: none;
  }
  .window.open {
    position: relative;
    z-index: 1000;
    display: block;
  }
  .windowOverlay {
    position: fixed;
    background-color: black;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    opacity: 0.8;
  }
  .windowContent {
    position: fixed;
    background-color: white;
    top: 3%;
    width: 500px;
    left: calc(50% - 250px);
    box-shadow: -3px 4px 8px #0000001c;
    border: 1px solid white;
    padding: 30px;
    border-radius: 3px;
  }
  .windowContentMed {
    width: 600px;
    left: calc(50% - 300px);
  }
  .windowContentLg {
    width: 800px;
    left: calc(50% - 400px);
  }
  .windowContentXLg {
    width: 90%;
    left: 5%;
  }
  .windowContentScroll {
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0px;
    padding: 0 30px 0 0;
    max-height: calc(100vh - 375px);
  }
  .windowContentScroll form {
    padding: 0 2px;
  }
  
  .importMeterWindowContent{
    top: 5%;
    left: 5%;
    right: 5%;
    width: auto;
    bottom: 5%;
  }
  
  .popup {
    border-style: solid;
    border: 1px solid #ffffff;
    border-radius: 3px;
    box-shadow: 0px 0px 10px #0000003d;
    z-index: 9999;
  }
  .popup-header {
    color: white;
    padding: 10px;
    background-color: #2c386b;
    font-weight: bold;
    border-radius: 3px 3px 0 0;
  }
  .popup-header button {
    border: none;
    background-color: transparent;
    color: white;
    font-weight: bold;
  }
  .popup-body {
    background-color: #ffffff;
    color: black;
    padding: 10px;
  }
  .popup-footer {
    padding: 0px 10px;
  }
  .popup-footer .btn:first-child {
    margin-right: 10px;
  }
  .popup {
    transform: scale(0);
    position: fixed;
    width: 500px;
    left: calc(50% - 250px);
    top: 20px;
    background-color: white;
    transition: 0.2s transform;
  }
  .popup.open {
    transform: scale(1);
  }