
/*
Account / Facility Profile Picture
=============================================== */
.profile-image img,
.profile-image form {
  width: 100%;
  max-width: 350px;
}
label.profile-image-input {
  cursor: pointer;
  background-color: #f1f1f1;
  width: 100%;
  max-width: 350px;
  padding: 5px 10px;
  transition: 0.5s all;
  font-size: 13px;
}
label.profile-image-input input {
  display: none;
  padding: 5px;
}
label.profile-image-input:hover {
  background-color: #ebeef3;
}
@media (max-width: 991px) {
  .profile-image img,
  .profile-image form {
    margin: 0 auto;
    display: block;
  }
}