/*
Section Headers
=========================================== */
.banner {
    background-color: #a7a7a7;
    padding: 15px 40px;
    overflow: hidden;
  }
  .banner h3 {
    margin: 0;
    color: white;
    float: left;
  }

  .help-panel h4{
      text-transform: none;
      padding: 5px 0px;
      border-bottom-color: #2C3E50;
  }