
/*
Sidebar
=========================================== */
.content {
    background-color: #f1f1f1;
    transition: 0.2s all;
  }
  .open .content {
    width: 100%;
  }
  @keyframes fadeInAnimation {
    0% {
      height: 0;
      opacity: 0;
      display: none;
    }
    50% {
      height: 0;
      opacity: 0;
      display: none;
    }
    100% {
      height: auto;
      opacity: 1;
      display: inline-block;
    }
  }