/*
TO SORT
=============================================== */

/*
.col.unitCurrency {
  width: 20px;
  max-width: 20px;
  padding: 0px;
}
.col.unitKwh {
  width: 39px;
  max-width: 39px;
  padding: 0px;
}
input.unitDollar {
  width: calc(70% - 20px);
}
*/
.wizard {
  overflow: hidden;
  position: fixed;
  bottom: 37px;
  left: 70px;
  z-index: 1;
  width: calc(100% - 80px);
  padding: 0px 30px;
  background-color: #2980b957;
  box-shadow: 3px -3px 9px #d4d4d4b0;
}
.controls {
  padding: 15px 0px;
  min-height: 75px;
}

.tableControls {
  padding: 4px 0px;
  margin: 0px;
}
.tableControls p {
  font-size: 12px;
  margin: 4px 10px 3px;
}
.meterData {
  overflow: hidden;
}
.importQuickView {
  width: 100%;
  overflow: scroll;
}
.section-name {
  text-transform: uppercase;
}
.meterData .section-name {
  margin: 5px 0px;
}
.breadcrumbs {
  background-color: #f5f5f5;
  padding: 5px 40px;
  border-bottom: 1px solid #e5e6e6;
}
.breadcrumbs a,
.breadcrumbs p {
  margin: 0px!important;
  text-transform: capitalize;
  font-size: 12px;
  padding: 5px 0;
  color: #5f5f5f;
}
.breadcrumbs i {
  margin: 0px 3px;
}
.breadcrumbs i.fa-angle-right {
  margin: 0px 10px;
}
.breadcrumbs select {
  border: none;
  background-color: #e6e6e6;
}
.measur-wrapper {
  background-color: #f1f1f100;
  margin: 0px 30px;
  padding: 20px 30px 30px;
  /* min-height: calc(100vh - 172px); */
  /* background-image: url('../assets/images/industrial-skyline.svg');
  background-position: bottom;
  background-repeat: no-repeat;
  position:relative; */
  /* z-index: 1; */
}

/*Added by mark for import-v2. Not sure correct place to put.*/
.scroll-item{
  overflow-y: auto;
  max-height: 100%;
}

.invalid-import-table .header-width{
  width: 15%;
}
li.disabled a{
  pointer-events: none;
  cursor: default;
  opacity: .7;
}

ngb-typeahead-window.dropdown-menu{
  z-index: 100000;
}

ngb-typeahead-window.dropdown-menu .dropdown-item.active{
  background-color: lightgray;
}

ngb-typeahead-window.dropdown-menu .badge, ngb-typeahead-window.dropdown-menu .template-text{
  font-size: 16px;
}


/*Scrollvar*/
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  /*background-color: rgba(0, 0, 0, 0.3);*/
  background-color: rgb(0 0 0 / 15%);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
body {
  /* Firefox */
  scrollbar-color: rgb(0 0 0 / 15%) transparent;
  scrollbar-width: thin;
}