/*
Tables
========================================= */


.table thead.sortable tr:not(.table-mh) th.active {
    text-decoration: underline;
}

.table thead.sortable tr:not(.table-mh) th:hover{
    cursor: pointer;
    text-decoration: underline;
}

.table .btn {
  margin-top: 0px;
  margin-bottom: 0px;
}

.table td.actions{
  text-align: center;
  width: 75px;
}

.table.utility-data thead tr {
  background-color: #e3e7ec;
}

.table.utility-data {
  vertical-align: middle;
}

.table.utility-data td.input, .table.utility-data th.input{
  text-align: center;
}

.table.utility-data thead .table-mh th, 
.table.utility-data thead .table-mh th span {
  background-color: #2c386b;
  color: #ffffff;
}


.table.utility-data thead .table-mh th {
  border: 1px solid #c2ccda;
}


.account .table.utility-data thead .table-mh th, .account .table.utility-data thead .table-mh th span{
  background-color: #145A32;
}

  .report.performance-report table.table td, .report.performance-report table.table th, .report.performance-report table.table th span  {
    font-size: 12px;
    white-space: nowrap;
  }