/*
Tables
========================================= */


.table thead.sortable tr:not(.table-mh) th.active {
    text-decoration: underline;
}

.table thead.sortable tr:not(.table-mh) th:hover{
    cursor: pointer;
    text-decoration: underline;
}

.table .btn {
  margin-top: 0px;
  margin-bottom: 0px;
}

.table td.actions{
  text-align: center;
  width: 75px;
}

.table.utility-data thead tr {
  background-color: #e3e7ec;
}

.table.utility-data {
  vertical-align: middle;
}

.table.utility-data td.input, .table.utility-data th.input{
  text-align: center;
}

.table.utility-data thead .table-mh th, 
.table.utility-data thead .table-mh th span {
  background-color: #2c386b;
  color: #ffffff;
}


.table.utility-data thead .table-mh th {
  border: 1px solid #c2ccda;
}


.account .table.utility-data thead .table-mh th, .account .table.utility-data thead .table-mh th span{
  background-color: #145A32;
}


/* .table.utility-data thead .table-mh th span {
  border: none;
  padding: 0 5px!important;
} */





/* table {
    width: 100%;
    border: 1px solid #ddd;
  }
  .table {
    margin-bottom: 0!important;
  }
  .tableOverflow {
    width: 100%;
    overflow: auto;
  }
  .overflowTable {
    max-height: 400px;
    overflow: auto;

  }

  tfoot {
    border-top: 3px double #c9d3e0;
  }
  table tbody tr:nth-child(even) {
    background-color: #f3f6fd;
  }
  table thead tr {
    background-color: #e3e7ec;
  }
  table tfoot tr {
    background-color: #ffffff;
    font-weight: bold;
  }
  table td,
  table th {
    padding: 4px 10px;
    border: 1px solid #dde0e6;
  }
  
  th {
    white-space: nowrap;
  }
  td i.fa.fa-ellipsis-v {
    text-align: center;
    cursor: pointer;
    padding: 0px 3px;
  }
  td .facilityMenu,
  td .meterMenu {
    position: absolute;
    background-color: white;
    border: 1px solid #dddddd;
    right: 0;
    top: 29px;
    display: none;
    z-index: 5;
  }
  td .facilityMenu.open,
  td .meterMenu.open {
    display: block;
  }
  td {
    position: relative;
  }
  td .facilityMenu p,
  td .meterMenu p {
    padding: 5px 10px;
    margin: 0px;
    cursor: pointer;
  }
  td .facilityMenu p:hover,
  td .meterMenu p:hover {
    background-color: #f3f6fd;
  }
  th.input,
  td.input {
    max-width: 30px;
    width: 30px;
  }
  td.actions,
  .actions {
    width: 75px;
    min-width: 75px;
  }
  .table-sm td.actions {
    padding: 4px 11px;
  }
  td.actions i,
  .actions i  {
    padding: 3px 5px;
    margin: 0 2px;
    cursor: pointer;
    background-color: #d4d9de;
    color: #170a4a;
    border-radius: 3px;
  }
  td.actions i:hover {
    color: #1e5ab3;
    background-color: #e3e7ec;
  }
  td.actions i.fa-edit:hover {
    color: #1e5ab3;
  }
  td.actions i.fa-trash-o:hover {
    color: red;
  }
  table input {
    margin: 3px auto;
    display: block;
    width: 13px;
  }
  .table-mh th, 
  .table-mh th span {
    background-color: #2c386b;
    border: 1px solid #c2ccda;
    font-size: 12px;
    padding: 10px 5px!important;
    color: #ffffff;
  }
  
  .account .table-mh th, .account .table-mh th span{
    background-color: #145A32;
  }


  .table-mh th span {
    border: none;
    padding: 0 5px!important;
  } */