.nowrap {
    white-space: nowrap;
} 
td.clickable,
.sortable th {
    cursor: pointer;
}

td.clickable:hover,
.sortable th:hover {
    text-decoration: underline;
}

th.active {
    text-decoration: underline;
}
td:not(:first-child), tfoot .table-mh th:not(:first-child), th.text-right {
    text-align: right;
}

.table.utility-data tfoot .table-mh th, .table.utility-data tfoot .table-mh th span {
    background-color: #2c386b;
    color: #ffffff;
}

th.w-33 {
    width: 33%;
}