<div id="facility">
	<div class="banner">
		<h3>Facility Information</h3>
	</div>
</div>

<div class="wrapper">
	<div class="row">
		<!--<div class="col-lg-4 profile-image">
        <img src="https://placehold.it/350x200" alt="">
        <form>
            <label class="profile-image-input" for="img"><i class="fa fa-upload"></i> Upload Image
                <input type="file" id="img" name="img" accept="image/*">
            </label>
        </form>
        </div>-->
		<div class="col">
			<h4>Facility Information</h4>
			<br>
			<app-general-information-form *ngIf="selectedFacility" [inAccount]="false"></app-general-information-form>
		</div>

		<div class="col-lg-5" *ngIf="facilityForm">
			<h4>Corporate Default Units</h4>
			<br>
			<app-default-units-form *ngIf="selectedFacility" [inAccount]="false"></app-default-units-form>
		</div>
	</div>
	<br>

	<div class="row">
		<div class="col-lg-7" *ngIf="facilityForm">
			<h4>Sustainability Questions</h4>
			<br>
			<form [formGroup]="facilityForm">
				<input type="checkbox" class="rowToggle" name="energyReductionGoal"
					formControlName="energyReductionGoal" (change)="onFormChange()">
				<label class="checkbox mb-3">1. Do you have Energy reduction goal? </label>
				<div class="row">
					<div class="col" [hidden]="!facilityForm.controls.energyReductionGoal.value">
						<label>Reduction Goal</label>
						<div class="input-group mb-3">
							<input type="number" class="form-control" formControlName="energyReductionPercent"
								(input)="onFormChange();">
							<span class="unit">%</span>
						</div>
					</div>
					<div class="col" [hidden]="!facilityForm.controls.energyReductionGoal.value">
						<label>Baseline Year</label>
						<select formControlName="energyReductionBaselineYear" (change)="onFormChange()">
							<option *ngFor="let year of years" [ngValue]="year">{{year}}</option>
						</select>
					</div>
					<div class="col" [hidden]="!facilityForm.controls.energyReductionGoal.value">
						<label>Target Year</label>
						<select formControlName="energyReductionTargetYear" (change)="onFormChange()">
							<option *ngFor="let year of years" [ngValue]="year">{{year}}</option>
						</select>
					</div>
				</div>

				<input type="checkbox" class="rowToggle" name="greenhouseReductionGoal"
					formControlName="greenhouseReductionGoal" (change)="onFormChange()">
				<label class="checkbox mb-3">2. Do you have a Greenhouse Emission/Carbon reduction goal? </label>
				<div class="row">
					<div class="col" [hidden]="!facilityForm.controls.greenhouseReductionGoal.value">
						<label>Reduction Goal</label>
						<div class="input-group mb-3">
							<input type="number" class="form-control" formControlName="greenhouseReductionPercent"
								(input)="onFormChange();">
							<span class="unit">%</span>
						</div>
					</div>
					<div class="col" [hidden]="!facilityForm.controls.greenhouseReductionGoal.value">
						<label>Baseline Year</label>
						<select formControlName="greenhouseReductionBaselineYear" (change)="onFormChange()">
							<option *ngFor="let year of years" [ngValue]="year">{{year}}</option>
						</select>
					</div>
					<div class="col" [hidden]="!facilityForm.controls.greenhouseReductionGoal.value">
						<label>Target Year</label>
						<select formControlName="greenhouseReductionTargetYear" (change)="onFormChange()">
							<option *ngFor="let year of years" [ngValue]="year">{{year}}</option>
						</select>
					</div>
				</div>

				<input type="checkbox" class="rowToggle" name="renewableEnergyGoal"
					formControlName="renewableEnergyGoal" (change)="onFormChange()">
				<label class="checkbox mb-3">3. Do you have renewable energy goal?</label>
				<div class="row">
					<div class="col" [hidden]="!facilityForm.controls.renewableEnergyGoal.value">
						<label>Implementation Goal</label>
						<div class="input-group mb-3">
							<input type="number" class="form-control" formControlName="renewableEnergyPercent"
								(input)="onFormChange();">
							<span class="unit">%</span>
						</div>
					</div>
					<div class="col" [hidden]="!facilityForm.controls.renewableEnergyGoal.value">
						<label>Baseline Year</label>
						<select formControlName="renewableEnergyBaselineYear" (change)="onFormChange()">
							<option *ngFor="let year of years" [ngValue]="year">{{year}}</option>
						</select>
					</div>
					<div class="col" [hidden]="!facilityForm.controls.renewableEnergyGoal.value">
						<label>Target Year</label>
						<select formControlName="renewableEnergyTargetYear" (change)="onFormChange()">
							<option *ngFor="let year of years" [ngValue]="year">{{year}}</option>
						</select>
					</div>
				</div>

				<input type="checkbox" class="rowToggle" name="wasteReductionGoal" formControlName="wasteReductionGoal"
					(change)="onFormChange()">
				<label class="checkbox mb-3">4. Do you have waste reduction goal?</label>
				<div class="row">
					<div class="col" [hidden]="!facilityForm.controls.wasteReductionGoal.value">
						<label>Reduction Goal</label>
						<div class="input-group mb-3">
							<input type="number" class="form-control" formControlName="wasteReductionPercent"
								(input)="onFormChange();">
							<span class="unit">%</span>
						</div>
					</div>
					<div class="col" [hidden]="!facilityForm.controls.wasteReductionGoal.value">
						<label>Baseline Year</label>
						<select formControlName="wasteReductionBaselineYear" (change)="onFormChange()">
							<option *ngFor="let year of years" [ngValue]="year">{{year}}</option>
						</select>
					</div>
					<div class="col" [hidden]="!facilityForm.controls.wasteReductionGoal.value">
						<label>Target Year</label>
						<select formControlName="wasteReductionTargetYear" (change)="onFormChange()">
							<option *ngFor="let year of years" [ngValue]="year">{{year}}</option>
						</select>
					</div>
				</div>

				<input type="checkbox" class="rowToggle" name="waterReductionGoal" formControlName="waterReductionGoal"
					(change)="onFormChange()">
				<label class="checkbox mb-3">5. Do you have water reduction goal?</label>
				<div class="row">
					<div class="col" [hidden]="!facilityForm.controls.waterReductionGoal.value">
						<label>Reduction Goal</label>
						<div class="input-group mb-3">
							<input type="number" class="form-control" formControlName="waterReductionPercent"
								(input)="onFormChange();">
							<span class="unit">%</span>
						</div>
					</div>
					<div class="col" [hidden]="!facilityForm.controls.waterReductionGoal.value">
						<label>Baseline Year</label>
						<select formControlName="waterReductionBaselineYear" (change)="onFormChange()">
							<option *ngFor="let year of years" [ngValue]="year">{{year}}</option>
						</select>
					</div>
					<div class="col" [hidden]="!facilityForm.controls.waterReductionGoal.value">
						<label>Target Year</label>
						<select formControlName="waterReductionTargetYear" (change)="onFormChange()">
							<option *ngFor="let year of years" [ngValue]="year">{{year}}</option>
						</select>
					</div>
				</div>
			</form>
			<p class="alert alert-warning" *ngIf="sustainQuestionsDontMatchAccount">
				Facility sustainability answers are different then the answers set for the account. If you would like to
				use the
				account answers for this facility click here: <a (click)="setAccountSustainQuestions()">Use Account
					Answers</a>
			</p>
		</div>
		<div class="col" *ngIf="facilityForm">
			<h4>Financial Reporting</h4>
			<br>
			<app-financial-reporting-form *ngIf="selectedFacility" [inAccount]="false"></app-financial-reporting-form>
		</div>
	</div>
	<br>

	<div class="row">
		<div class="col-lg-6">
			<h4>Delete Facility</h4>
			<p>Once deleted, you will permanently lose all your data linked to this facility. Please make a backup of
				your data before proceeding with this step.</p>
			<button class="btn btn-danger" (click)="editFacility()">Delete Facility</button>
		</div>
	</div>
</div>

<div class="popup" [class.open]="showDeleteFacility" *ngIf="facilityForm">
	<div class="popup-header">Delete Facility: {{selectedFacility}}
		<button class="item-right" (click)="cancelDelete()">x</button>
	</div>
	<div class="popup-body">
		<p>WARNING: By deleting this facility, you are also deleting all of the data associated with it.
			Are you sure you want to preform this action?</p>
	</div>
	<div class="popup-footer text-right">
		<button class="btn btn-secondary" (click)="cancelDelete()">Cancel</button>
		<button class="btn btn-danger" (click)="confirmDelete()">Confirm Delete</button>
	</div>
</div>