<div id="about">
    <div class="banner">
        <h3>About</h3>
    </div>
</div>

<div class="measur-wrapper">
    <div class="row">
        <div class="col">
            <div class="wrapper mr-0 overflow-hidden">
                <h4>Verifi</h4>
                <p>The Department of Energy Advanced Manufacturing Office has tasked Oak Ridge National Laboratory to
                    develop a tool to track, visualize, analyze and even forecast facility utility data in industrial
                    settings. This tool will incorporate and expand on several existing DOE tools (EnPI, EnPI Lite,
                    Energy Footprint Tool, Plant Energy Profiler), most of which currently are excel-based or excel-add
                    ons. This project will integrate them into a common, open-source framework which is harmonized with
                    other DOE software tools – mainly the DOE’s MEASUR tool suite. </p>
                <br>
                <h5>Intended Users</h5>
                <p>The tool is designed for industrial energy coordinators, plant managers, engineers, and personnel who
                    are interested in tracking, predicting, and preforming regression analysis on their energy use.</p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="wrapper ml-0" *ngIf="!isElectron">
                <h4>Desktop Application</h4>
                <p>A downloadable desktop version of VERIFI is avaialable at <a target="_blank"
                        href="https://{{'ornl-amo.github.io'}}">https://ornl-amo.github.io</a>.<br><br>

                    There are version's of the desktop application that will operate on the
                    following operating systems:</p>
                <ul>
                    <li>64-bit or 32-bit computer running Windows OS</li>
                    <!-- <li>64-bit or 32-bit computer running Linux OS</li> -->
                    <li>Mac OS X</li>
                </ul>
            </div>
            <div class="wrapper ml-0" *ngIf="isElectron">
                <h4>Web Application</h4>
                <p>
                    A web version of this application can be found a <a target="_blank" href="https://verifi.ornl.gov">https://verifi.ornl.gov</a>.
                </p>
            </div>
        </div>
    </div>
</div>