<div id="about">
    <div class="banner">
      <h3>About</h3>
    </div>
</div>
  
<div class="measur-wrapper">
    <div class="row">
        <div class="col">
            <div class="wrapper mr-0 overflow-hidden">
            <h4>Verifi</h4>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
            <img src="https://placehold.it/200x100" class="float-left mr-3">
            <img src="https://placehold.it/200x100" class="float-left mr-3">
            <img src="https://placehold.it/200x100" class="float-left mr-3">
        </div>
        </div>
        <div class="col-lg-4">
            <div class="wrapper ml-0">
            <h4>System Requirements</h4>
            <p>Verifi will operate on the following computers:</p>
            <ul>
                <li>64-bit or 32-bit computer running Windows OS</li>
                <li>64-bit or 32-bit computer running Linux OS</li>
                <li>Mac OS X</li>
            </ul>
            <br>
            <h4>Intended Users</h4>
            <p>The tool is designed for industrial energy coordinators, plant managers, engineers, and personnel who are interested in improving system efficiency and measuring potential savings opportunities in both dollars and electrical energy savings.</p>
        </div>
        </div>
    </div>
</div>

<div class="measurFooter"></div>
