<div class="wrapper main-content h-100">
    <div class="empty-state text-center">
        <h1>Welcome to Verifi Account Setup</h1>
        <p>Follow t.</p>
        <br>

        <!-- <div class="row">
            <div class="col">
                <div class="box">
                    <img class="w-100" [hidden]="selectedAccount" src="assets/images/emptyFile.png" alt="Account Incomplete">
                    <img class="w-100" [hidden]="!selectedAccount" src="assets/images/completeFile.png" alt="Account Complete">
                    <br>
                    <p>1.</p>
                    <p>Add An Account</p>
                    <button [hidden]="selectedAccount" class="btn btn-primary-2" (click)="addAccount()">Add
                        Account</button>
                </div>
            </div>
            <div class="col">
                <div class="box">
                    <img class="w-100" [hidden]="selectedFacility" src="assets/images/emptyFile.png" alt="Facility Incomplete">
                    <img class="w-100" [hidden]="!selectedFacility" src="assets/images/completeFile.png" alt="Facility Complete">
                    <br>
                    <p>2.</p>
                    <p>Add A Facility</p>
                </div>
            </div>
            <div class="col">
                <div class="box">
                    <img class="w-100" [hidden]="utilityMeters.length > 0" src="assets/images/emptyFile.png" alt="Utility Incomplete">
                    <img class="w-100" [hidden]="utilityMeters.length === 0" src="assets/images/completeFile.png"
                        alt="Utility Complete">
                    <br>
                    <p>3.</p>
                    <p>Add Utility Data</p>
                    <button [disabled]="!selectedFacility" class="btn btn-primary-2" (click)="addUtilityData()">Add
                        Utility Data</button>
                </div>
            </div>
        </div> -->
        <br>
        <hr>
        <p class="text-center loadData">Want a quick start? <a (click)="loadTestData();">Load our test data</a> or <a (click)="openImportBackup();">Load Account Backup</a></p>
    </div>
</div>