<div class="wrapper main-content h-100">
    <div class="empty-state text-center">
        <div class="d-flex justify-content-center">
            <h1>Welcome to </h1>
            <h1 class="verifi ps-2 pe-2">VERIFI</h1>
            <h1>Corporate Account Setup</h1>
        </div>

        <p>Use the account setup wizard to create a new corporate account and it's corresponding facilities.</p>
        <br>

        <div class="row justify-content-center">
            <div class="col-3">
                <div class="box h-100 account-setup-box" (click)="goToAccountSetup()">
                    <img class="w-100" src="assets/images/emptyFile.png" alt="Account Incomplete">
                    <br>
                    <p>1.</p>
                    <p><a>Setup Corporate Account Details</a></p>
                </div>
            </div>
            <div class="col-3">
                <div class="box h-100">
                    <img class="w-100" src="assets/images/emptyFile.png" alt="Facility Incomplete">
                    <br>
                    <p>2.</p>
                    <p>Setup Facilities</p>
                </div>
            </div>
            <div class="col-3">
                <div class="box h-100">
                    <img class="w-100" src="assets/images/emptyFile.png" alt="Utility Incomplete">
                    <br>
                    <p>3.</p>
                    <p>Confirm Setup and Begin Energy Tracking</p>
                </div>
            </div>
        </div>
        <br>
        <hr>
        <div class="text-center loadData box">Want a quick start? <a (click)="loadTestData();">Load our test data</a> or
            <a (click)="openImportBackup();">Load Account Backup</a>
        </div>
    </div>
</div>