<div class="content-padding">
    <h4>Associated Account Analysis Items</h4>

    <div *ngIf="canReturnToAccount" class="alert text-center">
        You navigated to this facility analysis from an account analysis. Would you like to return to the account
        analysis you came from?<br>
        <button class="btn btn-secondary" (click)="goBackToAccount()">Return to Account Analysis</button>
    </div>

    <hr *ngIf="canReturnToAccount">

    <div *ngIf="accountAnalysisItems.length == 0" class="text-center mt-5">
        <h5>This facility analysis is not a part of any account analysis.</h5>
    </div>

    <div *ngIf="accountAnalysisItems.length != 0" class="alert alert-info text-center">
        Listed below are the account analysis items in which this facility analysis has been used.
    </div>

    <div *ngIf="accountAnalysisItems.length > 0">
        <div class="controls mb-2">

            <app-table-items-dropdown></app-table-items-dropdown>
        </div>

        <div class="table-responsive">
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th (click)="setOrderDataField('name')" [ngClass]="{'active': orderDataField == 'name'}">
                            Name</th>
                        <th (click)="setOrderDataField('date')" [ngClass]="{'active': orderDataField == 'date'}">
                            Last Modified</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let analysisItem of accountAnalysisItems  | orderBy: orderDataField: orderByDirection | slice: ((currentPageNumber-1) * itemsPerPage): currentPageNumber * itemsPerPage">
                        <td>
                            <a (click)="selectAnalysisItem(analysisItem)">
                                {{analysisItem.name}}
                            </a>
                        </td>
                        <td>{{analysisItem.date | date:'short'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="d-flex w-100 justify-content-end">
            <ngb-pagination [collectionSize]="accountAnalysisItems.length" [(page)]="currentPageNumber" [pageSize]="itemsPerPage"
                [maxSize]="5" [rotate]="true" aria-label="Pagination">
            </ngb-pagination>
        </div>
    </div>
</div>