<div class="table-responsive">
    <table class="table utility-data table-sm table-bordered table-hover">
        <thead>
            <tr>
                <th>Facility</th>
                <th>Utility Usage<br> (<span [innerHTML]="energyUnit | settingsLabel"></span>)
                </th>
                <th>Utility Cost </th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr *ngFor="let sourceTotal of sourceTotalsArr | orderBy: 'energyUse'">
                <td>
                    <span class="badge" [ngStyle]="{background: sourceTotal.color, color: sourceTotal.color }">
                        &mdash;
                    </span>
                    {{sourceTotal.sourceLabel}}
                </td>
                <td>
                    {{sourceTotal.energyUse | customNumber}}
                </td>
                <td>
                    {{sourceTotal.cost | customNumber:true }}
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th>
                    Total
                </th>
                <th>
                    {{accountOverviewData.totalEnergyUsage | customNumber}}
                </th>
                <th>
                    {{accountOverviewData.totalEnergyCost | customNumber:true }}
                </th>
            </tr>
        </tfoot>
    </table>
</div>