<!-- <div class="tableControls overflow-hidden">
    <a class="click-link" (click)="copyTable()"><span class="fa fa-copy"></span> Copy Table</a>
    <div class="item-right">
        <ngb-pagination [collectionSize]="meterList.length" [(page)]="currentPageNumber" [pageSize]="itemsPerPage"
            [rotate]="true" aria-label="Default pagination"></ngb-pagination>
    </div>
    <p class="item-right">{{meterList.length}} entries</p>
</div> -->

<div class="d-flex w-100 justify-content-between">
    <div>
        <button class="btn action-btn btn-sm" (click)="copyTable()">
            <span class="fa fa-copy"></span> Copy Table
        </button>
    </div>
    <div>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>