<div class="data-wizard-content">
    <div class="row g-0 justify-content-center h-100 w-100 overflow-scroll">
        <div class="col-11 pt-4 pb-4">
            <div class="form-paper">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

<nav class="data-wizard-footer navbar">
    <div class="container-fluid justify-content-between">
        <button class="btn btn-dark" (click)="goBack()">
            <span class="fa fa-chevron-left"></span>
            Go Back
        </button>
        <button class="btn btn-dark" (click)="next()">
            Next
            <span class="fa fa-chevron-right"></span>
        </button>
    </div>
</nav>