<form [formGroup]="form">
    <div class="row">
        <div class="mb-3 col">
            <label for="unitsOfMeasure">Units of Measure</label>
            <select class="form-select" formControlName="unitsOfMeasure" (change)="setUnitsOfMeasure()">
                <option [ngValue]="'Imperial'">Imperial</option>
                <option [ngValue]="'Metric'">Metric</option>
                <option [ngValue]="'Custom'">Custom</option>
            </select>
            <label for="energyUnit">Result Energy Unit</label>
            <select class="form-select" formControlName="energyUnit" (change)="saveChanges()">
                <option *ngFor="let energyUnitOption of energyUnitOptions" [ngValue]="energyUnitOption.value">
                    <span [innerHTML]="energyUnitOption.display"></span>
                </option>
            </select>
        </div>
        <div class="mb-3 col">
            <label>Energy displayed as site or source? </label>
            <div class="form-check">
                <input type="radio" class="form-check-input" name="energyIsSource" formControlName="energyIsSource"
                    [value]="true" (change)="saveChanges()" id="sourceEnergy">
                <label class="form-check-label" for="sourceEnergy">Source Energy</label>
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input" name="energyIsSource" formControlName="energyIsSource"
                    [value]="false" (change)="saveChanges()" id="siteEnergy">
                <label class="form-check-label" for="siteEnergy">Site Energy</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h5>Default units for setting up meters</h5>
        </div>
    </div>

    <div class="row">
        <div class="mb-3 col">
            <label for="electricityUnit">Electricity Unit</label>
            <select class="form-select" formControlName="electricityUnit" (change)="saveChanges()">
                <option *ngFor="let energyUnitOption of energyUnitOptions" [ngValue]="energyUnitOption.value">
                    <span [innerHTML]="energyUnitOption.display"></span>
                </option>
            </select>
        </div>
        <div class="mb-3 col">
            <label for="volumeLiquidUnit">Volume Unit (Liquid)</label>
            <select class="form-select" formControlName="volumeLiquidUnit" (change)="saveChanges()">
                <option *ngFor="let volumeUnitOption of volumeLiquidOptions" [ngValue]="volumeUnitOption.value">
                    <span [innerHTML]="volumeUnitOption.display"></span>
                </option>
            </select>
        </div>
    </div>

    <div class="row">

        <div class="mb-3 col">
            <label for="volumeGasUnit">Volume Unit (Gases)</label>
            <select class="form-select" formControlName="volumeGasUnit" (change)="saveChanges()">
                <option *ngFor="let volumeUnitOption of volumeGasOptions" [ngValue]="volumeUnitOption.value">
                    <span [innerHTML]="volumeUnitOption.display"></span>
                </option>
            </select>
        </div>

        <div class="mb-3 col">
            <label for="massUnit">Mass Unit</label>
            <select class="form-select" formControlName="massUnit" (change)="saveChanges()">
                <option *ngFor="let massUnitOption of massUnitOptions" [ngValue]="massUnitOption.value">
                    <span [innerHTML]="massUnitOption.display"></span>
                </option>
            </select>
        </div>
    </div>
    <div class="row" *ngIf="unitsDontMatchAccount">
        <div class="col">
            <p class="alert alert-warning">
                The Facility units are different then the units that are set for the account. If you would like to use
                the
                account units for this facility click here: <a (click)="setAccountUnits()">Use Account Units</a>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <hr>
            <label class="mb-3">Electricity Global Warming Potential
                <!-- <span (click)="toggleCustomEmissionsRate()" class="float-end click-link"
                    *ngIf="!form.controls.customEmissionsRate.value">Rate Known</span>
                <span (click)="toggleCustomEmissionsRate()" class="float-end click-link"
                    *ngIf="form.controls.customEmissionsRate.value && showCustomLink">Use eGRID</span> -->
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <div class="d-flex w-100 justify-content-between">
                    <div>
                        <label for="eGridSubregion">eGRID Subregion </label>
                    </div>
                    <div>
                        <a (click)="showEmissionsRates()" class="float-end click-link"
                            *ngIf="zipCodeSubRegionData.length != 0">View Emission Rates</a>
                    </div>
                </div>
                <select class="form-select" *ngIf="zipCodeSubRegionData.length > 1" name="eGridSubregion"
                    id="eGridSubregion" formControlName="eGridSubregion" (change)="setSelectedSubregionEmissions()">
                    <option *ngFor="let subregion of zipCodeSubRegionData" [ngValue]="subregion">{{subregion}}</option>
                </select>
                <span *ngIf="zipCodeSubRegionData.length == 1">
                    {{form.controls.eGridSubregion.value}}
                </span>
                <span class="alert alert-warning" *ngIf="zipCodeSubRegionData.length == 0">
                    No subregion matching zip code. U.S. Average will be used.
                </span>
            </div>
        </div>
    </div>
</form>

<p class="alert alert-info w-100 text-center">The eGRID Subregion and emissions output rate will be set
    based on your zipcode and the <a class="click-link" target="_blank"
        href="https://www.epa.gov/sites/default/files/2021-04/documents/emission-factors_apr2021.pdf">EPA
        Emissions & Generation
        Resource Integrated Database (2021)</a>
    <ng-container *ngIf="!inWizard">
        <br>
        <br>
        Custom emssions rates can be added and managed in the <a class="click-link" (click)="goToCustomData()">Account Custom Data</a>
        page.
    </ng-container>

</p>

<div class="windowOverlay" *ngIf="openEmissionsRates"></div>
<div class="window" [class.open]="openEmissionsRates">
    <div class="windowContent emission-rates">
        <app-e-grid-emissions-table *ngIf="selectedSubregionEmissions"
            [selectedSubregionEmissions]="selectedSubregionEmissions"
            [eGridSubregion]="form.controls.eGridSubregion.value" (emitClose)="closeEmissionsRates()">
        </app-e-grid-emissions-table>
    </div>
</div>