<div class="wrapper main-content p-0" *ngIf="fileReference">
    <div class="banner p-0">
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link"
                    routerLink="select-worksheet"
                    [routerLinkActive]="['active']">
                    <i class="fa fa-gauge-high"></i>
                    Select Worksheet</a></li>
            <li class="nav-item"><a class="nav-link"
                    routerLink="identify-columns"
                    [routerLinkActive]="['active']">
                    <i class="fa fa-file-invoice"></i>
                    Identify Columns</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="set-facility-meters"
                [routerLinkActive]="['active']">
                    <i class="fa fa-gauge-high"></i>Map Facility Meters</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="set-facility-predictors"
                [routerLinkActive]="['active']">
                    <i class="fa fa-boxes-stacked"></i>Map Facility Predictors</a>
            </li>
        </ul>
    </div>

    <div class="content-padding">
        <router-outlet></router-outlet>
    </div>
</div>