.wrapper {
  background-color: #f1f1f100;
  margin: 0px 30px;
  padding: 20px 30px 30px;
  background-image: url('../../../assets/images/industrial-skyline.png');
  background-position: bottom;
  background-repeat: no-repeat;
  position:relative;
  z-index: 1;
}
.wrapper.main-content {
  margin-right: 30px;
}
.box {
  background-color: white;
  margin: 3px;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 2px 3px 10px #d6d6d6;
}
.empty-state {
max-width: 1000px;
margin: 0 auto;
min-height: calc(100vh - 163px);
}
.empty-state .box p {
font-size: 22px;
}

.loadData,
.loadData a {
  font-size: 18px;
}