<div class="data-management-content with-footer">
    <div class="row g-0 justify-content-center h-100 w-100 overflow-auto">
        <div class="col-11 pt-4 pb-4">
            <div class="form-paper">
                <h4>
                    <div class="d-flex w-100 justify-content-between">
                        <div class="h4 mb-0">
                            Facilities
                        </div>
                        <div>
                            <span class="badge bg-primary">
                                <span class="fa fa-file"></span>
                                {{fileReference.name}}
                            </span>
                        </div>
                    </div>
                </h4>
                <!-- <h4>Process File {{fileReference.name}}</h4> -->
                <!-- <div class="d-flex w-100 justify-content-end mb-2">
                    <ng-template [ngIf]="!fileReference.facilitiesSubmitted" [ngIfElse]="notSubmittedBlock">
                        <button class="btn btn-success" (click)="submitFacilities()">
                            <span class="fa fa-upload"></span> Submit Facilities
                        </button>
                    </ng-template>
                    <ng-template #notSubmittedBlock>
                        <div class="alert alert-info p-2">
                            Facilities submitted. Use the next button to move on to meters upload.
                        </div>
                    </ng-template>
                </div> -->
                <div class="table-responsive">
                    <table class="table utility-data table-sm table-bordered table-hover">
                        <thead class="table-mh">
                            <tr>
                                <th>
                                    Facility Name
                                </th>
                                <th>
                                    Address
                                </th>
                                <th>
                                    Country
                                </th>
                                <th>
                                    State
                                </th>
                                <th>
                                    City
                                </th>
                                <th>
                                    Zip
                                </th>
                                <!-- <th>
                                    NAICS Code 2
                                </th>
                                <th>
                                    NAICS Code 3
                                </th> -->
                                <th>
                                    Contact Name
                                </th>
                                <!-- <th>
                                    Contact Phone
                                </th> -->
                                <th>
                                    Contact Email
                                </th>
                                <th>
                                    New / Existing
                                </th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            <tr *ngFor="let facility of fileReference.importFacilities">
                                <td>
                                    {{facility.name}}
                                </td>
                                <td>
                                    {{facility.address}}
                                </td>
                                <td>
                                    {{facility.country}}
                                </td>
                                <td>
                                    {{facility.state}}
                                </td>
                                <td>
                                    {{facility.city}}
                                </td>
                                <td>
                                    {{facility.zip}}
                                </td>
                                <!-- <td>
                                    {{facility.naics2}}
                                </td>
                                <td>
                                    {{facility.naics3}}
                                </td> -->
                                <td>
                                    {{facility.contactName}}
                                </td>
                                <!-- <td>
                                    {{facility.contactPhone}}
                                </td> -->
                                <td>
                                    {{facility.contactEmail}}
                                </td>
                                <td>
                                    <span *ngIf="facility.id">Existing</span>
                                    <span *ngIf="!facility.id">New</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!--TODO: disable next-->
<app-data-management-import-footer [fileReference]="fileReference"
    [navOption]="'facilities'"></app-data-management-import-footer>