<h4>{{energyUseGroup.name}}</h4>

<div class="d-flex w-100 justify-content-end">
    <div>
        <button class="btn btn-primary me-2" (click)="saveChanges()" [disabled]="form.invalid || form.pristine">
            <span class="fa fa-save"></span>
            Save Changes</button>
    </div>
</div>
<!--FORM-->
<div class="row">
    <div class="col-12">
        <p class="bold">Group Information</p>
        <form [formGroup]="form">
            <div>
                <label class="w-100" for="groupName">Group Name</label>
                <div class="mb-3">
                    <input id="groupName" class="form-control" type="text" formControlName="name"
                        onfocus="this.select();" minlength="0" maxlength="100">
                </div>
                @if(form.get('name').touched && form.get('name').hasError('required')) {
                <div class="alert alert-danger">Group name is
                    required</div>
                }
            </div>
            <div>
                <label class="w-100" for="groupNotes">Group Notes</label>
                <div class="mb-3">
                    <textarea id="groupNotes" class="form-control" formControlName="notes" onfocus="this.select();"
                        minlength="0" maxlength="500"></textarea>
                </div>
                @if(form.get('notes').touched && form.get('notes').hasError('required')) {
                <div class="alert alert-danger">Group notes are
                    required</div>
                }
            </div>
        </form>
    </div>
    <div class="col-12">
        <p class="bold">Equipment/System</p>
        @let groupEquipment = (energyUseGroup.guid | facilityEnergyEquipmentList:facilityEnergyUseEquipment);
        @if(groupEquipment.length != 0){
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="w-25">
                        Name
                    </th>
                    <th class="w-25">
                        Energy Source
                    </th>
                    <th class="w-25">
                        Utility Types
                    </th>
                    <th class="w-25">
                        Notes
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (equipment of groupEquipment; track $index) {
                <tr>
                    <td>
                        <a [routerLink]="'./equipment/'+equipment.guid">
                            {{equipment.name}}
                        </a>
                    </td>
                    <td>
                        {{equipment.equipmentType}}
                    </td>
                    <td>
                        @for(utilityData of equipment.utilityData; track $index){
                        <span class="badge me-1"
                            [ngStyle]="{'background-color': utilityData.energySource | meterSourceColor}">{{utilityData.energySource}}</span>
                        }
                    </td>
                    <td>
                        {{equipment.notes}}
                    </td>
                </tr>
                }
            </tbody>
        </table>
        }@else {
        <div class="alert alert-info">
            No equipment/systems have been added to this group.
        </div>
        }
        <a class="click-link small pull-right" (click)="addEquipment()">
            <span class="fa fa-plus"></span>
            Add Equipment/System
        </a>
    </div>
</div>



<hr>
<div class="d-flex w-100 justify-content-end">
    <div>
        <button class="btn btn-danger btn-sm" (click)="showDelete()">
            <span class="fa fa-trash"></span>
            Delete Group
        </button>
    </div>
</div>

<div [ngClass]="{'windowOverlay': showDeleteGroup}"></div>
<div class="popup" [class.open]="showDeleteGroup">
    <div class="popup-header">Delete Group: {{energyUseGroup?.name}}
        <button class="item-right" (click)="cancelDelete()">x</button>
    </div>
    <div class="popup-body">
        <p>WARNING: By deleting this group, you are also deleting all of the group data and equipment associated with
            it.
            Are you sure you want to preform this action?</p>
    </div>
    <div class="saveCancel popup-footer text-end">
        <button class="btn btn-secondary" (click)="cancelDelete()">Cancel</button>
        <button class="btn btn-danger" (click)="deleteGroup()">Delete</button>
    </div>
</div>