<h4>{{energyUseGroup.name}}</h4>

<div class="d-flex w-100 justify-content-end">
    <div>
        <button class="btn btn-primary me-2" (click)="saveChanges()" [disabled]="form.invalid || form.pristine">
            <span class="fa fa-save"></span>
            Save Changes</button>
    </div>
</div>
<!--FORM-->
<form [formGroup]="form">
    <div class="row">
        <div class="col-12">
            <p class="bold">Group Information</p>
            <div>
                <label class="w-100" for="groupName">Group Name</label>
                <div class="mb-3">
                    <input id="groupName" class="form-control" type="text" formControlName="name"
                        onfocus="this.select();" minlength="0" maxlength="100">
                </div>
                <div class="alert alert-danger" *ngIf="form.get('name').hasError('required')">Group name is
                    required</div>
            </div>
        </div>
        <div class="col-12">
            <p class="bold">Energy Uses</p>
            <!-- <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            Equipment/System
                        </th>
                        <th>
                            Energy Source
                        </th>
                        <th>
                            Total Size/Capacity
                        </th>
                        <th>
                            Units
                        </th>
                    </tr>
                </thead>
                <tbody formArrayName="equipmentItems">
                    <tr *ngFor="let equipment of equipmentItems.controls; let i = index" [formGroupName]="i">
                        <td>
                            <input class="form-control" type="text" formControlName="name" onfocus="this.select();"
                                minlength="0" maxlength="100">
                        </td>
                        <td>
                            <select class="form-select" id="source" type="text" formControlName="energySource">
                                <option *ngFor="let sourceOption of sourceOptions" [ngValue]="sourceOption">
                                    {{sourceOption}}
                                </option>
                            </select>
                        </td>
                        <td>
                            <input class="form-control" type="number" formControlName="size" onfocus="this.select();"
                                min="0">
                        </td>
                        <td>
                            <input class="form-control" type="text" formControlName="units" onfocus="this.select();"
                                minlength="0" maxlength="50">
                        </td>
                    </tr>
                </tbody>
            </table> -->
            <a class="click-link small pull-right" (click)="addEquipment()">
                <span class="fa fa-plus"></span>
                Add Equipment/System
            </a>


            <!-- <div>
                <label class="w-100" for="groupName">Group Name</label>
                <div class="mb-3">
                    <input id="groupName" class="form-control" type="text" formControlName="name"
                        onfocus="this.select();" minlength="0" maxlength="100">
                </div>
                <div class="alert alert-danger" *ngIf="form.get('name').hasError('required')">Group name is
                    required</div>
            </div> -->
        </div>
    </div>
</form>



<hr>
<div class="d-flex w-100 justify-content-end">
    <div>
        <button class="btn btn-danger btn-sm" (click)="showDelete()">
            <span class="fa fa-trash"></span>
            Delete Group
        </button>
    </div>
</div>

<div [ngClass]="{'windowOverlay': showDeleteGroup}"></div>
<div class="popup" [class.open]="showDeleteGroup">
    <div class="popup-header" *ngIf="showDeleteGroup">Delete Group: {{energyUseGroup.name}}
        <button class="item-right" (click)="cancelDelete()">x</button>
    </div>
    <div class="popup-body">
        <p>WARNING: By deleting this group, you are also deleting all of the group data and equipment associated with
            it.
            Are you sure you want to preform this action?</p>
    </div>
    <div class="saveCancel popup-footer text-end">
        <button class="btn btn-secondary" (click)="cancelDelete()">Cancel</button>
        <button class="btn btn-danger" (click)="deleteGroup()">Delete</button>
    </div>
</div>