.content-padding{
    padding: 20px 30px;
    height: calc(100vh - 290px);
    overflow-y: auto;
}

.wrapper{
    /* margin-bottom: 100px; */
    padding: 0px;
    height: calc(100vh - 290px);
}

.nav-tabs{
    background-color: #f1f1f1;
}


.nav-tabs a:not([href]).nav-link.active{
    color: #ff6000 !important;
    background-color: white;
}

.nav-tabs .nav-link:not(.active){
    background-color: #145A32;
    color: white;
    border: solid 1px white;
}



.nav-link{
    font-weight: 600;
    font-size: 16px;
}

a:not([href]).active, .nav .nav-link.active i.fa{
    color: #ff6000 !important;
}

.fa.fa-exclamation-circle, .banner a.nav-link:not(.active) .fa.fa.fa-exclamation-circle{
    color: red;
}


.nav{
    border-right: solid #145A32;
    width: 210px;
    max-height: 100%;
    overflow-y: auto;
}

.nav-item{
    border-bottom: groove 1px;
}

.nav-link.active{
    background-color: #efefef;
}

.nav-link:hover{
    cursor: pointer;
    background-color: #efefef;
}
