<div class="wrapper main-content p-0">
    <div class="banner p-0">
        <ul class="nav nav-tabs">
            <li class="nav-item" *ngFor="let listItem of facilitiesList"><a class="nav-link"
                    (click)="selectFacility(listItem.facility)"
                    [ngClass]="{'active': listItem.facility.id == selectedFacility.id}">
                    <i [ngClass]="listItem.cssClass"></i>
                    <span class="fa fa-exclamation-circle" *ngIf="listItem.isInvalid"></span>

                    {{listItem.facility.name}}</a>
            </li>
        </ul>
    </div>
    <div class="content-padding">
        <app-select-item-table [facility]="selectedFacility" [selectedAnalysisItem]="selectedAnalysisItem"
            [facilityAnalysisItems]="facilityAnalysisItems"></app-select-item-table>
        <hr>
    </div>
</div>