.meterData .bold {
    font-weight: bold;
    color: #060a2b;
    width: 115px;
    display: inline-block;
}
.window .filter-dropdown {
    top: 115px;
    width: calc(100% - 60px);
    background-color: #eee;
    box-shadow: none;
    position: absolute;
}
.filter {
    position: relative;
    margin-right: 25px;
}