.meter {
    margin-bottom: 50px;
}
.meterData {
    padding: 10px 0px;
}
.meterData p {
    margin: 0px;
}
.filter {
    position: relative;
}
.filter-dropdown {
    position: absolute;
    top: 37px;
    background-color: white;
    z-index: 1;
    padding: 20px;
    min-width: 210px;
    box-shadow: -3px 4px 8px #0000001c;
}
.filter .filter-dropdown label {
    margin: 0px 10px 0 0;
}
.filter .filter-dropdown input {
    float: left;
    width: auto;
    margin: 0px 10px 0 0;
}
i.fa.fa-arrow-circle-up {
    color: green;
}
i.fa.fa-arrow-circle-down {
    color: red;
}
.filter button:nth-child(2) {
    border-left: none;
}

.subheader {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    border-bottom: 1px solid #dadada;
    padding: 20px 0 0;
    color: #9e7f5e;
}
.col.unitCurrency {
    width: 20px;
    max-width: 20px;
    padding: 0px;
}
.col.unitKwh {
    width: 40px;
    max-width: 40px;
    padding: 0px;
}
.meterForm input[type="date"] {
    width: 66%;
}
.tableMenu {
    max-width: 32px;
    background-color: white;
    padding: 0px;
    margin: 0px;
}
.tableMenu th,
.tableMenu td {
    display: block;
    min-height: 30px;
}

.tableData {
    width: 100%;
    overflow: scroll;
    padding-right: 0px;
    overflow-y: auto;
}
.tableData table {
    border-right: none;
}