<div class="row">
    <div class="col">
        <form>
            <label>Building / Area
                <input type="text">
            </label>
            <br>
            <label>Utility Supplier
                <input type="text">
            </label>
            <br>
            <label>Account Number
                <input type="text">
            </label>
            <br>
            <label>Notes
                <textarea></textarea>
            </label>
        </form>
    </div>
    <div class="col">
        <form>
            <label>Bill Period
                <input type="text">
            </label>
            <br>
            <label>Total kWh
                <input type="text">
            </label>
            <br>
            <label>Peak Demand
                <input type="text">
            </label>
            <br>
            <label>Off-Peak Demand
                <input type="text">
            </label>
            <br>
            <label>Peak Demand Change
                <input type="text">
            </label>
            <label>Total
                <input type="text">
            </label>
        </form>
    </div>
</div>



<div class="importExport">
    <button class="btn btn-secondary">Import</button>
    <button class="btn btn-secondary">Export</button>
</div>
<div class="meterNum">
    <strong>Meter #</strong> 13231
</div>

<table>
    <tr>
        <th class="row-year"></th>
        <th class="row-subheader"></th>
        <th>Jan</th>
        <th>Feb</th>
        <th>March</th>
        <th>April</th>
        <th>May</th>
        <th>June</th>
        <th>July</th>
        <th>Aug</th>
        <th>Sept</th>
        <th>Oct</th>
        <th>Nov</th>
        <th>Dec</th>
    </tr>
    <tr>
        <th class="row-year" rowspan="2">2020</th>
        <th class="row-subheader">$$</th>
        <td>0.00</td><td>0.00</td>
        <td>0.00</td><td>0.00</td>
        <td>0.00</td><td>0.00</td>
        <td>0.00</td><td>0.00</td>
        <td>0.00</td><td>0.00</td>
        <td>0.00</td><td>0.00</td>
    </tr>
    <tr>
        <th class="row-subheader">Qty</th>
        <td>0.00</td><td>0.00</td>
        <td>0.00</td><td>0.00</td>
        <td>0.00</td><td>0.00</td>
        <td>0.00</td><td>0.00</td>
        <td>0.00</td><td>0.00</td>
        <td>0.00</td><td>0.00</td>
    </tr>
    <tr>
        <th class="row-year" rowspan="2">2019</th>
        <th class="row-subheader">$$</th>
        <td>0.00</td><td>0.00</td>
        <td>0.00</td><td>0.00</td>
        <td>0.00</td><td>0.00</td>
        <td>0.00</td><td>0.00</td>
        <td>0.00</td><td>0.00</td>
        <td>0.00</td><td>0.00</td>
    </tr>
    <tr>
        <th class="row-subheader">Qty</th>
        <td>0.00</td><td>0.00</td>
        <td>0.00</td><td>0.00</td>
        <td>0.00</td><td>0.00</td>
        <td>0.00</td><td>0.00</td>
        <td>0.00</td><td>0.00</td>
        <td>0.00</td><td>0.00</td>
    </tr>
    <tr>
        <th class="row-year" rowspan="2">2018</th>
        <th class="row-subheader">$$</th>
        <td>0.00</td><td>0.00</td>
        <td>0.00</td><td>0.00</td>
        <td>0.00</td><td>0.00</td>
        <td>0.00</td><td>0.00</td>
        <td>0.00</td><td>0.00</td>
        <td>0.00</td><td>0.00</td>
    </tr>
    <tr>
        <th class="row-subheader">Qty</th>
        <td>0.00</td><td>0.00</td>
        <td>0.00</td><td>0.00</td>
        <td>0.00</td><td>0.00</td>
        <td>0.00</td><td>0.00</td>
        <td>0.00</td><td>0.00</td>
        <td>0.00</td><td>0.00</td>
    </tr>
</table>

<button class="btn btn-link">Add New Meter</button>
