<!--<div [@listAnimation]="meterList.length">-->
<div>
<div class="meter" *ngFor="let meterLists of meterList" >
    <div class="meterData item-left">
        <p><span class="bold">Meter #</span>{{meterLists.id}} {{meterLists.meterNumber}}</p>
        <p><span class="bold">Account #</span> {{meterLists.accountNumber}}</p>
        <p><span class="bold">Building / Area</span> {{meterLists.name}}</p>
        <p><span class="bold">Utility Supplier</span> {{meterLists.supplier}}</p>
        <p><span class="bold">Notes</span> {{meterLists.notes}}</p>
    </div>

    <div class="filter item-right">
        <button class="btn btn-secondary" (click)="filterMenu = !filterMenu">Filter</button>
        <div class="filter-dropdown" [hidden]="!filterMenu">
            <label>
                <input type="checkbox" name="filterkWh" [checked]="filterkWh" (change)="filterkWh = !filterkWh">Total kWh
            </label>
            <label>
                <input type="checkbox" name="filterPeak" [checked]="filterPeak" (change)="filterPeak = !filterPeak">Peak Demand
            </label>
            <label>
                <input type="checkbox" name="filterOffpeak" [checked]="filterOffpeak" (change)="filterOffpeak = !filterOffpeak">Off-Peak Demand
            </label>
            <label>
                <input type="checkbox" name="filterDemand" [checked]="filterDemand" (change)="filterDemand = !filterDemand">Total Demand
            </label>
            <label>
                <input type="checkbox" name="filterCost" [checked]="filterCost" (change)="filterCost = !filterCost">Total Cost
            </label>
            <label>
                <input type="checkbox" name="filterAvg" [checked]="filterAvg" (change)="filterAvg = !filterAvg">Average Cost
            </label>
        </div>
    </div>
    <table>
        <tr>
            <th class="row-year">Meter Read Date</th>
            <th [hidden]="!filterkWh">Total kWh</th>
            <th [hidden]="!filterPeak">Peak Demand</th>
            <th [hidden]="!filterOffpeak">Off-Peak Demand</th>
            <th [hidden]="!filterDemand">Total Demand</th>
            <th [hidden]="!filterCost">Total Cost</th>
            <th [hidden]="!filterAvg">Average Cost</th>
            <th></th>
        </tr>
        <tr *ngFor="let meterData of meterLists.data">
            <td>{{meterData.id}} {{meterData.readDate}}</td>
            <td [hidden]="!filterkWh">{{meterData.kwh}}</td>
            <td [hidden]="!filterPeak">{{meterData.peak}}</td>
            <td [hidden]="!filterOffpeak">{{meterData.offpeak}}</td>
            <td [hidden]="!filterDemand">{{meterData.totalDemand}}</td>
            <td [hidden]="!filterCost">{{meterData.totalCost}}</td>
            <td [hidden]="!filterAvg"><i class="fa fa-arrow-circle-up"></i></td>
            <td (click)="$event.stopPropagation();"> <!-- Prevents closure of menu on document click-->
                <i class="fa fa-ellipsis-v" (click)="meterDataToggleMenu(meterData.id)" ></i>
                <div class="meterMenu" [class.open]="meterDataMenuOpen === meterData.id">
                    <p (click)="meterDataEdit(meterLists.id,meterData.id)">Edit</p>
                    <p (click)="meterDataDelete(meterData.id)">Delete</p>
                </div>
            </td>
        </tr>
    </table>
    <button class="btn btn-link" (click)="meterDataAdd(meterLists.id)"><i class="fa fa-plus"></i> Add New Bill</button>
</div>

<!--
<div class="meter">
    <div class="meterData">
        <p><span class="bold">Meter #</span> 13231</p>
        <p><span class="bold">Account #</span> 123123</p>
        <p><span class="bold">Building / Area</span> Knoxville</p>
        <p><span class="bold">Utility Supplier</span> Knox Co</p>
        <p><span class="bold">Notes</span> The meter is on the back wall.</p>
    </div>

    <table>
        <tr>
            <th class="row-year"></th>
            <th class="row-subheader"></th>
            <th>Jan</th>
            <th>Feb</th>
            <th>March</th>
            <th>April</th>
            <th>May</th>
            <th>June</th>
            <th>July</th>
            <th>Aug</th>
            <th>Sept</th>
            <th>Oct</th>
            <th>Nov</th>
            <th>Dec</th>
            <th></th>
        </tr>
        <tr>
            <th class="row-year" rowspan="2">2020</th>
            <th class="row-subheader">$$</th>
            <td>0.00</td><td>0.00</td>
            <td>0.00</td><td>0.00</td>
            <td>0.00</td><td>0.00</td>
            <td>0.00</td><td>0.00</td>
            <td>0.00</td><td>0.00</td>
            <td>0.00</td><td>0.00</td>
            <td rowspan="2"><i class="fa fa-ellipsis-v"></i></td>
        </tr>
        <tr>
            <th class="row-subheader">Qty</th>
            <td>0.00</td><td>0.00</td>
            <td>0.00</td><td>0.00</td>
            <td>0.00</td><td>0.00</td>
            <td>0.00</td><td>0.00</td>
            <td>0.00</td><td>0.00</td>
            <td>0.00</td><td>0.00</td>
        </tr>
        <tr>
            <th class="row-year" rowspan="2">2019</th>
            <th class="row-subheader">$$</th>
            <td>0.00</td><td>0.00</td>
            <td>0.00</td><td>0.00</td>
            <td>0.00</td><td>0.00</td>
            <td>0.00</td><td>0.00</td>
            <td>0.00</td><td>0.00</td>
            <td>0.00</td><td>0.00</td>
            <td rowspan="2"><i class="fa fa-ellipsis-v"></i></td>
        </tr>
        <tr>
            <th class="row-subheader">Qty</th>
            <td>0.00</td><td>0.00</td>
            <td>0.00</td><td>0.00</td>
            <td>0.00</td><td>0.00</td>
            <td>0.00</td><td>0.00</td>
            <td>0.00</td><td>0.00</td>
            <td>0.00</td><td>0.00</td>
        </tr>
        <tr>
            <th class="row-year" rowspan="2">2018</th>
            <th class="row-subheader">$$</th>
            <td>0.00</td><td>0.00</td>
            <td>0.00</td><td>0.00</td>
            <td>0.00</td><td>0.00</td>
            <td>0.00</td><td>0.00</td>
            <td>0.00</td><td>0.00</td>
            <td>0.00</td><td>0.00</td>
            <td rowspan="2" (click)="popup = !popup"><i class="fa fa-ellipsis-v"></i></td>
        </tr>
        <tr>
            <th class="row-subheader">Qty</th>
            <td>0.00</td><td>0.00</td>
            <td>0.00</td><td>0.00</td>
            <td>0.00</td><td>0.00</td>
            <td>0.00</td><td>0.00</td>
            <td>0.00</td><td>0.00</td>
            <td>0.00</td><td>0.00</td>
        </tr>
    </table>
</div>
-->
<div class="popup" [class.open]="popup == true">
    <div class="popupOverlay"></div>
    <div class="popupContent">
        <h4>Edit Meter Data</h4>
        <p class="bold">Meter Data</p>
        <form [formGroup]="meterDataForm">
            <label>Id
                <input type="text" formControlName="id">
            </label>
            <br>
            <label>Meter id
                <input type="text" formControlName="meterid">
            </label>
            <br>
            <label>Meter Read Date
                <input type="text" formControlName="readDate">
            </label>
            <br>
            <label>Total kWh
                <input type="text" formControlName="kwh">
            </label>
            <br>
            <label>Peak Demand
                <input type="text" formControlName="peak">
            </label>
            <br>
            <label>Off-Peak Demand
                <input type="text" formControlName="offpeak">
            </label>
            <br>
            <label>Total Demand
                <input type="text" formControlName="totalDemand">
            </label>
            <label>Total Cost
                <input type="number" formControlName="totalCost">
            </label>
        </form>
        <div class="saveCancel item-right">
            <button class="btn btn-primary" (click)="popup = !popup">Cancel</button>
            <button class="btn btn-primary" (click)="meterDataSave()">Save</button>
        </div>
    </div>
</div>

</div>