<h4>Electricity Bills</h4>

<div class="controls">
    <!--Import/Export-->
    <div class="importExport item-right">
        <button class="btn btn-outline" (click)="energyConsumptionService.importPopup = true">Import</button>
        <button class="btn btn-outline" (click)="energyConsumptionService.meterExport('Electricity')">Export</button>
    </div>
    <!--Bulk Delete-->
    <div class="bulk-delete item-right" [class.show]="energyConsumptionService.is_checked">
        <button class="btn btn-danger" (click)='energyConsumptionService.bulkDelete()'>Bulk Delete</button>
    </div>
    <!--Column Filters-->
    <div class="filter item-right">
        <button class="btn" [ngClass]="{'btn-solid' : !filterColMenu, 'btn-outline' : filterColMenu}" (click)="filterColMenu = !filterColMenu; filterInpMenu = false">Filter</button>
        <div class="filter-dropdown" [hidden]="!filterColMenu">
            <label *ngFor="let filterCols of filterCol">
                <input type="checkbox" name="filterCols.name" [checked]="filterCols.filter" (change)="filterCols.filter = !filterCols.filter">{{filterCols.display}}
            </label>
            <br><br>
            <a (click)="showAllColumns();">Show All</a>
        </div>
    </div>
    <!--Items Per Page-->
    <div class="items-per-page item-right">
        <span>Show </span>
        <select (change)="changePagesize($event.target.value)">
            <option value="6">6</option>
            <option value="12">12</option>
            <option value="24">24</option>
            <option value="36">36</option>
            <option value="48">48</option>
            <option value="60">60</option>
        </select>
    </div>    
</div>

<div class="meter" *ngFor="let meterLists of meterList; let i=index;">
    <div class="meterData">
        <h6><i class="fa fa-caret-right"></i> #{{meterLists.id}} {{meterLists.name}}</h6>
        <p>{{meterLists.notes}}</p>
        
        <button class="btn btn-link item-right" (click)="energyConsumptionService.meterDataAdd(meterLists.id)"><i class="fa fa-plus"></i> Add New Bill</button>
        <div class="tableControls overflow-hidden item-right">
            <div class="item-right">
                <ngb-pagination [collectionSize]="meterLists.data.length" [(page)]="page[i]" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" aria-label="Default pagination" (pageChange)="onPageChange(i, page[i])"></ngb-pagination>
            </div>
            <p class="item-right">{{meterLists.data.length}} entries</p>
        </div>
    </div>
    

    <div class="row no-margin">
        <div class="col no-margin tableData">
        <table>
            <tr>
                <th><input #masterCheckbox type="checkbox" (change)="energyConsumptionService.checkAll(meterLists.id, $event)"></th>
                <th class="row-year">Meter Read Date</th>
                <th>Total kWh</th>
                <th>Total Demand</th>
                <th>Total Cost</th>
                <th [hidden]="!filterCol[0]['filter']">Basic Charge</th>
                <th [hidden]="!filterCol[1]['filter']">Supply Block Amt</th>
                <th [hidden]="!filterCol[2]['filter']">Supply Block Charge</th>
                <th [hidden]="!filterCol[3]['filter']">Flat Rate Amount</th>
                <th [hidden]="!filterCol[4]['filter']">Flat Rate Charge</th>
                <th [hidden]="!filterCol[5]['filter']">Peak Amount</th>
                <th [hidden]="!filterCol[6]['filter']">Peak Charge</th>
                <th [hidden]="!filterCol[7]['filter']">Off-Peak Amount</th>
                <th [hidden]="!filterCol[8]['filter']">Off-Peak Charge</th>
                <th [hidden]="!filterCol[9]['filter']">Demand Block Amt</th>
                <th [hidden]="!filterCol[10]['filter']">Demand Block Charge</th>
                <th [hidden]="!filterCol[11]['filter']">Gen Trans Charge</th>
                <th [hidden]="!filterCol[12]['filter']">Delivery Charge</th>
                <th [hidden]="!filterCol[13]['filter']">Trans Charge</th>
                <th [hidden]="!filterCol[14]['filter']">Power Factor Charge</th>
                <th [hidden]="!filterCol[15]['filter']">Business Charge</th>
                <th [hidden]="!filterCol[16]['filter']">Utility Tax</th>
                <th [hidden]="!filterCol[17]['filter']">Late Payment</th>
                <th [hidden]="!filterCol[18]['filter']">Other Charge</th>
            </tr>
            <tr *ngFor="let meterData of meterLists.data | slice: pageSize[i] | slice: 0:itemsPerPage">
                <td><input [value]="meterData.id" type="checkbox" name="metersSelected" (change)="energyConsumptionService.checkCheckboxes($event)" [(ngModel)]="meterData.checked"></td>
                <td>{{meterData.readDate}}</td>
                <td>{{meterData.totalEnergyUse}}</td>
                <td>{{meterData.totalDemand}}</td>
                <td>${{meterData.totalCost}}</td>
                <td [hidden]="!filterCol[0]['filter']">${{meterData.basicCharge}}</td>
                <td [hidden]="!filterCol[1]['filter']">{{meterData.supplyBlockAmt}}</td>
                <td [hidden]="!filterCol[2]['filter']">${{meterData.supplyBlockCharge}}</td>
                <td [hidden]="!filterCol[3]['filter']">{{meterData.flatRateAmt}}</td>
                <td [hidden]="!filterCol[4]['filter']">${{meterData.flatRateCharge}}</td>
                <td [hidden]="!filterCol[5]['filter']">{{meterData.peakAmt}}</td>
                <td [hidden]="!filterCol[6]['filter']">${{meterData.peakCharge}}</td>
                <td [hidden]="!filterCol[7]['filter']">{{meterData.offpeakAmt}}</td>
                <td [hidden]="!filterCol[8]['filter']">${{meterData.offpeakCharge}}</td>
                <td [hidden]="!filterCol[9]['filter']">{{meterData.demandBlockAmt}}</td>
                <td [hidden]="!filterCol[10]['filter']">${{meterData.demandBlockCharge}}</td>
                <td [hidden]="!filterCol[11]['filter']">${{meterData.genTransCharge}}</td>
                <td [hidden]="!filterCol[12]['filter']">${{meterData.deliveryCharge}}</td>
                <td [hidden]="!filterCol[13]['filter']">${{meterData.transCharge}}</td>
                <td [hidden]="!filterCol[14]['filter']">${{meterData.powerFactorCharge}}</td>
                <td [hidden]="!filterCol[15]['filter']">${{meterData.businessCharge}}</td>
                <td [hidden]="!filterCol[16]['filter']">${{meterData.utilityTax}}</td>
                <td [hidden]="!filterCol[17]['filter']">${{meterData.latePayment}}</td>
                <td [hidden]="!filterCol[18]['filter']">${{meterData.otherCharge}}</td>
            </tr>
        </table>
    </div>
        <div class="col tableMenu">
            <table>
                <tr>
                    <th></th>
                </tr>
                <tr *ngFor="let meterData of meterLists.data | slice: pageSize[i] | slice: 0:itemsPerPage">
                    <td (click)="$event.stopPropagation();"> <!-- Prevents closure of menu on document click-->
                        <i class="fa fa-ellipsis-v" (click)="energyConsumptionService.meterDataToggleMenu(meterData.id)" ></i>
                        <div class="meterMenu" [class.open]="energyConsumptionService.meterDataMenuOpen === meterData.id">
                            <p (click)="energyConsumptionService.meterDataEdit(meterLists.id,meterData.id)">Edit</p>
                            <p (click)="energyConsumptionService.meterDataDelete(meterData.id)">Delete</p>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="window" [class.open]="energyConsumptionService.popup == true">
    <div class="windowOverlay"></div>
    <div class="windowContent windowContentLg">
        <h4>Edit Electric Bill</h4>

        <div class="filter item-right">
            <button class="btn" [ngClass]="{'btn-outline' : !filterInpMenu, 'btn-solid' : filterInpMenu}" (click)="filterInpMenu = !filterInpMenu; filterColMenu = false">Filter</button>
        </div> 
            <!--Input Filters-->
            <div class="filter-dropdown" [hidden]="!filterInpMenu">
                <label *ngFor="let filterInps of filterInp">
                    <input type="checkbox" name="filterInps.name" [checked]="filterInps.filter" (change)="filterInps.filter = !filterInps.filter">{{filterInps.display}}
                </label>
                <br><br>
                <a (click)="showAllFields();">Show All</a>
            </div>

        <p class="bold">General Information</p>
        <form class="meterForm" [formGroup]="energyConsumptionService.meterDataForm">
            
            <!--Do not allow users to change these values-->
            <input hidden type="text" formControlName="id">
            <input hidden type="text" formControlName="meterid">
            <input hidden type="text" formControlName="facilityid">
            <input hidden type="text" formControlName="accountid">
            <input hidden type="text" formControlName="unit">
            <input hidden type="text" formControlName="commodityCharge">
            
            <!--Allow users to change these values-->
            <label>Meter Read Date
                <input type="text" formControlName="readDate" required>
            </label>
            <br>
            <label [hidden]="!filterInp[0]['filter']">Basic Charge/fixed fee
                <span class="unit">$</span>
                <input type="text" formControlName="basicCharge">
            </label>
            <br>
            <label [hidden]="!filterInp[1]['filter'] && !filterInp[2]['filter'] && !filterInp[3]['filter'] && !filterInp[4]['filter']">
                <p class="bold subheader">Supply Charges</p>
                <label [hidden]="!filterInp[1]['filter'] && !filterInp[2]['filter']">Block Rates
                    <div class="row no-margin">
                        <div [hidden]="!filterInp[1]['filter']" class="col no-margin">
                            <input type="number" formControlName="supplyBlockAmt">
                        </div>
                        <div [hidden]="!filterInp[1]['filter']" class="col unitKwh">
                            <span class="unit">kWh</span>
                        </div>
                        <div [hidden]="!filterInp[2]['filter']" class="col no-margin">
                            <input type="number" formControlName="supplyBlockCharge">
                        </div>
                        <div [hidden]="!filterInp[2]['filter']" class="col unitCurrency">
                            <span class="unit">$</span>
                        </div>
                    </div>
                </label>
                <label [hidden]="!filterInp[3]['filter'] && !filterInp[4]['filter']">Flat Rates
                    <div class="row no-margin">
                        <div [hidden]="!filterInp[3]['filter']" class="col no-margin">
                            <input type="number" formControlName="flatRateAmt">
                        </div>
                        <div [hidden]="!filterInp[3]['filter']" class="col unitKwh">
                            <span class="unit">kWh</span>
                        </div>
                        <div [hidden]="!filterInp[4]['filter']" class="col no-margin">
                            <input type="number" formControlName="flatRateCharge">
                        </div>
                        <div  [hidden]="!filterInp[4]['filter']" class="col unitCurrency">
                            <span class="unit">$</span>
                        </div>
                    </div>
                </label>
            </label>

            <label [hidden]="!filterInp[5]['filter'] && !filterInp[6]['filter'] && !filterInp[7]['filter'] && !filterInp[8]['filter'] && !filterInp[9]['filter'] && !filterInp[10]['filter']">
                <p class="bold subheader">Demand Charge</p>
                <label [hidden]="!filterInp[5]['filter'] && !filterInp[6]['filter']">On-Peak Demand
                    <div class="row no-margin">
                        <div [hidden]="!filterInp[5]['filter']" class="col no-margin">
                            <input type="number" formControlName="peakAmt">
                        </div>
                        <div [hidden]="!filterInp[5]['filter']" class="col unitKwh">
                            <span class="unit">kWh</span>
                        </div>
                        <div [hidden]="!filterInp[6]['filter']" class="col no-margin">
                            <input type="number" formControlName="peakCharge">
                        </div>
                        <div [hidden]="!filterInp[6]['filter']" class="col unitCurrency">
                            <span class="unit">$</span>
                        </div>
                    </div>
                </label>
                <label [hidden]="!filterInp[7]['filter'] && !filterInp[8]['filter']">Off-Peak Demand
                    <div class="row no-margin">
                        <div [hidden]="!filterInp[7]['filter']" class="col no-margin">
                            <input type="number" formControlName="offpeakAmt">
                        </div>
                        <div [hidden]="!filterInp[7]['filter']" class="col unitKwh">
                            <span class="unit">kWh</span>
                        </div>
                        <div [hidden]="!filterInp[8]['filter']" class="col no-margin">
                            <input type="number" formControlName="offpeakCharge">
                        </div>
                        <div [hidden]="!filterInp[8]['filter']" class="col unitCurrency">
                            <span class="unit">$</span>
                        </div>
                    </div>
                </label>
                <label [hidden]="!filterInp[9]['filter'] && !filterInp[10]['filter']">Block Rates
                    <div class="row no-margin">
                        <div [hidden]="!filterInp[9]['filter']" class="col no-margin">
                            <input type="number" formControlName="demandBlockAmt">
                        </div>
                        <div [hidden]="!filterInp[9]['filter']" class="col unitKwh">
                            <span class="unit">kWh</span>
                        </div>
                        <div [hidden]="!filterInp[10]['filter']" class="col no-margin">
                            <input type="number" formControlName="demandBlockCharge">
                        </div>
                        <div [hidden]="!filterInp[10]['filter']" class="col unitCurrency">
                            <span class="unit">$</span>
                        </div>
                    </div> 
                </label>
            </label>
            <label [hidden]="!filterInp[11]['filter']">Generation and Transmission charges
                <span class="unit">$</span>
                <input type="number" formControlName="genTransCharge">
            </label>
            <label [hidden]="!filterInp[12]['filter']">Delivery Charges
                <span class="unit">$</span>
                <input type="number" formControlName="deliveryCharge">
            </label>
            <label [hidden]="!filterInp[13]['filter']">Transmission Charges
                <span class="unit">$</span>
                <input type="number" formControlName="transCharge">
            </label>
            <label [hidden]="!filterInp[14]['filter']">Power factor Charges
                <span class="unit">$</span>
                <input type="number" formControlName="powerFactorCharge">
            </label>
            
            <br><br>

            <p class="bold" [hidden]="!filterInp[15]['filter'] && !filterInp[16]['filter'] && !filterInp[17]['filter'] && !filterInp[18]['filter']">Tax and other</p>
            <label [hidden]="!filterInp[15]['filter']">Local Business and Occupation Charge
                <span class="unit">$</span>
                <input type="text" formControlName="businessCharge">
            </label>
            <label [hidden]="!filterInp[16]['filter']">Local Utility Tax
                <span class="unit">$</span>
                <input type="text" formControlName="utilityTax">
            </label>
            <label [hidden]="!filterInp[17]['filter']">Late Payment Charge
                <span class="unit">$</span>
                <input type="text" formControlName="latePayment">
            </label>
            <label [hidden]="!filterInp[18]['filter']">Other Charges
                <span class="unit">$</span>
                <input type="text" formControlName="otherCharge">
            </label>
            <hr>
            <p class="bold">Totals</p>
            <label>Total Energy Use
                <span class="unit">kWh</span>
                <input type="text" formControlName="totalEnergyUse" required>
            </label>
            <label>Total Demand
                <span class="unit">$</span>
                <input type="text" formControlName="totalDemand" required>
            </label>
            <label>Total Cost
                <span class="unit">$</span>
                <input type="text" formControlName="totalCost" required>
            </label>
            <label hidden>Checked
                <span class="unit">$</span>
                <input type="checkbox" formControlName="checked" required>
            </label>
        </form>

        <hr>
        <a (click)="showAllFields();">Show All Fields</a><br>

        <div class="saveCancel item-right">
            <button class="btn btn-primary" (click)="energyConsumptionService.popup = !energyConsumptionService.popup">Cancel</button>
            <button class="btn btn-primary" (click)="energyConsumptionService.meterDataSave()">Save</button>
        </div>
    </div>
</div>


<div class="window"  [class.open]="energyConsumptionService.importPopup == true">
    <div class="windowOverlay"></div>
    <div class="windowContent">
        <h4>Import Meters</h4>
        <br>
        <form>
            <input type="file" #inputFile accept=".csv" (change)="energyConsumptionService.meterDataImport('Electricity',$event.target.files)">
        </form>
        <br>
        <div class="importQuickView" [hidden]="energyConsumptionService.quickView ==''">
            <p class="bold">Quick View</p>
            <table>
                <tr>
                    <th class="row-year">Meter Read Date</th>
                    <th>Total kWh</th>
                    <th>Total Demand</th>
                    <th>Total Cost</th>
                    <th [hidden]="!filterCol[0]['filter']">Basic Charge</th>
                    <th [hidden]="!filterCol[1]['filter']">Supply Block Amt</th>
                    <th [hidden]="!filterCol[2]['filter']">Supply Block Charge</th>
                    <th [hidden]="!filterCol[3]['filter']">Flat Rate Amount</th>
                    <th [hidden]="!filterCol[4]['filter']">Flat Rate Charge</th>
                    <th [hidden]="!filterCol[5]['filter']">Peak Amount</th>
                    <th [hidden]="!filterCol[6]['filter']">Peak Charge</th>
                    <th [hidden]="!filterCol[7]['filter']">Off-Peak Amount</th>
                    <th [hidden]="!filterCol[8]['filter']">Off-Peak Charge</th>
                    <th [hidden]="!filterCol[9]['filter']">Demand Block Amt</th>
                    <th [hidden]="!filterCol[10]['filter']">Demand Block Charge</th>
                    <th [hidden]="!filterCol[11]['filter']">Gen Trans Charge</th>
                    <th [hidden]="!filterCol[12]['filter']">Delivery Charge</th>
                    <th [hidden]="!filterCol[13]['filter']">Trans Charge</th>
                    <th [hidden]="!filterCol[14]['filter']">Power Factor Charge</th>
                    <th [hidden]="!filterCol[15]['filter']">Business Charge</th>
                    <th [hidden]="!filterCol[16]['filter']">Utility Tax</th>
                    <th [hidden]="!filterCol[17]['filter']">Late Payment</th>
                    <th [hidden]="!filterCol[18]['filter']">Other Charge</th>
                </tr>
                <tr *ngFor="let item of energyConsumptionService.quickView">
                    <td>{{item.readDate}}</td>
                    <td>{{item.totalKwh}}</td>
                    <td>{{item.totalDemand}}</td>
                    <td>${{item.totalCost}}</td>
                    <td [hidden]="!filterCol[0]['filter']">${{item.basicCharge}}</td>
                    <td [hidden]="!filterCol[1]['filter']">{{item.supplyBlockAmt}}</td>
                    <td [hidden]="!filterCol[2]['filter']">${{item.supplyBlockCharge}}</td>
                    <td [hidden]="!filterCol[3]['filter']">{{item.flatRateAmt}}</td>
                    <td [hidden]="!filterCol[4]['filter']">${{item.flatRateCharge}}</td>
                    <td [hidden]="!filterCol[5]['filter']">{{item.peakAmt}}</td>
                    <td [hidden]="!filterCol[6]['filter']">${{item.peakCharge}}</td>
                    <td [hidden]="!filterCol[7]['filter']">{{item.offpeakAmt}}</td>
                    <td [hidden]="!filterCol[8]['filter']">${{item.offpeakCharge}}</td>
                    <td [hidden]="!filterCol[9]['filter']">{{item.demandBlockAmt}}</td>
                    <td [hidden]="!filterCol[10]['filter']">${{item.demandBlockCharge}}</td>
                    <td [hidden]="!filterCol[11]['filter']">${{item.genTransCharge}}</td>
                    <td [hidden]="!filterCol[12]['filter']">${{item.deliveryCharge}}</td>
                    <td [hidden]="!filterCol[13]['filter']">${{item.transCharge}}</td>
                    <td [hidden]="!filterCol[14]['filter']">${{item.powerFactorCharge}}</td>
                    <td [hidden]="!filterCol[15]['filter']">${{item.businessCharge}}</td>
                    <td [hidden]="!filterCol[16]['filter']">${{item.utilityTax}}</td>
                    <td [hidden]="!filterCol[17]['filter']">${{item.latePayment}}</td>
                    <td [hidden]="!filterCol[18]['filter']">${{item.otherCharge}}</td>
                </tr>
            </table>
        </div>
        <p class="alert alert-danger" [hidden]="energyConsumptionService.importError == ''">{{energyConsumptionService.importError}}</p>

        <div class="saveCancel item-right">
            <button class="btn btn-primary" (click)="resetImport(); energyConsumptionService.resetImport(); energyConsumptionService.importPopup = !energyConsumptionService.importPopup">Cancel</button>
            <button class="btn btn-primary" (click)="resetImport(); energyConsumptionService.meterAddCSV()" [disabled]="energyConsumptionService.importError != ''">Submit</button>
        </div>
    </div>
</div>

