<ng-container *ngIf="!fileReference.dataSubmitted">
    <div class="d-flex">
        <div class="d-flex">
            <button class="btn nav-btn" (click)="goBack()">Back</button>
        </div>
    </div>
    <hr>
    <div class="d-flex w-100 justify-content-center">
        <div class="d-flex">
            <button class="btn btn-lg action-btn" (click)="submit()">Submit Upload Data</button>
        </div>
    </div>
    <hr>
    <div class="alert alert-info text-center">
        Click "Submit Upload Data" to add the utility data to this account from the template setup in the previous steps.
        Once submitted,
        this file will no longer be able to be modifed in this setup. <b>This cannot be undone.</b>
    </div>
</ng-container>

<div class="p-4 text-center justify-content-center" *ngIf="fileReference.dataSubmitted && hasNextFile">
    <p class="alert alert-info">Data for this file has been submitted. Click the button below to continue to the next
        file.</p>
    <button class="btn nav-btn" (click)="goToNext()">Go To Next File</button>
</div>

<div class="p-4 text-center justify-content-center" *ngIf="fileReference.dataSubmitted && !hasNextFile">
    <p class="alert alert-info">Data for all files have been submitted. Use the buttons below to either upload more
        files or navigate to the
        account dashboard.</p>
    <div class="d-flex justify-content-center">
        <button class="btn btn-lg nav-btn me-2" (click)="goToUpload()">Upload Additional Files</button>
        <button class="btn btn-lg nav-btn" (click)="goToAccountDashboard()"><span class="fa fa-home"></span> Go To Account Home</button>
    </div>
</div>