@if (!isRECs) {
  <table class="table utility-data table-sm table-bordered table-hover" #meterTable
    [ngClass]="{'copying-table': copyingTable}">
    <thead class="sortable">
      <tr class="table-mh">
        <th></th>
        <th [attr.colspan]="numGeneralInformation">
          General Information
        </th>
        @if (emissionsFilters.showSection) {
          <th [attr.colspan]="numEmissions">
            Emissions
          </th>
        }
        @if (numDetailedCharges > 0) {
          <th [attr.colspan]="numDetailedCharges">
            Detailed Charges
          </th>
        }
        <th>
        </th>
      </tr>
      <tr>
        @if (!copyingTable) {
          <th class="input">
            <input #masterCheckbox type="checkbox" (change)="checkAll()" [(ngModel)]="allChecked">
          </th>
        }
        <th (click)="setOrderDataField('readDate')" [ngClass]="{'active': orderDataField == 'readDate'}"
        class="row-year">Meter Read Date</th>
        <th (click)="setOrderDataField('totalEnergyUse')"
          [ngClass]="{'active': orderDataField == 'totalEnergyUse'}">Total Energy<br> (<span
        [innerHTML]="energyUnit | settingsLabel"></span>)</th>
        @if (generalInformationFilters.totalCost) {
          <th (click)="setOrderDataField('totalCost')"
            [ngClass]="{'active': orderDataField == 'totalCost'}">Total
          Cost</th>
        }
        <!-- totalRealDemand -->
        @if (generalInformationFilters.realDemand) {
          <th (click)="setOrderDataField('totalRealDemand')"
            [ngClass]="{'active': orderDataField == 'totalRealDemand'}">Total
            Real<br> Demand (kW)</th>
          }
          <!-- totalBilledDemand -->
          @if (generalInformationFilters.billedDemand) {
            <th (click)="setOrderDataField('totalBilledDemand')"
              [ngClass]="{'active': orderDataField == 'totalBilledDemand'}">Total
              Billed<br> Demand (kW)</th>
            }
            <!-- totalBilledDemand -->
            @if (generalInformationFilters.powerFactor) {
              <th (click)="setOrderDataField('powerFactor')"
                [ngClass]="{'active': orderDataField == 'powerFactor'}">
              Power Factor</th>
            }
            @if (emissionsFilters.marketEmissions) {
              <th (click)="setOrderDataField('totalMarketEmissions')"
                [ngClass]="{'active': orderDataField == 'totalMarketEmissions'}">Total <br>Market-Based <br>Emissions
                (tonne
                CO<sub>2</sub>e)</th>
              }
              @if (emissionsFilters.locationEmissions) {
                <th (click)="setOrderDataField('totalLocationEmissions')"
                  [ngClass]="{'active': orderDataField == 'totalLocationEmissions'}">Total <br>Location-Based
                  <br>Emissions (tonne
                    CO<sub>2</sub>e)
                  </th>
                }
                @if (emissionsFilters.recs) {
                  <th (click)="setOrderDataField('RECs')"
                    [ngClass]="{'active': orderDataField == 'RECs'}">RECs<br> (MWh)</th>
                  }
                  @for (charge of selectedMeter.charges; track charge) {
                    @if ((charge.chargeType == 'consumption' || charge.chargeType == 'demand') && charge.displayUsageInTable) {
                      <th (click)="setOrderDataField(charge.guid, 'usage')"
                        [ngClass]="{'active': orderDataField == charge.guid && orderByCharge == 'usage'}">
                        {{charge.name}} <br>({{selectedMeter.demandUnit}})
                      </th>
                    }
                    @if (charge.displayChargeInTable) {
                      <th (click)="setOrderDataField(charge.guid, 'amount')"
                        [ngClass]="{'active': orderDataField == charge.guid && orderByCharge == 'amount'}">
                        {{ charge.name }} <br>(&dollar;)
                      </th>
                    }
                  }
                  @if (!copyingTable) {
                    <th>Actions</th>
                  }
                </tr>
              </thead>
              <tbody class="table-group-divider">
                @for (meterData of selectedMeterData | orderMeterDataBy: orderDataField: orderByDirection : orderByCharge| slice: ((currentPageNumber-1) * itemsPerPage): currentPageNumber * itemsPerPage; track meterData) {
                  <tr
                    >
                    @if (!copyingTable) {
                      <td class="input">
                        <input type="checkbox" name="metersSelected" (change)="toggleChecked()" [(ngModel)]="meterData.checked">
                      </td>
                    }
                    <td class="read-date">{{meterData.readDate | date}}</td>
                    <td>
                      @if (meterData.isEstimated) {
                        <span class="fa fa-asterisk"></span>
                      }
                      @if (selectedMeter.includeInEnergy) {
                        {{meterData.totalEnergyUse | customNumber}}
                      }
                      @if (!selectedMeter.includeInEnergy) {
                        {{0 | customNumber}}
                      }
                    </td>
                    @if (generalInformationFilters.totalCost) {
                      <td>{{meterData.totalCost | customNumber:true}}</td>
                    }
                    @if (generalInformationFilters.realDemand) {
                      <td>{{meterData.totalRealDemand | customNumber}}</td>
                    }
                    @if (generalInformationFilters.billedDemand) {
                      <td>{{meterData.totalBilledDemand | customNumber}}</td>
                    }
                    @if (generalInformationFilters.powerFactor) {
                      <td>{{meterData.powerFactor | customNumber}}</td>
                    }
                    @if (emissionsFilters.marketEmissions) {
                      <td>{{meterData.totalWithMarketEmissions | customNumber}}</td>
                    }
                    @if (emissionsFilters.locationEmissions) {
                      <td>{{meterData.totalWithLocationEmissions | customNumber}}</td>
                    }
                    @if (emissionsFilters.recs) {
                      <td>{{meterData.RECs | customNumber}}</td>
                    }
                    @for (meterCharge of selectedMeter.charges; track meterCharge) {
                      @if ((meterCharge.chargeType == 'consumption' || meterCharge.chargeType == 'demand') && meterCharge.displayUsageInTable) {
                        <td>
                          {{meterData.charges | meterChargeValue: meterCharge.guid: 'usage' | customNumber}}
                        </td>
                      }
                      @if (meterCharge.displayChargeInTable) {
                        <td>
                          {{meterData.charges | meterChargeValue: meterCharge.guid: 'amount' | customNumber:true}}
                        </td>
                      }
                    }
                    @if (!copyingTable) {
                      <td class="actions">
                        <div class="btn-group">
                          <button class="btn btn-sm btn-outline" (click)="setEditMeterData(meterData)" title="Edit">
                            <i class="fa fa-pencil"></i>
                          </button>
                          @if (isElectron) {
                            <app-view-connect-bill [meterData]="meterData"
                            [selectedMeter]="selectedMeter"></app-view-connect-bill>
                          }
                          <button class="btn btn-sm btn-outline" (click)="setDeleteMeterData(meterData)" title="Delete">
                            <i class="fa fa-trash"></i>
                          </button>
                        </div>
                      </td>
                    }
                  </tr>
                }
              </tbody>
            </table>
          }

          @if (isRECs) {
            <table class="table utility-data table-sm table-bordered table-hover" #meterTable
              [ngClass]="{'copying-table': copyingTable}">
              <thead class="sortable">
                <tr class="table-mh">
                  <th></th>
                  <th [attr.colspan]="numGeneralInformation">
                    General Information
                  </th>
                  @if (numEmissions > 0) {
                    <th [attr.colspan]="numEmissions">
                      Emissions
                    </th>
                  }
                  @if (numDetailedCharges > 0) {
                    <th [attr.colspan]="numDetailedCharges">
                      Detailed Charges
                    </th>
                  }
                  <th>
                  </th>
                </tr>
                <tr>
                  @if (!copyingTable) {
                    <th class="input">
                      <input #masterCheckbox type="checkbox" (change)="checkAll()" [(ngModel)]="allChecked">
                    </th>
                  }
                  <th (click)="setOrderDataField('readDate')" [ngClass]="{'active': orderDataField == 'readDate'}"
                  class="row-year">Meter Read Date</th>
                  @if (generalInformationFilters.totalCost) {
                    <th (click)="setOrderDataField('totalCost')"
                      [ngClass]="{'active': orderDataField == 'totalCost'}">Total
                    Cost</th>
                  }
                  @if (emissionsFilters.recs) {
                    <th (click)="setOrderDataField('RECs')"
                      [ngClass]="{'active': orderDataField == 'RECs'}">RECs<br> (MWh)</th>
                    }
                    @if (emissionsFilters.excessRECs) {
                      <th (click)="setOrderDataField('excessRECs')"
                        [ngClass]="{'active': orderDataField == 'excessRECs'}">Excess
                        RECs<br> (MWh)</th>
                      }
                      @if (emissionsFilters.excessRECsEmissions) {
                        <th (click)="setOrderDataField('excessRECsEmissions')"
                          [ngClass]="{'active': orderDataField == 'excessRECsEmissions'}">Excess
                          RECs<br> Emissions (tonne CO<sub>2</sub>e)</th>
                        }
                        @for (charge of selectedMeter.charges; track charge) {
                          @if ((charge.chargeType == 'consumption' || charge.chargeType == 'demand') && charge.displayUsageInTable) {
                            <th (click)="setOrderDataField(charge.guid, 'usage')"
                              [ngClass]="{'active': orderDataField == charge.guid && orderByCharge == 'usage'}">
                              {{charge.name}} <br>({{selectedMeter.demandUnit}})
                            </th>
                          }
                          @if (charge.displayChargeInTable) {
                            <th (click)="setOrderDataField(charge.guid, 'amount')"
                              [ngClass]="{'active': orderDataField == charge.guid && orderByCharge == 'amount'}">
                              {{ charge.name }} <br>(&dollar;)
                            </th>
                          }
                        }
                        <th></th>
                      </tr>
                    </thead>
                    <tbody class="table-group-divider">
                      @for (meterData of selectedMeterData | orderMeterDataBy: orderDataField: orderByDirection | slice: ((currentPageNumber-1) * itemsPerPage): currentPageNumber * itemsPerPage; track meterData) {
                        <tr
                          >
                          @if (!copyingTable) {
                            <td class="input">
                              <input type="checkbox" name="metersSelected" (change)="toggleChecked()" [(ngModel)]="meterData.checked">
                            </td>
                          }
                          <td class="read-date">{{meterData.readDate | date}}</td>
                          @if (generalInformationFilters.totalCost) {
                            <td>{{meterData.totalCost | customNumber:true}}</td>
                          }
                          @if (emissionsFilters.recs) {
                            <td>{{meterData.RECs | customNumber}}</td>
                          }
                          @if (emissionsFilters.excessRECs) {
                            <td>{{meterData.excessRECs | customNumber}}</td>
                          }
                          @if (emissionsFilters.excessRECsEmissions) {
                            <td>{{meterData.excessRECsEmissions | customNumber}}</td>
                          }
                          @for (meterCharge of selectedMeter.charges; track meterCharge) {
                            @if ((meterCharge.chargeType == 'consumption' || meterCharge.chargeType == 'demand') && meterCharge.displayUsageInTable) {
                              <td>
                                {{meterData.charges | meterChargeValue: meterCharge.guid: 'usage' | customNumber}}
                              </td>
                            }
                            @if (meterCharge.displayChargeInTable) {
                              <td>
                                {{meterData.charges | meterChargeValue: meterCharge.guid: 'amount' | customNumber:true}}
                              </td>
                            }
                          }
                          @if (!copyingTable) {
                            <td class="actions">
                              <div class="btn-group">
                                <button class="btn btn-sm btn-outline" (click)="setEditMeterData(meterData)" title="Edit">
                                  <i class="fa fa-pencil"></i>
                                </button>
                                @if (isElectron) {
                                  <app-view-connect-bill [meterData]="meterData"
                                  [selectedMeter]="selectedMeter"></app-view-connect-bill>
                                }
                                <button class="btn btn-sm btn-outline" (click)="setDeleteMeterData(meterData)" title="Delete">
                                  <i class="fa fa-trash"></i>
                                </button>
                              </div>
                            </td>
                          }
                        </tr>
                      }
                    </tbody>
                  </table>
                }


                <div class="d-flex w-100 justify-content-between">
                  <div class="d-flex">
                    <div>
                      <button class="btn action-btn btn-sm" (click)="copyTable()">
                        <span class="fa fa-copy"></span> Copy Table
                      </button>
                    </div>
                    @if (showEstimated) {
                      <div class="ps-2">
                        <span class="fa fa-asterisk"></span> Indicates Estimated Reading
                      </div>
                    }
                  </div>

                  <ngb-pagination [collectionSize]="selectedMeterData.length" [(page)]="currentPageNumber" [pageSize]="itemsPerPage"
                    [maxSize]="5" [rotate]="true" aria-label="Pagination">
                  </ngb-pagination>
                </div>