<div class="wrapper main-content">
    <h4>Monthly Meter Data</h4>
    <p>Meter data has been calendarized. Data represented with <span class="bold">NA</span> does not have a full month of data to calculate.</p>

    <div class="controls">
        <!--Column Filters-->
        <div class="filter item-right">
            <button class="btn btn-solid">Filter</button>
        </div>
        <!--Items Per Page-->
        <div class="items-per-page item-right">
            <span>Show </span>
            <select (change)="changePagesize($event.target.value)">
                <option value="6">6</option>
                <option value="12" selected>12</option>
                <option value="24">24</option>
                <option value="36">36</option>
                <option value="48">48</option>
                <option value="60">60</option>
            </select>
        </div>

    </div>

    <div class="meter" *ngFor="let obj of meterObj; let i=index;">
        <div class="tableControls overflow-hidden">
            <div class="item-right">
                <ngb-pagination [collectionSize]="obj.calendarization.length" [(page)]="page[i]" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" aria-label="Default pagination" (pageChange)="onPageChange(i, page[i])"></ngb-pagination>
            </div>
            <p class="item-right">{{obj.calendarization.length}} entries</p>
        </div>
        <div class="row">
            <div class="col tableData">
                <table>
                    <tr>
                        <th colspan=4>{{obj.name}} <span class="item-right reg-weight">{{obj.type}}</span></th>
                    </tr>
                    <tr>
                        <th class="row-year">Month</th>
                        <th class="row-year">Year</th>
                        <th [hidden]="obj.source != 'Electricity'">Total kWh</th>
                        <th [hidden]="obj.source != 'Natural Gas'">Total Volume (cfm)/MMBTU</th>
                        <th>Total Cost</th>
                    </tr>
                    <tr *ngFor="let meterData of obj.calendarization | slice: pageSize[i] | slice: 0:itemsPerPage" [class.na]="meterData.monthKwh == 'NA'">
                        <td>{{meterData.month}}</td>
                        <td>{{meterData.year}}</td>
                        <td>{{meterData.monthEnergy}}</td>
                        <td><span [hidden]="meterData.monthCost == 'NA'">$</span>{{meterData.monthCost}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="wizard">
        <button class="btn btn-secondary item-left" routerLink="/utility/energy-consumption">Prev</button>
        <button class="btn btn-primary item-right" routerLink="/utility/data-table">Next</button>
    </div>
</div>