<div class="data-management-content">
  <div class="row g-0 justify-content-center h-100 w-100 overflow-auto">
    <div class="col-11 pt-4 pb-4">
      <div class="form-paper">
        <h4>{{utilityMeter.name}} Utility Bill Inspection <span class="badge float-end"
            [ngStyle]="{'background-color': utilityMeter.source | meterSourceColor}">{{utilityMeter.source}}</span>
        </h4>
        <app-meter-charges-timeseries [meter]="utilityMeter"></app-meter-charges-timeseries>
        <hr>
        @for (charge of utilityMeter.charges; track charge) {
        <div class="row justify-content-center">
          <div class="col-12 text-center">
            <label class="bold">{{charge.name}} <span class="italic">({{charge.chargeType |
                chargeTypeLabel}})</span></label>
          </div>
          <div class="col-12">
            <app-meter-charges-correlations [charge]="charge" [meter]="utilityMeter"></app-meter-charges-correlations>
          </div>
          <div class="col-12">
            <hr>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</div>