<div class="d-flex justify-content-between">
    <div class="d-flex">
        <button class="btn btn-secondary" (click)="goBack()">Back</button>
    </div>
    <div class="d-flex">
        <button class="btn btn-success" (click)="continue()">Submit &amp; Continue</button>
    </div>
</div>
<ng-container *ngIf="fileReference.isTemplate">
    <hr>
    <div class="alert alert-warning w-100 text-center">
        We have made some assumptions about your predictors. Please make sure that we have marked the proper predictor
        variables as "Production".
    </div>
</ng-container>
<hr>
<ng-container *ngIf="predictorsExist">
    <div class="row no-gutters">
        <div class="card col-md-3 col-sm-6"
            *ngFor="let facilityGroup of fileReference.predictorFacilityGroups; let index = index">
            <div class="card-header">
                <i class="fa fa-industry" [ngStyle]="{color: facilityGroup.color}"></i>
                {{facilityGroup.facilityName}}

            </div>
            <div class="card-body">
                <div class="list-item template mt-2 mb-2 p-2" *ngFor="let groupItem of facilityGroup.groupItems">
                    <div class="d-flex flex-column text-center">
                        {{groupItem.value}}
                        <!-- <span *ngIf="groupItem.isExisting">(existing)</span>
                        <span *ngIf="!groupItem.isExisting">(new)</span> -->

                        <!-- <hr> -->
                        <div class="d-flex justify-content-center">
                            <div class="pr-2">
                                Production Variable?
                            </div>
                            <label class="switch" for="{{'isProductionPredictor_'+groupItem.id}}">
                                <input class="checkbox" type="checkbox" id="{{'isProductionPredictor_'+groupItem.id}}"
                                    name="{{'isProductionPredictor_'+groupItem.id}}"
                                    [(ngModel)]="groupItem.isProductionPredictor">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <table>
        <thead>
            <tr>
                <th>
                    Facility Name
                </th>
                <th>
                    New Predictors Entries
                </th>
                <th>
                    Existing Predictors Entries
                </th>
                <th>
                    Skip Existing?
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let summary of predictorDataSummaries">
                <td>
                    {{summary.facilityName}}
                </td>
                <td>
                    {{summary.newEntries}}
                    <span *ngIf="summary.newStart">
                        ({{summary.newStart | date}} - {{summary.newEnd | date}})
                    </span>
                </td>
                <td [ngClass]="{'skip': summary.skipExisting}">
                    {{summary.existingEntries}}
                    <span *ngIf="summary.existingStart">
                        ({{summary.existingStart | date}} - {{summary.existingEnd | date}})
                    </span>
                </td>
                <td>
                    <input type="checkbox" class="form-control" [(ngModel)]="summary.skipExisting">
                </td>
            </tr>
        </tbody>
    </table>
</ng-container>

<div class="alert alert-warning p-2" *ngIf="!predictorsExist">
    <ng-container *ngIf="!fileReference.isTemplate">
        No predictors found. Go back to column selection and include predictors or click continue to upload included
        meter data.
    </ng-container>
    <ng-container *ngIf="fileReference.isTemplate">
        No predictor data included in template. Click continue to upload included meter and facility data.
    </ng-container>
</div>