<div class="data-management-content">
    <div class="row g-0 justify-content-center h-100 w-100 overflow-auto">
        <div class="col-11 pt-4 pb-4">
            <div class="form-paper">
                <div class="row">
                    <div class="col-lg-7">
                        <h4>Corporate Information</h4>
                        <br>
                        <app-general-information-form [inAccount]="true"></app-general-information-form>
                    </div>

                    <div class="col-lg-5">
                        <h4>Corporate Units</h4>
                        <br>
                        <app-default-units-form [inAccount]="true"></app-default-units-form>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-7">
                        <h4>Sustainability Questions</h4>
                        <br>
                        <app-sustainability-questions-form [inAccount]="true">
                        </app-sustainability-questions-form>
                    </div>
                    <div class="col">
                        <h4>Financial Reporting</h4>
                        <br>
                        <app-financial-reporting-form [inAccount]="true"></app-financial-reporting-form>
                    </div>
                </div>
                <hr>

                <div class="row">
                    <div class="col-lg-6" *ngIf="isElectron">
                        <h4>
                            <span class="badge bg-success">
                                <span class="fa fa-file-arrow-down"></span>
                            </span>
                            Automatic Account Backup
                        </h4>
                        <ng-container *ngIf="!selectedAccount.dataBackupFilePath">
                            <p>Save an automatic backup of this account's data to your machine or a shared drive. The
                                backup can be
                                used to restore the data if it is lost or if you want to revert back to an older state
                                of the
                                account.</p>
                            <button class="btn btn-outline" (click)="automaticBackup()">Select Automatic Backup
                                Location</button>
                        </ng-container>
                        <ng-container *ngIf="selectedAccount.dataBackupFilePath">
                            <p>
                                Automatic backups are enabled for this account. This account is automatically backed up
                                at: <br>
                                <a class="click-link"
                                    (click)="automaticBackup()">{{selectedAccount.dataBackupFilePath}}</a>
                            </p>
                            <form>
                                <label class="semibold">
                                    Is this a shared file?
                                </label>
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" name="isSharedBackupFile"
                                        [(ngModel)]="selectedAccount.isSharedBackupFile" [value]="false"
                                        id="isNotShared" (change)="changeIsShared()">
                                    <label class="form-check-label" for="isNotShared">No this computer is the only one
                                        that will
                                        modify this file.</label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" name="isSharedBackupFile"
                                        [(ngModel)]="selectedAccount.isSharedBackupFile" [value]="true" id="isShared"
                                        (change)="changeIsShared()">
                                    <label class="form-check-label" for="isShared">Yes this is a shared file that may be
                                        edited
                                        by someone else on a different computer.</label>
                                </div>
                                <div *ngIf="selectedAccount.isSharedBackupFile">
                                    <label class="semibold">
                                        Shared File Author
                                    </label>
                                    <input type="text" class="form-control" id="sharedFileAuthor"
                                        [(ngModel)]="selectedAccount.sharedFileAuthor" name="sharedFileAuthor"
                                        (input)="saveChanges()">
                                </div>
                                <hr>

                                <label>
                                    Additionally, VERIFI can create a version history of the state of your account when
                                    your account
                                    is opened. Use this setting to determine if VERIFI should create a version history
                                    every time
                                    you open the account, only when you want it to, or never. This will create a series
                                    of backup
                                    files within the same directory as main backup.
                                </label>
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" name="archiveOption"
                                        [(ngModel)]="selectedAccount.archiveOption" [value]="'skip'" id="skip"
                                        (change)="saveChanges()">
                                    <label class="form-check-label" for="skip">Ask Me To Archive When Account Is
                                        Accessed</label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" name="archiveOption"
                                        [(ngModel)]="selectedAccount.archiveOption" [value]="'always'" id="always"
                                        (change)="saveChanges()">
                                    <label class="form-check-label" for="always">Always Archive</label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" name="archiveOption"
                                        [(ngModel)]="selectedAccount.archiveOption" [value]="'never'" id="never"
                                        (change)="saveChanges()">
                                    <label class="form-check-label" for="never">Never Archive</label>
                                </div>
                            </form>
                        </ng-container>

                    </div>
                    <div class="col-lg-6">
                        <h4>Backup Account</h4>
                        <p>You can protect your files from accidental loss by creating a backup. We recommend backing up
                            your data
                            frequently. This button will download a copy of the selected account data. If you want just
                            facility
                            information
                            then selected the facility from the table above and export from that page.</p>
                        <button class="btn btn-outline" (click)="backupAccount()">Backup Account</button>
                        <div class="form-check mt-2">
                            <input class="form-check-input" type="checkbox" name="downloadAsZip" id="downloadAsZip"
                                [(ngModel)]="downloadAsZip">
                            <label class="bold form-check-label" for="downloadAsZip">Download As .zip File
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h4>Import Backup Data</h4>
                        <p>Use the below button to import backup data files. Accounts or facilities can be imported as
                            new data or
                            to overwrite existing data.</p>
                        <button class="btn btn-primary" (click)="openImportBackup()">Import Backup File</button>

                    </div>
                    <div class="col-lg-6">
                        <h4>Delete Account</h4>
                        <p>Once deleted, you will permanently lose all your data linked to your account. Please make a
                            backup of
                            your data before proceeding with this step.</p>
                        <button class="btn btn-danger" (click)="openDeleteAccount()">Delete Account</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div [ngClass]="{'windowOverlay': showDeleteAccount}">
</div>

<div class="popup" [class.open]="showDeleteAccount" *ngIf="showDeleteAccount">
    <div class="popup-header">Delete Account: {{selectedAccount.name}}
        <button class="item-right" (click)="cancelAccountDelete()">x</button>
    </div>
    <div class="popup-body">
        <p>WARNING: By deleting this account, you are also deleting all of the data associated with it.
            Are you sure you want to preform this action?</p>
        <p>
            This may take a little bit to complete depending on the amount of data you have in your account.
        </p>
    </div>
    <div class="popup-footer text-end">
        <button class="btn btn-secondary" (click)="cancelAccountDelete()">Cancel</button>
        <button class="btn btn-danger" (click)="confirmAccountDelete()">Confirm Delete</button>
    </div>
</div>



<!-- <div class="popup" [class.open]="displayApplyFacilitySettings" *ngIf="displayApplyFacilitySettings">
    <div class="popup-header">Apply Account Settings to Facilities
        <button class="item-right" (click)="closeApplySettingsModel()">x</button>
    </div>
    <div class="popup-body">
        <p>
            Select the account settings you want to apply to all of the facilities in this account.
        </p>
        <p>WARNING: Applying account settings will override any existing facility settings.</p>
        <hr>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="applyUnits" name="applyUnits"
                [(ngModel)]="applySettingsOptions.units">
            <label class="form-check-label" for="applyUnits">
                Apply Default Units
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="sustainabilityQuestions" name="sustainabilityQuestions"
                [(ngModel)]="applySettingsOptions.sustainabilityQuestions">
            <label class="form-check-label" for="sustainabilityQuestions">
                Apply Sustainabity Goals
            </label>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="financialReporting" name="financialReporting"
                [(ngModel)]="applySettingsOptions.financialReporting">
            <label class="form-check-label" for="financialReporting">
                Apply Financial Reporting Details
            </label>
        </div>
    </div>
    <div class="popup-footer text-end">
        <button class="btn btn-secondary" (click)="closeApplySettingsModel()">Cancel</button>
        <button class="btn btn-outline" (click)="applySettingsToFacility()">Apply Settings</button>
    </div>
</div> -->