<div class="table-responsive">
  <table class="table utility-data table-sm table-bordered table-hover">
    <thead>
      <tr>
        <th>Facility</th>
        @if (dataType == 'energyUse') {
          <th>Utility Usage<br> (<span
          [innerHTML]="energyUnit | settingsLabel"></span>)
        </th>
      }
      @if (dataType == 'water') {
        <th>Water Consumption<br> (<span
        [innerHTML]="waterUnit | settingsLabel"></span>)
      </th>
    }
    @if (dataType == 'cost') {
      <th># of Meters</th>
    }
    @if (dataType != 'emissions') {
      <th>Utility Cost </th>
    }
    @if (dataType == 'emissions') {
      <th>
        Total With Market <br>Emissions (tonne CO<sub>2</sub>e)
      </th>
    }
    @if (dataType == 'emissions') {
      <th>
        Total With Location <br>Emissions (tonne CO<sub>2</sub>e)
      </th>
    }
  </tr>
</thead>
@if (accountOverviewFacilities) {
  <tbody class="table-group-divider">
    @for (summary of accountOverviewFacilities | orderBy: orderByField; track summary) {
      <tr>
        <td>
          <span class="badge"
            [ngStyle]="{background: summary.facility.color, color: summary.facility.color }">
            &mdash;
          </span>
          <a class="ps-2 click-link" (click)="selectFacility(summary.facility)">{{summary.facility.name}}</a>
        </td>
        @if (dataType == 'energyUse') {
          <td>
            {{summary.totalUsage | customNumber}}
          </td>
        }
        @if (dataType == 'water') {
          <td>
            {{summary.totalUsage | customNumber}}
          </td>
        }
        @if (dataType == 'cost') {
          <td>
            {{summary.numberOfMeters}}
          </td>
        }
        @if (dataType != 'emissions') {
          <td>
            {{summary.totalCost | customNumber:true }}
          </td>
        }
        @if (dataType == 'emissions') {
          <td>
            {{summary.emissions.totalWithMarketEmissions | customNumber}}
          </td>
        }
        @if (dataType == 'emissions') {
          <td>
            {{summary.emissions.totalWithLocationEmissions | customNumber}}
          </td>
        }
      </tr>
    }
  </tbody>
}
<tfoot>
  <tr>
    <th>
      Total
    </th>
    @if (dataType == 'energyUse') {
      <th>
        {{accountOverviewData.totalEnergyUsage | customNumber}}
      </th>
    }
    @if (dataType == 'water') {
      <th>
        {{accountOverviewData.totalWaterConsumption | customNumber}}
      </th>
    }
    @if (dataType == 'cost') {
      <th>
        {{accountOverviewData.numberOfMeters}}
      </th>
    }
    @if (dataType == 'energyUse') {
      <th>
        {{accountOverviewData.totalEnergyCost | customNumber:true }}
      </th>
    }
    @if (dataType == 'water') {
      <th>
        {{accountOverviewData.totalWaterCost | customNumber:true }}
      </th>
    }
    @if (dataType == 'cost') {
      <th>
        {{accountOverviewData.totalAccountCost | customNumber:true}}
      </th>
    }
    @if (dataType == 'emissions') {
      <th>
        {{accountOverviewData.emissionsTotals.totalWithMarketEmissions| customNumber}}
      </th>
    }
    @if (dataType == 'emissions') {
      <th>
        {{accountOverviewData.emissionsTotals.totalWithLocationEmissions | customNumber}}
      </th>
    }
  </tr>
</tfoot>
</table>
</div>