<div class="card toast" [@toast]="showToast" *ngIf="!destroyToast" [ngClass]="[toastClass]">
    <div class="header">
      <i *ngIf="toastClass === 'success'" class="fa fa-check-circle item-left mr-2"></i> 
      <i *ngIf="toastClass === 'warning'" class="fa fa-exclamation-circle item-left mr-2"></i> 
      <i *ngIf="toastClass === 'info'" class="fa fa-info-circle item-left mr-2"></i> 
      <i *ngIf="toastClass === 'error'" class="fa fa-times-circle item-left mr-2"></i> 
      <i *ngIf="toastClass === 'comment'" class="fa fa-commenting item-left mr-2"></i> 

      <p class="item-left toast-title">{{title}}</p>
      <button class="close item-right" (click)="closeToast()">&times;</button>
    </div>
    <div class="body" *ngIf="body">
      <p class="mb-0">{{body}}</p>
    </div>
    <div class="footer text-right" *ngIf="showDisableFooter">
      <hr>
      <a class="click-link" (click)="disable()">Disable</a>
    </div>
</div>