<div class="row">
    <div class="col plot">
        <p>Facility Meters</p>
        <app-meters-table></app-meters-table>
    </div>
</div>

<div class="row">
    <div class="col plot">
        <p>Energy Usage and Cost</p>
        <app-utility-energy-use-table></app-utility-energy-use-table>
    </div>
</div>

<div class="row">
    <div class="col plot">
        <p>Monthly Energy Costs</p>
        <app-facility-heat-map></app-facility-heat-map>
    </div>
</div>


<div class="row">
    <div class="col plot">
        <p>Annual Utility Costs</p>
        <app-facility-bar-chart></app-facility-bar-chart>
    </div>
</div>


<div class="row">
    <div class="col plot">
        <p>Annual Utility Costs</p>
        <app-facility-stacked-area-chart></app-facility-stacked-area-chart>
    </div>
</div>