<div class="row">
    <div class="col plot">
        <p>Account Facilities</p>
        <app-facilities-table></app-facilities-table>
    </div>
</div>

<div class="row">
    <div class="col plot">
        <p>Energy Use (last 30 days)</p>
        <p class="display-lg center bold no-margin">50</p>
        <p class="center">vs <span class="highlight">50</span> average use</p>
    </div>
    <div class="col plot">
        <p>Average Energy Cost</p>
        <p class="display-lg center bold no-margin">$50</p>
        <p class="center">average cost of all utility meters</p>
    </div>
    <div class="col plot">
        <p>Energy Saving Progress</p>
        <p class="display-lg center bold no-margin">30%</p>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" style="width:30%"></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col plot">
        <!-- <p>Energy Usage and Cost Per Month (2020)</p> -->
        <!-- <app-facility-bar-chart></app-facility-bar-chart> -->
    </div>
</div>

<div class="row">
    <div class="col plot">
        <p class="mb-0">Facility Energy Costs</p>
        <!-- <plotly-plot [data]="graph3.data" [layout]="graph3.layout"></plotly-plot> -->
        <app-energy-use-donut></app-energy-use-donut>
    </div>
    <div class="col plot">
        <p>Company Average vs Facility Energy Usage Per Month (2020)</p>
        <!-- <plotly-plot [data]="graph4.data" [layout]="graph4.layout"></plotly-plot> -->
    </div>
</div>