<table class="table utility-data table-sm table-bordered table-hover">
  <thead>
    <tr class="table-mh">
      <th class="w-25"></th>
      <th class="w-25">
        Latest Month
        <br>@if (dateRange.endDate) {
          <span class="small">
          ({{dateRange.endDate | date: 'MMM, y'}})</span>
        }
      </th>
      <th class="w-25">
        Previous Year
        <br>
          @if (previousYear) {
            <span class="small">({{previousYear | date: 'MMM, y'}})</span>
          }
        </th>
        <th class="w-25">
          Monthly Average
          <br>
            @if (dateRange.startDate) {
              <span class="small">
                ({{dateRange.startDate | date: 'MMM, y'}} -
              {{dateRange.endDate | date: 'MMM, y'}})</span>
            }
          </th>
        </tr>
        <tr>
          <th></th>
          <th>
            (<span>tonne CO<sub>2</sub>e</span>)
          </th>
          <th>
            (<span>tonne CO<sub>2</sub>e</span>)
          </th>
          <th>
            (<span>tonne CO<sub>2</sub>e</span>)
          </th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <!--Mobile-->
        @if (showMobile) {
          <tr>
            <td>
              Scope 1: Mobile
            </td>
            <td class="text-center">
              @if (useAndCostTotal.end.mobileTotalEmissions) {
                <span>
                  {{useAndCostTotal.end.mobileTotalEmissions | customNumber}}
                </span>
              }
              @if (!useAndCostTotal.end.mobileTotalEmissions) {
                <span>
                  &mdash;
                </span>
              }
            </td>
            <td>
              <div class="d-flex w-100">
                <div class="w-50 text-right pe-1 print-full">
                  @if (useAndCostTotal.previousYear.mobileTotalEmissions) {
                    <span>
                      {{useAndCostTotal.previousYear.mobileTotalEmissions | customNumber}}
                    </span>
                  }
                  @if (!useAndCostTotal.previousYear.mobileTotalEmissions) {
                    <span>
                      &mdash;
                    </span>
                  }
                </div>
                <div class="w-50 ps-1 hide-print">
                  @if (useAndCostTotal.previousYear.mobileTotalEmissionsChange) {
                    <span class="small ps-2 badge"
                      [ngClass]="{'bg-danger': useAndCostTotal.previousYear.mobileTotalEmissionsChange < 0, 'bg-success': useAndCostTotal.previousYear.mobileTotalEmissionsChange > 0}">
                      @if (useAndCostTotal.previousYear.mobileTotalEmissionsChange > 0) {
                        <span class="fa fa-chevron-down"
                        ></span>
                      }
                      @if (useAndCostTotal.previousYear.mobileTotalEmissionsChange < 0) {
                        <span class="fa fa-chevron-up"
                        ></span>
                      }
                      {{useAndCostTotal.previousYear.mobileTotalEmissionsChange | customNumber}}
                    </span>
                  }
                </div>
              </div>
            </td>
            <td>
              <div class="d-flex w-100">
                <div class="w-50 text-right pe-1 print-full">
                  @if (useAndCostTotal.average.mobileTotalEmissions) {
                    <span>
                      {{useAndCostTotal.average.mobileTotalEmissions | customNumber}}
                    </span>
                  }
                  @if (!useAndCostTotal.average.mobileTotalEmissions) {
                    <span>
                      &mdash;
                    </span>
                  }
                </div>
                <div class="w-50 ps-1 hide-print">
                  @if (useAndCostTotal.average.mobileTotalEmissionsChange) {
                    <span class="small ps-2 badge"
                      [ngClass]="{'bg-danger': useAndCostTotal.average.mobileTotalEmissionsChange < 0, 'bg-success': useAndCostTotal.average.mobileTotalEmissionsChange > 0}">
                      @if (useAndCostTotal.average.mobileTotalEmissionsChange > 0) {
                        <span class="fa fa-chevron-down"
                        ></span>
                      }
                      @if (useAndCostTotal.average.mobileTotalEmissionsChange < 0) {
                        <span class="fa fa-chevron-up"
                        ></span>
                      }
                      {{useAndCostTotal.average.mobileTotalEmissionsChange | customNumber}}
                    </span>
                  }
                </div>
              </div>
            </td>
          </tr>
        }
        <!--fugitive-->
        @if (showFugitive) {
          <tr>
            <td>
              Scope 1: Fugitive
            </td>
            <td class="text-center">
              @if (useAndCostTotal.end.fugitiveEmissions) {
                <span>
                  {{useAndCostTotal.end.fugitiveEmissions | customNumber}}
                </span>
              }
              @if (!useAndCostTotal.end.fugitiveEmissions) {
                <span>
                  &mdash;
                </span>
              }
            </td>
            <td>
              <div class="d-flex w-100">
                <div class="w-50 text-right pe-1 print-full">
                  @if (useAndCostTotal.previousYear.fugitiveEmissions) {
                    <span>
                      {{useAndCostTotal.previousYear.fugitiveEmissions | customNumber}}
                    </span>
                  }
                  @if (!useAndCostTotal.previousYear.fugitiveEmissions) {
                    <span>
                      &mdash;
                    </span>
                  }
                </div>
                <div class="w-50 ps-1 hide-print">
                  @if (useAndCostTotal.previousYear.fugitiveEmissionsChange) {
                    <span class="small ps-2 badge"
                      [ngClass]="{'bg-danger': useAndCostTotal.previousYear.fugitiveEmissionsChange < 0, 'bg-success': useAndCostTotal.previousYear.fugitiveEmissionsChange > 0}">
                      @if (useAndCostTotal.previousYear.fugitiveEmissionsChange > 0) {
                        <span class="fa fa-chevron-down"
                        ></span>
                      }
                      @if (useAndCostTotal.previousYear.fugitiveEmissionsChange < 0) {
                        <span class="fa fa-chevron-up"
                        ></span>
                      }
                      {{useAndCostTotal.previousYear.fugitiveEmissionsChange | customNumber}}
                    </span>
                  }
                </div>
              </div>
            </td>
            <td>
              <div class="d-flex w-100">
                <div class="w-50 text-right pe-1 print-full">
                  @if (useAndCostTotal.average.fugitiveEmissions) {
                    <span>
                      {{useAndCostTotal.average.fugitiveEmissions | customNumber}}
                    </span>
                  }
                  @if (!useAndCostTotal.average.fugitiveEmissions) {
                    <span>
                      &mdash;
                    </span>
                  }
                </div>
                <div class="w-50 ps-1 hide-print">
                  @if (useAndCostTotal.average.fugitiveEmissionsChange) {
                    <span class="small ps-2 badge"
                      [ngClass]="{'bg-danger': useAndCostTotal.average.fugitiveEmissionsChange < 0, 'bg-success': useAndCostTotal.average.fugitiveEmissionsChange > 0}">
                      @if (useAndCostTotal.average.fugitiveEmissionsChange > 0) {
                        <span class="fa fa-chevron-down"
                        ></span>
                      }
                      @if (useAndCostTotal.average.fugitiveEmissionsChange < 0) {
                        <span class="fa fa-chevron-up"
                        ></span>
                      }
                      {{useAndCostTotal.average.fugitiveEmissionsChange | customNumber}}
                    </span>
                  }
                </div>
              </div>
            </td>
          </tr>
        }
        <!--process-->
        @if (showProcess) {
          <tr>
            <td>
              Scope 1: Process
            </td>
            <td class="text-center">
              @if (useAndCostTotal.end.processEmissions) {
                <span>
                  {{useAndCostTotal.end.processEmissions | customNumber}}
                </span>
              }
              @if (!useAndCostTotal.end.processEmissions) {
                <span>
                  &mdash;
                </span>
              }
            </td>
            <td>
              <div class="d-flex w-100">
                <div class="w-50 text-right pe-1 print-full">
                  @if (useAndCostTotal.previousYear.processEmissions) {
                    <span>
                      {{useAndCostTotal.previousYear.processEmissions | customNumber}}
                    </span>
                  }
                  @if (!useAndCostTotal.previousYear.processEmissions) {
                    <span>
                      &mdash;
                    </span>
                  }
                </div>
                <div class="w-50 ps-1 hide-print">
                  @if (useAndCostTotal.previousYear.processEmissionsChange) {
                    <span class="small ps-2 badge"
                      [ngClass]="{'bg-danger': useAndCostTotal.previousYear.processEmissionsChange < 0, 'bg-success': useAndCostTotal.previousYear.processEmissionsChange > 0}">
                      @if (useAndCostTotal.previousYear.processEmissionsChange > 0) {
                        <span class="fa fa-chevron-down"
                        ></span>
                      }
                      @if (useAndCostTotal.previousYear.processEmissionsChange < 0) {
                        <span class="fa fa-chevron-up"
                        ></span>
                      }
                      {{useAndCostTotal.previousYear.processEmissionsChange | customNumber}}
                    </span>
                  }
                </div>
              </div>
            </td>
            <td>
              <div class="d-flex w-100">
                <div class="w-50 text-right pe-1 print-full">
                  @if (useAndCostTotal.average.processEmissions) {
                    <span>
                      {{useAndCostTotal.average.processEmissions | customNumber}}
                    </span>
                  }
                  @if (!useAndCostTotal.average.processEmissions) {
                    <span>
                      &mdash;
                    </span>
                  }
                </div>
                <div class="w-50 ps-1 hide-print">
                  @if (useAndCostTotal.average.processEmissionsChange) {
                    <span class="small ps-2 badge"
                      [ngClass]="{'bg-danger': useAndCostTotal.average.processEmissionsChange < 0, 'bg-success': useAndCostTotal.average.processEmissionsChange > 0}">
                      @if (useAndCostTotal.average.processEmissionsChange > 0) {
                        <span class="fa fa-chevron-down"
                        ></span>
                      }
                      @if (useAndCostTotal.average.processEmissionsChange < 0) {
                        <span class="fa fa-chevron-up"
                        ></span>
                      }
                      {{useAndCostTotal.average.processEmissionsChange | customNumber}}
                    </span>
                  }
                </div>
              </div>
            </td>
          </tr>
        }
        <!--Stationary-->
        @if (showStationary) {
          <tr>
            <td>
              Scope 1: Stationary
            </td>
            <td class="text-center">
              @if (useAndCostTotal.end.stationaryEmissions) {
                <span>
                  {{useAndCostTotal.end.stationaryEmissions | customNumber}}
                </span>
              }
              @if (!useAndCostTotal.end.stationaryEmissions) {
                <span>
                  &mdash;
                </span>
              }
            </td>
            <td>
              <div class="d-flex w-100">
                <div class="w-50 text-right pe-1 print-full">
                  @if (useAndCostTotal.previousYear.stationaryEmissions) {
                    <span>
                      {{useAndCostTotal.previousYear.stationaryEmissions | customNumber}}
                    </span>
                  }
                  @if (!useAndCostTotal.previousYear.stationaryEmissions) {
                    <span>
                      &mdash;
                    </span>
                  }
                </div>
                <div class="w-50 ps-1 hide-print">
                  @if (useAndCostTotal.previousYear.stationaryEmissionsChange) {
                    <span class="small ps-2 badge"
                      [ngClass]="{'bg-danger': useAndCostTotal.previousYear.stationaryEmissionsChange < 0, 'bg-success': useAndCostTotal.previousYear.stationaryEmissionsChange > 0}">
                      @if (useAndCostTotal.previousYear.stationaryEmissionsChange > 0) {
                        <span class="fa fa-chevron-down"
                        ></span>
                      }
                      @if (useAndCostTotal.previousYear.stationaryEmissionsChange < 0) {
                        <span class="fa fa-chevron-up"
                        ></span>
                      }
                      {{useAndCostTotal.previousYear.stationaryEmissionsChange | customNumber}}
                    </span>
                  }
                </div>
              </div>
            </td>
            <td>
              <div class="d-flex w-100">
                <div class="w-50 text-right pe-1 print-full">
                  @if (useAndCostTotal.average.stationaryEmissions) {
                    <span>
                      {{useAndCostTotal.average.stationaryEmissions | customNumber}}
                    </span>
                  }
                  @if (!useAndCostTotal.average.stationaryEmissions) {
                    <span>
                      &mdash;
                    </span>
                  }
                </div>
                <div class="w-50 ps-1 hide-print">
                  @if (useAndCostTotal.average.processEmissionsChange) {
                    <span class="small ps-2 badge"
                      [ngClass]="{'bg-danger': useAndCostTotal.average.stationaryEmissionsChange < 0, 'bg-success': useAndCostTotal.average.stationaryEmissionsChange > 0}">
                      @if (useAndCostTotal.average.stationaryEmissionsChange > 0) {
                        <span class="fa fa-chevron-down"
                        ></span>
                      }
                      @if (useAndCostTotal.average.stationaryEmissionsChange < 0) {
                        <span class="fa fa-chevron-up"
                        ></span>
                      }
                      {{useAndCostTotal.average.stationaryEmissionsChange | customNumber}}
                    </span>
                  }
                </div>
              </div>
            </td>
          </tr>
        }
        <!--Location-->
        @if (emissionsDisplay == 'location' && showScope2LocationElectricity) {
          <tr>
            <td>
              Scope 2: Electricity (Location)
            </td>
            <td class="text-center">
              @if (useAndCostTotal.end.locationElectricityEmissions) {
                <span>
                  {{useAndCostTotal.end.locationElectricityEmissions | customNumber}}
                </span>
              }
              @if (!useAndCostTotal.end.locationElectricityEmissions) {
                <span>
                  &mdash;
                </span>
              }
            </td>
            <td>
              <div class="d-flex w-100">
                <div class="w-50 text-right pe-1 print-full">
                  @if (useAndCostTotal.previousYear.locationElectricityEmissions) {
                    <span>
                      {{useAndCostTotal.previousYear.locationElectricityEmissions | customNumber}}
                    </span>
                  }
                  @if (!useAndCostTotal.previousYear.locationElectricityEmissions) {
                    <span>
                      &mdash;
                    </span>
                  }
                </div>
                <div class="w-50 ps-1 hide-print">
                  @if (useAndCostTotal.previousYear.locationElectricityEmissionsChange) {
                    <span class="small ps-2 badge"
                      [ngClass]="{'bg-danger': useAndCostTotal.previousYear.locationElectricityEmissionsChange < 0, 'bg-success': useAndCostTotal.previousYear.locationElectricityEmissionsChange > 0}">
                      @if (useAndCostTotal.previousYear.locationElectricityEmissionsChange > 0) {
                        <span class="fa fa-chevron-down"
                        ></span>
                      }
                      @if (useAndCostTotal.previousYear.locationElectricityEmissionsChange < 0) {
                        <span class="fa fa-chevron-up"
                        ></span>
                      }
                      {{useAndCostTotal.previousYear.locationElectricityEmissionsChange | customNumber}}
                    </span>
                  }
                </div>
              </div>
            </td>
            <td>
              <div class="d-flex w-100">
                <div class="w-50 text-right pe-1 print-full">
                  @if (useAndCostTotal.average.locationElectricityEmissions) {
                    <span>
                      {{useAndCostTotal.average.locationElectricityEmissions | customNumber}}
                    </span>
                  }
                  @if (!useAndCostTotal.average.locationElectricityEmissions) {
                    <span>
                      &mdash;
                    </span>
                  }
                </div>
                <div class="w-50 ps-1 hide-print">
                  @if (useAndCostTotal.average.locationElectricityEmissionsChange) {
                    <span class="small ps-2 badge"
                      [ngClass]="{'bg-danger': useAndCostTotal.average.locationElectricityEmissionsChange < 0, 'bg-success': useAndCostTotal.average.locationElectricityEmissionsChange > 0}">
                      @if (useAndCostTotal.average.locationElectricityEmissionsChange > 0) {
                        <span class="fa fa-chevron-down"
                        ></span>
                      }
                      @if (useAndCostTotal.average.locationElectricityEmissionsChange < 0) {
                        <span class="fa fa-chevron-up"
                        ></span>
                      }
                      {{useAndCostTotal.average.locationElectricityEmissionsChange | customNumber}}
                    </span>
                  }
                </div>
              </div>
            </td>
          </tr>
        }
        <!--Market-->
        @if (emissionsDisplay == 'market' && showScope2MarketElectricity) {
          <tr>
            <td>
              Scope 2: Electricity (Market)
            </td>
            <td class="text-center">
              @if (useAndCostTotal.end.marketElectricityEmissions) {
                <span>
                  {{useAndCostTotal.end.marketElectricityEmissions | customNumber}}
                </span>
              }
              @if (!useAndCostTotal.end.marketElectricityEmissions) {
                <span>
                  &mdash;
                </span>
              }
            </td>
            <td>
              <div class="d-flex w-100">
                <div class="w-50 text-right pe-1 print-full">
                  @if (useAndCostTotal.previousYear.marketElectricityEmissions) {
                    <span>
                      {{useAndCostTotal.previousYear.marketElectricityEmissions | customNumber}}
                    </span>
                  }
                  @if (!useAndCostTotal.previousYear.marketElectricityEmissions) {
                    <span>
                      &mdash;
                    </span>
                  }
                </div>
                <div class="w-50 ps-1 hide-print">
                  @if (useAndCostTotal.previousYear.marketElectricityEmissionsChange) {
                    <span class="small ps-2 badge"
                      [ngClass]="{'bg-danger': useAndCostTotal.previousYear.marketElectricityEmissionsChange < 0, 'bg-success': useAndCostTotal.previousYear.marketElectricityEmissionsChange > 0}">
                      @if (useAndCostTotal.previousYear.marketElectricityEmissionsChange > 0) {
                        <span class="fa fa-chevron-down"
                        ></span>
                      }
                      @if (useAndCostTotal.previousYear.marketElectricityEmissionsChange < 0) {
                        <span class="fa fa-chevron-up"
                        ></span>
                      }
                      {{useAndCostTotal.previousYear.marketElectricityEmissionsChange | customNumber}}
                    </span>
                  }
                </div>
              </div>
            </td>
            <td>
              <div class="d-flex w-100">
                <div class="w-50 text-right pe-1 print-full">
                  @if (useAndCostTotal.average.marketElectricityEmissions) {
                    <span>
                      {{useAndCostTotal.average.marketElectricityEmissions | customNumber}}
                    </span>
                  }
                  @if (!useAndCostTotal.average.marketElectricityEmissions) {
                    <span>
                      &mdash;
                    </span>
                  }
                </div>
                <div class="w-50 ps-1 hide-print">
                  @if (useAndCostTotal.average.marketElectricityEmissionsChange) {
                    <span class="small ps-2 badge"
                      [ngClass]="{'bg-danger': useAndCostTotal.average.marketElectricityEmissionsChange < 0, 'bg-success': useAndCostTotal.average.marketElectricityEmissionsChange > 0}">
                      @if (useAndCostTotal.average.marketElectricityEmissionsChange > 0) {
                        <span class="fa fa-chevron-down"
                        ></span>
                      }
                      @if (useAndCostTotal.average.marketElectricityEmissionsChange < 0) {
                        <span class="fa fa-chevron-up"
                        ></span>
                      }
                      {{useAndCostTotal.average.marketElectricityEmissionsChange | customNumber}}
                    </span>
                  }
                </div>
              </div>
            </td>
          </tr>
        }
        <!--Scope 2: OTHER-->
        @if (showScope2Other) {
          <tr>
            <td>
              Scope 2: Other
            </td>
            <td class="text-center">
              @if (useAndCostTotal.end.otherScope2Emissions) {
                <span>
                  {{useAndCostTotal.end.otherScope2Emissions | customNumber}}
                </span>
              }
              @if (!useAndCostTotal.end.otherScope2Emissions) {
                <span>
                  &mdash;
                </span>
              }
            </td>
            <td>
              <div class="d-flex w-100">
                <div class="w-50 text-right pe-1 print-full">
                  @if (useAndCostTotal.previousYear.otherScope2Emissions) {
                    <span>
                      {{useAndCostTotal.previousYear.otherScope2Emissions | customNumber}}
                    </span>
                  }
                  @if (!useAndCostTotal.previousYear.otherScope2Emissions) {
                    <span>
                      &mdash;
                    </span>
                  }
                </div>
                <div class="w-50 ps-1 hide-print">
                  @if (useAndCostTotal.previousYear.otherScope2EmissionsChange) {
                    <span class="small ps-2 badge"
                      [ngClass]="{'bg-danger': useAndCostTotal.previousYear.otherScope2EmissionsChange < 0, 'bg-success': useAndCostTotal.previousYear.otherScope2EmissionsChange > 0}">
                      @if (useAndCostTotal.previousYear.otherScope2EmissionsChange > 0) {
                        <span class="fa fa-chevron-down"
                        ></span>
                      }
                      @if (useAndCostTotal.previousYear.otherScope2EmissionsChange < 0) {
                        <span class="fa fa-chevron-up"
                        ></span>
                      }
                      {{useAndCostTotal.previousYear.otherScope2EmissionsChange | customNumber}}
                    </span>
                  }
                </div>
              </div>
            </td>
            <td>
              <div class="d-flex w-100">
                <div class="w-50 text-right pe-1 print-full">
                  @if (useAndCostTotal.average.otherScope2Emissions) {
                    <span>
                      {{useAndCostTotal.average.otherScope2Emissions | customNumber}}
                    </span>
                  }
                  @if (!useAndCostTotal.average.otherScope2Emissions) {
                    <span>
                      &mdash;
                    </span>
                  }
                </div>
                <div class="w-50 ps-1 hide-print">
                  @if (useAndCostTotal.average.otherScope2EmissionsChange) {
                    <span class="small ps-2 badge"
                      [ngClass]="{'bg-danger': useAndCostTotal.average.otherScope2EmissionsChange < 0, 'bg-success': useAndCostTotal.average.otherScope2EmissionsChange > 0}">
                      @if (useAndCostTotal.average.otherScope2EmissionsChange > 0) {
                        <span class="fa fa-chevron-down"
                        ></span>
                      }
                      @if (useAndCostTotal.average.otherScope2EmissionsChange < 0) {
                        <span class="fa fa-chevron-up"
                        ></span>
                      }
                      {{useAndCostTotal.average.otherScope2EmissionsChange | customNumber}}
                    </span>
                  }
                </div>
              </div>
            </td>
          </tr>
        }
      </tbody>
      <tfoot>
        <tr>
          <th>
            Total
          </th>
          <!--previous month-->
          @if (emissionsDisplay == 'market') {
            <th class="text-center">
              @if (useAndCostTotal.end.totalWithMarketEmissions) {
                <span>
                  {{useAndCostTotal.end.totalWithMarketEmissions | customNumber}}
                </span>
              }
              @if (!useAndCostTotal.end.totalWithMarketEmissions) {
                <span>
                  &mdash;
                </span>
              }
            </th>
          }
          @if (emissionsDisplay == 'location') {
            <th class="text-center">
              @if (useAndCostTotal.end.totalWithLocationEmissionsChange) {
                <span>
                  {{useAndCostTotal.end.totalWithLocationEmissionsChange | customNumber}}
                </span>
              }
              @if (!useAndCostTotal.end.totalWithLocationEmissionsChange) {
                <span>
                  &mdash;
                </span>
              }
            </th>
          }

          <!--year prior-->
          @if (emissionsDisplay == 'market') {
            <th>
              <div class="d-flex w-100">
                <div class="w-50 text-right pe-1 print-full">
                  @if (useAndCostTotal.previousYear.totalWithMarketEmissions) {
                    <span>
                      {{useAndCostTotal.previousYear.totalWithMarketEmissions | customNumber}}
                    </span>
                  }
                  @if (!useAndCostTotal.previousYear.totalWithMarketEmissions) {
                    <span>
                      &mdash;
                    </span>
                  }
                </div>
                <div class="w-50 ps-1 hide-print">
                  @if (useAndCostTotal.previousYear.totalWithMarketEmissionsChange) {
                    <span class="small ps-2 badge"
                      [ngClass]="{'bg-danger': useAndCostTotal.previousYear.totalWithMarketEmissionsChange < 0, 'bg-success': useAndCostTotal.previousYear.totalWithMarketEmissionsChange > 0}">
                      @if (useAndCostTotal.previousYear.totalWithMarketEmissionsChange > 0) {
                        <span class="fa fa-chevron-down"
                        ></span>
                      }
                      @if (useAndCostTotal.previousYear.totalWithMarketEmissionsChange < 0) {
                        <span class="fa fa-chevron-up"
                        ></span>
                      }
                      {{useAndCostTotal.previousYear.totalWithMarketEmissionsChange | customNumber}}
                    </span>
                  }
                </div>
              </div>
            </th>
          }
          @if (emissionsDisplay == 'location') {
            <th>
              <div class="d-flex w-100">
                <div class="w-50 text-right pe-1 print-full">
                  @if (useAndCostTotal.previousYear.totalWithLocationEmissionsChange) {
                    <span>
                      {{useAndCostTotal.previousYear.totalWithLocationEmissionsChange | customNumber}}
                    </span>
                  }
                  @if (!useAndCostTotal.previousYear.totalWithLocationEmissionsChange) {
                    <span>
                      &mdash;
                    </span>
                  }
                </div>
                <div class="w-50 ps-1 hide-print">
                  @if (useAndCostTotal.previousYear.totalWithLocationEmissionsChange) {
                    <span class="small ps-2 badge"
                      [ngClass]="{'bg-danger': useAndCostTotal.previousYear.totalWithLocationEmissionsChange < 0, 'bg-success': useAndCostTotal.previousYear.totalWithLocationEmissionsChange > 0}">
                      @if (useAndCostTotal.previousYear.totalWithLocationEmissionsChange > 0) {
                        <span class="fa fa-chevron-down"
                        ></span>
                      }
                      @if (useAndCostTotal.previousYear.totalWithLocationEmissionsChange < 0) {
                        <span class="fa fa-chevron-up"
                        ></span>
                      }
                      {{useAndCostTotal.previousYear.totalWithLocationEmissionsChange | customNumber}}
                    </span>
                  }
                </div>
              </div>
            </th>
          }

          <!--average-->
          @if (emissionsDisplay == 'market') {
            <th>
              <div class="d-flex w-100">
                <div class="w-50 text-right pe-1 print-full">
                  @if (useAndCostTotal.average.totalWithMarketEmissions) {
                    <span>
                      {{useAndCostTotal.average.totalWithMarketEmissions | customNumber}}
                    </span>
                  }
                  @if (!useAndCostTotal.average.totalWithMarketEmissions) {
                    <span>
                      &mdash;
                    </span>
                  }
                </div>
                <div class="w-50 ps-1 hide-print">
                  @if (useAndCostTotal.average.totalWithMarketEmissionsChange) {
                    <span class="small ps-2 badge"
                      [ngClass]="{'bg-danger': useAndCostTotal.average.totalWithMarketEmissionsChange < 0, 'bg-success': useAndCostTotal.average.totalWithMarketEmissionsChange > 0}">
                      @if (useAndCostTotal.average.totalWithMarketEmissionsChange > 0) {
                        <span class="fa fa-chevron-down"
                        ></span>
                      }
                      @if (useAndCostTotal.average.totalWithMarketEmissionsChange < 0) {
                        <span class="fa fa-chevron-up"
                        ></span>
                      }
                      {{useAndCostTotal.average.totalWithMarketEmissionsChange | customNumber}}
                    </span>
                  }
                </div>
              </div>
            </th>
          }
          @if (emissionsDisplay == 'location') {
            <th>
              <div class="d-flex w-100">
                <div class="w-50 text-right pe-1 print-full">
                  @if (useAndCostTotal.average.totalWithLocationEmissionsChange) {
                    <span>
                      {{useAndCostTotal.average.totalWithLocationEmissionsChange | customNumber}}
                    </span>
                  }
                  @if (!useAndCostTotal.average.totalWithLocationEmissionsChange) {
                    <span>
                      &mdash;
                    </span>
                  }
                </div>
                <div class="w-50 ps-1 hide-print">
                  @if (useAndCostTotal.average.totalWithLocationEmissionsChange) {
                    <span class="small ps-2 badge"
                      [ngClass]="{'bg-danger': useAndCostTotal.average.totalWithLocationEmissionsChange < 0, 'bg-success': useAndCostTotal.average.totalWithLocationEmissionsChange > 0}">
                      @if (useAndCostTotal.average.totalWithLocationEmissionsChange > 0) {
                        <span class="fa fa-chevron-down"
                        ></span>
                      }
                      @if (useAndCostTotal.average.totalWithLocationEmissionsChange < 0) {
                        <span class="fa fa-chevron-up"
                        ></span>
                      }
                      {{useAndCostTotal.average.totalWithLocationEmissionsChange | customNumber}}
                    </span>
                  }
                </div>
              </div>
            </th>
          }
        </tr>
      </tfoot>
    </table>