<form [formGroup]="meterForm">
    <div class="row">
        <div class="col-lg-7 col-md-12 col-sm-12">
            <p class="bold">Meter Information</p>
            <div>
                <app-label-with-tooltip [label]="'Name'" [field]="'meterName'" [labelId]="'meterName'"
                    [isRequired]="true">
                </app-label-with-tooltip>
                <div class="mb-3">
                    <input id="meterName" class="form-control" type="text" formControlName="name"
                        onfocus="this.select();" minlength="0" maxlength="100">
                </div>
                <div class="alert alert-danger" *ngIf="meterForm.get('name').hasError('required')">Meter name is
                    required</div>
            </div>

            <div class="row">
                <div class="col-6">
                    <app-label-with-tooltip [label]="'Source'" [field]="'source'" [labelId]="'source'"
                        [isRequired]="true">
                    </app-label-with-tooltip>
                    <!-- <label for="source">Source <span class="required">*</span> </label> -->
                    <div class="mb-3">
                        <select class="form-select" id="source" type="text" formControlName="source"
                            (change)="changeSource()">
                            <option *ngFor="let sourceOption of sourceOptions" [ngValue]="sourceOption">{{sourceOption}}
                            </option>
                        </select>
                    </div>
                    <div class="alert-danger alert" *ngIf="meterForm.get('source').hasError('required')">Source is
                        required</div>
                </div>
                <div class="col-6" *ngIf="displayScope">
                    <label for="scope">Scope</label>
                    <div class="mb-3">
                        <select class="form-select" id="scope" type="text" formControlName="scope"
                            (change)="changeScope()">
                            <option *ngFor="let scopeOption of scopeOptions" [ngValue]="scopeOption.value">
                                {{scopeOption.scope}}: {{scopeOption.optionLabel}}
                            </option>
                        </select>
                    </div>
                </div>
                <!--non-mobile-->
                <ng-container *ngIf="meterForm.controls.scope.value != 2">
                    <div class="col-6">
                        <!-- <label for="startingUnit">Collection Unit <span class="required">*</span> </label> -->
                        <app-label-with-tooltip [label]="'Collection Unit'" [field]="'startingUnit'"
                            [labelId]="'startingUnit'" [isRequired]="true">
                        </app-label-with-tooltip>
                        <div class="mb-3">
                            <select class="form-select" id="startingUnit" type="text" formControlName="startingUnit"
                                (change)="changeCollectionUnit()">
                                <option *ngFor="let startingUnitOption of startingUnitOptions"
                                    [ngValue]="startingUnitOption.value">
                                    <span [innerHTML]="startingUnitOption.display"></span>
                                </option>
                            </select>
                        </div>
                        <div class="alert-danger alert" *ngIf="meterForm.get('startingUnit').hasError('required')">
                            Starting
                            unit is
                            required</div>
                        <div class="alert alert-warning"
                            *ngIf="hasDifferentCollectionUnits || (hasDifferentEnergyUnits && collectionUnitIsEnergy)">
                            Units selected differ from the facility settings.
                        </div>
                    </div>
                    <div class="col-6" *ngIf="isEnergyMeter && !collectionUnitIsEnergy">
                        <label for="energyUnit">Energy Unit <span class="required">*</span> </label>
                        <div class="mb-3">
                            <select class="form-select" id="energyUnit" type="text" formControlName="energyUnit"
                                (change)="changeEnergyUnit()">
                                <option *ngFor="let energyUnitOption of energyUnitOptions"
                                    [ngValue]="energyUnitOption.value">
                                    <span [innerHTML]="energyUnitOption.display"></span>
                                </option>
                            </select>
                        </div>
                        <div class="alert-danger alert" *ngIf="meterForm.get('energyUnit').hasError('required')">Energy
                            unit
                            is
                            required</div>
                        <div class="alert alert-warning" *ngIf="hasDifferentEnergyUnits">
                            Units selected differ from the facility settings.
                        </div>
                    </div>
                    <div class="col-6" *ngIf="displaySiteToSource">
                        <app-label-with-tooltip [label]="'Site to source'" [field]="'siteToSource'"
                            [labelId]="'siteToSource'" [isRequired]="true"></app-label-with-tooltip>
                        <!-- <label for="siteToSource">Site to source <span class="required">*</span> </label> -->
                        <div class="mb-3">
                            <input id="siteToSource" class="form-control" type="number" formControlName="siteToSource"
                                onfocus="this.select();" min="0" max="999999999999999">
                        </div>
                        <div class="alert-danger alert" *ngIf="meterForm.get('siteToSource').hasError('required')">Site
                            to
                            source
                            is required</div>
                        <div class="alert-warning alert" *ngIf="meterForm.controls.siteToSource.value === 0">Site to
                            source
                            should be greater than 0</div>
                    </div>

                    <div *ngIf="displayPhase" class="col-6">
                        <label for="phase">Phase <span class="required">*</span> </label>
                        <div class="mb-3">
                            <select class="form-select" id="phase" type="text" formControlName="phase"
                                (change)="changePhase();">
                                <option [ngValue]="'Solid'">Solid</option>
                                <option [ngValue]="'Liquid'">Liquid</option>
                                <option [ngValue]="'Gas'">Gas</option>
                            </select>
                        </div>
                        <div class="alert-danger alert" *ngIf="meterForm.get('phase').hasError('required')">Phase is
                            required</div>
                    </div>

                    <div *ngIf="displayFuel" class="col-6">
                        <label for="energySource">{{energySourceLabel}} <span class="required">*</span> </label>
                        <div class="mb-3">
                            <select class="form-select" id="energySource" type="text" formControlName="fuel"
                                (change)="changeFuel()">
                                <option *ngFor="let fuelOption of fuelTypeOptions" [ngValue]="fuelOption.value">
                                    {{fuelOption.value}}
                                </option>
                            </select>
                        </div>
                        <div class="alert-danger alert" *ngIf="meterForm.get('fuel').hasError('required')">Fuel type is
                            required</div>
                    </div>


                    <div *ngIf="displayWaterIntakeTypes" class="col-6">
                        <label for="waterIntakeType">Water Intake Type <span class="required">*</span> </label>
                        <div class="mb-3">
                            <select class="form-select" id="waterIntakeType" type="text"
                                formControlName="waterIntakeType">
                                <option *ngFor="let waterType of waterIntakeTypes" [ngValue]="waterType">
                                    {{waterType}}
                                </option>
                            </select>
                        </div>
                        <div class="alert-danger alert" *ngIf="meterForm.get('waterIntakeType').hasError('required')">
                            Water
                            Intake type is
                            required</div>
                    </div>

                    <div *ngIf="displayWaterDischargeTypes" class="col-6">
                        <label for="waterDischargeType">Water Discharge Type <span class="required">*</span> </label>
                        <div class="mb-3">
                            <select class="form-select" id="waterDischargeType" type="text"
                                formControlName="waterDischargeType">
                                <option *ngFor="let waterType of waterDischargeTypes" [ngValue]="waterType">
                                    {{waterType}}
                                </option>
                            </select>
                        </div>
                        <div class="alert-danger alert"
                            *ngIf="meterForm.get('waterDischargeType').hasError('required')">
                            Water
                            Discharge type is
                            required</div>
                    </div>


                    <div class="col-6" *ngIf="displayHeatCapacity">
                        <label for="heatCapacity">Heat Capacity <span class="required">*</span> </label>
                        <div class="input-group mb-3">
                            <input id="heatCapacity" class="form-control" type="number" formControlName="heatCapacity"
                                onfocus="this.select();">
                            <span class="input-group-text"><span
                                    [innerHTML]="meterForm.controls.energyUnit.value | settingsLabel"></span>/<span
                                    [innerHTML]="meterForm.controls.startingUnit.value | settingsLabel"></span>
                            </span>
                        </div>
                        <div class="alert-danger alert" *ngIf="meterForm.get('heatCapacity').hasError('required')">Heat
                            capacity is
                            required</div>
                        <div class="alert-danger alert" *ngIf="meterForm.get('heatCapacity').hasError('min')">Value
                            can't be
                            less
                            than 0</div>
                        <div class="alert-warning alert" *ngIf="meterForm.controls.heatCapacity.value === 0">Heat
                            capacity
                            should be greater than 0</div>
                    </div>


                    <div class="col-6" *ngIf="meterForm.controls.scope.value == 5">
                        <label for="refrigerationCharge">Refrigeration Charge <span class="required">*</span> </label>
                        <div class="mb-3">
                            <select class="form-select" id="refrigerationCharge" type="text"
                                formControlName="refrigerationCharge" (change)="setGlobalWarmingPotential()">
                                <option *ngFor="let gwp of globalWarmingPotentials" [ngValue]="gwp.value">
                                    <span [innerHTML]="gwp.display"></span>
                                </option>
                            </select>
                        </div>
                        <div class="alert-danger alert"
                            *ngIf="meterForm.get('refrigerationCharge').hasError('required')">Refrigeration charge is
                            required</div>
                    </div>

                    <div class="col-6" *ngIf="meterForm.controls.scope.value == 5">
                        <label for="globalWarmingPotential">Global Warming Potential <span class="required">*</span>
                        </label>
                        <div class="input-group mb-3">
                            <input id="globalWarmingPotential" class="form-control" type="number"
                                formControlName="globalWarmingPotential" onfocus="this.select();">
                            <span class="input-group-text">kg/<span
                                    [innerHTML]="meterForm.controls.startingUnit.value | settingsLabel"></span>
                            </span>
                        </div>
                        <div class="alert-danger alert"
                            *ngIf="meterForm.get('globalWarmingPotential').hasError('required')">Global Warming Potential
                            is required</div>
                    </div>


                    <div class="col-6" *ngIf="selectedFuelTypeOption">
                        <app-emissions-details-table [selectedFuelTypeOption]="selectedFuelTypeOption"
                            [meterForm]="meterForm"></app-emissions-details-table>
                    </div>
                </ng-container>
            </div>
            <app-vehicle-form *ngIf="meterForm.controls.scope.value == 2" [meterForm]="meterForm"
                [facility]="facility"></app-vehicle-form>
            <p class="alert alert-warning" *ngIf="meterDataExists && !changingUnits"> Data
                found for this
                meter. Meter setup values should not be changed after entering meter readings. Calculations are done
                based off of these values. <a (click)="enableChangeUnits()">Click here to change values if
                    necessary.</a>
            </p>
            <p class="alert alert-warning" *ngIf="changingUnits">
                Data found for this meter. Be careful changing the collection values, <b>amount entered in meter
                    readings
                    will not be altered.</b>
            </p>
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12">
            <app-other-information-form [meterForm]="meterForm"></app-other-information-form>
        </div>

        <div class="col-lg-7 col-md-12 col-sm-12" *ngIf="meterForm.controls.source.value == 'Electricity'">
            <hr>
            <app-additional-electricity-options-form [meterForm]="meterForm"
                [displayIncludeEnergy]="displayIncludeEnergy" [displayRetainRecs]="displayRetainRecs"
                (emitChangeAgreementType)="changeAgreementType()"
                (emitSetIncludeEnergy)="setIncludeEnergy()"></app-additional-electricity-options-form>
        </div>
    </div>
</form>