:host {
  display: block;
  height: 100%;
}

.existing-ux-shell {
  min-height: 100%;
}

.content {
  background-image: url('src/assets/images/industrial-skyline.svg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  max-width: 100%;
  overflow-x: auto;
  transition: background-color .7s;
}

.content.data-management {
  /* background-color: #373A36; */
  background-color: #005776;
}

@media print {
  .content {
    background-image: none;
  }
}
