<div class="data-management-content with-footer">
  <div class="row g-0 justify-content-center h-100 w-100 overflow-auto">
    <div class="col-11 pt-4 pb-4">
      <div class="form-paper">
        <h4>
          <div class="d-flex w-100 justify-content-between">
            <div class="h4 mb-0">
              Identify Columns
            </div>
            <div>
              <span class="badge bg-primary">
                <span class="fa fa-file"></span>
                {{fileReference.name}}
              </span>
            </div>
          </div>
        </h4>

        <div class="d-flex">
          <div class="w-50 me-2">
            <!--unused items-->
            <div class="card" (cdkDropListDropped)="dropColumn($event)" id={{fileReference.columnGroups[0].id}}
              [ngClass]="fileReference.columnGroups[0].dragDropClass" cdkDropList
              [cdkDropListData]="fileReference.columnGroups" [cdkDropListConnectedTo]="columnGroupItemIds">
              <div class="card-header">
                {{fileReference.columnGroups[0].groupLabel}}
              </div>
              <div class="card-body">
                @for (groupItem of fileReference.columnGroups[0].groupItems; track groupItem) {
                <div class="list-item mt-2 mb-2 p-2" [cdkDragData]="groupItem" cdkDrag>
                  <span class="fa fa-arrows-alt"></span>{{groupItem.value}}
                </div>
                }
              </div>
            </div>
          </div>
          <div class="w-50 ms-2 d-flex flex-column">
            @for (columnGroup of fileReference.columnGroups; track columnGroup; let first = $first) {
            @if (!first) {
            <div class="card" (cdkDropListDropped)="dropColumn($event)" id={{columnGroup.id}}
              [ngClass]="columnGroup.dragDropClass" cdkDropList [cdkDropListData]="fileReference.columnGroups"
              [cdkDropListConnectedTo]="columnGroupItemIds">
              <div class="card-header">
                {{columnGroup.groupLabel}}
              </div>
              <div class="card-body">
                @if (columnGroup.groupItems.length > 0) {
                @for (groupItem of columnGroup.groupItems; track groupItem) {
                <div class="list-item mt-2 mb-2 p-2" [cdkDragData]="groupItem" cdkDrag>
                  <span class="fa fa-arrows-alt"></span>{{groupItem.value}}
                </div>
                }
                } @else {
                <div class="alert alert-dark text-center p-2 mb-0">
                  No {{columnGroup.groupLabel}} Identified.
                </div>
                }
                @if (columnGroup.groupLabel == 'Date') {
                <p class="alert alert-warning p-2 mb-0">Date
                  range based on selection: ({{minDate | date}} - {{maxDate | date}})</p>
                }
              </div>
            </div>
            }
            }
            @if (noPredictorsOrMeters || noDateColumn) {
            <div class="d-flex justify-content-center">
              <div class="d-flex flex-column">
                @if (noPredictorsOrMeters) {
                <div class="alert alert-danger p-2">
                  No predictors or meters selected.
                </div>
                }
                @if (noDateColumn) {
                <div class="alert alert-danger p-2">
                  Date column required.
                </div>
                }
              </div>
              <hr>
            </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--TODO: disable next-->
<app-data-management-import-footer [fileReference]="fileReference"
  [navOption]="'identify-columns'"></app-data-management-import-footer>