
.wrapper.main-content{
    margin: 25px 40px;
}

.content-padding{
    padding: 20px 30px 30px;
}


.report-type-menu .fa-square-check, .report-type-menu .fa-square, .report-type-menu label {
    font-size: 20px;
}

.report-type-menu .fa-solid.fa-square-check{
    color: #2c386b;
}

.report-type-menu .fa-square-check:hover, .report-type-menu label:hover, .report-type-menu .fa-square:hover{
    cursor: pointer;
}