<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col">
                <h1 class="card-title"><span class="fa fa-industry" [ngStyle]="{color: facility.color}"></span> {{facility.name}}</h1>
                <p class="card-text" *ngIf="facility.address">{{facility.address}}, {{facility.city}}, {{facility.state}}
                    {{facility.zip}}
                    {{facility.country}}
                </p>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-2 text-center">
                        Baseline
                    </div>
                    <div class="col-8 text-center">
                        Energy Reduction Goal
                    </div>
                    <div class="col-2 text-center">
                        Goal
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 text-center">
                        2018
                    </div>
                    <div class="col-8">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" [style.width.%]="25" aria-valuemin="0"
                                aria-valuemax="20">
                                <span class="progress-bar-data">5%</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-2 text-center">
                        2027 (20%)
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a class="nav-link" routerLink="/facility/{{facility.id}}/utility">
                            <span class="fa pr-2"
                                [ngClass]="{'fa-check-circle': meterDataUpToDate, 'fa-circle': !meterDataUpToDate}"></span>
                            <span *ngIf="meterDataUpToDate">Utility Data Up-to Date</span>
                            <span *ngIf="!meterDataUpToDate">No Meter Data for Last Month</span>
                            <span class="float-right" *ngIf="lastBill">
                                Last Reading: {{lastBill.readDate | date}}
                            </span>
                            <span class="float-right" *ngIf="!lastBill">
                                No Readings Found
                            </span>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a class="nav-link" routerLink="/facility/{{facility.id}}/analysis">
                            <span class="fa pr-2"
                                [ngClass]="{'fa-check-circle': hasCurrentYearAnalysis, 'fa-circle': !hasCurrentYearAnalysis}"></span>
                            <span *ngIf="hasCurrentYearAnalysis">Annual Analysis Found For {{lastYear}}</span>
                            <span *ngIf="!hasCurrentYearAnalysis">No Analysis Found For {{lastYear}}</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col">
                <div class="d-flex justify-content-end">
                    <div class="pr-2">
                        <button class="btn btn-outline m-0">
                            <span class="fa fa-chart-column"></span><br>
                            View Facility <br> Data Overview
                        </button>
                    </div>
                    <div class="pr-2">
                        <button class="btn btn-outline m-0">
                            <span class="fa fa-book"></span><br>
                            Manage Utility <br> Data
                        </button>
                    </div>
                    <div class="pr-2">
                        <button class="btn btn-outline m-0">
                            <span class="fa fa-microscope"></span><br>
                            Conduct Facility <br> Analysis
                        </button>
                    </div>
                    <div class="pr-2">
                        <button class="btn btn-outline m-0">
                            <span class="fa fa-line-chart"></span><br>
                            Visualize Facility <br> Data
                        </button>
                    </div>
                    <div class="pr-2">
                        <button class="btn btn-outline m-0">
                            <span class="fa fa-gear"></span><br>
                            Manage Facility <br> Settings
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>