<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col">
                <h1 class="card-title"><span class="fa fa-industry" [ngStyle]="{color: facility.color}"></span>
                    {{facility.name}}</h1>
                <p class="card-text mb-0" *ngIf="facility.address">{{facility.address}}, {{facility.city}},
                    {{facility.state}}
                    {{facility.zip}}
                    {{facility.country}}
                </p>
                <p class="mb-0">
                    Contact:
                    <span *ngIf="facility.contactName" class="pe-2">{{facility.contactName}},</span>
                    <span *ngIf="facility.contactEmail" class="pe-2">{{facility.contactEmail}},</span>
                    <span *ngIf="facility.contactPhone">{{facility.contactPhone | phoneNumber}}</span>
                    <span
                        *ngIf="!facility.contactPhone && !facility.contactEmail && !facility.contactName">&mdash;</span>
                </p>
                <p class="card-text mb-0">NAICS:
                    <span *ngIf="naics">{{naics}}</span>
                    <span *ngIf="!naics">&mdash;</span>
                </p>
                <span class="badge me-2" *ngFor="let source of sources"
                    [ngStyle]="{'background-color': source | meterSourceColor}">{{source}}</span>
            </div>
            <div class="col-8">
                <div class="d-flex justify-content-center flex-wrap">
                    <div class="p-1">
                        <button class="btn btn-outline m-0 position-relative" (click)="navigateTo('utility')">
                            <span class="fa fa-book"></span><br>
                            Manage Utility <br> Data
                            <span
                                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                                *ngIf="meterReadingsNeeded">
                                <span class="fa-exclamation white"></span>
                            </span>
                        </button>
                    </div>
                    <div class="p-1">
                        <button class="btn btn-outline m-0" (click)="navigateTo('overview')" [disabled]="!lastBill">
                            <span class="fa fa-chart-column"></span><br>
                            View Facility <br> Data Overview
                        </button>
                    </div>
                    <div class="p-1">
                        <button class="btn btn-outline m-0" (click)="navigateTo('visualization')"
                            [disabled]="!lastBill">
                            <span class="fa fa-line-chart"></span><br>
                            Visualize Facility <br> Data
                        </button>
                    </div>
                    <div class="p-1">
                        <button class="btn btn-outline m-0 position-relative" (click)="navigateTo('analysis')"
                            [disabled]="!lastBill">
                            <span class="fa fa-microscope"></span><br>
                            Conduct Facility <br> Analysis
                            <span
                                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                                *ngIf="energyAnalysisNeeded || waterAnalysisNeeded">
                                <span class="fa-exclamation white"></span>
                            </span>
                        </button>
                    </div>
                    <div class="p-1">
                        <button class="btn btn-outline m-0" (click)="navigateTo('settings')" [disabled]="!lastBill">
                            <span class="fa fa-gear"></span><br>
                            Manage Facility <br> Settings
                        </button>
                    </div>
                    <div class="p-1">
                        <button class="btn btn-outline m-0" (click)="navigateTo('upload')">
                            <span class="fa fa-upload"></span><br>
                            Upload Utility <br> Data
                        </button>
                    </div>
                    <div class="p-1">
                        <button class="btn btn-outline m-0" (click)="exportData()">
                            <span class="fa fa-download"></span><br>
                            Export Facility <br> Utility Data
                        </button>
                    </div>

                </div>
                <div class="d-flex justify-content-center"
                    *ngIf="meterReadingsNeeded || energyAnalysisNeeded || waterAnalysisNeeded">
                    <ul class="list-group list-group-flush">
                        <!--meters-->
                        <li class="list-group-item" *ngIf="meterReadingsNeeded">
                            <a class="nav-link" routerLink="/facility/{{facility.id}}/utility">
                                <span class="badge rounded-pill bg-danger">
                                    <span class="fa-exclamation white"></span>
                                </span>
                                Meter readings needed. <span *ngIf="lastBill">Latest entry {{lastBill.readDate |
                                    date}}.</span>
                            </a>
                        </li>
                        <li class="list-group-item" *ngIf="energyAnalysisNeeded && lastBill">
                            <a class="nav-link"
                                routerLink="/facility/{{facility.id}}/analysis/analysis-dashboard/energy">
                                <span class="badge rounded-pill bg-danger">
                                    <span class="fa-exclamation white"></span>
                                </span>
                                Energy analysis needed. <ng-container *ngIf="latestEnergyAnalysisItem">Latest energy
                                    analysis conducted for
                                    {{latestEnergyAnalysisItem.reportYear |
                                    yearDisplay:facility.fiscalYear}}</ng-container>
                            </a>
                        </li>
                        <li class="list-group-item" *ngIf="waterAnalysisNeeded && lastBill">
                            <a class="nav-link"
                                routerLink="/facility/{{facility.id}}/analysis/analysis-dashboard/water">
                                <span class="badge rounded-pill bg-danger">
                                    <span class="fa-exclamation white"></span>
                                </span>
                                Water analysis needed. <ng-container *ngIf="latestWaterAnalysisItem">Latest water
                                    analysis conducted for
                                    {{latestWaterAnalysisItem.reportYear |
                                    yearDisplay:facility.fiscalYear}}</ng-container>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>