<div class="d-flex w-100 justify-content-end">
  <div>
    <button class="btn btn-secondary me-2" (click)="cancel()">Cancel</button>
    @if (addOrEdit == 'edit') {
      <button class="btn btn-primary" (click)="saveAndQuit()"
      [disabled]="meterDataForm.invalid || invalidDate">Save Changes</button>
    }
    @if (addOrEdit == 'add') {
      <button class="btn btn-primary me-2" (click)="saveAndQuit()"
      [disabled]="meterDataForm.invalid || invalidDate">Save + Quit</button>
    }
    @if (addOrEdit == 'add') {
      <button class="btn btn-primary" (click)="saveAndAddAnother()"
        [disabled]="meterDataForm.invalid || invalidDate">Save +
      Add Another</button>
    }
  </div>
</div>
<hr>

  @if (editMeter.source == 'Electricity') {
    <app-edit-electricity-bill [editMeterData]="editMeterData"
      [addOrEdit]="addOrEdit" [editMeter]="editMeter" [meterDataForm]="meterDataForm" [invalidDate]="invalidDate">
    </app-edit-electricity-bill>
  }
  @if (editMeter.source != 'Electricity' && editMeter.scope != 2 && editMeter.scope != 5 && editMeter.scope != 6) {
    <app-edit-utility-bill
      [editMeterData]="editMeterData" [addOrEdit]="addOrEdit" [editMeter]="editMeter"
      [displayVolumeInput]="displayVolumeInput" [displayEnergyUse]="displayEnergyUse" [meterDataForm]="meterDataForm"
      [invalidDate]="invalidDate" [displayHeatCapacity]="displayHeatCapacity">
    </app-edit-utility-bill>
  }
  @if (editMeter.source != 'Electricity' && editMeter.scope == 2) {
    <app-edit-vehicle-meter-bill
      [editMeterData]="editMeterData" [addOrEdit]="addOrEdit" [editMeter]="editMeter" [meterDataForm]="meterDataForm"
      [invalidDate]="invalidDate" [displayVehicleFuelEfficiency]="displayVehicleFuelEfficiency">
    </app-edit-vehicle-meter-bill>
  }
  @if (editMeter.source != 'Electricity' && (editMeter.scope == 5 || editMeter.scope == 6)) {
    <app-edit-other-emissions-bill
      [editMeterData]="editMeterData" [addOrEdit]="addOrEdit" [editMeter]="editMeter" [meterDataForm]="meterDataForm"
      [invalidDate]="invalidDate">
    </app-edit-other-emissions-bill>
  }

  <app-edit-bill-charges [editMeter]="editMeter" [meterDataForm]="meterDataForm"
  [editMeterData]="editMeterData" [addOrEdit]="addOrEdit"></app-edit-bill-charges>

  @if (isElectron) {
    <app-edit-connect-bill [editMeterData]="editMeterData" [meterDataForm]="meterDataForm"
      [editMeter]="editMeter" [addOrEdit]="addOrEdit">
    </app-edit-connect-bill>
  }