<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="content" role="main" *ngIf="dataInitialized">
  <router-outlet></router-outlet>
  <app-setup-progress></app-setup-progress>
  <app-toast-notifications></app-toast-notifications>
</div>

<div class="content" *ngIf="!dataInitialized">
  <div class="loading-screen">

    <!-- <div class="main-content"> -->
    <div class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
    <h1>{{loadingMessage}}</h1>
    <!-- </div> -->

  </div>
</div>

<app-footer></app-footer>
<app-loading></app-loading>
<app-electron-update></app-electron-update>