<nav class="nav sidebar flex-column" [ngClass]="{'open': open}" (mouseenter)="hoverIn()" (mouseleave)="hoverOut()">
    <a class="nav-link pt-4" (click)="toggleSidebar(true)">
        <i class="fa" [ngClass]="{'fa-align-left': !open, 'fa-align-right': open}"></i>
    </a>
    <hr>
    <a class="nav-link" routerLink="/home" [routerLinkActive]="['active']"><i class="fa fa-home"></i>
        <span [hidden]="!open" class="pl-2 nav-label">Home</span></a>
    <a class="nav-link" routerLink="utility/" [routerLinkActive]="['active']"><i class="fa fa-bar-chart"></i>
        <span [hidden]="!open" class="pl-2 nav-label">Utility Data</span></a>
    <hr>
    <div class="menuHeader">
        <p>Reports</p>
    </div>
    <a class="nav-link" routerLink="/overview-report" [routerLinkActive]="['active']">
        <i class="fa fa-th"></i> <span [hidden]="!open" class="pl-2 nav-label">Overview</span>
    </a>
    <a class="nav-link">
        <i class="fa fa-area-chart"></i> <span [hidden]="!open" class="pl-2 nav-label">Regression <span
                class="tag coming-soon">Coming
                soon</span></span>
    </a>
    <a class="nav-link">
        <i class="fa fa-list-alt"></i> <span [hidden]="!open" class="pl-2 nav-label">Scorecards <span
                class="tag coming-soon">Coming
                soon</span></span>
    </a>
    <hr>
    <a class="nav-link" routerLink="/help" [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"><i class="fa fa-question"></i> <span [hidden]="!open"
            class="pl-2 nav-label">Help</span> </a>
    <a class="nav-link" routerLink="/about" [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"><i class="fa fa-info-circle"></i> <span [hidden]="!open"
            class="pl-2 nav-label">About</span></a>
    <a class="nav-link" routerLink="/feedback" [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"><i class="fa fa-inbox"></i> <span [hidden]="!open"
            class="pl-2 nav-label">Feedback</span></a>
    <a class="nav-link" routerLink="/acknowledgments" [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"><i class="fa fa-trophy"></i>
        <span [hidden]="!open" class="pl-2 nav-label">Acknowledgments</span></a>
    <hr>
    <a class="nav-link" *ngIf="isDev" routerLink="style-guide" [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"><i class="fa fa-star"></i> <span [hidden]="!open"
            class="pl-2 nav-label">Style
            Guide</span></a>
</nav>