/*
Sidebar
=============================================== */
#sidebar {
    /*padding: 30px 30px;*/
    /* padding: 90px 30px; */
    min-height: 100vh;
    width: calc(120px - 50px);
    /* position: fixed; */
    box-shadow: 2px 3px 5px 0px #77777759;
    background-color: white;
    transition: .2s width;
}
#sidebar  ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
#sidebar ul li {
    padding: 7px 0;
}
.menuHeader {
    height: 22px;
    padding-left: 2rem;
}
.menuHeader hr{
    margin: 0px;
}
.menuHeader p {
    font-weight: bold;
    text-transform: uppercase;
}
.active i {
    color: #ff6000;
}
i.fa {    
    font-size: 1.25rem;
    width: 1.5rem;
}
.menuToggle {
    cursor: pointer;
}


.nav-link{
    padding-left: 2rem;
}

nav.sidebar.open{
    width: 260px;
}

nav.sidebar{
    width: 70px;
    transition: .2s width;
    box-shadow: 2px 3px 5px 0px #77777759;
    height: 100%;
}

.nav-link .nav-label{
    animation: fadeInAnimation .7s ease;
}

.open .nav-link span {
    width: 100%;
    transition: .6s width;
}

.nav-link span {
    width: 0px;
    transition: .6s width;
}