<div class="utility banner sticky-top d-flex justify-content-between banner-border"
    [ngClass]="{'modal-open': modalOpen}">
    <ul class="nav nav-tabs">
        @if(account.displayEmissions){
        <li class="nav-item">
            <a class="nav-link" routerLink="emissions" [routerLinkActive]="['active']">
                <i class="fa fa-file-pen"></i>
                Custom Grid Factors
            </a>
        </li>
        }
        <li class="nav-item">
            <a class="nav-link" routerLink="fuels" [routerLinkActive]="['active']">
                <i class="fa fa-file-pen"></i>
                Custom Fuels
            </a>
        </li>
        @if(account.displayEmissions){
        <li class="nav-item">
            <a class="nav-link" routerLink="gwp" [routerLinkActive]="['active']">
                <i class="fa fa-file-pen"></i>
                Custom GWP
            </a>
        </li>
        }
    </ul>
</div>

<div class="measur-wrapper main-content">
    <router-outlet></router-outlet>
</div>