h4 {
    border-bottom: none;
    padding: inherit;
}


.email-content {
    padding-left: 1rem;
    padding-right: 1rem;
    border-left: solid #ff6000 5px;
    margin-left: .5rem;
    margin-right: .5rem;
}

p, label, button {
    font-size: 14px;
}