<h4>Import Predictors</h4>
<br>
<form>
    <input type="file" #inputFile accept=".csv" (change)="importData($event.target.files)">
</form>
<br>
<div class="importQuickView" *ngIf="quickView.length != 0">
    <p class="bold">Quick View</p>
    <table>
        <tr>
            <th>Date</th>
            <th *ngFor="let predictorData of quickView[0].predictors">{{predictorData.name}}</th>
        </tr>
        <tr *ngFor="let predictorEntryItem of quickView">
            <td>{{predictorEntryItem.date | date}}</td>
            <td *ngFor="let predictorData of predictorEntryItem.predictors">{{predictorData.amount}}</td>
        </tr>
    </table>
</div>
<p class="alert alert-danger" [hidden]="importError == undefined">{{importError}}</p>

<div class="saveCancel item-right">
    <button class="btn btn-primary" (click)="cancel()">Cancel</button>
    <button class="btn btn-primary" (click)="addPredictors()" [disabled]="importError">Submit</button>
</div>