<h4>Import Predictors</h4>
<br>
<form>
    <input type="file" #inputFile accept=".csv" (change)="importData($event.target.files)">
</form>
<br>
<div class="importQuickView" *ngIf="quickView.length != 0">
    <p class="bold">Quick View</p>
    <table>
        <tr>
            <th>Date</th>
            <th *ngFor="let predictorData of quickView[0].predictors">{{predictorData.name}}</th>
        </tr>
        <tr *ngFor="let predictorEntryItem of quickView">
            <td>{{predictorEntryItem.date | date:'MMM, yyyy'}}</td>
            <td *ngFor="let predictorData of predictorEntryItem.predictors">{{predictorData.amount}}</td>
        </tr>
    </table>
</div>
<p class="alert alert-danger" [hidden]="importError == undefined">{{importError}}</p>

<div class="alert alert-warning" [hidden]="existingEntries.length == 0">
    <p>Some of the dates you are trying to import already exist. How would you like this handled?</p>
    <div>
        <input type="radio" id="trueReplaceExisting" name="replaceExisting" [value]="true"
            [(ngModel)]="replaceExisting">
        <label for="trueReplaceExisting">Replace Existing</label>
    </div>
    <div>
        <input type="radio" id="falseReplaceExisting" name="replaceExisting" [value]="false"
            [(ngModel)]="replaceExisting">
        <label for="falseReplaceExisting">Ignore Duplicates</label>
    </div>

</div>


<div class="saveCancel item-right">
    <button class="btn btn-primary" (click)="cancel()">Cancel</button>
    <button class="btn btn-primary" (click)="addPredictors()" [disabled]="importError">Submit</button>
</div>