td.fill-cell {
    background-image: linear-gradient(to right, #CB4335 0%, #CB4335 100%);
    background-repeat: no-repeat;
}

td.nowrap {
    white-space: nowrap;
} 

.section-row td{
    background-color: #34495e;
    color: #fff;
    font-weight: bold;
}

td{
    /* background-color: #bfc9ca; */
}

td:not(:first-child) {
    text-align: right;
}
.fa.fa-chevron-right, .fa.fa-chevron-down {
    color: white;
}

td.clickable {
    cursor: pointer;
}

td.clickable:hover{
    text-decoration: underline;
}