<button class="btn btn-info" (click)="generateModels()" *ngIf="!selectedGroup.models">Generate Models</button>


<div class="table-responsive" *ngIf="selectedGroup.models">
    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th>
                    Select Model
                </th>
                <!-- <th>
                    Model ID
                </th> -->
                <th>
                    Model Year
                </th>
                <th>
                    Valid
                </th>
                <th>
                    Variable p-Values
                </th>
                <th>
                    R2
                </th>
                <th>
                    Adjusted R2
                </th>
                <th>
                    Model p-Value
                </th>
                <th>
                    Formula
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let model of selectedGroup.models; let modelIndex = index;">
                <td>
                    <input [disabled]="!model.isValid" type="radio" class="rowToggle" [(ngModel)]="selectedGroup.selectedModelId"
                        [value]="model.modelId" name="{{modelIndex+'_selectedModelId'}}"
                        id="{{modelIndex+'_selectedModelId'}}" (change)="selectModel()">
                </td>
                <!-- <td>
                    {{model.modelId}}
                </td> -->
                <td>
                    {{model.modelYear}}
                </td>
                <td>
                    {{model.isValid}}
                </td>
                <td>
                    <span *ngFor="let pVal of model.t.p; let index = index">
                        <span *ngIf="index != 0">{{model.predictorVariables[index-1].name}}: {{pVal | customNumber}}
                            <br>
                        </span>
                        <!-- {{model.predictorVariables[index].name}} -->
                    </span>
                </td>
                <td>
                    {{model.R2| customNumber}}
                </td>
                <td>
                    {{model.adjust_R2| customNumber}}
                </td>
                <td>
                    {{model.f.pvalue| customNumber}}
                </td>
                <td>
                    <span *ngFor="let coefVal of model.coef; let index = index;">
                        {{coefVal| customNumber}}
                        <span *ngIf="index != 0">*({{model.predictorVariables[index-1].name}})</span> <span
                            *ngIf="index != model.coef.length-1"> +</span>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>