<div class="wrapper main-content">
    <h4>Predictors</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

    <div class="controls">
        <div class="importExport item-right">
            <button class="btn btn-outline">Import</button>
            <button class="btn btn-outline">Export</button>
        </div>
        <!--Items Per Page-->
        <div class="items-per-page item-right">
            <span>Show </span>
            <select (change)="changePagesize($event.target.value)">
                <option value="6">6</option>
                <option value="12" selected>12</option>
                <option value="18">18</option>
                <option value="24">24</option>
            </select>
        </div>  
    </div>

    <div class="meterData">
        <button class="btn btn-primary-4 item-right" (click)="predictorAdd()"><i class="fa fa-plus"></i> Add New Predictor</button>  
    </div>

    <div class='stick-scroll-x'>
    <table>
        <tr>
            <th></th>
            <th class="header" *ngFor="let header of predictorHeaders">{{header}} <span class="small block">hours</span></th>
            <td (click)="$event.stopPropagation();"> <!-- Prevents closure of menu on document click-->
                <i class="fa fa-ellipsis-v" (click)="predictorToggleMenu('header')" ></i>
                <div class="meterMenu" [class.open]="predictorMenu === 'header'">
                    <p (click)="predictorEdit()">Edit / Delete</p>
                </div>
            </td>
        </tr>
        <tr>
            <th>Date</th>
            <th *ngFor="let header of predictorHeaders">Amount</th>
            <th></th>
        </tr>
        <tr *ngFor="let data of dataTable | slice: pageSize | slice: 0:itemsPerPage">
            <td>{{data.date}}</td>
            <td *ngFor="let item of data.amount">{{item.amount}}</td>
            <td (click)="$event.stopPropagation();"> <!-- Prevents closure of menu on document click-->
                <i class="fa fa-ellipsis-v" (click)="predictorToggleMenu(data.date)" ></i>
                <div class="meterMenu" [class.open]="predictorMenu === data.date">
                    <p (click)="predictorDataEdit(data.date)">Edit</p>
                    <p (click)="editPredictorDataWindow = false; deleteConfirm('date', data.date);">Delete</p>
                </div>
            </td>
        </tr>
    </table>
</div>
    <div class="tableControls overflow-hidden">
        <button class="btn btn-link item-left" (click)="predictorAddRow()" [hidden]="predictors.length === 0"><i class="fa fa-plus"></i> Add Row</button>
        <div class="item-right">
            <ngb-pagination [collectionSize]="dataTable.length" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" aria-label="Default pagination" (pageChange)="onPageChange(page)"></ngb-pagination>
        </div>
        <p class="item-right">{{dataTable.length}} entries</p>
    </div>
</div>

<div class="window" [class.open]="editPredictorDataWindow == true">
    <div class="windowOverlay"></div>
    <div class="windowContent">
        <h4>Edit Predictor Row</h4>
        <p><span class="red">*</span> Dates must be unique.</p>
        <br>
        <form [formGroup]="predictorRowForm">
            <label>
                Date
                <input type="month" (change)="checkDate()" formControlName="date">
            </label>
            
            <label *ngFor="let predictor of predictorRow">
                {{predictor.name}}
                <input type="number" formControlName="{{predictor.name}}">
            </label>
        </form>
        
        <div class="saveCancel item-right">
            <button class="btn btn-primary" (click)="editPredictorDataWindow = !editPredictorDataWindow">Cancel</button>
            <button class="btn btn-primary" (click)="predictorDataSave();">Save</button>
        </div>
    </div>
</div>

<div class="window" [class.open]="editPredictorWindow == true">
    <div class="windowOverlay"></div>
    <div class="windowContent windowContentLg">
        <h4>Edit Predictors</h4>
        <br>

        <div class="row">
            <div class="col">
                <p class="bold">Predictor Name</p>
            </div>
            <div class="col-3">
                <p class="bold">Units</p>
            </div>
            <div class="col-1"></div>
        </div>
        
        <form [formGroup]="predictorHeaderForm">
            <div class="row" *ngFor="let header of predictorHeaders">
                <div class="col">
                    <label>
                        <input class="full-width" type="text" formControlName="{{header}}">
                    </label>
                </div>
                <div class="col-3">
                    <select class="full-width">
                        <option>hours</option>
                        <option>minutes</option>
                    </select>
                </div>
                <div class="col-1">
                    <p class="bold" (click)="deleteConfirm('name',header)"><i class="fa fa-trash-o red pointer"></i></p>
                </div>
            </div>
        </form>
        
        <div class="saveCancel item-right">
            <button class="btn btn-primary" (click)="editPredictorWindow = !editPredictorWindow">Cancel</button>
            <button class="btn btn-primary" (click)="predictorSave();">Save</button>
        </div>
    </div>
</div>


<div class="popup" [class.open]="popup == true">
    <div class="popup-header">Delete Predictor 
        <button class="item-right" (click)="popup = false">x</button>
    </div>
        <div class="popup-body">
        <p>WARNING: By deleting this predictor, you are also deleting all of the data associated with it. Are you sure you want to preform this action?</p>
    </div>
    <div class="popup-footer text-right">
        <button class="btn btn-danger" (click)="deletePredictors(deleteFilter, deleteValue); popup=false">Delete</button>
    </div>
</div>
