.dashboard-container{
    height: calc(100vh - 100px);
    overflow-y: auto; 
    background-image: url('../../assets/images/industrial-skyline.svg');
    background-position: bottom;
    background-repeat: no-repeat;
}