<div class="row">
    <div class="col-lg-7">
        <h4>Facility Information</h4>
        <br>
        <app-general-information-form [inAccount]="false"></app-general-information-form>
    </div>

    <div class="col-lg-5">
        <h4>Facility Units</h4>
        <br>
        <app-default-units-form [inAccount]="false"></app-default-units-form>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-lg-7">
        <h4>Sustainability Questions</h4>
        <br>
        <app-sustainability-questions-form [inAccount]="false">
        </app-sustainability-questions-form>
    </div>
    <div class="col">
        <h4>Financial Reporting</h4>
        <br>
        <app-financial-reporting-form [inAccount]="false"></app-financial-reporting-form>
    </div>
</div>