<div id="acknowledgments">
    <div class="banner">
      <h3>Acknowledgments</h3>
    </div>
</div>
  
<div class="measur-wrapper">
    <div class="wrapper mr-0 overflow-hidden">
        <h4>Acknowledgments</h4>
        <p>This tool was developed by staff at Oak Ridge National Laboratory (ORNL) and in collaboration with the U.S. Department of Energy. This software tool was funded by the U.S. Department of Energy's Office of Energy Efficiency and Renewable Energy under Oak Ridge National Laboratory Contract No. DE-AC05-00OR22725. The following individuals are major contributors to the Better Plants Energy Assessment Tool Suite:</p>
        <br>

        <h5>Oak Ridge National Laboratory Staff</h5>
        <ul>
            <li>Kristina Armstrong: <span class="italic">(Lead Engineer)</span></li>
            <li>Kita Cranfill: <span class="italic">(Front-end Developer)</span></li>
            <li>Paulomi Nandy: <span class="italic">(Engineer)</span></li>
            <li>Thomas Wenning: <span class="italic">(Program Manager)</span></li>
        </ul>
        <br>

        <h5>Oak Ridge National Laboratory Contractors</h5>
        <ul>
            <li>Mark Root: <span class="italic">(Lead Developer)</span></li>
        </ul>
        <br>

        <h5>Student Undergraduate Laboratory Internship Participants</h5>
        <ul>
            <li>Coming Soon</li>
        </ul>
    </div>
</div>

