<ng-container *ngIf="weatherStation">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="click-link" (click)="goToStations()">Weather Stations</a></li>
            <li class="breadcrumb-item"><a class="click-link" (click)="goToAnnualData()">{{weatherStation.name}}
                    ({{weatherStation.lat}},
                    {{weatherStation.lon}})</a></li>
            <li class="breadcrumb-item active">
                {{selectedMonth | date:'MMM. y'}}
            </li>
        </ol>
    </nav>
    <p>
        Explore weather stations. Set the zip code and the radius distance from that location to include weather
        stations.
    </p>
    <form>
        <div class="row">
            <div class="col-1 btn-col">
                <div class="btn-margin">
                    <button class="btn nav-btn" (click)="goToAnnualData()">
                        <span class="fa fa-chevron-left"></span>
                    </button>
                </div>
            </div>
            <div class="col-lg-2 col-md-12 col-sm-12">
                <label class="semibold" for="startDate">Select Month</label>
                <input id="selectedMonth" class="form-control" type="month" [ngModel]="selectedMonth | date:'yyyy-MM'"
                    (ngModelChange)="setSelectedMonth($event)" name="selectedMonth" (input)="setDegreeDays()">
            </div>
            <div class="col-lg-2 col-md-12 col-sm-12">
                <label class="semibold" for="weatherDataSelection">Select Data</label>
                <select id="weatherDataSelection" [(ngModel)]="weatherDataSelection" class="form-select"
                    name="weatherDataSelection" (change)="setWeatherDataOption()">
                    <option *ngFor="let option of weatherDataSelectionOptions" [ngValue]="option.selection">
                        {{option.label}}
                    </option>
                </select>
            </div>
            <div class="col-lg-2 col-md-12 col-sm-12"
                *ngIf="weatherDataSelection == 'degreeDays' || weatherDataSelection == 'HDD'">
                <label class="semibold" for="heatingTemp">Heating Base Temperature</label>
                <div class="mb-3 input-group">
                    <input id="heatingTemp" class="form-control" type="number" [(ngModel)]="heatingTemp"
                        onfocus="this.select();" name="heatingTemp" (input)="setHeatingBaseTemp()" required>
                    <span class="input-group-text">
                        &#8457;
                    </span>
                </div>
                <div class="alert-danger alert" *ngIf="heatingTemp == undefined">
                    Value Required</div>
            </div>
            <div class="col-lg-2 col-md-12 col-sm-12"
                *ngIf="weatherDataSelection == 'degreeDays' || weatherDataSelection == 'CDD'">
                <label class="semibold" for="coolingTemp">Cooling Base Temperature</label>
                <div class="mb-3 input-group">
                    <input id="heatingTemp" class="form-control" type="number" [(ngModel)]="coolingTemp"
                        onfocus="this.select();" name="coolingTemp" (input)="setCoolingBaseTemp()" required>
                    <span class="input-group-text">
                        &#8457;
                    </span>
                </div>
                <div class="alert-danger alert" *ngIf="coolingTemp == undefined">
                    Value Required</div>
            </div>
            <div class="col">
                <div class="btn-margin">
                    <button class="btn action-btn" (click)="showApplyToFacility()">Create Weather Predictors</button>
                </div>
            </div>
        </div>
    </form>
    <hr>
    <div class="row" *ngIf="hasGapsInData">
        <div class="alert alert-warning text-center">
            A gap of more then twelve hours was found prior to the reading at {{gapsInDataDate | date:'long'}}. The
            degree day calculations for this month may not be completely accurate.
        </div>
    </div>
    <div class="row" *ngIf="calculating">
        <div class="col-12 text-center pb-4">
            @let formattedMonth = selectedMonth | date:'MMMM y';
            <app-calculating-spinner [message]="'Calculating ' + formattedMonth  + '...'"></app-calculating-spinner>
        </div>
    </div>
    <div class="row" *ngIf="detailedDegreeDays && detailedDegreeDays.length != 0 && !calculating">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <app-monthly-station-graph [detailedDegreeDays]="detailedDegreeDays" [selectedMonth]="selectedMonth"
                [heatingTemp]="heatingTemp" [coolingTemp]="coolingTemp"
                [weatherDataSelection]="weatherDataSelection"></app-monthly-station-graph>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <app-monthly-station-table [detailedDegreeDays]="detailedDegreeDays"
                [weatherDataSelection]="weatherDataSelection"></app-monthly-station-table>
        </div>
    </div>
</ng-container>