<table class="table utility-data table-sm table-bordered table-hover" #meterTable [ngClass]="{'copying-table': copyingTable}">
    <thead class="sortable">
        <tr>
            <th *ngIf="!copyingTable" class="input">
                <input #masterCheckbox type="checkbox" (change)="checkAll()" [(ngModel)]="allChecked">
            </th>
            <th (click)="setOrderDataField('readDate')" [ngClass]="{'active': orderDataField == 'readDate'}"
                class="row-year">Meter Read Date</th>
            <th (click)="setOrderDataField('totalVolume')" [ngClass]="{'active': orderDataField == 'totalVolume'}"
                *ngIf="generalUtilityDataFilters.totalVolume && showVolumeColumn">Total Consumption<br> (<span
                    [innerHTML]="volumeUnit | settingsLabel"></span>)
            </th>
            <th (click)="setOrderDataField('totalEnergyUse')" [ngClass]="{'active': orderDataField == 'totalEnergyUse'}"
                *ngIf="showEnergyColumn">Total Energy<br> (<span [innerHTML]="energyUnit | settingsLabel"></span>)</th>
            <th *ngIf="generalUtilityDataFilters.totalCost" (click)="setOrderDataField('totalCost')"
                [ngClass]="{'active': orderDataField == 'totalCost'}">Total
                Cost</th>
            <th *ngIf="generalUtilityDataFilters.totalMarketEmissions && showEmissions"
                (click)="setOrderDataField('totalMarketEmissions')"
                [ngClass]="{'active': orderDataField == 'totalMarketEmissions'}">Total Market <br>Emissions (kg
                CO<sub>2</sub>)</th>
            <th *ngIf="generalUtilityDataFilters.totalLocationEmissions && showEmissions"
                (click)="setOrderDataField('totalLocationEmissions')"
                [ngClass]="{'active': orderDataField == 'totalLocationEmissions'}">Total Location <br>Emissions (kg
                CO<sub>2</sub>)</th>
            <th *ngIf="generalUtilityDataFilters.commodityCharge" (click)="setOrderDataField('commodityCharge')"
                [ngClass]="{'active': orderDataField == 'commodityCharge'}">Commodity Charge</th>
            <th *ngIf="generalUtilityDataFilters.deliveryCharge" (click)="setOrderDataField('deliveryCharge')"
                [ngClass]="{'active': orderDataField == 'deliveryCharge'}">Delivery Charge</th>
            <th *ngIf="generalUtilityDataFilters.otherCharge" (click)="setOrderDataField('otherCharge')"
                [ngClass]="{'active': orderDataField == 'otherCharge'}">Other
                Charges</th>
            <th *ngIf="!copyingTable">Actions</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        <tr
            *ngFor="let meterData of selectedMeterData | orderBy: orderDataField: orderByDirection | slice: ((currentPageNumber-1) * itemsPerPage): currentPageNumber * itemsPerPage">
            <td *ngIf="!copyingTable" class="input">
                <input type="checkbox" name="metersSelected" (change)="toggleChecked()" [(ngModel)]="meterData.checked">
            </td>
            <td class="read-date" [ngClass]="checkError(meterData.readDate)">{{meterData.readDate | date}}</td>
            <td *ngIf="generalUtilityDataFilters.totalVolume && showVolumeColumn">{{meterData.totalVolume |
                customNumber}}</td>
            <td *ngIf="showEnergyColumn">{{meterData.totalEnergyUse | customNumber}}</td>
            <td *ngIf="generalUtilityDataFilters.totalCost">{{meterData.totalCost | customNumber:true}}</td>
            <td *ngIf="generalUtilityDataFilters.totalMarketEmissions && showEmissions">{{meterData.totalMarketEmissions
                | customNumber}}</td>
            <td *ngIf="generalUtilityDataFilters.totalLocationEmissions && showEmissions">
                {{meterData.totalLocationEmissions | customNumber}}</td>
            <td *ngIf="generalUtilityDataFilters.commodityCharge">{{meterData.commodityCharge | customNumber:true}}</td>
            <td *ngIf="generalUtilityDataFilters.deliveryCharge">{{meterData.deliveryCharge | customNumber:true}}</td>
            <td *ngIf="generalUtilityDataFilters.otherCharge">{{meterData.otherCharge | customNumber:true}}</td>
            <td class="actions" *ngIf="!copyingTable">
                <div class="btn-group">
                    <button class="btn btn-sm btn-outline" (click)="setEditMeterData(meterData)" title="Edit">
                        <i class="fa fa-pencil"></i>
                    </button>
                    <button class="btn btn-sm btn-outline" (click)="setDeleteMeterData(meterData)" title="Delete">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<div class="d-flex w-100 justify-content-between">
    <div>
        <button class="btn action-btn btn-sm" (click)="copyTable()">
            <span class="fa fa-copy"></span> Copy Table
        </button>
    </div>
    <ngb-pagination [collectionSize]="selectedMeterData.length" [(page)]="currentPageNumber" [pageSize]="itemsPerPage"
        [maxSize]="5" [rotate]="true" aria-label="Pagination">
    </ngb-pagination>
</div>