<div class="row">
    <div class="col plot">
        <p>Account Facilities</p>
        <app-facilities-table></app-facilities-table>
    </div>
</div>

<div class="row">
    <div class="col plot">
        <p>Energy Use ({{lastMonthsDate | date: 'MMM, y'}})</p>
        <p class="display-lg center bold no-margin">{{lastBillEnergyUse | number:'1.0-0'}}</p>
        <p class="center">vs <span class="highlight">{{averageEnergyUse | number:'1.0-0'}}</span> average monthly use
        </p>
    </div>
    <div class="col plot">
        <p>Energy Cost ({{lastMonthsDate | date: 'MMM, y'}})</p>
        <p class="display-lg center bold no-margin">{{lastBillEnergyCost | currency: 'USD' : 'symbol' : '1.0-0'}}</p>
        <p class="center">vs <span class="highlight">{{averageEnergyCost | currency: 'USD' : 'symbol' : '1.0-0'}}</span>
            average monthly cost</p>
    </div>
    <div class="col plot">
        <p>Energy Saving Progress</p>
        <p class="display-lg center bold no-margin">30%</p>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" style="width:30%"></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col plot">
        <p>Monthly Energy Costs</p>
        <app-energy-use-heat-map></app-energy-use-heat-map>
    </div>
</div>
<div class="row">
    <div class="col plot">
        <p class="mb-0">Facility Total Energy Costs</p>
        <app-energy-use-donut></app-energy-use-donut>
    </div>
    <div class="col plot">
        <p class="mb-0">Facility Energy Source Costs</p>
        <app-energy-use-stacked-bar-chart></app-energy-use-stacked-bar-chart>
    </div>
</div>