<div *ngIf="utilityMeterAccountData.length === 0" class="text-center mt-3">
    <h2>Start building your account dashboard!</h2>
    <p>Before we can create any charts, you will need to add some utility data.</p>
    <button class="btn btn-primary-2" routerLink="/utility/energy-consumption"><i class="fa fa-plus"></i> Add Utility
        Data</button>
</div>

<div *ngIf="utilityMeterAccountData.length > 0">
    <div class="row">
        <div class="col plot">
            <p>Account Facilities</p>
            <app-facilities-table></app-facilities-table>
        </div>
    </div>

    <div class="row">
        <div class="col plot">
            <p>Utility Use and Costs</p>
            <app-account-utility-energy-use-table></app-account-utility-energy-use-table>
        </div>
    </div>
    <div class="row">
        <div class="col plot">
            <p class="mb-0">Facility Total Utility {{chartsLabel}} ({{yearAgoDate | date: 'MMM, y'}} - {{todaysDate |
                date: 'MMM, y'}})</p>
            <app-energy-use-donut></app-energy-use-donut>
        </div>
        <div class="col plot">
            <p class="mb-0">Facility Utility Source {{chartsLabel}} (All-time)
                <app-energy-use-stacked-bar-chart></app-energy-use-stacked-bar-chart>
        </div>
    </div>
    <div class="row">
        <div class="col plot">
            <p>Monthly Utility {{chartsLabel}}
                <a class="float-right" (click)="toggleHeatMap()" *ngIf="!heatMapShown"><span class="fa fa-plus"></span>
                    Show Heat Map</a>
                <a class="float-right" (click)="toggleHeatMap()" *ngIf="heatMapShown"><span class="fa fa-minus"></span>
                    Hide Heat Map</a>
            </p>
            <app-energy-use-heat-map *ngIf="heatMapShown"></app-energy-use-heat-map>
        </div>
    </div>
</div>