<nav class="tabs">
    <ul class="mb-0">
        <li [ngClass]="{'error': groupHasError}"><a
                routerLink="/analysis/run-analysis/group-analysis/{{groupId}}/options"
                [routerLinkActive]="['active']">Analysis
                Options</a></li>
        <li [ngClass]="{'disabled': groupHasError, 'error': groupHasError}"><a
                routerLink="/analysis/run-analysis/group-analysis/{{groupId}}/annual-analysis"
                [routerLinkActive]="['active']">Annual Analysis</a></li>
        <li [ngClass]="{'disabled': groupHasError, 'error': groupHasError}"><a
                routerLink="/analysis/run-analysis/group-analysis/{{groupId}}/monthly-analysis"
                [routerLinkActive]="['active']">Monthly Analysis</a></li>
    </ul>
</nav>
<div class="content-padding">
    <h4>{{label}}</h4>
    <router-outlet></router-outlet>
</div>