<h4>Energy Sources</h4>
<p>All energy sources that <strong>Facility
        <!--{{activeFacility.name}}--></strong> uses can be viewed in the tabs at the top of the screen.</p>

<div class="controls">
    <div class="importExport item-right">
        <button class="btn btn-outline" (click)="showImportWindow()">Import</button>
        <button class="btn btn-outline" (click)="meterExport()">Export</button>
    </div>
    <!--Items Per Page-->
    <div class="items-per-page item-right">
        <span>Show </span>
        <select (change)="changePagesize($event.target.value)">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="40">40</option>
        </select>
    </div>
</div>

<div class="meterData">
    <button class="btn btn-link item-right" (click)="meterAdd()"><i class="fa fa-plus"></i> Add New Meter</button>
    <div class="tableControls overflow-hidden item-right">
        <div class="item-right">
            <ngb-pagination [collectionSize]="meterList.length" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5"
                [rotate]="true" aria-label="Default pagination" (pageChange)="onPageChange(page)"></ngb-pagination>
        </div>
        <p class="item-right">{{meterList.length}} entries</p>
    </div>
</div>

<table>
    <tr>
        <th>Name</th>
        <th>Source</th>
        <!--<th><i>Group</i></th>-->
        <th>Meter #</th>
        <th>Account #</th>
        <th>Building / Location</th>
        <th>Utility Supplier</th>
        <th>Notes</th>
        <th>Unit</th>
        <th><i>F Unit</i></th>
        <th>Heat</th>
        <th>STS</th>
        <th></th>
    </tr>
    <tr *ngFor="let meter of meterList | slice: pageSize | slice: 0:itemsPerPage">
        <td>{{meter.name}}</td>
        <td>{{meter.source}}</td>
        <!--<td>{{meter.group}}</td>-->
        <td>{{meter.meterNumber}}</td>
        <td>{{meter.accountNumber}}</td>
        <td>{{meter.location}}</td>
        <td>{{meter.supplier}}</td>
        <td>{{meter.notes}}</td>
        <td>{{meter.startingUnit}}</td>
        <td>{{meter.finalUnit}}</td>
        <td>{{meter.heatCapacity}}</td>
        <td>{{meter.siteToSource}}</td>
        <td (click)="$event.stopPropagation();">
            <!-- Prevents closure of menu on document click-->
            <i class="fa fa-ellipsis-v" (click)="meterToggleMenu(meter.id)"></i>
            <div class="meterMenu" [class.open]="meterMenuOpen === meter.id">
                <p (click)="selectEditMeter(meter)">Edit</p>
                <p (click)="popup = true; id = meter.id">Delete</p>
            </div>
        </td>
    </tr>
</table>

<div class="window" [class.open]="editMeter">
    <div class="windowOverlay"></div>
    <div class="windowContent">
        <app-edit-meter-form *ngIf="editMeter" [editMeter]="editMeter" (emitClose)="closeEditMeter()">
        </app-edit-meter-form>
    </div>
</div>

<div class="wizard">
    <!--<button class="btn btn-secondary item-left">Prev</button>-->
    <button class="btn btn-primary item-right" routerLink="/utility/mo-meter-data">Next</button>
</div>

<div class="window" [class.open]="importWindow == true">
    <div class="windowOverlay"></div>
    <div class="windowContent">
        <app-import-meter-data (emitClose)="closeImportWindow()"></app-import-meter-data>
    </div>
</div>

<div class="popup" [class.open]="popup == true">
    <div class="popup-header">Delete Meter
        <button class="item-right" (click)="popup = false">x</button>
    </div>
    <div class="popup-body">
        <p>WARNING: By deleting this meter, you are also deleting all of the meter data and bills associated with it.
            Are you sure you want to preform this action?</p>
    </div>
    <div class="popup-footer text-right">
        <button class="btn btn-danger" (click)="meterDelete(id); popup=false">Delete</button>
    </div>
</div>