<h4>Energy Sources</h4>
<p>All energy sources that <strong>Facility<!--{{activeFacility.name}}--></strong> uses can be viewed in the tabs at the top of the screen.</p>
<br>

<table>
    <tr>
        <th>Meter #</th>
        <th>Account #</th>
        <th>Type</th>
        <th>Building / Area</th>
        <th>Utility Supplier</th>
        <th>Notes</th>
        <th></th>
    </tr>
    <tr *ngFor="let meterLists of meterList">
        <td>{{meterLists.meterNumber}}</td>
        <td>{{meterLists.accountNumber}}</td>
        <td>{{meterLists.type}}</td>
        <td>{{meterLists.name}}</td>
        <td>{{meterLists.supplier}}</td>
        <td>{{meterLists.notes}}</td>
        <td (click)="$event.stopPropagation();"> <!-- Prevents closure of menu on document click-->
            <i class="fa fa-ellipsis-v" (click)="meterToggleMenu(meterLists.id)" ></i>
            <div class="meterMenu" [class.open]="meterMenuOpen === meterLists.id">
                <p (click)="meterEdit(meterLists.id)">Edit</p>
                <p (click)="meterDelete(meterLists.id)">Delete</p>
            </div>
        </td>
    </tr>
</table>
<button class="btn btn-link" (click)="meterAdd()"><i class="fa fa-plus"></i> Add New Meter</button>

<div class="window" [class.open]="popup == true">
    <div class="windowOverlay"></div>
    <div class="windowContent">
        <h4>Edit Meter</h4>
        <br>
        <p class="bold">Meter Information</p>
        <form [formGroup]="meterForm">
            <label hidden>ID
                <input type="text" formControlName="id">
            </label>

            <label>Meter Number
                <input type="text" formControlName="meterNumber">
            </label>
            <br>
            <label>Account Number
                <input type="text" formControlName="accountNumber">
            </label>
            <br>
            <label>Type
                <select type="text" formControlName="type">
                    <option value="Electricity">Electricity</option>
                    <option value="Natural Gas">Natural Gas</option>
                    <!--<option value="LPG">LPG</option>
                    <option value="Fuel Oil">Fuel Oil</option>
                    <option value="Coal">Coal</option>
                    <option value="Wood">Wood</option>
                    <option value="Paper">Paper</option>
                    <option value="Other Gas">Other Gas</option>
                    <option value="Other Energy">Other Energy</option>-->
                </select>
            </label>
            <br>
            <label>Building / Area
                <input type="text" formControlName="name">
            </label>
            <br>
            <label>Utility Supplier
                <input type="text" formControlName="supplier">
            </label>
            <br>
            <label>Notes
                <textarea formControlName="notes"></textarea>
            </label>
        </form>
        <div class="saveCancel item-right">
            <button class="btn btn-primary" (click)="popup = !popup">Cancel</button>
            <button class="btn btn-primary" (click)="meterSave()">Save</button>
        </div>
    </div>
</div>

<div class="importExport item-right">
    <button class="btn btn-outline" (click)="importPopup = true">Import</button>
    <button class="btn btn-outline" (click)="meterExport()">Export</button>
</div>


<div class="window" [class.open]="importPopup == true">
    <div class="windowOverlay"></div>
    <div class="windowContent">
        <h4>Import Meters</h4>
        <br>
        <form>
            <input type="file" #inputFile accept=".csv" (change)="meterImport($event.target.files)">
        </form>
        <br>
        <div class="importQuickView" [hidden]="quickView ==''">
            <p class="bold">Quick View</p>
            <table>
                <tr>
                    <th>Meter #</th>
                    <th>Account #</th>
                    <th>Type</th>
                    <th>Building / Area</th>
                    <th>Utility Supplier</th>
                    <th>Notes</th>
                </tr>
                <tr *ngFor="let quickViews of quickView">
                    <td>{{quickViews.meterNumber}}</td>
                    <td>{{quickViews.accountNumber}}</td>
                    <td>{{quickViews.type}}</td>
                    <td>{{quickViews.name}}</td>
                    <td>{{quickViews.supplier}}</td>
                    <td>{{quickViews.notes}}</td>
                </tr>
            </table>
        </div>
        <p class="alert alert-danger" [hidden]="importError == ''">{{importError}}</p>

        <div class="saveCancel item-right">
            <button class="btn btn-primary" (click)="resetImport(); importPopup = !importPopup">Cancel</button>
            <button class="btn btn-primary" (click)="meterAddCSV()" [disabled]="importError != ''">Submit</button>
        </div>
    </div>
</div>
