<button #openModalBtn class="btn action-btn" (click)="openModal()">
    <i class="fa fa-file me-1"></i> Data Validity Check</button>

<div [ngClass]="{'windowOverlay': showModal}"></div>
<div class="popup" [class.open]="showModal">
    <div class="popup-header" *ngIf="showModal">Data Validity Check {{selectedMeter?.name}}
        <button class="item-right" (click)="hideModal()">x</button>
    </div>
    <div class="popup-body">
        <app-meter-data-quality-report [selectedMeter]="selectedMeter"
            [meterData]="meterData"></app-meter-data-quality-report>
    </div>
    <div class="saveCancel popup-footer text-end">
        <hr class="my-1">
        <button class="btn btn-secondary" (click)="hideModal()">Close</button>
    </div>
</div>