<table class="table utility-data table-sm table-bordered table-hover">
    <thead>
        <tr>
            <th>Date</th>
            <th>Heating Degree Days</th>
            <th>Cooling Degree Days</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        <tr *ngFor="let degreeDay of degreeDays">
            <td>
                <span *ngIf="degreeDay.hasErrors" class="fa fa-exclamation-circle"></span>
                <a (click)="goToDailySummary(degreeDay.date)">{{degreeDay.date | date}}</a>
            </td>
            <td>
                {{degreeDay.heatingDegreeDays | number}}
            </td>
            <td>
                {{degreeDay.coolingDegreeDays | number}}
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th>
                Total
            </th>
            <th>
                {{degreeDays | total: 'heatingDegreeDays' | number}}
            </th>
            <th>
                {{degreeDays | total: 'coolingDegreeDays' | number}}
            </th>
        </tr>
    </tfoot>
</table>