<h4>Select Group For {{meterToEdit.name}}</h4>
<br>
<form>
    <label for="groupId">Group <span class="required">*</span></label>
    <select id="groupId" name="groupId" class="form-select" [(ngModel)]="meterToEdit.groupId">
        <ng-container *ngFor="let meterGroupType of meterGroupTypes">
            <optgroup [label]="meterGroupType.groupType">
                <option *ngFor="let meterGroup of meterGroupType.meterGroups" [ngValue]="meterGroup.guid">
                    {{meterGroup.name}}</option>
            </optgroup>
        </ng-container>
    </select>
</form>
<br>
<div class="saveCancel item-right">
    <button class="btn btn-secondary" (click)="cancel()">Cancel</button>
    <button class="btn btn-primary" (click)="save()">Save</button>
</div>