<h4>{{energyUseGroup?.name}} Footprint</h4>
<app-facility-energy-uses-group-footprint-table [energyFootprintGroup]="energyFootprintGroup" [facility]="facility"
    [tableType]="'source'">
</app-facility-energy-uses-group-footprint-table>
<div class="row justify-content-center">
    @for(sourceResult of energyFootprintGroup.includedSourcesAnnualResults; track $index){
    <div class="col">
        <app-facility-energy-uses-group-footprint-chart [energyFootprintGroup]="energyFootprintGroup"
            [facility]="facility" [chartType]="'source'"
            [source]="sourceResult.source"></app-facility-energy-uses-group-footprint-chart>
    </div>
    }
</div>
<hr>
@if(energyFootprintGroup.meterGroupsAnnualResults.length > 0){
<app-facility-energy-uses-group-footprint-table [energyFootprintGroup]="energyFootprintGroup" [facility]="facility"
    [tableType]="'meterGroup'">
</app-facility-energy-uses-group-footprint-table>
<div class="row justify-content-center">
    @for(groupResult of energyFootprintGroup.meterGroupsAnnualResults; track $index){
    <div class="col">
        <app-facility-energy-uses-group-footprint-chart [energyFootprintGroup]="energyFootprintGroup"
            [facility]="facility" [chartType]="'meterGroup'"
            [groupId]="groupResult.meterGroupId"></app-facility-energy-uses-group-footprint-chart>
    </div>
    }
</div>
}