.card.card-toast {
    position: fixed;
    z-index: 800;
    right: 0px;
    /* bottom: 0px; */
    margin: 10px;
    min-width: 300px;
    max-width: 500px;
}

.btn-close {
    float: right;
}

.card-header i.fa{
    font-size: 20px;
}

.card.card-toast .card-header{
    background-color: none;
}