<div class="card card-toast" [@updateToast]="showUpdateAvailable"
    [ngClass]="{'warning': !updateError, 'error': updateError}">
    <div class="card-header">
        <i class="fa fa-exclamation-circle item-left me-2"></i>

        <ng-container *ngIf="!updateError">A new version of VERIFI is available!</ng-container>
        <ng-container *ngIf="updateError">Ooops! Something went wrong!</ng-container>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeUpdateAvailable()"></button>
    </div>
    <div class="card-body" *ngIf="updateInfo && !downloading">
        <p class="card-text">{{updateInfo.releaseName}} is now available! Click the download link below to download the
            updated version of the application.</p>
    </div>
    <div class="card-body" *ngIf="updateError">
        <p class="card-text">Something went wrong, please contact ORNL to inform them that there was an error
            downloading the
            update so they can fix the issue as quickly as possible.</p>
    </div>
    <div class="card-footer text-end" *ngIf="!downloading">
        <a class="click-link" (click)="update()">Download Update</a>
    </div>
</div>