<div id="account">
    <div class="banner">
        <h3>Account</h3>
    </div>
</div>

<div class="wrapper">
    <h4>Corporation Information</h4>
    <br>
    <div class="row">
        <div class="col-3">
            <img src="https://placehold.it/250x200" alt="">
        </div>
        <div class="col">
            <form [formGroup]="accountForm">
                <label>Corporation Name
                    <input type="text" formControlName="name" (input)="onFormChange();">
                </label>
                <br>
                <label>Industry Type
                    <input type="text" formControlName="industry" (input)="onFormChange();">
                </label>
                <br>
                <label>NAICS Code
                    <input type="text" formControlName="naics" (input)="onFormChange();">
                </label>
                <br>
                <label>Notes
                    <textarea formControlName="notes" (input)="onFormChange();"></textarea>
                </label>
            </form>
        </div>
    </div>
    
    
    <br>
    <h4>Portfolio</h4>

    <div class="importExport">
        <button class="btn btn-outline">Import</button>
        <button class="btn btn-outline">Export</button>
    </div>

    <table>
        <tr>
            <th>Facilities</th>
            <th>Country</th>
            <th>Business</th>
            <th>Tier</th>
            <th>Facility Size</th>
            <th>Units</th>
            <th>Division</th>
            <th></th>
        </tr>
        <tr *ngFor="let facility of facilityList">
            <td>{{facility.name}}</td>
            <td>{{facility.country}}</td>
            <td>{{facility.type}}</td>
            <td>{{facility.tier}}</td>
            <td>{{facility.size}}</td>
            <td>{{facility.units}}<span class="superscript">2</span></td>
            <td>{{facility.division}}</td>
            <td (click)="$event.stopPropagation();"> <!-- Prevents closure of menu on document click-->
                <i class="fa fa-ellipsis-v" (click)="facilityToggleMenu(facility.id)" ></i>
                <div class="facilityMenu" [class.open]="facilityMenuOpen === facility.id">
                    <p (click)="facilityEdit(facility)">Edit</p>
                    <p (click)="facilityDelete(facility.id)">Delete</p>
                </div>
            </td>
        </tr>
    </table>

    <button class="btn btn-link" (click)="addNewFacility()"><i class="fa fa-plus"></i> Add New Facility</button>
</div>