
<div class="alert alert-danger small text-center" *ngIf="predictor.predictorType == 'Weather' && hasServerError">
    There currently is an error with the connection to the server that is used to calculate weather predictors.
</div>

<form>
    <p class="bold">Predictor Entry Data</p>
    <div class="row">
        <div class="col-4">
            <label for="predictorDate">Date</label>
        </div>
        <div class="col">
            <div class="input-group">
                <input id="predictorDate" class="form-control" type="month"
                    [ngModel]="predictorData.date | date:'yyyy-MM'" (ngModelChange)="setDate($event)" name="date">
            </div>
        </div>
    </div>
    <br>

    <div>
        <div class="row">
            <div class="col-4">
                <label [for]="'predictor-' + predictor.id">
                    <span class="fa fa-temperature-half" *ngIf="predictor.predictorType == 'Weather'"></span>
                    {{predictor.name}}
                    <app-weather-data-sub-label *ngIf="predictor.predictorType == 'Weather'"
                        [predictor]="predictor"></app-weather-data-sub-label>
                </label>
            </div>
            <div class="col">
                <div class="input-group mb-2">
                    <ng-container
                        *ngIf="predictor.predictorType == 'Weather' && (predictorData.weatherDataWarning || predictorData.weatherOverride)">
                        <span class="input-group-text">
                            <span class="fa fa-exclamation-circle" *ngIf="predictorData.weatherDataWarning"></span>
                            <span class="fa fa-asterisk" *ngIf="predictorData.weatherOverride"></span>
                        </span>
                    </ng-container>

                    <input [id]="'predictor-' + predictorData.id" class="form-control" type="number"
                        [(ngModel)]="predictorData.amount" name="{{'predictorAmount'+predictorData.id}}"
                        onfocus="this.select();"
                        [disabled]="predictor.predictorType == 'Weather' && !predictorData.weatherOverride"
                        (input)="setChanged()">
                    <span class="input-group-text" *ngIf="predictor.unit">{{predictor.unit}}</span>
                    <ng-container *ngIf="predictor.predictorType == 'Weather'">
                        <span class="input-group-text p-0">
                            <button class="btn btn-secondary btn-sm h-100" *ngIf="!predictorData.weatherOverride"
                                (click)="setWeatherManually()">
                                <span class="fa fa-edit"></span>
                            </button>
                            <button class="btn btn-secondary btn-sm h-100" *ngIf="predictorData.weatherOverride"
                                (click)="revertManualWeatherData()">
                                <span class="fa fa-calculator"></span>
                            </button>
                        </span>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</form>

<div *ngIf="predictorData.weatherDataWarning" class="alert alert-warning text-center">
    <span class="fa fa-exclamation-circle"></span> Indicates this value is calculated off of weather data with gaps of
    twelve hours or more. The resulting value may not be accurate. It may be best to choose a different weather station
    to pull data from, use the <a (click)="goToWeatherData()">Weather Data</a> page to explore other stations in the
    area of this facility. <a (click)="setWeatherManually()">Set the weather data manually.</a>
</div>

<div *ngIf="predictorData.weatherOverride" class="alert alert-warning text-center">
    <span class="fa fa-asterisk"></span> Indicates this weather data entry has been directly set and the degree day
    calculation has been skipped. <a (click)="revertManualWeatherData()">Calculate Weather Data</a>
</div>
<div *ngIf="predictor.predictorType == 'Weather'" class="alert alert-info text-center">
    Weather data predictors are denoted with a <span class="fa fa-temperature-half"></span> icon and are automatically
    calculated.
</div>

<app-calculating-spinner *ngIf="calculatingDegreeDays"
    [message]="'Calculating Weather Data...'"></app-calculating-spinner>