<div class="data-management-content with-footer">
  <div class="row g-0 justify-content-center h-100 w-100 overflow-auto">
    <div class="col-11 pt-4 pb-4">
      <div class="form-paper">
        <h4>
          <div class="d-flex w-100 justify-content-between">
            <div class="h4 mb-0">
              Predictor Readings
            </div>
            <div>
              <span class="badge bg-primary">
                <span class="fa fa-file"></span>
                {{fileReference.name}}
              </span>
            </div>
          </div>
        </h4>
        @if (predictorsExist) {
        <div class="table-responsive">
          <table class="table table-sm table-bordered table-hover utility-data">
            <thead class="table-mh">
              <tr>
                <th>
                  Facility Name
                </th>
                <th>
                  Predictor Name
                </th>
                <th>
                  New Predictors Entries
                </th>
                <th>
                  <app-label-with-tooltip [isBold]="true" [label]="'Existing Predictors Entries'"
                    [field]="'checkPredictorDifferences'" [isFloatRight]="true">
                  </app-label-with-tooltip>
                </th>
                <th>
                  <div class="w-100 d-flex">
                    <div class="pe-1">
                      <input type="checkbox" class="form-check-input" [(ngModel)]="skipAll" (change)="setSkipAll()">
                    </div>
                    <div>
                      Skip Existing?
                    </div>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              @for (summary of predictorDataSummaries; track summary) {
              <tr>
                <td>
                  {{summary.facilityName}}
                </td>
                <td>
                  {{summary.predictor.name}}
                </td>
                <td>
                  {{summary.newEntries}}
                  @if (summary.newStart) {
                  <span>
                    ({{summary.newStart | date}} - {{summary.newEnd | date}})
                  </span>
                  }
                </td>
                <td [ngClass]="{'skip': summary.skipExisting}">
                  {{summary.existingEntries}}
                  @if (summary.existingStart) {
                  <span>
                    ({{summary.existingStart | date}} - {{summary.existingEnd | date}})
                  </span>
                  }
                  @if (readingDifferencesMap[summary.predictor.guid + '_' + summary.predictor.facilityId]?.length > 0) {
                  <span class="float-end">
                    <i class="fa-solid fa-eye icon-style" (click)="openModal(summary)"></i>
                  </span>
                  }
                </td>
                <td>
                  <div class="d-flex w-100 h-100 justify-content-center align-items-center">
                    <input type="checkbox" class="form-check-input" [(ngModel)]="summary.skipExisting">
                  </div>
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
        } @else {
        <div class="alert alert-warning p-2">
          @if (!fileReference.isTemplate) {
          No predictors found. Go back to column selection and include predictors or click continue to
          upload included
          meter data.
          }
          @if (fileReference.isTemplate) {
          No predictor data included in template. Click continue to upload included meter and facility
          data.
          }
        </div>
        }

      </div>
    </div>
  </div>
</div>

<!--TODO: disable next-->
<app-data-management-import-footer [fileReference]="fileReference"
  [navOption]="'predictor-data'"></app-data-management-import-footer>

<div [ngClass]="{'windowOverlay': showModal}"></div>
<div class="popup" [class.open]="showModal">
  <div class="popup-header"><i class="fa fa-clipboard-check me-2"></i>Compare Predictor Data:
    {{selectedPredictorName}}
    <button class="item-right" (click)="hideModal()">x</button>
  </div>
  <div class="popup-body">
    @if (comparisonSummaryWithDifferences.length > 0) {
    <div class="mt-3">
      <div class="table-responsive">
        <table class="table table-sm table-bordered table-hover utility-data">
          <thead class="table-mh table-info">
            <tr>
              <th class="col-date can-click" (click)="setOrderDataField('readDate')"
                [ngClass]="{'active': orderDataField == 'readDate'}">
                Predictor Read Date
              </th>
              <th class="col-existing can-click" (click)="setOrderDataField('oldReading')"
                [ngClass]="{'active': orderDataField == 'oldReading'}">
                Current {{selectedPredictorName}} {{selectedPredictorUnit}}
              </th>
              <th class="col-new can-click" (click)="setOrderDataField('newReading')"
                [ngClass]="{'active': orderDataField == 'newReading'}">
                Imported {{selectedPredictorName}} {{selectedPredictorUnit}}
              </th>
              <th class="col-difference can-click" (click)="setOrderDataField('difference')"
                [ngClass]="{'active': orderDataField == 'difference'}">
                Difference
              </th>
              <th class="col-percentage-difference can-click" (click)="setOrderDataField('percentageDifference')"
                [ngClass]="{'active': orderDataField == 'percentageDifference'}">
                % Difference
              </th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            @for (summary of comparisonSummaryWithDifferences | orderBy: orderDataField: orderByDirection; track
            summary) {
            <tr>
              <td class="col-date">
                {{ summary.readDate | date }}
              </td>
              <td class="col-existing">
                {{ summary.oldReading | number: '1.2-4' }}
              </td>
              <td class="col-new">
                {{ summary.newReading | number: '1.2-4' }}
              </td>
              <td class="col-difference">
                {{ summary.difference | number: '1.2-4' }}
              </td>
              <td class="col-percentage-difference">
                {{ summary.percentageDifference | number: '1.2-2' }}%
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
    }
  </div>
  <div class="saveCancel popup-footer text-end">
    <hr class="my-1">
    <button class="btn btn-secondary" (click)="hideModal()">Close</button>
  </div>
</div>