<table class="table utility-data table-sm table-bordered table-hover">
    <thead>
        <tr class="table-mh">
            <th class="w-25">Utility</th>
            <th class="w-25">
                Latest Month 
                <br><span class="small" *ngIf="dateRange.endDate">
                    ({{dateRange.endDate | date: 'MMM, y'}})</span>
            </th>
            <th class="w-25">
                Previous Year
                <br>
                <span class="small" *ngIf="previousYear">({{previousYear | date: 'MMM, y'}})</span>
            </th>
            <th class="w-25">
                Monthly Average
                <br>
                <span class="small" *ngIf="dateRange.startDate">
                    ({{dateRange.startDate | date: 'MMM, y'}} -
                    {{dateRange.endDate | date: 'MMM, y'}})</span>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let useAndCost of sourcesUseAndCost">
            <td>
                {{useAndCost.source}}
            </td>
            <td class="text-center">
                <span *ngIf="useAndCost.end.cost">
                    {{useAndCost.end.cost | customNumber:true}}
                </span>
                <span *ngIf="!useAndCost.end.cost">
                    &mdash;
                </span>
            </td>
            <td>
                <div class="d-flex w-100">
                    <div class="w-50 text-right pe-1 print-full">
                        <span *ngIf="useAndCost.previousYear.cost">
                            {{useAndCost.previousYear.cost | customNumber:true}}
                        </span>
                        <span *ngIf="!useAndCost.previousYear.cost">
                            &mdash;
                        </span>
                    </div>
                    <div class="w-50 ps-1 hide-print">
                        <span *ngIf="useAndCost.previousYear.costChange" class="small ps-2 badge"
                            [ngClass]="{'bg-danger': useAndCost.previousYear.costChange < 0, 'bg-success': useAndCost.previousYear.costChange > 0}">
                            <span class="fa fa-chevron-down" *ngIf="useAndCost.previousYear.costChange > 0"></span>
                            <span class="fa fa-chevron-up" *ngIf="useAndCost.previousYear.costChange < 0"></span>
                            {{useAndCost.previousYear.costChange | customNumber:true}}
                        </span>
                    </div>
                </div>
            </td>
            <td>
                <div class="d-flex w-100">
                    <div class="w-50 text-right pe-1 print-full">
                        <span *ngIf="useAndCost.average.cost">
                            {{useAndCost.average.cost | customNumber:true}}
                        </span>
                        <span *ngIf="!useAndCost.average.cost">
                            &mdash;
                        </span>
                    </div>
                    <div class="w-50 ps-1 hide-print">
                        <span *ngIf="useAndCost.average.costChange" class="small ps-2 badge"
                            [ngClass]="{'bg-danger': useAndCost.average.costChange < 0, 'bg-success': useAndCost.average.costChange > 0}">
                            <span class="fa fa-chevron-down" *ngIf="useAndCost.average.costChange > 0"></span>
                            <span class="fa fa-chevron-up" *ngIf="useAndCost.average.costChange < 0"></span>
                            {{useAndCost.average.costChange | customNumber:true}}
                        </span>
                    </div>
                </div>
            </td>

        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th>
                Total
            </th>
            <th class="text-center">
                <span *ngIf="useAndCostTotal.end.cost">
                    {{useAndCostTotal.end.cost | customNumber:true}}
                </span>
                <span *ngIf="!useAndCostTotal.end.cost">
                    &mdash;
                </span>
            </th>
            <th>
                <div class="d-flex w-100">
                    <div class="w-50 text-right pe-1 print-full">
                        <span *ngIf="useAndCostTotal.previousYear.cost">
                            {{useAndCostTotal.previousYear.cost | customNumber:true}}
                        </span>
                        <span *ngIf="!useAndCostTotal.previousYear.cost">
                            &mdash;
                        </span>
                    </div>
                    <div class="w-50 ps-1 hide-print">
                        <span *ngIf="useAndCostTotal.previousYear.costChange" class="small ps-2 badge"
                            [ngClass]="{'bg-danger': useAndCostTotal.previousYear.costChange < 0, 'bg-success': useAndCostTotal.previousYear.costChange > 0}">
                            <span class="fa fa-chevron-down" *ngIf="useAndCostTotal.previousYear.costChange > 0"></span>
                            <span class="fa fa-chevron-up" *ngIf="useAndCostTotal.previousYear.costChange < 0"></span>
                            {{useAndCostTotal.previousYear.costChange | customNumber:true}}
                        </span>
                    </div>
                </div>
            </th>
            <th>
                <div class="d-flex w-100">
                    <div class="w-50 text-right pe-1 print-full">
                        <span *ngIf="useAndCostTotal.average.cost">
                            {{useAndCostTotal.average.cost | customNumber:true}}
                        </span>
                        <span *ngIf="!useAndCostTotal.average.cost">
                            &mdash;
                        </span>
                    </div>
                    <div class="w-50 ps-1 hide-print">
                        <span *ngIf="useAndCostTotal.average.costChange" class="small ps-2 badge"
                            [ngClass]="{'bg-danger': useAndCostTotal.average.costChange < 0, 'bg-success': useAndCostTotal.average.costChange > 0}">
                            <span class="fa fa-chevron-down" *ngIf="useAndCostTotal.average.costChange > 0"></span>
                            <span class="fa fa-chevron-up" *ngIf="useAndCostTotal.average.costChange < 0"></span>
                            {{useAndCostTotal.average.costChange | customNumber:true}}
                        </span>
                    </div>
                </div>
            </th>
        </tr>
    </tfoot>
</table>