
.wrapper.main-content{
    margin: 25px 40px;
}

.content-padding{
    padding: 20px 30px 30px;
}

th:hover{
    cursor: pointer;
    text-decoration: underline;
}

th.active{
    text-decoration: underline;
}
.fa.fa-exclamation-circle, .banner a.nav-link:not(.active) .fa.fa.fa-exclamation-circle{
    color: red;
}