<h4>Import Meter Data <span *ngIf="importMeterDataFileType">(File Type: {{importMeterDataFileType}})</span></h4>
<br>
<form>
    <input type="file" #inputFile accept=".csv" (change)="meterDataImport($event.target.files)">
</form>
<br>

<!--setup warnings/errors-->
<p class="alert-warning w-100 p-2 text-center" *ngIf="!importDataExists && !importError">
    Select .csv template file from VERIFI.
</p>

<p class="alert-danger w-100 p-2 text-center" *ngIf="importError">
    Select .csv template file from VERIFI. The .csv file does not match the correct template:<br>
    <a href="../../../assets/csv_templates/Verifi_import_electricity.csv">Electricity Bills:
        Verifi_import_electricity.csv</a>
    <br>
    <a href="../../../assets/csv_templates/Verifi_import_non_electricity.csv">Other Utility Bills:
        Verifi_import_non_electricity.csv</a>
</p>

<!--tabs and content-->
<div class="d-flex flex-column" *ngIf="importDataExists">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" [ngClass]="{'active': selectedTab == 'valid'}" (click)="setTab('valid')">
                <span class="badge badge-success">
                    {{validNewReadings.length}}
                </span> Valid New
            </a>
        </li>
        <li class="nav-item" *ngIf="validExistingReadings.length != 0">
            <a class="nav-link" [ngClass]="{'active': selectedTab == 'existing'}" (click)="setTab('existing')">
                <span class="badge badge-warning">
                    {{validExistingReadings.length}}
                </span> Existing
            </a>
        </li>
        <li class="nav-item" *ngIf="missingMeterNumberLineNumbers.length != 0">
            <a class="nav-link" [ngClass]="{'active': selectedTab == 'missingMeterNumber'}"
                (click)="setTab('missingMeterNumber')">
                <span class="badge badge-danger">
                    {{missingMeterNumberLineNumbers.length}}
                </span> Missing Meter #
            </a>
        </li>
        <li class="nav-item" *ngIf="invalidReadings.length != 0">
            <a class="nav-link" [ngClass]="{'active': selectedTab == 'invalidData'}" (click)="setTab('invalidData')">
                <span class="badge badge-danger">
                    {{invalidReadings.length}}
                </span> Invalid Data
            </a>
        </li>
        <li class="nav-item" *ngIf="invalidMeterTypesLineNumbers.length != 0">
            <a class="nav-link" [ngClass]="{'active': selectedTab == 'invalidSource'}"
                (click)="setTab('invalidSource')">
                <span class="badge badge-danger">
                    {{invalidMeterTypesLineNumbers.length}}
                </span> Invalid Source
            </a>
        </li>
    </ul>
    <!--Valid Import Data-->
    <div class="d-flex flex-column" *ngIf="selectedTab == 'valid'">
        <p class="alert alert-success p-2 text-center">
            New data will be imported for the following meters.
        </p>
        <app-valid-data-table [dataItems]="newData" [newOrExisting]="'New'"></app-valid-data-table>
    </div>

    <!--Existing Import Data-->
    <div class="d-flex flex-column" *ngIf="selectedTab == 'existing'">
        <p class="alert alert-warning p-2 text-center">
            Some of the meters corresponding to the imported data have existing entries matching the months of the
            imported data. The existing entries will be replaced with the new imported
            data.
        </p>
        <app-valid-data-table [dataItems]="existingData" [newOrExisting]="'Existing'"></app-valid-data-table>
    </div>

    <!--Invalid Import Data-->

    <!--Invalid import meter source type-->
    <div class="d-flex flex-column" *ngIf="selectedTab == 'invalidSource'">
        <p class="alert alert-danger p-2 text-center" *ngIf="importMeterDataFileType == 'Electricity'">
            The following line numbers from the uploaded .csv have meter numbers corresponding to Non Electricity meters
            and will be skipped.
        </p>
        <p class="alert alert-danger p-2 text-center" *ngIf="importMeterDataFileType != 'Electricity'">
            The following line numbers from the uploaded .csv have meter numbers corresponding to Electricity meters
            and will be skipped.
        </p>
        <app-missing-meter-number-table [(missingMeterNumberBounds)]="invalidMeterTypeBounds"
            [showMeterDropdown]="false">
        </app-missing-meter-number-table>
    </div>

    <!--Missing Meter #-->
    <div class="d-flex flex-column" *ngIf="selectedTab == 'missingMeterNumber'">
        <p class="alert alert-warning p-2 text-center">
            The following line numbers from the uploaded .csv do not have a meter that corresponds to their meter
            number.
        </p>
        <app-missing-meter-number-table [(missingMeterNumberBounds)]="missingMeterNumberBounds"
            (submit)="submitMissingMeterNumberUpdates()" [importMeterDataFileType]="importMeterDataFileType"
            [showMeterDropdown]="true">
        </app-missing-meter-number-table>
    </div>

    <!-- <div class="pull-right">
        <button type="button" class="btn btn-danger pull-right" (click)="toggleSkipMeter(selectedMeterIndex)">
            Skip Meter
        </button>
    </div>
    <div class="p-3" *ngIf="!skipMeters[selectedMeterIndex]">
        <app-edit-meter-form [(meterForm)]="selectedMeterForm"></app-edit-meter-form>
    </div>
    <p class="alert-warning text-center w-100 p-3" *ngIf="skipMeters[selectedMeterIndex]">
        Importing Meter Will Be Skipped
    </p> -->
</div>

<div class="row">
    <!-- <div class="col">
        <div class="d-flex flex-column" *ngIf="importMeters">
            <div class="p-1">
                <span class="badge badge-danger">#</span> Invalid Meter
            </div>
            <div class="p-1">
                <span class="badge badge-success">#</span> Vaild Meter
            </div>
            <div class="p-1">
                <span class="badge badge-warning">#</span> Existing Meter (has same name)
            </div>
            <div class="p-1">
                <span class="badge badge-secondary">#</span> Meter Import Skipped
            </div>
        </div>
    </div> -->
    <div class="col">
        <div class="saveCancel item-right text-right">
            <button class="btn btn-secondary" (click)="close()">Cancel</button>
            <!-- <button class="btn btn-primary" (click)="runImport()" [disabled]="hasInvalidMeter()">Submit</button>
            <p *ngIf="importMeters && hasInvalidMeter()" class="alert alert-danger p-2 text-center">One or more of the
                meters
                has invalid data
            </p> -->
        </div>
    </div>
</div>