<h4>Import Meter Data <span *ngIf="importMeterDataFileType">(File Type: {{importMeterDataFileType}})</span></h4>
<br>
<form>
    <input type="file" #inputFile accept=".csv" (change)="meterDataImport($event.target.files)">
</form>
<br>

<p class="alert-warning w-100 p-2 text-center" *ngIf="!importDataExists && !importError">
    Select .csv template file from VERIFI.
</p>

<p class="alert-danger w-100 p-2 text-center" *ngIf="importError">
    Select .csv template file from VERIFI. The .csv file does not match the correct template:<br>
    <a href="../../../assets/csv_templates/Verifi_import_electricity.csv">Electricity Bills:
        Verifi_import_electricity.csv</a>
    <br>
    <a href="../../../assets/csv_templates/Verifi_import_non_electricity.csv">Other Utility Bills:
        Verifi_import_non_electricity.csv</a>
</p>



<div class="d-flex flex-column" *ngIf="importDataExists">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" [ngClass]="{'active': selectedTab == 'valid'}" (click)="setTab('valid')">
                <span class="badge badge-success">
                    {{validNewReadings.length}}
                </span> Valid New
            </a>
        </li>
        <li class="nav-item" *ngIf="validExistingReadings.length != 0">
            <a class="nav-link" [ngClass]="{'active': selectedTab == 'existing'}" (click)="setTab('existing')">
                <span class="badge badge-warning">
                    {{validExistingReadings.length}}
                </span> Existing
            </a>
        </li>
        <li class="nav-item" *ngIf="missingMeterNumberLineNumbers.length != 0">
            <a class="nav-link" [ngClass]="{'active': selectedTab == 'missingMeterNumber'}"
                (click)="setTab('missingMeterNumber')">
                <span class="badge badge-danger">
                    {{missingMeterNumberLineNumbers.length}}
                </span> Missing Meter #
            </a>
        </li>
        <li class="nav-item" *ngIf="invalidReadings.length != 0">
            <a class="nav-link" [ngClass]="{'active': selectedTab == 'invalid'}" (click)="setTab('invalid')">
                <span class="badge badge-danger">
                    {{invalidReadings.length}}
                </span> Invalid Data
            </a>
        </li>



        <!-- <li class="nav-item" *ngFor="let importMeter of importMeters; let index=index;">
            <a class="nav-link" [ngClass]="{'active': selectedMeterIndex == index}"
                (click)="selectMeter(importMeter, index)">
                <span class="badge" [ngClass]="getBadgeClass(importMeter, index)">
                    {{index+1}}
                </span>
            </a>
        </li> -->
    </ul>
    <!--Valid Import Data-->

    <!--Existing Import Data-->


    <!--Invalid Import Data-->

    <!--Missing Meter #-->
    <div class="d-flex flex-column" *ngIf="selectedTab == 'missingMeterNumber'">
        <p class="alert alert-warning p-2 text-center">
            The following line numbers from the uploaded .csv do not have a meter that corresponds to their meter
            number.
        </p>
        <table class="table table-sm">
            <thead>
                <tr>
                    <th class="text-center w-50" colspan="2">Line Numbers</th>
                    <th class="text-center w-50"></th>
                </tr>
                <tr>
                    <th class="text-center">
                        Start
                    </th>
                    <th class="text-center">
                        End
                    </th>
                    <th>
                        Select Meter
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let missingMeterNumberBound of missingMeterNumberBounds; let index = index;">
                    <td class="text-center">{{missingMeterNumberBound.start}}</td>
                    <td class="text-center">{{missingMeterNumberBound.end}}</td>
                    <td>
                        <select class="form-control" name="{{'selectedMeter'+index}}"
                            [(ngModel)]="missingMeterNumberBound.selectedMeter">
                            <option *ngFor="let facilityMeter of facilityMeters" [ngValue]="facilityMeter">
                                {{facilityMeter.name}}</option>
                            <option [ngValue]="undefined">Skip Import</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-end">
            <button class="btn btn-primary" (click)="submitMissingMeterNumberUpdates()">Update Import</button>
        </div>
    </div>

    <!-- <div class="pull-right">
        <button type="button" class="btn btn-danger pull-right" (click)="toggleSkipMeter(selectedMeterIndex)">
            Skip Meter
        </button>
    </div>
    <div class="p-3" *ngIf="!skipMeters[selectedMeterIndex]">
        <app-edit-meter-form [(meterForm)]="selectedMeterForm"></app-edit-meter-form>
    </div>
    <p class="alert-warning text-center w-100 p-3" *ngIf="skipMeters[selectedMeterIndex]">
        Importing Meter Will Be Skipped
    </p> -->
</div>

<div class="row">
    <!-- <div class="col">
        <div class="d-flex flex-column" *ngIf="importMeters">
            <div class="p-1">
                <span class="badge badge-danger">#</span> Invalid Meter
            </div>
            <div class="p-1">
                <span class="badge badge-success">#</span> Vaild Meter
            </div>
            <div class="p-1">
                <span class="badge badge-warning">#</span> Existing Meter (has same name)
            </div>
            <div class="p-1">
                <span class="badge badge-secondary">#</span> Meter Import Skipped
            </div>
        </div>
    </div> -->
    <div class="col">
        <div class="saveCancel item-right text-right">
            <button class="btn btn-secondary" (click)="close()">Cancel</button>
            <!-- <button class="btn btn-primary" (click)="runImport()" [disabled]="hasInvalidMeter()">Submit</button>
            <p *ngIf="importMeters && hasInvalidMeter()" class="alert alert-danger p-2 text-center">One or more of the
                meters
                has invalid data
            </p> -->
        </div>
    </div>
</div>