.report{
    margin: 30px 40px;
    padding: 20px;
}

.report.print{
    width: 750px;
}

hr.page-spacer{
    margin-top: 3rem;
    margin-bottom: 3rem;
    border: solid;
}

.print hr.page-spacer{
    border: none;
}

.report-container{
    margin-bottom: 100px;
}

@media print {
    .report{
        margin: 0px;
        padding: 0px;
    }

    .report-container{
        margin-bottom: 0px;
    }

    .report-item{
        margin-top: 40px;
    }
}


.report-item{
    margin-top: 150px;
}

.report-page{
    background-color: white;
    border: solid 1px lightgray;
}


