<table class="table table-sm invalid-import-table">
    <thead>
        <tr>
            <th class="text-center header-width">
                Read Date
            </th>
            <th class="text-center header-width" *ngIf="!isTemplateElectricity">
                Total Consumption
            </th>
            <th class="text-center header-width" *ngIf="isTemplateElectricity">
                Total Energy
            </th>
            <th class="header-width">
                Total Cost
            </th>
            <th>
                Errors
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let reading of invalidReadings; let index = index;">
            <td>{{reading.meterData.readDate | date}}</td>
            <td *ngIf="!isTemplateElectricity">
                {{reading.meterData.totalImportConsumption}}
            </td>
            <td *ngIf="isTemplateElectricity">{{reading.meterData.totalEnergy}}</td>
            <td>{{reading.meterData.totalCost}}</td>

            <td>
                <span *ngFor="let error of reading.errors">{{error}};</span>
            </td>
        </tr>
    </tbody>
</table>