<h4>
    Facility Degree Days
    <!-- <span class="small">(Zip: {{facility.zip}})</span> -->
</h4>
<p>
    With VERIFI you can automatically populate heating and cooling degree day predictors based on your facility's zip
    code. The weather data is pulled from
    <a href="https://www.ncei.noaa.gov/" target="_blank">The National Centers for Environmental Information</a>.
</p>
<hr>
<form>
    <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12">
            <label class="semibold" for="includeDegreeDays">Include Degree Day Predictors</label>
            <select class="form-select" id="includeDegreeDays" name="includeDegreeDays" [(ngModel)]="includeDegreeDays"
                (change)="setShowSave()">
                <option [ngValue]="true">Yes</option>
                <option [ngValue]="false">No</option>
            </select>
        </div>
        <ng-container *ngIf="facility.includeDegreeDays">
            <div class="col-lg-4 col-md-12 col-sm-12">
                <label class="semibold" for="heatingBaseTemperature">Heating Base Temperature</label>
                <div class="mb-3 input-group">
                    <input id="heatingBaseTemperature" class="form-control" type="number"
                        [(ngModel)]="heatingBaseTemperature" onfocus="this.select();" name="heatingBaseTemperature"
                        (input)="setShowSave()">
                    <span class="input-group-text">
                        &#8457;
                    </span>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
                <label class="semibold" for="coolingBaseTemperature">Cooling Base Temperature</label>
                <div class="mb-3 input-group">
                    <input id="coolingBaseTemperature" class="form-control" type="number"
                        [(ngModel)]="coolingBaseTemperature" onfocus="this.select();" name="coolingBaseTemperature"
                        (input)="setShowSave()">
                    <!--TODO: Temperature units-->
                    <span class="input-group-text">
                        &#8457;
                    </span>
                </div>
            </div>
            <div class="col-12" *ngIf="showSave">
                <div class="d-flex justify-content-end">
                    <button class="btn action-btn" (click)="saveFacility()"><span class="fa fa-save"></span> Set Degree
                        Days</button>
                </div>
            </div>
        </ng-container>
    </div>
</form>
<ng-container *ngIf="includeDegreeDays">
    <hr>
    <h5>Weather Stations <span>(within 50 miles of {{facility.zip}})</span></h5>
    <p>Listed below are the weather stations with data that are within 50 miles of the zip code entered on the facility
        settings page. When calculating degree days, VERIFI will use the closest weather station's data. If you would
        like VERIFI not to use a specific weather station, click the "Don't Use" button in the table below.
    </p>
    <p>
        For a closer look at how degree days are calculated for a specific weather station, click on the name of the
        station and you will be brought to the "Weather Data" portion of the application.
    </p>
    <app-weather-stations-table [coolingBaseTemperature]="coolingBaseTemperature"
        [heatingBaseTemperature]="heatingBaseTemperature"></app-weather-stations-table>
    <hr>
</ng-container>