<table class="table utility-data table-sm table-bordered table-hover" #meterTable
    [ngClass]="{'copying-table': copyingTable}">
    <thead class="sortable">
        <tr class="table-mh">
            <th></th>
            <th colspan="3">
                General Information
            </th>
            <th>
                Emissions
            </th>
            <th>

            </th>
        </tr>
        <tr>
            <th *ngIf="!copyingTable" class="input">
                <input #masterCheckbox type="checkbox" (change)="checkAll()" [(ngModel)]="allChecked">
            </th>
            <th (click)="setOrderDataField('readDate')" [ngClass]="{'active': orderDataField == 'readDate'}"
                class="row-year">Meter Read Date</th>
            <th (click)="setOrderDataField('totalVolume')" [ngClass]="{'active': orderDataField == 'totalVolume'}">
                Total Consumption<br> (<span [innerHTML]="volumeUnit | settingsLabel"></span>)
            </th>
            <th (click)="setOrderDataField('totalCost')" [ngClass]="{'active': orderDataField == 'totalCost'}">Total
                Cost</th>
            <th *ngIf="selectedMeter.scope == 5" (click)="setOrderDataField('fugitiveEmissions')"
                [ngClass]="{'active': orderDataField == 'fugitiveEmissions'}">Total Fugitive <br>Emissions (tonne
                CO<sub>2</sub>e)</th>
            <th *ngIf="selectedMeter.scope == 6" (click)="setOrderDataField('processEmissions')"
                [ngClass]="{'active': orderDataField == 'processEmissions'}">Total Process <br>Emissions (tonne
                CO<sub>2</sub>e)</th>
            <th *ngIf="!copyingTable">Actions</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        <tr
            *ngFor="let meterData of selectedMeterData | orderBy: orderDataField: orderByDirection | slice: ((currentPageNumber-1) * itemsPerPage): currentPageNumber * itemsPerPage">
            <td *ngIf="!copyingTable" class="input">
                <input type="checkbox" name="metersSelected" (change)="toggleChecked()" [(ngModel)]="meterData.checked">
            </td>
            <td class="read-date">{{meterData.readDate | date}}</td>
            <td>
                <span class="fa fa-asterisk" *ngIf="meterData.isEstimated"></span>
                {{meterData.totalVolume | customNumber}}
            </td>
            <td>{{meterData.totalCost | customNumber:true}}</td>
            <td *ngIf="selectedMeter.scope == 5">{{meterData.fugitiveEmissions | customNumber}}</td>
            <td *ngIf="selectedMeter.scope == 6">{{meterData.processEmissions | customNumber}}</td>
            <td class="actions" *ngIf="!copyingTable">
                <div class="btn-group">
                    <button class="btn btn-sm btn-outline" (click)="setEditMeterData(meterData)" title="Edit">
                        <i class="fa fa-pencil"></i>
                    </button>
                    <button class="btn btn-sm btn-outline" (click)="setDeleteMeterData(meterData)" title="Delete">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<div class="d-flex w-100 justify-content-between">
    <div class="d-flex">
        <div>
            <button class="btn action-btn btn-sm" (click)="copyTable()">
                <span class="fa fa-copy"></span> Copy Table
            </button>
        </div>
        <div class="ps-2" *ngIf="showEstimated">
            <span class="fa fa-asterisk"></span> Indicates Estimated Reading
        </div>
    </div>
    <ngb-pagination [collectionSize]="selectedMeterData.length" [(page)]="currentPageNumber" [pageSize]="itemsPerPage"
        [maxSize]="5" [rotate]="true" aria-label="Pagination">
    </ngb-pagination>
</div>