@let _facilities = facilities();
<!--dropdown for facility-->
@if(_facilities.length > 1) {
<select class="form-select" [(ngModel)]="selectedFacilityId">
    @for(facility of _facilities; track facility.guid) {
    <option [ngValue]="facility.guid">{{facility.name}}</option>
    }
</select>
}

<!--display data by group toggle-->
<div class="d-flex pt-2 pb-2">
    <label class="switch ms-auto" for="includeInEnergySidepanel">
        <input class="checkbox" type="checkbox" id="includeInEnergySidepanel" [(ngModel)]="displayDataByGroup">
        <span class="slider round"></span>
    </label>
    <div class="ps-2 my-auto fw-bold">
        By Meter Group
    </div>
</div>
<h6 class="mt-2 text-center">{{selectedFacilityId() | facilityName: _facilities}} Energy Uses Balance ({{selectedYear()}})</h6>
@let energyFootprintAnnualFacilityBalance = energyFootprintAnnualFacilityBalance$();
@if(!energyFootprintAnnualFacilityBalance) {
<p>Calculating footprint...</p>
} @else {
@if(!displayDataByGroup()) {
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Source</th>
            <th>Consumption</th>
            <th>Equipment Use</th>
            <th>Unaccounted</th>
        </tr>
    </thead>
    <tbody>
        @for(sourceConsumption of energyFootprintAnnualFacilityBalance.sourcesConsumption; track
        sourceConsumption.source) {
        <tr>
            <td>{{sourceConsumption.source}}</td>
            <td>{{sourceConsumption.actualEnergyUse | number:'1.0-0'}}</td>
            <td>{{sourceConsumption.totalEquipmentEnergyUse | number:'1.0-0'}}</td>
            <td>{{sourceConsumption.unaccountedEnergyUse | number:'1.0-0'}}</td>
        </tr>
        }
    </tbody>
</table>
} @else {
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Source</th>
            <th>Consumption</th>
            <th>Equipment Use</th>
            <th>Unaccounted</th>
        </tr>
    </thead>
    <tbody>
        @for(meterGroupBalance of energyFootprintAnnualFacilityBalance.meterGroupsAnnualBalances; track
        meterGroupBalance.meterGroup.guid) {
        <tr>
            <td colspan="4" class="fw-bold bg-secondary text-white">Meter Group: {{meterGroupBalance.meterGroup.name}}
            </td>
        </tr>
        @for(sourceConsumption of meterGroupBalance.sourcesConsumption; track
        sourceConsumption.source) {
        <tr>
            <td class="ps-4">{{sourceConsumption.source}}</td>
            <td>{{sourceConsumption.actualEnergyUse | number:'1.0-0'}}</td>
            <td>{{sourceConsumption.totalEquipmentEnergyUse | number:'1.0-0'}}</td>
            <td>{{sourceConsumption.unaccountedEnergyUse | number:'1.0-0'}}</td>
        </tr>
        }
        }
    </tbody>
</table>
}
<p class="fw-light text-right italic">
    Energy shown in <span [innerHTML]="energyFootprintAnnualFacilityBalance.facility.energyUnit"></span>
</p>
<hr>
}
<button class="btn btn-sm action-btn w-100" (click)="goToFacilityFootprint()">
    <span class="fa fa-paw"></span>
    View {{selectedFacilityId() | facilityName: _facilities}} Energy Footprint
</button>
<p class="fw-light mt-2">
    <span class="fa fa-asterisk"></span>
    Unaccounted energy use is the difference between the actual energy use from utility bills and the total energy use
    calculated from equipment. A large unaccounted energy use may indicate missing equipment data or inaccurate energy
    use estimates for equipment.
</p>