<h6 class="mt-2">Energy Uses Balance</h6>
<!--dropdown for facility-->
@let facilities = facilities$();
@if(facilities.length > 1) {
<select class="form-select" [(ngModel)]="selectedFacilityId">
    @for(facility of facilities; track facility.guid) {
    <option [ngValue]="facility.guid">{{facility.name}}</option>
    }
</select>
}

<select class="form-select" [(ngModel)]="selectedYear">
    @for(year of yearOptions(); track year) {
    <option [ngValue]="year">{{year}}</option>
    }
</select>
<!--display data by group toggle-->
<div class="row pt-2 pb-2">
    <div class="col align-items-center justifiy-content-end">
        <div class="d-flex">
            <label class="switch ms-auto" for="includeInEnergy">
                <input class="checkbox" type="checkbox" id="includeInEnergy" [(ngModel)]="displayDataByGroup">
                <span class="slider round"></span>
            </label>
            <div class="ps-2 my-auto fw-bold">
                Show Result By Group
            </div>
        </div>
    </div>
</div>
@let energyFootprintAnnualFacilityBalance = energyFootprintAnnualFacilityBalance$();
@if(!energyFootprintAnnualFacilityBalance) {
<p>Calculating footprint...</p>
} @else {
@if(!displayDataByGroup()) {
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Source</th>
            <th>Consumption</th>
            <th>Equipment Use</th>
            <th>Unaccounted</th>
        </tr>
    </thead>
    <tbody>
        @for(sourceConsumption of energyFootprintAnnualFacilityBalance.sourcesConsumption; track
        sourceConsumption.source) {
        <tr>
            <td>{{sourceConsumption.source}}</td>
            <td>{{sourceConsumption.actualEnergyUse | number:'1.0-0'}}</td>
            <td>{{sourceConsumption.totalEquipmentEnergyUse | number:'1.0-0'}}</td>
            <td>{{sourceConsumption.unaccountedEnergyUse | number:'1.0-0'}}</td>
        </tr>
        }
    </tbody>
</table>
<hr>
} @else {
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Source</th>
            <th>Consumption</th>
            <th>Equipment Use</th>
            <th>Unaccounted</th>
        </tr>
    </thead>
    <tbody>
        @for(meterGroupBalance of energyFootprintAnnualFacilityBalance.meterGroupsAnnualBalances; track
        meterGroupBalance.meterGroup.guid) {
        <tr>
            <td colspan="4" class="fw-bold bg-secondary text-white">Meter Group: {{meterGroupBalance.meterGroup.name}}</td>
        </tr>
        @for(sourceConsumption of meterGroupBalance.sourcesConsumption; track
        sourceConsumption.source) {
        <tr>
            <td class="ps-4">{{sourceConsumption.source}}</td>
            <td>{{sourceConsumption.actualEnergyUse | number:'1.0-0'}}</td>
            <td>{{sourceConsumption.totalEquipmentEnergyUse | number:'1.0-0'}}</td>
            <td>{{sourceConsumption.unaccountedEnergyUse | number:'1.0-0'}}</td>
        </tr>
        }
        }
    </tbody>
</table>
<hr>
}
}
<p class="fw-light">
    <span class="fa fa-asterisk"></span>
    Unaccounted energy use is the difference between the actual energy use from utility bills and the total energy use
    calculated from equipment. A large unaccounted energy use may indicate missing equipment data or inaccurate energy
    use estimates for equipment.
</p>