<p class="bold">General Information</p>
<form class="meterForm" [formGroup]="meterDataForm">

  <div class="row">
    <div class="col-6">
      <label for="readDate">Meter Read Date <span class="required">*</span> </label>
      <div class="input-group mb-3">
        <input id="readDate" class="form-control" type="date" formControlName="readDate" (change)="checkDate()"
          [ngClass]="{'error': invalidDate}">
      </div>
      <div class="alert alert-danger" *ngIf="meterDataForm.get('readDate').hasError('required')">Meter read date is
        required</div>
      <div class="alert alert-danger" *ngIf="invalidDate">Meter already has data entered for selected date</div>
    </div>
    <div class="col-6">
      <label for="isEstimated">Is Estimated Reading?</label>
      <select class="form-select" name="isEstimated" id="isEstimated" formControlName="isEstimated">
        <option class="form-control" [ngValue]="true">Yes</option>
        <option class="form-control" [ngValue]="false">No</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div *ngIf="displayVolumeInput" class="col-md-6 col-sm-12">
      <label for="totalVolume">Total Volume <span class="required">*</span></label>
      <div class="input-group mb-3">
        <input id="totalVolume" class="form-control" type="number" formControlName="totalVolume"
          (input)="calculateTotalEnergyUse()" [class.warning]="meterDataForm.controls.totalVolume.value === 0"
          onfocus="this.select();" min="0" max="999999999999999">
        <span class="input-group-text" [innerHTML]="volumeUnit | settingsLabel"></span>
      </div>
      <div class="alert alert-danger" *ngIf="meterDataForm.get('totalVolume').hasError('required')">Total Volume is
        required</div>
      <div class="alert alert-danger" *ngIf="meterDataForm.get('totalVolume').hasError('min')">Can't be less than 0
      </div>
      <div class="alert alert-warning" *ngIf="meterDataForm.controls.totalVolume.value === 0">Total Volume should be
        greater
        than 0</div>
    </div>

    <div *ngIf="displayEnergyUse" class="col-md-6 col-sm-12">
      <label for="totalEnergyUse">Total Energy Use <span class="required">*</span></label>
      <div class="input-group mb-3">
        <input id="totalEnergyUse" class="form-control" type="number" formControlName="totalEnergyUse"
          onfocus="this.select();" max="999999999999999" (input)="setTotalEmissions()">
        <span class="input-group-text" [innerHTML]="energyUnit | settingsLabel"></span>
      </div>
      <div class="alert alert-danger" *ngIf="meterDataForm.get('totalEnergyUse').hasError('required')">Total energy use
        is
        required</div>
    </div>

    <div *ngIf="displayHeatCapacity" class="col-md-6 col-sm-12">
      <label for="heatCapacity">Heat Capacity <span class="required">*</span></label>
      <div class="input-group mb-3">
        <span class="input-group-text p-0">
          <button *ngIf="usingMeterHeatCapacity" class="btn btn-sm" (click)="editHeatCapacity()">
            <span class="fa fa-edit"></span>
          </button>
          <button *ngIf="!usingMeterHeatCapacity" class="btn btn-sm" (click)="useMeterHeatCapacity()">
            <span class="fa fa-undo"></span>
          </button>

        </span>
        <input id="heatCapacity" class="form-control" type="number" formControlName="heatCapacity"
          onfocus="this.select();" min="0" max="999999999999999" (input)="calculateTotalEnergyUse()">
        <span class="input-group-text"><span [innerHTML]="editMeter.energyUnit | settingsLabel"></span>/<span
            [innerHTML]="editMeter.startingUnit | settingsLabel"></span>
        </span>
      </div>
      <div class="alert alert-danger" *ngIf="meterDataForm.get('heatCapacity').hasError('required')">Total heat
        capacity
        is
        required</div>
      <div class="alert alert-danger" *ngIf="meterDataForm.get('heatCapacity').hasError('min')">Can't be less than 0
      </div>
      <div class="alert alert-info" *ngIf="!usingMeterHeatCapacity">
        Custom heat capacity set for this reading. Click "<span class="fa fa-undo"></span>" to use the meter's heat
        capacity.
      </div>
    </div>

    <ng-container *ngIf="showEmissions && emissionsResults">
      <ng-container *ngIf="showStationaryEmissions">
        <div class="col-md-6 col-sm-12">
          <table class="table table-sm table-bordered">
            <tbody>
                <tr *ngIf="!isBiofuel">
                    <th>
                        Carbon Emissions
                    </th>
                    <td>
                        {{emissionsResults.stationaryCarbonEmissions| number:'1.0-2'}} tonne CO<sub>2</sub>e
                    </td>
                </tr>
                <tr *ngIf="isBiofuel">
                    <th>
                        Biogenic Emissions
                    </th>
                    <td>
                        {{emissionsResults.stationaryBiogenicEmmissions| number:'1.0-2'}} tonne CO<sub>2</sub>e
                    </td>
                </tr>
                <tr>
                    <th>
                        Other Emissions
                    </th>
                    <td>
                        {{emissionsResults.stationaryOtherEmissions| number:'1.0-2'}} tonne CO<sub>2</sub>e
                    </td>
                </tr>
                <tr>
                    <th>
                        Total Emissions
                    </th>
                    <td>
                        {{emissionsResults.stationaryEmissions| number:'1.0-2'}} tonne CO<sub>2</sub>e
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
      </ng-container>
      <ng-container *ngIf="showScope2OtherEmissions">
        <div class="col-md-6 col-sm-12">
          <label for="marketEmissions">
            Total Other Scope 2 Emissions
          </label>
          <div class="input-group mb-3">
            {{emissionsResults.otherScope2Emissions| number:'1.0-0'}} tonne CO<sub>2</sub>e
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
  <label for="totalCost">Total Cost</label>
  <div class="input-group mb-3">
    <input id="totalCost" class="form-control" type="number" formControlName="totalCost" onfocus="this.select();"
      min="0" max="999999999999999">
    <span class="input-group-text">$</span>
  </div>
  <div class="alert alert-danger" *ngIf="meterDataForm.get('totalCost').hasError('required')">Total cost is required
  </div>
  <div class="alert alert-danger" *ngIf="meterDataForm.get('totalCost').hasError('min')">Can't be less than 0</div>
  <div class="alert alert-warning" *ngIf="meterDataForm.controls.totalCost.value === 0">Total cost should be greater
    than
    0</div>


  <label for="commodityCharge">Commodity Charge</label>
  <div class="input-group mb-3">
    <input id="commodityCharge" class="form-control" type="number" formControlName="commodityCharge"
      onfocus="this.select();" min="0" max="999999999999999">
    <span class="input-group-text">$</span>
  </div>

  <label for="deliveryCharge">Delivery Charges</label>
  <div class="input-group mb-3">
    <input id="deliveryCharge" class="form-control" type="number" formControlName="deliveryCharge"
      onfocus="this.select();" min="0" max="999999999999999">
    <span class="input-group-text">$</span>
  </div>

  <label for="otherCharge">Other Charges</label>
  <div class="input-group mb-3">
    <input id="otherCharge" class="form-control" type="number" formControlName="otherCharge" onfocus="this.select();"
      min="0" max="999999999999999">
    <span class="input-group-text">$</span>
  </div>
</form>