/* a.nav-link, a.nav-link:not(.active) .fa{
    color: white;
}


.nav-tabs .nav-item{
    margin-bottom: 0px;
}

.nav-tabs{
    border-bottom: none;
}

.banner{
    /* border-bottom: solid white; *
    background-color: #34495E;
}

span.fa{
    color: white;
}

a.nav-link .fa{
    font-size: 16px;
    padding-right: 4px;
}

.nav-link{
    font-weight: 600;
} */