

.help-panel{
    width: 0px;
    transition: .2s width;
}

.help-panel.open{
    width: 260px;
    height: 100%;
    overflow-y: auto;
}
@media (max-width: 1500px) {
    .help-panel.open{
        width: 200px;
    }
}



h3 a{
    font-size: 1.75rem;
  }

  h3 a .fa-close{
    color: white;
  }

  .help-content{
      padding: 1rem;
  }

  .help-panel .banner{
      padding-right: 1rem;
      padding-left: 1rem;
      background-color: #2C3E50;
  }