
hr.page-spacer{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.fa-industry{
    color: #6abb2e;
}

.account-icon{
    font-size: 32px;
} 
.section-label{
    /* text-align: center; */
    font-size: 24px;
    font-weight: bold;
    width: auto;
    text-decoration: underline;
}