.filter-dropdown{
    position: inherit;
    top: inherit;
    left: inherit;
    background-color: white;
}


.filter{
    margin: 10px 40px 0px;
}

.filter input.form-control{
    width: 100%;
}

.fa-close{
    font-size: large;
}

.filter input.checkbox{
    margin-top: 5px;
}

.fa-save{
    color: white;
}


.edit-templates{
    padding-left: 10px;
    border-left: solid;
    margin-left: 10px;
    border-color: black;
}