/* .filter-dropdown{
    position: inherit;
    top: inherit;
    left: inherit;
} */

.banner{
    background-color: #ff6000;
}

h3 a{
    font-size: 1.75rem;
    color: white;
}

h3 a span.fa{
    color: white !important;
}