<h4>
    <div class="d-flex w-100 justify-content-between align-items-center">
        <div class="h4 mt-auto mb-0">
            {{facility.name}} Energy Use Footprint
        </div>
        <div class="d-flex">
            <label class="switch" for="dataType">
                <input class="checkbox" type="checkbox" id="dataType" [(ngModel)]="dataTypeMeterGroup" name="dataType">
                <span class="slider round"></span>
            </label>
            <div class="ps-1 my-auto">
                Show by Meter Group
            </div>
        </div>
    </div>
</h4>
@if(energyFootprintFacility){
@let dataType = dataTypeMeterGroup ? 'meterGroup' : 'source';
<app-facility-energy-uses-footprint-table [energyFootprintFacility]="energyFootprintFacility" [facility]="facility"
    [tableType]="dataType"></app-facility-energy-uses-footprint-table>
<hr>
<div class="row justify-content-center">
    @if(dataType == 'source'){
    @for(sourceResults of energyFootprintFacility.includedSourcesAnnualResults; track $index){
    <div class="col-12">
        <app-facility-energy-uses-footprint-chart [energyFootprintFacility]="energyFootprintFacility"
            [facility]="facility" [chartType]="dataType"
            [source]="sourceResults.source"></app-facility-energy-uses-footprint-chart>
    </div>
    @if($index < energyFootprintFacility.includedSourcesAnnualResults.length - 1){ <hr>
        }
        }
        }@else {

        @for(groupResult of energyFootprintFacility.meterGroupsAnnualResults; track $index){
        <div class="col-12">
            <app-facility-energy-uses-footprint-chart [energyFootprintFacility]="energyFootprintFacility"
                [facility]="facility" [chartType]="dataType"
                [groupId]="groupResult.meterGroupId"></app-facility-energy-uses-footprint-chart>
        </div>
        @if($index < energyFootprintFacility.meterGroupsAnnualResults.length - 1){ <hr>
            }
            }
            }

</div>
}@else{
<!--TODO: Message with link to manage energy use groups-->
<p>No energy use data available.</p>
}