.content-padding{
    padding: 20px 30px 30px;
}

.nav-tabs{
    background-color: #f1f1f1;
}

.nav-tabs li.warning{
    border-top-color: orange;
}


.nav-tabs li.error{
    border-top-color: #bf2d00;
}


.nav-tabs .nav-link.active{
    color: #2c386b;
    background-color: white;
}

.nav-tabs .nav-link:not(.active){
    background-color: #2c386b;
    color: white;
    border: solid 1px white;
}


.nav-link{
    font-weight: 600;
}