  .sticky-top,
  .banner-border,
  .utility.banner,
  .dropdown {
    overflow: visible !important;
    z-index: 1050;
  }

  .dropdown-menu {
    z-index: 2000 !important;
  }


  .utility.banner {
    background-color: white;
    padding-bottom: 0px;
  }

  .nav-tabs .nav-link.active {
    color: #ff6000;
    background-color: white;
  }

  .nav-tabs .nav-text {
    color: white;
  }

  .nav-tabs .nav-link:not(.active) {
    background-color: #2c386b;
    color: white;
    border: solid 1px white;
  }

  .nav-tabs .nav-link.active,
  .nav-tabs .nav-link.active i.fa,
  .nav-tabs .nav-link.active .nav-text {
    color: #ff6000;
  }

  .hide-tab-text .nav.nav-tabs .nav-text {
    display: none;
  }

  .hide-tab-text .nav.nav-tabs .nav-link.active .nav-text,
  .hide-tab-text .nav.nav-tabs .nav-link:hover .nav-text {
    display: inline;
  }

  .hide-all-text.hide-tab-text .nav.nav-tabs .nav-link.active .nav-text,
  .hide-all-text.hide-tab-text .nav.nav-tabs .nav-link:hover .nav-text {
    display: none;
  }

  .btn.action-btn {
    height: fit-content;
  }