<div class="plot-content">
    <h4>
        R<sup>2</sup> Variance
        <!-- <div class="d-flex w-100 justify-content-between">
            <div class="h4 mb-0 mt-2">
                R<sup>2</sup> Variance
            </div>
            <div>
                <button class="btn action-btn" routerLink="options" [routerLinkActive]="['hide']"><i
                        class="fa fa-cogs"></i> Set Plot
                    Options</button>
                <button class="btn action-btn" routerLink="graph" [routerLinkActive]="['hide']"><i
                        class="fa fa-save"></i> Save Plot
                    Options</button>
            </div>
        </div> -->
    </h4>

    <div #heatMapPlot id="heatMapPlot"></div>
</div>