<div class="account banner d-flex justify-content-between w-100 pb-0 hide-print">
    <div class="d-flex">
        <div class="banner-title">
            <span class="fa fa-building"></span>
            {{selectedAccount.name}}
        </div>

        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" routerLink="home" [routerLinkActive]="['active']"><i class="fa fa-home"></i>Home</a>
            </li>
            <li class="nav-item" [ngClass]="{'disabled': meterData.length == 0}">
                <a class="nav-link" routerLink="overview" [routerLinkActive]="['active']"><i
                        class="fa fa-chart-column"></i>Overview</a>
            </li>
            <li class="nav-item" [ngClass]="{'disabled': meterData.length == 0}">
                <a class="nav-link" routerLink="analysis" [routerLinkActive]="['active']"><i
                        class="fa fa-microscope"></i>Analysis</a>
            </li>
            <li class="nav-item" [ngClass]="{'disabled': meterData.length == 0}">
                <a class="nav-link" routerLink="reports" [routerLinkActive]="['active']"><i
                        class="fa fa-folder"></i>Reports</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="settings" [routerLinkActive]="['active']"><i
                        class="fa fa-cog"></i>Settings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="custom-data" [routerLinkActive]="['active']"><i
                        class="fa fa-database"></i>Custom Data</a>
            </li>
        </ul>
    </div>
    <div class="help-toggle">
        <a (click)="toggleHelpPanel()"><span class="fa fa-circle-question"></span></a>
    </div>
</div>