<div class="pt-2 pe-1 ps-1">
    <h6>{{account.name}} To Do List:</h6>
    <p>
        The following items have been identified as needing action for this account.
    </p>
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let item of toDoItems; let index = index;">
            {{index + 1}}.
            <a [routerLink]="item.url">{{item.label}}</a><br>
            <p class="fw-light mb-0 small" *ngIf="item.description">
                {{item.description}}</p>
        </li>
    </ul>
</div>