<div class="list-group">
    <div class="list-group-item list-group-item-action list-group-item-secondary" (click)="setStep('instructions')"
        [ngClass]="{'active': step == 'instructions'}">
        Getting Started Instructions
    </div>
    <div class="list-group-item collapse" [ngClass]="{'show': step == 'instructions'}">
        <p class="fw-light">
            We have pulled the core data management pieces from the main portfolio area of VERIFI, into this data
            focused portion of the
            application. This was done in an effort to
            streamline the user experience for setting up and managing account data. Use the below steps and help
            content to assist in getting a new account setup. Once completed, the account portfolio can be used for
            analysis and data reporting.
        </p>
        <div class="w-100">
            <button class="btn btn-dark float-right" (click)="setStep('accountDetails')">
                <span class="fa fa-check"></span>
            </button>
        </div>
    </div>
    <div class="list-group-item list-group-item-action list-group-item-secondary" (click)="setStep('accountDetails')"
        [ngClass]="{'active': step == 'accountDetails'}">
        1. Fill out corporate settings
    </div>
    <div class="list-group-item collapse" [ngClass]="{'show': step == 'accountDetails'}">
        <p class="fw-light">
            Add general corporate settings like name and address of the account. Fill out any corporate goals for the
            account. These
            details are optional but will provide a better experience when using VERIFI for data reporting, emissions
            calculations and weather data.
        </p>
        <div class="w-100">
            <button class="btn btn-dark float-right" (click)="setStep('uploadData')">
                <span class="fa fa-check"></span>
            </button>
        </div>
    </div>
    <div class="list-group-item list-group-item-action list-group-item-secondary" (click)="setStep('uploadData')"
        [ngClass]="{'active': step == 'uploadData'}">
        2. Upload utility and predictor data
    </div>
    <div class="list-group-item collapse" [ngClass]="{'show': step == 'uploadData'}">
        <p class="fw-light">
            Data can be uploaded to VERIFI using excel spreadsheets. A template has been provided for easier upload.
            Download and fill out the template and then upload it to back into VERIFI to populate your account with
            facility, utility, and predictor data.
        </p>
        <p class="fw-light">
            VERIFI does it's best to handle other formats of excel spreadsheets as well. Meter and predictor data can be
            uploaded if the worksheet is setup with date readings and usage in a column format.
        </p>
        <div class="w-100">
            <button class="btn btn-dark float-right" (click)="setStep('facilityDetails')">
                <span class="fa fa-check"></span>
            </button>
        </div>
    </div>
    <div class="list-group-item list-group-item-action list-group-item-secondary" (click)="setStep('facilityDetails')"
        [ngClass]="{'active': step == 'facilityDetails'}">
        3. Fill out facility details
    </div>
    <div class="list-group-item collapse" [ngClass]="{'show': step == 'facilityDetails'}">
        <p class="fw-light">
            Add general facility settings like name and address of the facility. Fill out any facility goals for the
            facility. These
            details are optional but will provide a better experience when using VERIFI for data reporting, emissions
            calculations and weather data. Data will be inherited from the account settings.
        </p>
        <div class="w-100">
            <button class="btn btn-dark float-right" (click)="setStep('meterData')">
                <span class="fa fa-check"></span>
            </button>
        </div>
    </div>
    <div class="list-group-item list-group-item-action list-group-item-secondary" (click)="setStep('meterData')"
        [ngClass]="{'active': step == 'meterData'}">
        4. Add meters and meter data
    </div>
    <div class="list-group-item collapse" [ngClass]="{'show': step == 'meterData'}">
        <p class="fw-light">
            Add meters and corresponding meter data for each facility. Once meters are added, group the meters together
            for analysis.
        </p>
        <div class="w-100">
            <button class="btn btn-dark float-right" (click)="setStep('predictorData')">
                <span class="fa fa-check"></span>
            </button>
        </div>
    </div>
    <div class="list-group-item list-group-item-action list-group-item-secondary" (click)="setStep('predictorData')"
        [ngClass]="{'active': step == 'predictorData'}">
        5. Add predictors and predictor data
    </div>
    <div class="list-group-item collapse" [ngClass]="{'show': step == 'predictorData'}">
        <p class="fw-light">
            Add predictors and corresponding predictor data for each facility. Predictors are used to conduct analysis
            and evaluate facility performance. Weather data predictors can also be automatically calculated by selecting
            a weather station closest to the facility and specifying which weather data to track.
        </p>
        <div class="w-100">
            <button class="btn btn-dark float-right" (click)="setStep('repeatSteps')">
                <span class="fa fa-check"></span>
            </button>
        </div>
    </div>
    <div class="list-group-item list-group-item-action list-group-item-secondary" (click)="setStep('repeatSteps')"
        [ngClass]="{'active': step == 'repeatSteps'}">
        6. Repeat steps 3 - 5 for all facilities
    </div>
    <div class="list-group-item collapse" [ngClass]="{'show': step == 'repeatSteps'}">
        <p class="fw-light">
            Repeat steps 3 through 5, adding facility details, meters, predictors and corresponding data. Once
            completed, step 7 will bring you to your portfolio to continue with analysis and reporting.
        </p>
        <div class="w-100">
            <button class="btn btn-dark float-right" (click)="setStep('portfolio')">
                <span class="fa fa-check"></span>
            </button>
        </div>
    </div>
    <div class="list-group-item list-group-item-action list-group-item-secondary" (click)="setStep('portfolio')"
        [ngClass]="{'active': step == 'portfolio'}">
        7. Go to portfolio for analysis and reporting
    </div>
    <div class="list-group-item collapse" [ngClass]="{'show': step == 'portfolio'}">
        <p class="fw-light">
            Once all data has been setup, click below to go to your corporate portfolio. In the portfolio you will get
            data visualization options, performance analysis and report generation.
        </p>
        <p class="fw-light">
            Data management can still be done from the portfolio after data setup has been completed.
        </p>
        <div class="w-100">
            <button class="btn btn-dark float-right" (click)="goToPortfolio()">
                <span class="fa fa-check"></span> Go To Portfolio
            </button>
        </div>
    </div>
</div>

<p class="pt-3 fw-light">
    Click the "<span class="fa fa-question-circle"></span>" tab above for additional dynamic help text.
</p>