.card-header{
    background-color: white;
}

a.large{
    font-size: 18px;
}

.fa-trash-can{
    color: #ec0000 !important;
}


.img{
    border: solid 2px;
}

a.click-link .fa{
    color: #007bff;
}