<!--TODO: ADD VALIDATION CHECKS-->
<div class="wrapper">
    <table>
        <thead>
            <tr>
                <th>

                </th>
                <th>
                    General Information
                </th>
                <th>
                    Units
                </th>
                <th>
                    Sustainability Questions
                </th>
                <th>
                    Reporting
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Account: {{account.name}}
                </td>
                <td>
                    <span class="fa fa-check"></span>
                </td>
                <td>
                    <span class="fa fa-check"></span>
                </td>
                <td>
                    <span class="fa fa-check"></span>
                </td>
                <td>
                    <span class="fa fa-check"></span>
                </td>
            </tr>
            <tr *ngFor="let facility of facilities">
                <td>
                    Facility: {{facility.name}}
                </td>
                <td>
                    <span class="fa fa-check"></span>
                </td>
                <td>
                    <span class="fa fa-check"></span>
                </td>
                <td>
                    <span class="fa fa-check"></span>
                </td>
                <td>
                    <span class="fa fa-check"></span>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="alert alert-info" *ngIf="hasTemplate">
        Facility template file found. You will be brought to the upload data page upon the creation of this account.
    </div>
</div>