<div *ngIf="(!selectedAccount || facilityList.length === 0)">
  <app-empty-state></app-empty-state>
</div>

<div class="dashboard-container" *ngIf="(selectedAccount && facilityList.length > 0)">
  <div class="banner">
    <h3 *ngIf="!isFacilityDashboard">Account Dashboard</h3>
    <h3 *ngIf="selectedFacility && isFacilityDashboard">Facility Dashboard</h3>
    <!--<button class="m-0 btn btn-outline item-right">Generate Report</button>-->
  </div>

  <div class="sticky-top" [ngClass]="{'banner-dropdown-open': bannerDropdownOpen}">
    <div class="breadcrumbs d-flex justify-content-between">
      <p>
        <a routerLink="/account-summary"><i class="fa fa-home"></i>{{selectedAccount.name}}</a>
        <i class="fa fa-angle-right"></i>
        <select [(ngModel)]="breadcrumbFacilityId" (change)="switchFacility()">
          <option [ngValue]="undefined">All Facilities
          </option>
          <option *ngFor="let facility of facilityList" [ngValue]="facility.id">{{facility.name}}
          </option>
        </select>
      </p>



      <div class="d-flex">
        <div class="pr-1">
          <div class="btn-group" *ngIf="!breadcrumbFacilityId">
            <button class="btn btn-sm m-0 btn-selected" (click)="setAccountEnergyIsSource(true)"
              [ngClass]="{'btn-outline': selectedAccount.energyIsSource == false}">Source Energy</button>
            <button class="btn btn-sm btn-selected m-0" (click)="setAccountEnergyIsSource(false)"
              [ngClass]="{'btn-outline': selectedAccount.energyIsSource == true}">Site Energy</button>
          </div>
          <div class="btn-group" *ngIf="breadcrumbFacilityId">
            <button class="btn btn-sm m-0 btn-selected" (click)="setFacilityEnergyIsSource(true)"
              [ngClass]="{'btn-outline': selectedFacility.energyIsSource == false}">Source Energy</button>
            <button class="btn btn-sm btn-selected m-0" (click)="setFacilityEnergyIsSource(false)"
              [ngClass]="{'btn-outline': selectedFacility.energyIsSource == true }">Site Energy</button>
          </div>

        </div>

        <div class="pl-1">
          <div class="btn-group">
            <button class="btn btn-sm m-0 btn-selected" (click)="setGraphDisplay('usage')"
              [ngClass]="{'btn-outline': graphDisplay != 'usage'}">Utility Usage</button>
            <button class="btn btn-sm btn-selected m-0" (click)="setGraphDisplay('cost')"
              [ngClass]="{'btn-outline': graphDisplay != 'cost'}">Utility Cost</button>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="measur-wrapper main-content">
    <router-outlet></router-outlet>
  </div>
</div>

<div class="measurFooter"></div>