.plot {
  background-color: white;
  margin: 3px;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 2px 3px 10px #d6d6d6;
}
.wrapper {
  background-color: #f1f1f100;
  margin: 0px 30px;
  padding: 20px 30px 30px;
  background-image: url('../../assets/images/industrial-skyline.png');
  background-position: bottom;
  background-repeat: no-repeat;
  position:relative;
  z-index: 1;
}
.wrapper.main-content {
  margin-right: 30px;
}
p.display-lg {
  font-size: 32px;
}
.center {
  text-align: center;
}
.progress {
  height: 20px;
}
.highlight {
  color: green;
}
.stats img{
  width: 100%;
  display: block;
  margin: 40% auto;
}
.plot p:first-child {
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 1px solid #eee;
}
.row:last-child {
  margin-bottom: 150px;
}
.banner {
  background-color: #2c386b;
  background-image: url(../../assets/images/industrial-skyline.png);
}
.measurFooter {
  background-color: #577656;
  height: 69px;
  margin-top: -68px;
  z-index: 2;
  border-top: 1px solid #5c7859;
  box-shadow: 1px -1px 0px #9eb39b;
}
.filters {
  padding: 15px 40px 0px;
  text-align: right;
  margin: 0 10px;
}
.dashboard-nav {
  background-color: white;
  overflow: hidden;
  padding: 0px 30px;
}
.dashboard-nav ul {
  list-style: none;
  display: inline-block;
  margin: 3px 0 0;
  padding: 0px;
}
.dashboard-nav ul li {
  display: inline-block;
  padding: 10px;
}

.dashboard-nav ul li:hover {
  cursor: pointer;
  background-color: #efefef;
}

.dashboard-nav li.active {
  border-bottom: 3px solid #2c386b;
}
.bg-success {
  background-color: #6abb2e!important;
}

h3 a{
  font-size: 1.25rem;
  color: white;
  /* text-decoration: underline; */
}

h3 a:hover{
  text-decoration: underline;
  cursor: pointer;
}