thead th.active {
    text-decoration: underline;
}

thead th:hover{
    cursor: pointer;
    text-decoration: underline;
}

tbody tr:not(.use-and-consumption) td:first-child{
    width: 30%;
}

tbody tr:not(.use-and-consumption) td:not(:first-child){
    width: 35%;
}

tbody tr.use-and-consumption td{
    width: 25%;
}

.btn-group, .btn-group-vertical {
    display: inline-block!important;
}

.btn.btn-solid span.fa{
    color: white;
}

.button-label{
    font-size: 24px;
    padding-right: .5rem;
    padding-top: .25rem;
}
.btn-solid-utility span,
.btn-solid-cost span {
    color: #fff !important;
}

.btn-solid-utility {
    background-color: #1f78b4 !important;
    border-color: #1f78b4 !important;
    border: 1px solid #09619c!important;
}

.btn-solid-cost {
    background-color: #ff7f0f !important;
    border-color: #ff7f0f !important;
    border: 1px solid #e46c04!important;
}

.select-calanderization{
    background-color: #efefef;
}

.popup.calanderization{
    top: 30px;
    left: 35px;
    right: 35px;
    width: auto;
    max-height: 90vh;
    overflow-y: auto;
}