<div class="wrapper help-panel">
    <h4>Site or Source Energy?</h4>
    <br>
    <div class="row">
        <div class="col">
            <input type="radio" class="rowToggle" name="energyIsSource" [(ngModel)]="selectedFacility.energyIsSource"
                [value]="true" (change)="save()" id="sourceEnergy">
            <label class="checkbox" for="sourceEnergy">Source Energy</label>

            <input type="radio" class="rowToggle" name="energyIsSource" [(ngModel)]="selectedFacility.energyIsSource"
                [value]="false" (change)="save()" id="siteEnergy">
            <label class="checkbox" for="siteEnergy">Site Energy</label>
        </div>
    </div>
</div>

<div class="wrapper help-panel">
    <h4>Help</h4>
    <p>Each meter's bill history can be added in the corresponding energy type tab.</p>
    <br>
    <p class="bold">To Do</p>
    <ul>
        <li>Restrict Number limits</li>
    </ul>

    <p class="bold">Template Downloads</p>
    <ul>
        <li><a href="../../../assets/csv_templates/VERIFI-Import-Data.xlsx">Import Data Template</a></li>
    </ul>
</div>