<table class="table table-sm table-hover">
    <thead>
        <tr class="table-mh">
            <th class="first-column"></th>
            <th class="text-center th-3" colspan="3">
                Energy (<span [innerHTML]="analysisItem.energyUnit | settingsLabel"></span>)
            </th>
            <th class="text-center th-3" colspan="3">
                Modeled Energy
            </th>
            <th class="text-center th-3" colspan="3">
                SEnPI
            </th>
        </tr>
        <tr>
            <th>
                Year
            </th>
            <th>
                Total Energy
            </th>
            <th>
                Annual Savings
            </th>
            <th>
                Total Savings
            </th>
            <th>
                Total Energy
            </th>
            <th>
                Annual Savings
            </th>
            <th>
                Total Savings
            </th>
            <th>
                SEnPI
            </th>
            <th>
                Annual Savings
            </th>
            <th>
                Total Savings
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let summary of annualRegressionSummary">
            <td>
                {{summary.year}}
            </td>
            <td>
                {{summary.energyUse | customNumber}}
            </td>
            <td>
                {{summary.annualEnergySavings | customNumber}}
            </td>
            <td>
                {{summary.totalEnergySavings | customNumber}}
            </td>
            <td>
                {{summary.modeledEnergyUse | customNumber}}
            </td>
            <td>
                {{summary.annualModeledEnergySavings | customNumber}}
            </td>
            <td>
                {{summary.totalModeledEnergySavings | customNumber}}
            </td>
            <td>
                {{summary.SEnPI | customNumber}}
            </td>
            <td>
                {{summary.annualSavings | customNumber}}%
            </td>
            <td>
                {{summary.cumulativeSavings | customNumber}}%
            </td>
        </tr>
    </tbody>
</table>