<div class="wrapper">
    <div class="row">
        <div class="col-lg-7">
            <h4>Corporate Information</h4>
            <br>
            <app-general-information-form [inAccount]="true"></app-general-information-form>
        </div>

        <div class="col-lg-5">
            <h4>Corporate Units</h4>
            <br>
            <app-default-units-form [inAccount]="true"></app-default-units-form>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-7">
            <h4>Sustainability Questions</h4>
            <br>
            <app-sustainability-questions-form [inAccount]="true">
            </app-sustainability-questions-form>
        </div>
        <div class="col">
            <h4>Financial Reporting</h4>
            <br>
            <app-financial-reporting-form [inAccount]="true"></app-financial-reporting-form>
        </div>
    </div>

    <hr>

    <h4>Portfolio</h4>

    <div class="table-responsive">
        <table class="table table-sm table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>Facilities</th>
                    <th>NAICS</th>
                    <th>State</th>
                    <th>Country</th>
                    <th>Facility Size</th>
                    <th>Units</th>
                    <th class="actions">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let facility of facilityList">
                    <th>
                        <select [(ngModel)]="facility.facilityOrder" class="form-control" id="facilityOrder"
                            name="facilityOrder" (change)="setFacilityOrder(facility)">
                            <option *ngFor="let option of orderOptions" [ngValue]="option">{{option}}</option>
                        </select>
                    </th>
                    <td><a (click)="switchFacility(facility)">{{facility.name}}</a></td>
                    <td>{{facility.naics3}}</td>
                    <td>{{facility.state}}</td>
                    <td>{{facility.country}}</td>
                    <td>{{facility.size}}</td>
                    <td>{{facility.unitsOfMeasure}}</td>
                    <td class="actions">
                        <div class="d-flex">
                            <i class="fa fa-pencil" title="Edit" (click)="switchFacility(facility)"></i>
                            <i class="fa fa-trash" title="Delete" (click)="setDeleteFacilityEntry(facility)"></i>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-link" (click)="addNewFacility()"><i class="fa fa-plus"></i> Add New Facility</button>
        </div>
        <div class="col justify-content-end d-flex">
            <div>
                <button class="btn btn-outline" (click)="openApplySettingsModal()">Apply Settings To Facilities</button>
            </div>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-lg-6">
            <h4>Backup Account</h4>
            <p>You can protect your files from accidental loss by creating a backup. We recommend backing up your data
                frequently. This button will download a copy of the selected account data. If you want just facility
                information
                then selected the facility from the table above and export from that page.</p>
            <button class="btn btn-outline" (click)="backupAccount()">Backup Account</button>

        </div>
        <div class="col-lg-6">
            <h4>Import Backup Data</h4>
            <p>Use the below button to import backup data files. Accounts or facilities can be imported as new data or
                to overwrite existing data.</p>
            <button class="btn btn-primary" (click)="openImportBackup()">Import Backup File</button>

        </div>
        <div class="col-lg-6">
            <h4>Delete Account</h4>
            <p>Once deleted, you will permanently lose all your data linked to your account. Please make a backup of
                your data before proceeding with this step.</p>
            <button class="btn btn-danger" (click)="editAccount()">Delete Account</button>
        </div>
    </div>
</div>


<div id="overlay" [class.open]="showDeleteAccount || displayDeleteFacility || displayApplyFacilitySettings"></div>

<div class="popup" [class.open]="showDeleteAccount" *ngIf="showDeleteAccount">
    <div class="popup-header">Delete Account: {{selectedAccount.name}}
        <button class="item-right" (click)="cancelAccountDelete()">x</button>
    </div>
    <div class="popup-body">
        <p>WARNING: By deleting this account, you are also deleting all of the data associated with it.
            Are you sure you want to preform this action?</p>
    </div>
    <div class="popup-footer text-right">
        <button class="btn btn-secondary" (click)="cancelAccountDelete()">Cancel</button>
        <button class="btn btn-danger" (click)="confirmAccountDelete()">Confirm Delete</button>
    </div>
</div>

<div class="popup" [class.open]="displayDeleteFacility" *ngIf="displayDeleteFacility">
    <div class="popup-header">Delete Facility: {{facilityToDelete.name}}
        <button class="item-right" (click)="cancelFacilityDelete()">x</button>
    </div>
    <div class="popup-body">
        <p>WARNING: By deleting this facility, you are also deleting all of the data associated with it.
            Are you sure you want to preform this action?</p>
    </div>
    <div class="popup-footer text-right">
        <button class="btn btn-secondary" (click)="cancelFacilityDelete()">Cancel</button>
        <button class="btn btn-danger" (click)="confirmFacilityDelete()">Confirm Delete</button>
    </div>
</div>


<div class="popup" [class.open]="displayApplyFacilitySettings" *ngIf="displayApplyFacilitySettings">
    <div class="popup-header">Apply Account Settings to Facilities
        <button class="item-right" (click)="closeApplySettingsModel()">x</button>
    </div>
    <div class="popup-body">
        <p>
            Select the account settings you want to apply to all of the facilities in this account.
        </p>
        <p>WARNING: Applying account settings will override any existing facility settings.</p>
        <hr>
        <label class="checkbox-label" for="applyUnits">
            <input class="checkbox" type="checkbox" id="applyUnits" name="applyUnits" [(ngModel)]="applySettingsOptions.units">
            Apply Default Units
        </label>
        <label class="checkbox-label" for="sustainabilityQuestions">
            <input class="checkbox" type="checkbox" id="sustainabilityQuestions" name="sustainabilityQuestions" [(ngModel)]="applySettingsOptions.sustainabilityQuestions">
            Apply Sustainabity Goals
        </label>
        <label class="checkbox-label" for="financialReporting">
            <input class="checkbox" type="checkbox" id="financialReporting" name="financialReporting" [(ngModel)]="applySettingsOptions.financialReporting">
            Apply Financial Reporting Details
        </label>
    </div>
    <div class="popup-footer text-right">
        <button class="btn btn-secondary" (click)="closeApplySettingsModel()">Cancel</button>
        <button class="btn btn-outline" (click)="applySettingsToFacility()">Apply Settings</button>
    </div>
</div>