.wrapper{
    margin-bottom: 100px;
}

label.checkbox-label input[type="checkbox"]{
    float: none;
    width: auto;
}

#overlay {
    position: fixed;
    background-color: black;
    width: 100vw;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 9998;
    height:0;
    transition: .5s opacity;
}
#loading.open {
    top: calc(50% - 100px);
    opacity: 1;
}
#overlay.open {
    opacity: 0.5;
    height: 100vh;
}