.import-meter .file-name-width{
    width: 40%;
}

.import-meter th{
    width: 15%;
}


.data-template-div{
    width: 100%;
    text-align: center;
}

.data-template-div p, .data-template-div p a{
    font-size: larger;
}