<div id="account">
    <div class="banner">
        <h3>Account</h3>
    </div>
</div>

<div class="wrapper">
    <h4>Corporation Information</h4>
    <br>
    <div class="row">
        <div class="col-lg-4 profile-image">
            <img src="https://placehold.it/350x200" alt="">
            <form>
                <label class="profile-image-input" for="img"><i class="fa fa-upload"></i> Upload Image
                    <input type="file" id="img" name="img" accept="image/*">
                </label>
            </form>
        </div>
        <div class="col-lg-8" *ngIf="accountForm">
            <br>
            <form [formGroup]="accountForm">
                <label>Corporation Name
                    <input type="text" formControlName="name" (input)="onFormChange();">
                </label>
                <br>
                <label>Industry Type
                    <input type="text" formControlName="industry" (input)="onFormChange();">
                </label>
                <br>
                <label>NAICS Code
                    <input type="text" formControlName="naics" (input)="onFormChange();">
                </label>
                <br>
                <label>Notes
                    <textarea formControlName="notes" (input)="onFormChange();"></textarea>
                </label>
                <br>
                <label>Units of Measure
                    <select formControlName="unitsOfMeasure" (change)="setUnitsOfMeasure()">
                        <option [ngValue]="'Imperial'">Imperial</option>
                        <option [ngValue]="'Metric'">Metric</option>
                        <option [ngValue]="'Custom'">Custom</option>
                    </select>
                </label>
                <br>
                <label>Energy Unit
                    <select formControlName="energyUnit" (change)="onFormChange()">
                        <option *ngFor="let energyUnitOption of energyUnitOptions" [ngValue]="energyUnitOption.value">
                            <span [innerHTML]="energyUnitOption.display"></span></option>
                    </select>
                </label>
                <br>
                <label>Liquid Volume Unit
                    <select formControlName="volumeLiquidUnit" (change)="onFormChange()">
                        <option *ngFor="let volumeUnitOption of volumeLiquidOptions" [ngValue]="volumeUnitOption.value">
                            <span [innerHTML]="volumeUnitOption.display"></span></option>
                    </select>
                </label>
                <br>
                <label>Gas Volume Unit
                    <select formControlName="volumeGasUnit" (change)="onFormChange()">
                        <option *ngFor="let volumeUnitOption of volumeGasOptions" [ngValue]="volumeUnitOption.value">
                            <span [innerHTML]="volumeUnitOption.display"></span></option>
                    </select>
                </label>
                <!-- <br>
                <label>Size Unit
                    <select formControlName="sizeUnit" (change)="onFormChange()">
                        <option *ngFor="let sizeUnitOption of sizeUnitOptions" [ngValue]="sizeUnitOption.value">
                            <span [innerHTML]="sizeUnitOption.display"></span></option>
                    </select>
                </label> -->
                <br>
                <label>Mass Unit
                    <select formControlName="massUnit" (change)="onFormChange()">
                        <option *ngFor="let massUnitOption of massUnitOptions" [ngValue]="massUnitOption.value">
                            <span [innerHTML]="massUnitOption.display"></span></option>
                    </select>
                </label>
            </form>
        </div>
    </div>

    <br>
    <br>

    <h4>Portfolio</h4>

    <div class="importExport item-right">
        <button class="btn btn-small btn-outline">Import</button>
        <button class="btn btn-small btn-outline">Export</button>
    </div>

    <div class="tableOverflow">
        <table>
            <tr>
                <th>Facilities</th>
                <th>Country</th>
                <th>Business</th>
                <th>Tier</th>
                <th>Facility Size</th>
                <th>Units</th>
                <th>Division</th>
                <th class="actions">Actions</th>
            </tr>
            <tr *ngFor="let facility of facilityList">
                <td><a (click)="switchFacility(facility)">{{facility.name}}</a></td>
                <td>{{facility.country}}</td>
                <td>{{facility.type}}</td>
                <td>{{facility.tier}}</td>
                <td>{{facility.size}}</td>
                <td>{{facility.units}}<span class="superscript">2</span></td>
                <td>{{facility.division}}</td>
                <td class="actions">
                    <i class="fa fa-edit" title="Edit" (click)="setEditFacilityEntry(facility)"></i>
                    <i class="fa fa-trash-o" title="Delete" (click)="setDeleteFacilityEntry(facility)"></i>
                </td>
            </tr>
        </table>
    </div>
    <button class="btn btn-link" (click)="addNewFacility()"><i class="fa fa-plus"></i> Add New Facility</button>

    <br>
    <br>
    <br>
    <br>

    <div class="row">
        <div class="col-lg-6">
            <h4>Delete Account</h4>
            <p>Once deleted, you will permanently lose all your data linked to your account. Please make a backup of
                your data before proceeding with this step.</p>
            <button class="btn btn-danger" (click)="editAccount()">Delete Account</button>
        </div>
        <div class="col-lg-6">
            <h4>Backup Account</h4>
            <p>You can protect your files from accidental loss by creating a backup. We recommend backing up your data
                frequently.</p>
            <button class="btn btn-outline">Backup Account</button>
            <p class="small"> Last Backup: 12/04/2020</p>
        </div>
    </div>
</div>

<div class="window" [class.open]="facilityToEdit">
    <div class="windowOverlay"></div>
    <div class="windowContent">
        <app-edit-facility *ngIf="facilityToEdit" [facility]="facilityToEdit" (emitClose)="closeEditFacility()">
        </app-edit-facility>
    </div>
</div>

<div class="popup" [class.open]="showDeleteAccount" *ngIf="accountForm">
    <div class="popup-header">Delete Account: {{accountForm.controls.name.value}}
        <button class="item-right" (click)="cancelAccountDelete()">x</button>
    </div>
    <div class="popup-body">
        <p>WARNING: By deleting this account, you are also deleting all of the data associated with it.
            Are you sure you want to preform this action?</p>
    </div>
    <div class="popup-footer text-right">
        <button class="btn btn-secondary" (click)="cancelAccountDelete()">Cancel</button>
        <button class="btn btn-danger" (click)="confirmAccountDelete()">Confirm Delete</button>
    </div>
</div>

<div class="popup" [class.open]="facilityToDelete" *ngIf="facilityToDelete">
    <div class="popup-header">Delete Facility: {{facilityToDelete.name}}
        <button class="item-right" (click)="cancelFacilityDelete()">x</button>
    </div>
    <div class="popup-body">
        <p>WARNING: By deleting this facility, you are also deleting all of the data associated with it.
            Are you sure you want to preform this action?</p>
    </div>
    <div class="popup-footer text-right">
        <button class="btn btn-secondary" (click)="cancelFacilityDelete()">Cancel</button>
        <button class="btn btn-danger" (click)="confirmFacilityDelete()">Confirm Delete</button>
    </div>
</div>