.banner {
    background-color: #1e5ab3;
}

.dashboard-container{
      height: calc(100vh - 100px);
      overflow-y: auto;
}

.wrapper{
    margin-bottom: 100px;
}
h3 a{
  font-size: 1.75rem;
  color: white;
}

h3 a span.fa{
  color: white !important;
}