<h4>Edit Facility</h4>
<br>

<form>
    <form [formGroup]="facilityForm">
        <label>Building / Area
            <input type="text" formControlName="name">
        </label>
        <br>
        <label>County
            <input type="text" formControlName="country">
        </label>
        <br>
        <label>State
            <input type="text" formControlName="state">
        </label>
        <br>
        <label>Address
            <input type="address" formControlName="address" autocomplete="shipping street-address">
        </label>
        <br>
        <label>Business Type
            <input type="text" formControlName="type">
        </label>
        <br>
        <label>Teir
            <input type="text" formControlName="tier">
        </label>
        <br>
        <label>Size
            <input type="text" formControlName="size">
        </label>
        <br>
        <label>Units
            <input type="text" formControlName="units">
        </label>
        <br>
        <label>Division
            <input type="text" formControlName="division">
        </label>
    </form>
</form>

<div class="saveCancel item-right">
    <button class="btn btn-secondary" (click)="cancel()">Cancel</button>
    <button class="btn btn-primary" (click)="save()">Save</button>
</div>