<form class="form-inline">
  <div class="input-group">
    <span class="input-group-text">
      <span class="fa fa-search"></span>
    </span>
    <input class="form-control" type="search" placeholder="Search Account" aria-label="Search"
      [(ngModel)]="searchModel" [ngbTypeahead]="search" name="search" [resultTemplate]="resultTemplate"
      [inputFormatter]="formatter" (selectItem)="selectItem($event)" [popupClass]="'custom-search'"
      (focus)="setOptions()">
  </div>
</form>


<ng-template #resultTemplate let-r="result" let-t="term">
  <div class="w-100 d-flex justify-content-between" (click)="selectValue(r)">
    <div class="d-flex pe-5 template-text">
      {{r.name}}
    </div>
    @if (r.type == 'facility') {
      <div class="d-flex">
        <span class="badge facility-badge" [ngStyle]="{'background-color' : r.facilityColor}">Facility</span>
      </div>
    }
    @if (r.type == 'meter') {
      <div class="d-flex">
        <span class="badge facility-badge" [ngStyle]="{'background-color' : r.facilityColor}">{{r.facilityGuid |
          facilityName}}
        Meter</span>
      </div>
    }
    @if (r.type == 'accountAnalysis') {
      <div class="d-flex">
        <span class="badge account-badge">Account Analysis</span>
      </div>
    }
    @if (r.type == 'facilityAnalysis') {
      <div class="d-flex">
        <span class="badge facility-badge" [ngStyle]="{'background-color' : r.facilityColor}">{{r.facilityGuid |
          facilityName}}
        Analysis</span>
      </div>
    }
    @if (r.type == 'report') {
      <div class="d-flex">
        @if (r.idbAccountReport.reportType == 'dataOverview') {
          <span class="badge account-badge">
            Account Report
          </span>
        }
        @if (r.idbAccountReport.reportType == 'betterPlants') {
          <span class="badge account-badge">
            Account BP Report: {{r.idbAccountReport.reportYear}}
          </span>
        }
      </div>
    }
  </div>
</ng-template>