<!-- <table class="table table-sm table-hover">
    <thead>
        <tr class="table-mh">
            <th class="first-column"></th>
            <th class="text-center th-3" colspan="3">
                Energy (<span [innerHTML]="analysisItem.energyUnit | settingsLabel"></span>)
            </th>
            <th class="text-center th-3" colspan="3">
                Modeled Energy
            </th>
            <th class="text-center th-3" colspan="2">
                Energy Improvement
            </th>
        </tr>
        <tr>
            <th>
                Year
            </th>
            <th>
                Total Energy
            </th>
            <th>
                Annual Savings
            </th>
            <th>
                Total Savings
            </th>
            <th>
                Total Energy
            </th>
            <th>
                Annual Savings
            </th>
            <th>
                Total Savings
            </th>
            <!-- <th>
                SEnPI
            </th> --
            <th>
                Annual Savings
            </th>
            <th>
                Total Savings
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let summary of annualAnalysisSummary">
            <td>
                {{summary.year}}
            </td>
            <td>
                <span *ngIf="summary.energyUse" [ngClass]="{'red': summary.energyUse < 0}">
                    {{summary.energyUse | customNumber}}
                </span>
                <span *ngIf="!summary.energyUse">
                    &mdash;
                </span>
            </td>
            <td>
                <span *ngIf="summary.annualEnergySavings" [ngClass]="{'red': summary.annualEnergySavings < 0}">
                    {{summary.annualEnergySavings | customNumber}}
                </span>
                <span *ngIf="!summary.annualEnergySavings">
                    &mdash;
                </span>
            </td>
            <td>
                <span *ngIf="summary.totalEnergySavings" [ngClass]="{'red': summary.totalEnergySavings < 0}">
                    {{summary.totalEnergySavings | customNumber}}
                </span>
                <span *ngIf="!summary.totalEnergySavings">
                    &mdash;
                </span>
            </td>
            <td>
                <span *ngIf="summary.modeledEnergyUse" [ngClass]="{'red': summary.modeledEnergyUse < 0}">
                    {{summary.modeledEnergyUse | customNumber}}
                </span>
                <span *ngIf="!summary.modeledEnergyUse">
                    &mdash;
                </span>
            </td>
            <td>
                <span *ngIf="summary.annualModeledEnergySavings"
                    [ngClass]="{'red': summary.annualModeledEnergySavings < 0}">
                    {{summary.annualModeledEnergySavings | customNumber}}
                </span>
                <span *ngIf="!summary.annualModeledEnergySavings">
                    &mdash;
                </span>
            </td>
            <td>
                <span *ngIf="summary.totalModeledEnergySavings"
                    [ngClass]="{'red': summary.totalModeledEnergySavings < 0}">
                    {{summary.totalModeledEnergySavings | customNumber}}
                </span>
                <span *ngIf="!summary.totalModeledEnergySavings">
                    &mdash;
                </span>
            </td>
            <!-- <td>
                {{summary.SEnPI | customNumber}}
            </td> --
            <td>
                <span *ngIf="summary.annualSavings" [ngClass]="{'red': summary.annualSavings < 0}">
                    {{summary.annualSavings | customNumber}}%
                </span>
                <span *ngIf="!summary.annualSavings">
                    &mdash;
                </span>
            </td>
            <td>
                <span *ngIf="summary.cumulativeSavings" [ngClass]="{'red': summary.cumulativeSavings < 0}">
                    {{summary.cumulativeSavings | customNumber}}%
                </span>
                <span *ngIf="!summary.cumulativeSavings">
                    &mdash;
                </span>
            </td>
        </tr>
    </tbody>
</table> -->

<table class="table table-sm table-hover">
    <thead>
        <tr class="table-mh">
            <th class="first-column"></th>
            <th class="text-center th-3" colspan="3">
                Energy (<span [innerHTML]="analysisItem.energyUnit | settingsLabel"></span>)
            </th>
            <th class="text-center th-3" colspan="7">
                Incremental Improvement
            </th>
        </tr>
        <tr>
            <th>
                Year
            </th>
            <th>
                Actual
            </th>
            <th>
                Modeled
            </th>
            <th>
                Adjusted
            </th>
            <th>
                SEnPI
            </th>
            <th>
                Savings
            </th>
            <th>
                Total Savings <br> % Improvement
            </th>
            <th>
                Annual Savings <br> % Improvement
            </th>
            <th>
                Adjustment to <br> Baseline
            </th>
            <th>
                Cummulative <br> Savings
            </th>
            <th>
                New <br> Savings
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let summary of annualAnalysisSummary">
            <td>
                {{summary.year}}
            </td>
            <td>
                <span *ngIf="summary.energyUse" [ngClass]="{'red': summary.energyUse < 0}">
                    {{summary.energyUse | customNumber}}
                </span>
                <span *ngIf="!summary.energyUse">
                    &mdash;
                </span>
            </td>
            <td>
                <span *ngIf="summary.modeledEnergy" [ngClass]="{'red': summary.modeledEnergy < 0}">
                    {{summary.modeledEnergy | customNumber}}
                </span>
                <span *ngIf="!summary.modeledEnergy">
                    &mdash;
                </span>
            </td>
            <td>
                <span *ngIf="summary.adjustedBaselineEnergyUse"
                    [ngClass]="{'red': summary.adjustedBaselineEnergyUse < 0}">
                    {{summary.adjustedBaselineEnergyUse | customNumber}}
                </span>
                <span *ngIf="!summary.adjustedBaselineEnergyUse">
                    &mdash;
                </span>
            </td>
            <td>
                <span *ngIf="summary.SEnPI" [ngClass]="{'red': summary.SEnPI < 0}">
                    {{summary.SEnPI | customNumber}}
                </span>
                <span *ngIf="!summary.SEnPI">
                    &mdash;
                </span>
            </td>
            <td>
                <span *ngIf="summary.savings" [ngClass]="{'red': summary.savings < 0}">
                    {{summary.savings | customNumber}}
                </span>
                <span *ngIf="!summary.savings">
                    &mdash;
                </span>
            </td>
            <td>
                <span *ngIf="summary.totalSavingsPercentImprovement"
                    [ngClass]="{'red': summary.totalSavingsPercentImprovement < 0}">
                    {{summary.totalSavingsPercentImprovement | number:'1.0-2'}} %
                </span>
                <span *ngIf="!summary.totalSavingsPercentImprovement">
                    &mdash;
                </span>
            </td>
            <td>
                <span *ngIf="summary.annualSavingsPercentImprovement"
                    [ngClass]="{'red': summary.annualSavingsPercentImprovement < 0}">
                    {{summary.annualSavingsPercentImprovement | number:'1.0-2'}} %
                </span>
                <span *ngIf="!summary.annualSavingsPercentImprovement">
                    &mdash;
                </span>
            </td>
            <td>
                <span *ngIf="summary.adjustmentToBaseline" [ngClass]="{'red': summary.adjustmentToBaseline < 0}">
                    {{summary.adjustmentToBaseline | customNumber}}
                </span>
                <span *ngIf="!summary.adjustmentToBaseline">
                    &mdash;
                </span>
            </td>
            <td>
                <span *ngIf="summary.cummulativeSavings" [ngClass]="{'red': summary.cummulativeSavings < 0}">
                    {{summary.cummulativeSavings | customNumber}}
                </span>
                <span *ngIf="!summary.cummulativeSavings">
                    &mdash;
                </span>
            </td>
            <td>
                <span *ngIf="summary.newSavings" [ngClass]="{'red': summary.newSavings < 0}">
                    {{summary.newSavings | customNumber}}
                </span>
                <span *ngIf="!summary.newSavings">
                    &mdash;
                </span>
            </td>
        </tr>
    </tbody>
</table>