<h4>{{selectedSource}} Bills</h4>

<div class="controls">
    <!--Import/Export-->
    <div class="importExport item-right">
        <button class="btn btn-small btn-outline" (click)="openImportModal()">Import</button>
        <button class="btn btn-small btn-outline" (click)="meterExport()">Export</button>
    </div>
    <!--Items Per Page-->
    <div class="items-per-page item-right">
        <span>Show </span>
        <select [(ngModel)]="itemsPerPage">
            <option [ngValue]=6>6</option>
            <option [ngValue]=12>12</option>
            <option [ngValue]=24>24</option>
            <option [ngValue]=36>36</option>
            <option [ngValue]=48>48</option>
            <option [ngValue]=60>60</option>
            <option [ngValue]=999999999999>All</option>
        </select>
    </div>
    <!--Bulk Delete-->
    <div class="bulk-delete item-right" [class.show]="hasCheckedItems">
        <button class="btn btn-small btn-danger" (click)='bulkDelete()'>Bulk Delete</button>
    </div>
    <!--Column Filters-->
    <app-utility-meter-data-filter *ngIf="selectedSource == 'Electricity'" [filterType]="'table'">
    </app-utility-meter-data-filter>
</div>

<div class="meter" *ngFor="let meterListItem of meterList; let index=index;"
    [class.collapsed]="!meterListItem.idbMeter.visible">
    <div class="meterData">

        <p class="section-name bold pointer" (click)="setToggleView(meterListItem.idbMeter)">
            <i class="fa fa-caret-right" *ngIf="!meterListItem.idbMeter.visible"></i>
            <i class="fa fa-caret-down" *ngIf="meterListItem.idbMeter.visible"></i>
            {{meterListItem.idbMeter.name}}
        </p>
        <p *ngIf="meterListItem.idbMeter.visible">{{meterListItem.idbMeter.notes}}</p>
    </div>


    <div class="row no-margin">
        <div class="col no-margin table-responsive" *ngIf="meterListItem.idbMeter.visible">
            <app-electricity-data-table *ngIf="selectedSource == 'Electricity'" [meterListItem]="meterListItem"
                [currentPageNumber]="tablePageNumbers[index]" [itemsPerPage]="itemsPerPage" [meterIndex]="index"
                (setChecked)="setHasCheckedItems()" (setEdit)="setEditMeterData($event)"
                (setDelete)="setDeleteMeterData($event)">
            </app-electricity-data-table>
            <app-general-utility-data-table *ngIf="selectedSource != 'Electricity'" [meterListItem]="meterListItem"
                [currentPageNumber]="tablePageNumbers[index]" [itemsPerPage]="itemsPerPage" [meterIndex]="index"
                (setChecked)="setHasCheckedItems()" (setEdit)="setEditMeterData($event)"
                (setDelete)="setDeleteMeterData($event)">
            </app-general-utility-data-table>
        </div>
    </div>

    <div class="tableControls overflow-hidden" *ngIf="meterListItem.idbMeter.visible">
        <button class="btn btn-link item-left" (click)="meterDataAdd(meterListItem.idbMeter)">
            <i class="fa fa-plus"></i> Add New Bill
        </button>
        <div class="item-right">
            <ngb-pagination [collectionSize]="meterListItem.meterDataItems.length" [(page)]="tablePageNumbers[index]"
                [pageSize]="itemsPerPage" [rotate]="true" aria-label="Default pagination" [maxSize]="5">
            </ngb-pagination>
        </div>
        <p class="item-right">{{meterListItem.meterDataItems.length}} entries</p>
    </div>
</div>

<div class="window" [class.open]="editMeterData">
    <div class="windowOverlay"></div>
    <div class="windowContent windowContentLg">
        <app-edit-electricity-bill *ngIf="editMeterData && selectedSource == 'Electricity'"
            [editMeterData]="editMeterData" (emitClose)="cancelEditMeter()" [addOrEdit]="addOrEdit">
        </app-edit-electricity-bill>
        <app-edit-utility-bill *ngIf="editMeterData && selectedSource != 'Electricity'" [editMeterData]="editMeterData"
            (emitClose)="cancelEditMeter()" [addOrEdit]="addOrEdit">
        </app-edit-utility-bill>
    </div>
</div>


<div class="window" [class.open]="showImport">
    <div class="windowOverlay"></div>
    <div class="windowContent">
        <app-import-meter-data *ngIf="showImport" (emitClose)="closeImportModal()">
        </app-import-meter-data>
    </div>
</div>

<div class="popup" [class.open]="meterDataToDelete">
    <div class="popup-header" *ngIf="meterDataToDelete">Delete Meter Data
        <button class="item-right" (click)="cancelDelete()">x</button>
    </div>
    <div class="popup-body">
        <p>WARNING: Deleting meter data cannot be undone.
            Are you sure you want to preform this action?</p>
    </div>
    <div class="popup-footer text-right">
        <button class="btn btn-danger" (click)="deleteMeterData()">Delete</button>
    </div>
</div>