@import "~font-awesome/css/font-awesome.min.css";
/*
HTML Elements
========================================================= */
html,
body {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.item-right {
  float: right;
}
.item-left {
  float: left;
}
.no-margin {
  margin: 0 !important;
  padding: 0 !important;
}
.full-width {
  width: 100%;
}
.three-quarter-width {
  width: 75%;
}
.spacer {
  margin: 0px 10px;
}
/*
Typography
======================================================== */
/*html, body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 100;
    font-size: 18px;
    height: 100%;
    background: #ececec;
  }*/
* {
  /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";*/
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}
h4 {
  text-transform: uppercase;
  font-size: 16px !important;
  padding: 10px 0;
  border-bottom: 2px solid orange;
  font-weight: normal;
  letter-spacing: 2px;
}
h6 {
  color: #2980b9;
  text-transform: uppercase;
  letter-spacing: 1px;
}
a:not([href]) {
  color: #007bff !important;
}
a:not([href]):hover {
  color: #0056b3 !important;
  text-decoration: underline !important;
  cursor: pointer;
}
p {
  margin: 0;
}
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.superscript {
  font-size: 10px;
  position: absolute;
}
.subheader {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  border-bottom: 1px solid #dadada;
  padding: 20px 0 0;
  color: #9e7f5e;
}
p.error {
  background-color: #ffebeb;
  border: 1px solid #dc3737;
  color: #960202;
  padding: 10px;
}
.green {
  color: green;
}
.red,
.required {
  color: #bf2d00;
}
.pointer {
  cursor: pointer;
}
.fa-ellipsis-v {
  cursor: pointer;
}
/*
Buttons
=============================================== */
.btn {
  border-radius: 3px;
  margin: 10px 0;
}
.btn-small {
  padding: 2px 10px !important;
  border-radius: 3px !important;
}
.btn-outline {
  color: #2c386b !important;
  background-color: #fff !important;
  border-color: #2c386b !important;
}
.btn-outline:hover {
  background-color: #2c386b !important;
  color: #fff !important;
}
.btn-danger {
  color: #ec0000 !important;
  background-color: #ffffff !important;
  border-color: #ec0000 !important;
}
.btn-danger:hover {
  background-color: #ec0000 !important;
  color: #fff !important;
}
.btn-danger:hover i {
  color: white;
}
.btn-primary {
  color: #fff;
  background-color: #2980b9 !important;
  border-color: #2980b9 !important;
}
.btn-primary-2,
.btn-solid {
  color: #fff !important;
  background-color: #2c386b !important;
  border-color: #2c386b !important;
}
.btn-primary-3 {
  color: #fff !important;
  background-color: #17a1b8 !important;
  border-color: #17a1b8 !important;
}
.btn-primary-4 {
  color: #fff !important;
  background-color: #bf3d00 !important;
  border-color: #bf3d00 !important;
}
.btn-primary-5 {
  color: #333;
  background-color: #f39c11 !important;
  border-color: #f39c11 !important;
}
.btn-primary-6 {
  color: #333;
  background-color: #ffe400 !important;
  border-color: #ffe400 !important;
}
.btn-secondary {
  color: #333 !important;
  background-color: #e6e6e6 !important;
  border-color: #e6e6e6 !important;
}
.btn-primary i,
.btn-primary-1 i,
.btn-primary-2 i,
.btn-primary-3 i,
.btn-primary-4 i {
  color: #fff !important;
}
.importExport button:first-child {
  margin-right: 5px;
}
.saveCancel button:first-child {
  margin-right: 10px;
}
.btn.add-new {
  position: absolute;
  bottom: 10px;
  right: 0;
}
.bulk-delete {
  opacity: 0;
  transition: 0.5s opacity;
  margin: 0 15px;
}
.bulk-delete.show {
  opacity: 1;
}
/*
Alerts
======================================================== */
.alert {
  padding: 5px !important;
  margin: 5px 0px;
  width: 100%;
}
.alert-info {
  color: #2b77a9;
  background-color: #dff0f4;
  border-color: #c9d7e2;
}
.alert-warning {
  color: #77520d;
  background-color: #fdead4;
  border: 1px solid #decbb6;
}
.alert-danger {
  color: #923d15;
  background-color: #f0d3ca;
  border-color: #d0bab3;
}
/*
Popups & Windows
======================================================== */
.window {
  position: relative;
  z-index: 1000;
  display: none;
}
.window.open {
  position: relative;
  z-index: 1000;
  display: block;
}
.windowOverlay {
  position: fixed;
  background-color: black;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  opacity: 0.8;
}
.windowContent {
  position: fixed;
  background-color: white;
  top: 3%;
  width: 500px;
  left: calc(50% - 250px);
  box-shadow: -3px 4px 8px #0000001c;
  border: 1px solid white;
  padding: 30px;
  border-radius: 3px;
}
.windowContentMed {
  width: 600px;
  left: calc(50% - 300px);
}
.windowContentLg {
  width: 800px;
  left: calc(50% - 400px);
}
.windowContentXLg {
  width: 1000px;
  left: calc(50% - 500px);
}
.windowContentScroll {
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0px;
  padding: 0 30px 0 0;
  max-height: calc(100vh - 375px);
}
.windowContentScroll form {
  padding: 0 2px;
}

.importMeterWindowContent{
  top: 5%;
  left: 5%;
  right: 5%;
  width: auto;
  bottom: 5%;
}

.popup {
  border-style: solid;
  border: 1px solid #ffffff;
  border-radius: 3px;
  box-shadow: 0px 0px 10px #0000003d;
  z-index: 9999;
}
.popup-header {
  color: white;
  padding: 10px;
  background-color: #2c386b;
  font-weight: bold;
  border-radius: 3px 3px 0 0;
}
.popup-header button {
  border: none;
  background-color: transparent;
  color: white;
  font-weight: bold;
}
.popup-body {
  background-color: #ffffff;
  color: black;
  padding: 10px;
}
.popup-footer {
  padding: 0px 10px;
}
.popup-footer .btn:first-child {
  margin-right: 10px;
}
.popup {
  transform: scale(0);
  position: fixed;
  width: 500px;
  left: calc(50% - 250px);
  top: 31%;
  background-color: white;
  transition: 0.2s transform;
}
.popup.open {
  transform: scale(1);
}
/*
Arrows & Tooltips
=============================================== */
.tooltip {
  opacity: 1 !important;
  box-shadow: 1px 4px 10px 0px #0000003d;
  background-color: #2980b9;
  border: 1px solid #2f96da;
  padding: 3px 10px;
  border-radius: 4px;
  color: white;
}
.tooltip.up {
  box-shadow: 1px -4px 10px 0px #0000003d;
}
.tooltip.left {
  box-shadow: -4px 1px 10px 0px #0000003d;
}
.tooltip.right {
  box-shadow: 4px 1px 10px 0px #0000003d;
}
.arrow {
  width: 0;
  height: 0;
  position: absolute;
}
.arrow-up {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #2980b9;
  top: -8px;
  left: calc(50% - 10px);
}
.arrow-down {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #2980b9;
  bottom: -8px;
  left: calc(50% - 10px);
}
.arrow-right {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #2980b9;
  right: -8px;
  top: calc(50% - 10px);
}

.arrow-left {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #2980b9;
  left: -8px;
  top: calc(50% - 10px);
}
/*
Forms
=============================================== */
input,
textarea {
  background-color: #fff;
  border: #9c9c9c solid 1px;
  border-radius: 0px;
  padding: 2px 7px;
  outline: none;
}
label input[type="radio"],
label input[type="checkbox"] {
  float: left;
  width: auto;
  margin: 0px 10px;
  height: 21px;
}
input[type="file"] {
  border: none;
  background-color: #eee;
  padding: 10px;
  width: 100%;
}
label {
  width: 100%;
}
.popup label {
  position: relative;
  width: 100%;
  padding-left: 15px;
}
.popup label label {
  width: 100%;
}
label input,
label textarea,
label select {
  float: right;
  width: 70%;
}
label:hover,
.hover {
  background-color: #f7f7f7;
}
input:disabled {
  border: none;
}
label .row {
  width: 68%;
  float: right;
}
label .col input {
  width: 100%;
}
label .row .col:nth-child(3) {
  padding-left: 10px !important;
}
label label {
  padding-left: 20px;
}
label a {
  position: absolute;
  right: -37px;
  font-size: 12px;
  top: 5px;
}
span.unit {
  /*float: right;
  display: block;*/
  border: 1px solid #9b9b9b;
  border-left: none;
  padding: 2px 5px;
  color: #909090;
}
.input-group input:nth-child(3) {
  border-left: 0px!important;
}
.input-group span[hidden] + input {
  border-left: 1px solid #9c9c9c!important;
}
.form-control {
  display: block;
  width: 100%;
  height: initial!important;
  padding: 2px 7px!important;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #9c9c9c!important;
  border-radius: 0!important;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
textarea {
  width: 100%;
}
input.warning {
  outline: 2px solid #f39c1196 !important;
  outline-offset: 0;
  background-color: #f39c1114;
  border: 1px solid white !important;
}
input.error,
input.ng-invalid,
select.ng-invalid {
  outline: 2px solid #bf3d00c4 !important;
  outline-offset: 0;
  background-color: #bf3d001c;
  border: 1px solid #fff !important;
}
input:active,
input:focus,
input.active {
  outline: 2px solid #2980b95e !important;
  outline-offset: 0;
  border: 1px solid white !important;
}
input:disabled {
  border: 1px solid #d0d0d0;
  background-color: #eeeeee;
  color: #585858;
}
.required input {
  padding-right: 16px;
}
.required span {
  position: absolute;
  right: 14px;
  color: #bf2d00;
  padding: 5px 7px 0 0;
}
select {
  padding: 3px;
  border: 1px solid #9c9c9c;
}
form select {
  max-width: 100%;
  width: 100%;
}
.inputError,
.inputWarning {
  display: block;
  margin: -10px 0 10px 0;
  font-size: 12px;
  color: #822900;
}
.inputWarning {
  color: #a76c00;
}
/*
Tables
========================================= */
table {
  width: 100%;
  border: 1px solid #ddd;
}
.table {
  margin-bottom: 0!important;
}
.tableOverflow {
  width: 100%;
  overflow: auto;
}
.overflowTable {
  max-height: 400px;
  overflow: auto;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  /*background-color: rgba(0, 0, 0, 0.3);*/
  background-color: rgb(0 0 0 / 15%);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
tfoot {
  border-top: 3px double #c9d3e0;
}
table tbody tr:nth-child(even) {
  background-color: #f3f6fd;
}
table thead tr {
  background-color: #e3e7ec;
}
table tfoot tr {
  background-color: #ffffff;
  font-weight: bold;
}
table td,
table th {
  padding: 4px 10px;
  border: 1px solid #dde0e6;
}

th {
  white-space: nowrap;
}
td i.fa.fa-ellipsis-v {
  text-align: center;
  cursor: pointer;
  padding: 0px 3px;
}
td .facilityMenu,
td .meterMenu {
  position: absolute;
  background-color: white;
  border: 1px solid #dddddd;
  right: 0;
  top: 29px;
  display: none;
  z-index: 5;
}
td .facilityMenu.open,
td .meterMenu.open {
  display: block;
}
td {
  position: relative;
}
td .facilityMenu p,
td .meterMenu p {
  padding: 5px 10px;
  margin: 0px;
  cursor: pointer;
}
td .facilityMenu p:hover,
td .meterMenu p:hover {
  background-color: #f3f6fd;
}
th.input,
td.input {
  max-width: 30px;
  width: 30px;
}
td.actions,
.actions {
  width: 75px;
  min-width: 75px;
}
.table-sm td.actions {
  padding: 4px 11px;
}
td.actions i,
.actions i  {
  padding: 3px 5px;
  margin: 0 2px;
  cursor: pointer;
  background-color: #d4d9de;
  color: #170a4a;
  border-radius: 3px;
}
td.actions i:hover {
  color: #1e5ab3;
  background-color: #e3e7ec;
}
td.actions i.fa-edit:hover {
  color: #1e5ab3;
}
td.actions i.fa-trash-o:hover {
  color: red;
}
table input {
  margin: 3px auto;
  display: block;
  width: 13px;
}
/*
Popovers (Contextual Help)
=============================================== */
.popover {
  max-width: 1000px;
}

.popover.right {
  margin-left: 15px;
}

.popover-title {
  color: white;
  background-color: #044976;
}

.popover-lg {
  width: 300px;
  height: 300px;
}

.popover-md {
  width: 150px;
  height: 150px;
}

.popover-sm {
  width: 75px;
  height: 75px;
}
/*
Sidebar
=========================================== */
.content {
  /*margin: 67px 0 0 70px;
    padding: 20px 16px;*/
  padding: 67px 0 0 70px;
  background-color: #f1f1f1;
  min-height: calc(100vh - 35px);
  height: calc(100vh - 35px);
  transition: 0.2s all;
  overflow: scroll !important;
}
.open .content {
  /*margin: 67px 0 0 261px;*/
  padding: 67px 0 0 261px;
}
.open #sidebar {
  width: calc(310px - 50px) !important;
}
.menuHeader p {
  display: none;
}
.open .menuHeader p {
  display: inline-block;
  animation: 0.6s fadeInAnimation ease;
}
#sidebar span {
  padding-left: 10px;
  display: none;
}
.open #sidebar span {
  display: inline-block;
  animation: 0.6s fadeInAnimation ease;
}
.open #sidebar ul li {
  min-width: 150px;
}
@keyframes fadeInAnimation {
  0% {
    height: 0;
    opacity: 0;
    display: none;
  }
  50% {
    height: 0;
    opacity: 0;
    display: none;
  }
  100% {
    height: auto;
    opacity: 1;
    display: inline-block;
  }
}
/*
Section Headers
=========================================== */
.banner {
  background-color: #a7a7a7;
  padding: 15px 40px;
  overflow: hidden;
}
.banner h3 {
  margin: 0;
  color: white;
  float: left;
}
.compNav {
  float: left;
  margin-top: 5px;
}
.compNav ul {
  list-style: none;
  margin: 0;
}
.compNav ul li {
  display: inline-block;
}
.compNav ul li a {
  color: white;
  padding: 5px 10px;
}
.compNav li a.active {
  background-color: white;
  color: black;
  padding: 5px 7px;
  border-radius: 3px;
  font-weight: bold;
}
/*
Content Container
=============================================== */
.min-height-100 {
  min-height: calc(100vh - 95px);
}
.resetmargin {
  margin: 0 !important;
}
.wrapper {
  background-color: white;
  margin: 30px;
  padding: 20px 30px 30px;
}
.wrapper.help-panel {
  margin-left: 0px;
}
.wrapper.main-content {
  margin-right: 0px;
  min-height: calc(100vh - 225px);
}
.help-panel.tab-margin {
  margin-top: 65px;
}
/*
Default Settings
=============================================== */
/*
Calculators
=============================================== */

/*
Content Tabs
=============================================== */
.tabs ul {
  list-style: none;
  margin: 30px 0px -30px 30px;
  padding: 0;
}
.tabs ul li {
  display: inline-block;
  margin: 0px 2px 0 0px;
}
.tabs ul li a {
  background-color: #ccc;
  color: #333;
  padding: 6px 12px 7px;
  display: block;
}
.tabs ul li a.active {
  background-color: white;
}

/*
Meter Displays
=============================================== */
.meter {
  margin-bottom: 50px;
}
.meter.collapsed {
  margin-bottom: 0px;
}
.meterData {
  padding: 10px 0px;
  position: relative;
}
.meterData p {
  margin: 0 0 0 10px;
}
.filter {
  position: relative;
  z-index: 1;
}
.filter-dropdown {
  position: absolute;
  top: 44px;
  left: 0;
  width: 100%;
  background-color: #ececec;
  border: 1px solid #d2d2d2;
  z-index: 1;
  padding: 20px;
  min-width: 210px;
  border-radius: 2px;
}
.filter .filter-dropdown label {
  margin: 0px 10px 0 0;
}
.filter .filter-dropdown input {
  float: left;
  width: auto;
  margin: 0px 10px 0 0;
}
i.fa.fa-arrow-circle-up {
  color: green;
}
i.fa.fa-arrow-circle-down {
  color: red;
}
.filter button:nth-child(2) {
  border-left: none;
}

/*
Account / Facility Profile Picture
=============================================== */
.profile-image img,
.profile-image form {
  width: 100%;
  max-width: 350px;
}
label.profile-image-input {
  cursor: pointer;
  background-color: #f1f1f1;
  width: 100%;
  max-width: 350px;
  padding: 5px 10px;
  transition: 0.5s all;
  font-size: 13px;
}
label.profile-image-input input {
  display: none;
  padding: 5px;
}
label.profile-image-input:hover {
  background-color: #ebeef3;
}
@media (max-width: 991px) {
  .profile-image img,
  .profile-image form {
    margin: 0 auto;
    display: block;
  }
}

/*
Switch Slider Toggle
=============================================== */
.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 22px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #2c386b;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2c386b;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}

/*
Pagination
=============================================== */
.page-item.active .page-link {
  z-index: 0!important;
  background-color: #2c386b !important;
  background-color: #2c386b00 !important;
  border-color: #2c386b !important;
}
.page-item:last-child .page-link {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.page-item:first-child .page-link {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.page-link {
  padding: 3px 8px !important;
  border: none !important;
  color: #37383a !important;
}
.page-item.active .page-link {
  color: #228aff !important;
}
.pagination {
  margin: 0px;
}
.items-per-page {
  padding: 10px;
  font-size: 12px;
}
.items-per-page span {
  padding: 3px 3px 5px 5px;
}
.items-per-page select {
  padding: 4px;
  border-radius: 3px;
  cursor: pointer;
}
/*
TO SORT
=============================================== */

/*
.col.unitCurrency {
  width: 20px;
  max-width: 20px;
  padding: 0px;
}
.col.unitKwh {
  width: 39px;
  max-width: 39px;
  padding: 0px;
}
input.unitDollar {
  width: calc(70% - 20px);
}
*/
.wizard {
  overflow: hidden;
  position: fixed;
  bottom: 37px;
  left: 70px;
  z-index: 1;
  width: calc(100% - 80px);
  padding: 0px 30px;
  background-color: #2980b957;
  box-shadow: 3px -3px 9px #d4d4d4b0;
}
.controls {
  padding: 15px 0px;
  min-height: 75px;
}
.importExport,
.items-per-page,
.bulk-delete {
  position:relative;
  z-index: 2;
}
.tableControls {
  padding: 4px 0px;
  margin: 0px;
}
.tableControls p {
  font-size: 12px;
  margin: 4px 10px 3px;
}
.meterData {
  overflow: hidden;
}
/*
.meterData .bold {
  color: #060a2b;
  width: 115px;
  display: inline-block;
}*/
.meterData .btn-link {
  margin: 0px;
}
.meterData h6 {
  padding: 9px 0 0;
  margin: 0 0 10px 0;
}
.importQuickView {
  width: 100%;
  overflow: scroll;
}
.section-name {
  text-transform: uppercase;
}
.meterData .section-name {
  margin: 5px 0px;
}
.breadcrumbs {
  background-color: #f5f5f5;
  padding: 5px 40px;
  border-bottom: 1px solid #e5e6e6;
}
.breadcrumbs a,
.breadcrumbs p {
  margin: 0px!important;
  text-transform: capitalize;
  font-size: 12px;
  padding: 5px 0;
  color: #5f5f5f;
}
.breadcrumbs i {
  margin: 0px 3px;
}
.breadcrumbs i.fa-angle-right {
  margin: 0px 10px;
}
.breadcrumbs select {
  border: none;
  background-color: #e6e6e6;
}
.measurFooter {
  background-color: #577656;
  height: 69px;
  margin-top: -68px;
  z-index: 2;
  border-top: 1px solid #5c7859;
  box-shadow: 1px -1px 0px #9eb39b;
}