@import "~font-awesome/css/font-awesome.min.css";
/*
HTML Elements
========================================================= */
body {
    padding: 0;
    margin: 0;
}

/*
Typography
======================================================== */
  /*html, body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 100;
    font-size: 18px;
    height: 100%;
    background: #ececec;
  }*/
  * {
    /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";*/
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }
  h4 {
    text-transform: uppercase;
    font-size: 16px!important;
    padding: 10px 0;
    border-bottom: 2px solid orange;
    font-weight: normal;
    letter-spacing: 2px;
  }
  a:not([href]) {
    color: #007bff!important;
  }
  a:not([href]):hover {
    color: #0056b3!important;
    text-decoration: underline!important;
    cursor: pointer;
  }
  p {
    margin: 0;
  }
  .bold{
    font-weight: bold;
  }
  .superscript {
    font-size: 10px;
    position: absolute;
}
/*
Buttons
=============================================== */
.btn-primary {
    color: #fff;
    background-color: #6abb2e;
    border-color: #6abb2e;
}
.btn-secondary {
    color: #1f457d!important;
    background-color: #ffffff!important;
    border-color: #1e5ab3!important;
    padding: 2px 13px!important;
    border-radius: 0!important;
}
.btn-secondary:hover {
    background-color: #1e5ab3!important;
    color: white!important;
}
.btn {
    border-radius: 3px;
    margin: 10px 0;
}
.importExport {
    float: right;
}
.importExport button:first-child {
    margin-right: 5px;
}
/*
Forms
=============================================== */
input, textarea {
    background-color: #fff;
    border: #9c9c9c solid 1px;
    border-radius: 0px;
    padding: 2px 7px;
    outline: none;
}
input[type="checkbox"] {
    height: 21px;
}
label {
    width: 100%;
}
label input,
label textarea {
    float: right;
    width: 70%;
}
label:hover {
    background-color: #f7f7f7;
}

/*
Tables
========================================= */
table {
    width: 100%;
    border: 1px solid #ddd;
}
table tr:nth-child(odd) {
    background-color: #f3f6fd;
}
table tr:first-child {
    background-color: #eee;
}
table td, table th {
    padding: 4px 10px;
    border: 1px solid #ddd;
}
/*
Popovers (Contextual Help)
=============================================== */
.popover{
    max-width: 1000px;
  }
  
  .popover.right{
    margin-left: 15px;
  }
  
  .popover-title{
    color: white;
    background-color: #044976;
  }
  
  .popover-lg{
    width: 300px;
    height: 300px;
  }
  
  .popover-md{
    width: 150px;
    height: 150px;
  }
  
  .popover-sm{
    width:75px;
    height: 75px;
  }
/*
Sidebar
=========================================== */ 
.content {
    margin: 0 0 0 70px;
    /*padding: 20px 16px;*/
    background-color: #f1f1f1;
    min-height: calc(100vh - 95px);
    transition: .2s all;
}
.open .content {
    margin: 0 0 0 261px;
}
.open #sidebar {
    width: calc(310px - 50px)!important;
}
.menuHeader p{
    display: none;
}
.open  .menuHeader p{
    display: inline-block;
    animation: .6s fadeInAnimation ease;
}
#sidebar span {
    padding-left: 10px;
    display: none;
}
.open #sidebar span {
    display: inline-block;
    animation: .6s fadeInAnimation ease;
}
.open #sidebar ul li {
    min-width: 150px;
}
@keyframes fadeInAnimation {
    0% {
        height: 0;
        opacity: 0;
        display: none;
    }
    50% {
        height: 0;
        opacity: 0;
        display: none;
    }
    100% {
        height: auto;
        opacity: 1;
        display: inline-block;
    }
}
/*
Section Headers
=========================================== */  
.banner {
    background-color: #a7a7a7;
    padding: 15px 40px;
    overflow: hidden;
}
.banner h3 {
    margin: 0;
    color: white;
    float: left;
}
.compNav {
    float: left;
    margin-top: 9px;
}
.compNav ul {
    list-style: none;
    margin: 0;
}
.compNav ul li {
    display: inline-block;
}
.compNav ul li a{
    color: white;
    padding: 5px 10px;
}
.compNav li a.active {
    background-color: white;
    color: black;
    padding: 5px 7px;
    border-radius: 3px;
    font-weight: bold;
}
/*
Content Container
=============================================== */
.min-height-100 {
    min-height: calc(100vh - 95px);
}
.resetmargin {
    margin: 0!important;
}
.wrapper {
    background-color: white;
    margin: 30px;
    padding: 20px 30px 30px;
}
.wrapper.help-panel {
    margin-left: 0px;
}
.wrapper.main-content {
    margin-right: 0px;
}
.help-panel.tab-margin {
    margin-top: 65px;
}
/*
Default Settings
=============================================== */
/*
Calculators
=============================================== */

/*
Content Tabs
=============================================== */
.tabs ul {
    list-style: none;
    margin: 30px 0px -30px 30px;
    padding: 0;
}
.tabs ul li {
    display: inline-block;
    margin: 0px 2px 0 0px;
}
.tabs ul li a {
    background-color: #ccc;
    color: #333;
    padding: 6px 12px 7px;
    display: block;
}
.tabs ul li a.active {
    background-color: white;
}
