<div class="filter">
    <button class="btn" [ngClass]="{'btn-solid' : !showFilterDropdown, 'btn-outline' : showFilterDropdown}"
        (click)="toggleFilterMenu()">
        <!-- <span class="fa"
            [ngClass]="{'fa-chevron-down': showFilterDropdown, 'fa-chevron-up': !showFilterDropdown}"></span> -->
        Choose Columns
    </button>
    <div class="filter-dropdown" *ngIf="showFilterDropdown">
        <p class="small">Choose Table Columns</p>
        <div class="row">
            <div class="col">
                <label>
                    <input type="checkbox" name="block1" [(ngModel)]="detailedChargesFilters.block1"
                        (change)="save()">Block 1 Consumption
                </label>
                <label>
                    <input type="checkbox" name="block2" [(ngModel)]="detailedChargesFilters.block2"
                        (change)="save()">Block 2 Consumption
                </label>
                <label>
                    <input type="checkbox" name="block3" [(ngModel)]="detailedChargesFilters.block3"
                        (change)="save()">Block 3 Consumption
                </label>
                <label>
                    <input type="checkbox" name="other" [(ngModel)]="detailedChargesFilters.other"
                        (change)="save()">Other Consumption
                </label>
            </div>
            <div class="col">
                <label>
                    <input type="checkbox" name="onPeak" [(ngModel)]="detailedChargesFilters.onPeak"
                        (change)="save()">On-Peak Consumption
                </label>
                <label>
                    <input type="checkbox" name="offPeak" [(ngModel)]="detailedChargesFilters.offPeak"
                        (change)="save()">Off-Peak Consumption
                </label>
                <label>
                    <input type="checkbox" name="powerFactor" [(ngModel)]="detailedChargesFilters.powerFactor"
                        (change)="save()">Power Factor
                </label>
                
            </div>
            <div class="col">
                <label>
                    <input type="checkbox" name="nonEnergyCharge" [(ngModel)]="additionalChargesFilters.nonEnergyCharge"
                        (change)="save()">Non-Energy Charge
                </label>
                <label>
                    <input type="checkbox" name="transmissionAndDelivery" [(ngModel)]="additionalChargesFilters.transmissionAndDelivery"
                        (change)="save()">Transmission and Delivery Charge
                </label>
                <label>
                    <input type="checkbox" name="localSalesTax" [(ngModel)]="additionalChargesFilters.localSalesTax"
                        (change)="save()">Local Sales Tax
                </label>
                <label>
                    <input type="checkbox" name="stateSalesTax" [(ngModel)]="additionalChargesFilters.stateSalesTax"
                        (change)="save()">State Sales Tax
                </label>
                <label>
                    <input type="checkbox" name="latePayment" [(ngModel)]="additionalChargesFilters.latePayment"
                        (change)="save()">Late Payment
                </label>
                <label>
                    <input type="checkbox" name="otherCharge" [(ngModel)]="additionalChargesFilters.otherCharge"
                        (change)="save()">Other Charge
                </label>
            </div>
        </div>
        <br>
        <a (click)="showAllColumns();">Show All</a>
        <span> / </span>
        <a (click)="hideAllColumns();">Hide All</a>
    </div>
</div>