<div class="filter">
    <button class="btn" [ngClass]="{'btn-solid' : !showFilterDropdown, 'btn-outline' : showFilterDropdown}"
        (click)="toggleFilterMenu()">
        Choose Columns
    </button>
    <!--ELECTRICITY FILTERS-->
    <div class="filter-dropdown" *ngIf="showFilterDropdown">
        <p class="small">Choose Table Columns</p>
        <div class="row" *ngIf="source == 'Electricity'">
            <div class="col" *ngIf="filterType == 'table'">
                <label>
                    <input type="checkbox" name="totalCost" [(ngModel)]="generalInformationFilters.totalCost"
                        (change)="save()">Total Cost
                </label>
                <label>
                    <input type="checkbox" name="realDemand" [(ngModel)]="generalInformationFilters.realDemand"
                        (change)="save()">Real Demand
                </label>
                <label>
                    <input type="checkbox" name="billedDemand" [(ngModel)]="generalInformationFilters.billedDemand"
                        (change)="save()">Billed Demand
                </label>
            </div>
            <div class="col" *ngIf="filterType == 'table'">
                <label>
                    <input type="checkbox" name="marketEmissions" [(ngModel)]="emissionsFilters.marketEmissions"
                        (change)="save()">Market Emissions
                </label>
                <label>
                    <input type="checkbox" name="locationEmissions" [(ngModel)]="emissionsFilters.locationEmissions"
                        (change)="save()">Location Emissions
                </label>
                <label>
                    <input type="checkbox" name="recs" [(ngModel)]="emissionsFilters.recs" (change)="save()">RECs
                </label>
                <label>
                    <input type="checkbox" name="excessRecs" [(ngModel)]="emissionsFilters.excessRecs"
                        (change)="save()">Excess RECs
                </label>
                <label>
                    <input type="checkbox" name="excessRecsEmissions" [(ngModel)]="emissionsFilters.excessRecsEmissions"
                        (change)="save()">Excess RECs Emissions
                </label>
            </div>
            <div class="col">
                <label>
                    <input type="checkbox" name="block1" [(ngModel)]="detailedChargesFilters.block1"
                        (change)="save()">Block 1 Consumption
                </label>
                <label>
                    <input type="checkbox" name="block2" [(ngModel)]="detailedChargesFilters.block2"
                        (change)="save()">Block 2 Consumption
                </label>
                <label>
                    <input type="checkbox" name="block3" [(ngModel)]="detailedChargesFilters.block3"
                        (change)="save()">Block 3 Consumption
                </label>
                <label>
                    <input type="checkbox" name="other" [(ngModel)]="detailedChargesFilters.other"
                        (change)="save()">Other Consumption
                </label>
                <label>
                    <input type="checkbox" name="onPeak" [(ngModel)]="detailedChargesFilters.onPeak"
                        (change)="save()">On-Peak Consumption
                </label>
                <label>
                    <input type="checkbox" name="offPeak" [(ngModel)]="detailedChargesFilters.offPeak"
                        (change)="save()">Off-Peak Consumption
                </label>
                <label>
                    <input type="checkbox" name="powerFactor" [(ngModel)]="detailedChargesFilters.powerFactor"
                        (change)="save()">Power Factor
                </label>
            </div>
            <div class="col">
                <label>
                    <input type="checkbox" name="nonEnergyCharge" [(ngModel)]="additionalChargesFilters.nonEnergyCharge"
                        (change)="save()">Non-Energy Charge
                </label>
                <label>
                    <input type="checkbox" name="transmissionAndDelivery"
                        [(ngModel)]="additionalChargesFilters.transmissionAndDelivery" (change)="save()">Transmission
                    and Delivery Charge
                </label>
                <label>
                    <input type="checkbox" name="localSalesTax" [(ngModel)]="additionalChargesFilters.localSalesTax"
                        (change)="save()">Local Sales Tax
                </label>
                <label>
                    <input type="checkbox" name="stateSalesTax" [(ngModel)]="additionalChargesFilters.stateSalesTax"
                        (change)="save()">State Sales Tax
                </label>
                <label>
                    <input type="checkbox" name="latePayment" [(ngModel)]="additionalChargesFilters.latePayment"
                        (change)="save()">Late Payment
                </label>
                <label>
                    <input type="checkbox" name="otherCharge" [(ngModel)]="additionalChargesFilters.otherCharge"
                        (change)="save()">Other Charge
                </label>
            </div>
        </div>
        <!--non electricity filters-->
        <div class="row" *ngIf="source != 'Electricity'">
            <div class="col">
                <label>
                    <input type="checkbox" name="totalVolume" [(ngModel)]="generalUtilityDataFilters.totalVolume"
                        (change)="save()">Total Volume
                </label>
                <label>
                    <input type="checkbox" name="totalCost" [(ngModel)]="generalUtilityDataFilters.totalCost"
                        (change)="save()">Total Cost
                </label>
                <label>
                    <input type="checkbox" name="totalMarketEmissions"
                        [(ngModel)]="generalUtilityDataFilters.totalMarketEmissions" (change)="save()">Market Emissions
                </label>
                <label>
                    <input type="checkbox" name="totalLocationEmissions"
                        [(ngModel)]="generalUtilityDataFilters.totalLocationEmissions" (change)="save()">Location
                    Emissions
                </label>
            </div>
            <div class="col">
                <label>
                    <input type="checkbox" name="commodityCharge"
                        [(ngModel)]="generalUtilityDataFilters.commodityCharge" (change)="save()">Commodity Charge
                </label>
                <label>
                    <input type="checkbox" name="deliveryCharge" [(ngModel)]="generalUtilityDataFilters.deliveryCharge"
                        (change)="save()">Delivery Charge
                </label>
                <label>
                    <input type="checkbox" name="otherCharge" [(ngModel)]="generalUtilityDataFilters.otherCharge"
                        (change)="save()">Other Charge
                </label>
            </div>
        </div>


        <br>
        <a (click)="showAllColumns();">Show All</a>
        <span> / </span>
        <a (click)="hideAllColumns();">Hide All</a>
    </div>
</div>