f<form [formGroup]="form">
    <div class="mb-3 ">
        <label>{{formNameLabel}} Name <span class="required">*</span></label>
        <input type="text" class="form-control" formControlName="name" (input)="saveChanges()" onfocus="this.select();" minlength = "1" maxlength="42" required="required">
        <input type="submit">
    </div>
    <span class="inputError" *ngIf="form.get('name').hasError('required')">{{formNameLabel}} name is required</span>

    <div class="mb-3">
        <label>Address</label>
        <input type="text" class="form-control" formControlName="address" autocomplete="shipping street-address"
            (input)="saveChanges()" onfocus="this.select();" minlength="1" maxlength="60">
    </div>

    <div class="row">
        <div class="mb-3 col">
            <label>City</label>
            <input type="text" class="form-control" formControlName="city" (input)="saveChanges()" onfocus="this.select();" minlength="1" maxlength="85">
        </div>
        <div class="mb-3 col">
            <label>State</label>
            <select formControlName="state" (change)="saveChanges()">
                <option *ngFor="let state of globalVariables.states" [ngValue]="state.name">{{state.name}}</option>
            </select>
        </div>
        <div class="mb-3 col">
            <label>Zip</label>
            <input type="text" class="form-control" formControlName="zip" (input)="saveChanges()" autocomplete="postal-code" onfocus="this.select();" minlength="1" maxlength="12">
        </div>
        <div class="mb-3 col">
            <label>Country</label>
            <input type="text" class="form-control" formControlName="country" (input)="saveChanges()" onfocus="this.select();" minlength="1" maxlength="60">
        </div>
    </div>

    <div class="row">
        <div class="mb-3 col">
            <label>NAICS Code</label>
            <select formControlName="naics" (change)="saveChanges()">
                <option *ngFor="let naics of globalVariables.naicsCodes" [ngValue]="naics.code">{{naics.code}} -
                    {{naics.industyType}}</option>
            </select>
        </div>

        <div class="input-group mb-3 col">
            <label>Facility Area</label>
            <input type="text" class="form-control" formControlName="size" (input)="saveChanges()" onfocus="this.select();" minlength="1" maxlength="60">
            <span class="unit" *ngIf="unitsOfMeasure === 'Imperial'">ft<sup>2</sup></span>
            <span class="unit" *ngIf="unitsOfMeasure === 'Metric'">m<sup>2</sup></span>
        </div>
    </div>

    <div class="mb-3">
        <label class="">Notes</label>
        <textarea formControlName="notes" (input)="saveChanges()"></textarea>
    </div>
</form>