<h4>
    {{facility.name}} Energy Use Groups Setup
</h4>

<div>
    <h5 class="text-center mb-0">Setting up group {{groupSetupIndex + 1}} of {{energyUseGroups.length}}</h5>
    <p class="fw-light text-center">
        You can always add, edit, or delete energy use groups after this setup is complete.
    </p>
    <div class="d-flex justify-content-between align-items-center">
        <div>
            @if(groupSetupIndex == 0) {
            <button class="btn action-btn" (click)="initEnergyUseGroups()"><i class="fa fa-refresh"></i> Start Over</button>
            }@else{
            <button class="btn action-btn" (click)="previousGroup()"><i class="fa fa-arrow-left"></i> Previous
                Group</button>
            }
        </div>
        <div>
            @let formsValid = energyUseGroups[groupSetupIndex].equipmentForms | formsValid;
            @let disableNext = !formsValid || !energyUseGroups[groupSetupIndex].name;
            @if(groupSetupIndex == energyUseGroups.length - 1) {
            <button class="btn action-btn me-1" (click)="addGroup()" [disabled]="disableNext"><i class="fa fa-plus"></i>
                Add Group</button>
            <button class="btn action-btn" (click)="finalizeSetup()" [disabled]="disableNext"><i
                    class="fa fa-check"></i>
                Finalize Setup</button>
            }@else{
            <button class="btn action-btn" (click)="nextGroup()" [disabled]="disableNext"><i
                    class="fa fa-arrow-right"></i> Next
                Group</button>
            }
        </div>
    </div>
    <hr class="my-2">
    <div class="row justify-content-center">
        <div class="col-md-8 col-sm-12">
            <label class="bold" for="groupName">Group Name:</label>
            <input id="groupName" type="text" class="form-control" [(ngModel)]="energyUseGroups[groupSetupIndex].name"
                required />
            @if(!energyUseGroups[groupSetupIndex].name) {
            <div class="alert alert-danger mt-1">
                Group name is required.
            </div>
            }
        </div>
    </div>
    <hr class="my-2">
    <div class="d-flex justify-content-between">
        <div>
            <h5>Equipment / Systems</h5>
        </div>
        <div>
            <button class="btn action-btn float-right" (click)="addEquipmentForm()"><i class="fa fa-plus"></i> Add
                Equipment/System to {{energyUseGroups[groupSetupIndex].name}}</button>
        </div>
    </div>
    <div class="row">
        @for (eqForm of energyUseGroups[groupSetupIndex].equipmentForms; track $index) {
        <div class="col-6 mb-2 mt-2">
            <div class="card">
                <div class="card-header bg-card-header">
                    <div class="d-flex justify-content-between">
                        <div class="color-white">
                            &#35;{{$index + 1}}.
                        </div>
                        @if(energyUseGroups[groupSetupIndex].equipmentForms.length > 1) {
                        <div>
                            <button class="btn-close" (click)="removeEquipment($index)">
                            </button>
                        </div>
                        }
                    </div>
                </div>
                <div class="card-body">
                    <app-facility-energy-use-equipment-form [form]="eqForm">
                    </app-facility-energy-use-equipment-form>
                </div>
            </div>
        </div>
        }
    </div>
</div>