<div class="d-flex justify-content-end pb-1">
    <button class="btn btn-sm btn-secondary" (click)="closeEmissionsRates()">&times;</button>
</div>
<ng-container *ngIf="selectedSubregionEmissions">
    <div class="d-flex flex-column">
        <table class="table table-sm table-bordered mb-0"
            *ngIf="selectedSubregionEmissions.locationEmissionRates.length != 0">
            <thead>
                <tr>
                    <th colspan="4">
                        {{eGridSubregion}} Location Emission Rates
                    </th>
                </tr>
                <tr>
                    <th class="w-25">
                        Year
                    </th>
                    <th class="w-25">
                        CO<sub>2</sub> <br>(kg CO<sub>2</sub>/MWh)
                    </th>
                    <th class="w-25">
                        CH<sub>4</sub> <br>(g CH<sub>4</sub>/MWh)
                    </th>
                    <th class="w-25">
                        N<sub>2</sub>O <br>(g N<sub>2</sub>O/MWh)
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr
                    *ngFor="let emissionRate of selectedSubregionEmissions.locationEmissionRates  | orderBy: 'year': 'asc'">
                    <td>
                        {{emissionRate.year}}
                    </td>
                    <td>
                        {{emissionRate.CO2 | number}}
                    </td>
                    <td>
                        {{emissionRate.CH4 | number}}
                    </td>
                    <td>
                        {{emissionRate.N2O | number}}
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="alert alert-warning" *ngIf="selectedSubregionEmissions.locationEmissionRates.length == 0">
            No location emissions found for this region.
        </div>
        <hr class="my-1">
        <table class="table table-sm table-bordered"
            *ngIf="selectedSubregionEmissions.residualEmissionRates.length != 0">
            <thead>
                <tr>
                    <th colspan="4">
                        {{eGridSubregion}} Residual Emission Rates
                    </th>
                </tr>
                <tr>
                    <th class="w-25">
                        Year
                    </th>
                    <th class="w-25">
                        CO<sub>2</sub> <br>(kg CO<sub>2</sub>/MWh)
                    </th>
                    <th class="w-25">
                        CH<sub>4</sub> <br>(g CH<sub>4</sub>/MWh)
                    </th>
                    <th class="w-25">
                        N<sub>2</sub>O <br>(g N<sub>2</sub>O/MWh)
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr
                    *ngFor="let emissionRate of selectedSubregionEmissions.residualEmissionRates  | orderBy: 'year': 'asc'">
                    <td>
                        {{emissionRate.year}}
                    </td>
                    <td>
                        {{emissionRate.CO2 | number}}
                    </td>
                    <td>
                        {{emissionRate.CH4 | number}}
                    </td>
                    <td>
                        {{emissionRate.N2O | number}}
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="alert alert-warning" *ngIf="selectedSubregionEmissions.residualEmissionRates.length == 0">
            No residual emissions found for this region.
        </div>
    </div>
</ng-container>