<div class="mt-3" *ngIf="importMeterDataFiles.length != 0">
    <h6>Meter Data Template Files</h6>
    <p>
        The following files follow the provided template. Fix any errors before importing the data. Invalid entries will
        be ignored.
    </p>
    <table class="table table-sm">
        <thead>
            <tr class="import-meter">
                <th class="file-name-width">
                    File Name
                </th>
                <th>
                    New Readings
                </th>
                <th>
                    Existing Readings
                </th>
                <th>
                    Invalid Readings
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let importMeterFile of importMeterDataFiles">
                <td>{{importMeterFile.fileName}}
                    <span class="pl-1" *ngIf="importMeterFile.isTemplateElectricity">(Electricity)</span>
                    <span class="pl-1" *ngIf="!importMeterFile.isTemplateElectricity">(Non-electricity)</span>
                </td>
                <td>{{importMeterFile.importMeterDataFileSummary.newMeterData.length}}</td>
                <td>{{importMeterFile.importMeterDataFileSummary.existingMeterData.length}}</td>
                <td>{{importMeterFile.importMeterDataFileSummary.invalidMeterData.length}}</td>
                <td>

                </td>
            </tr>
        </tbody>
    </table>
    <hr>
</div>