<div class="sticky-top banner-border" [ngClass]="{'modal-open': modalOpen}">
    <div class="breadcrumbs d-flex justify-content-between">
        <div class="d-flex pe-2">
            <select name="minMonth" [(ngModel)]="minMonth" class="form-select" (change)="setMinDate()">
                <option class="pe-2" *ngFor="let month of months" [ngValue]="month.monthNumValue">
                    {{month.abbreviation}}</option>
            </select>

            <select name="minYear" [(ngModel)]="minYear" class="form-select" (change)="setMinDate()">
                <option class="pe-2" *ngFor="let year of years" [ngValue]="year">{{year}}</option>
            </select>

            <div class="ps-1 pe-1">
                <span class="fa fa-arrow-right"></span>
            </div>

            <select name="maxMonth" [(ngModel)]="maxMonth" class="form-select" (change)="setMaxDate()">
                <option class="pe-2" *ngFor="let month of months" [ngValue]="month.monthNumValue">
                    {{month.abbreviation}}</option>
            </select>

            <select name="maxYear" [(ngModel)]="maxYear" class="form-select" (change)="setMaxDate()">
                <option class="pe-2" *ngFor="let year of years" [ngValue]="year">{{year}}</option>
            </select>
        </div>

        <div class="d-flex">
            <div class="pe-1">
                <div class="btn-group">
                    <button class="btn btn-sm toggle-btn" (click)="setFacilityEnergyIsSource(true)"
                        [ngClass]="{'active': selectedFacility.energyIsSource == true}">
                        <span class="fa fa-chevron-right"></span>
                        Source Energy
                        <span class="fa fa-chevron-left"></span>
                    </button>
                    <button class="btn btn-sm toggle-btn" (click)="setFacilityEnergyIsSource(false)"
                        [ngClass]="{'active': selectedFacility.energyIsSource == false}">
                        <span class="fa fa-chevron-right"></span>
                        Site Energy
                        <span class="fa fa-chevron-left"></span>
                    </button>
                </div>
            </div>

            <div class="ps-1">
                <div class="btn-group">
                    <button class="btn btn-sm toggle-btn" [ngClass]="{'active': selectedChart == 'splom'}"
                        (click)="setView('splom')">
                        <span class="fa fa-chevron-right"></span>
                        Data Correlation
                        <span class="fa fa-chevron-left"></span>
                    </button>
                    <button class="btn btn-sm toggle-btn" [ngClass]="{'active': selectedChart == 'heatmap'}"
                        (click)="setView('heatmap')">
                        <span class="fa fa-chevron-right"></span>
                        R<sup>2</sup> Variance
                        <span class="fa fa-chevron-left"></span>
                    </button>
                    <button class="btn btn-sm toggle-btn" [ngClass]="{'active': selectedChart == 'timeseries'}"
                        (click)="setView('timeseries')">
                        <span class="fa fa-chevron-right"></span>
                        Time Series
                        <span class="fa fa-chevron-left"></span>
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>