  .banner-border{
    border-bottom: solid #145A32;
  }


  li.disabled:hover .navigation-warning{
    display: block;
}

.utility.banner{
   background-color: white;
    padding-bottom: 0px;
}

.nav-tabs .nav-link.active{
    color: #ff6000;
    background-color: white;
}

.nav-tabs .nav-link:not(.active){
    background-color: #145A32;
    color: white;
    border: solid 1px white;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-link.active i.fa{
    color: #ff6000;
}