<div class="data-wizard-content with-footer">
    <div class="row g-0 justify-content-center h-100 w-100 overflow-auto">
        <div class="col-11 pt-4 pb-4">
            <div class="form-paper">
                <h4>
                    <div class="d-flex w-100 justify-content-between">
                        <div class="h4 mb-0">
                            Review and Submit Upload Data
                        </div>
                        <div>
                            <span class="badge bg-primary">
                                <span class="fa fa-file"></span>
                                {{fileReference.name}}
                            </span>
                        </div>
                    </div>
                </h4>
            </div>
        </div>
    </div>
</div>

<nav class="data-wizard-footer navbar">
    <div class="container-fluid justify-content-between">
        <button class="btn btn-dark" (click)="goBack()">
            <span class="fa fa-chevron-left"></span>
            Go Back
        </button>
        <button class="btn btn-success" (click)="next()">
            Import Data
        </button>
    </div>
</nav>