<div class="wrapper main-content p-0">
    <nav class="tabs">
        <ul class="mb-0">
            <li><a routerLink="energy-source" [routerLinkActive]="['active']"
                    [routerLinkActiveOptions]="{ exact: true }">Energy Source</a></li>
            <li [hidden]="!electricity" [ngClass]="electricityTabClass">
                <a routerLink="electricity" [routerLinkActive]="['active']">Electricity
                </a>
            </li>
            <li [hidden]="!naturalGas" [ngClass]="naturalGasTabClass">
                <a routerLink="natural-gas" [routerLinkActive]="['active']">Natural Gas
                </a>
            </li>
            <li [hidden]="!otherFuels" [ngClass]="otherFuelsTabClass">
                <a routerLink="other-fuels" [routerLinkActive]="['active']">Other Fuels
                </a>
            </li>
            <li [hidden]="!otherEnergy" [ngClass]="otherEnergyTabClass">
                <a routerLink="other-energy" [routerLinkActive]="['active']">Other Energy
                </a>
            </li>
            <li [hidden]="!water" [ngClass]="waterTabClass">
                <a routerLink="water" [routerLinkActive]="['active']">Water
                </a>
            </li>
            <li [hidden]="!wasteWater" [ngClass]="wasteWaterTabClass">
                <a routerLink="waste-water" [routerLinkActive]="['active']">Waste Water
                </a>
            </li>
            <li [hidden]="!otherUtility" [ngClass]="otherUtilityTabClass">
                <a routerLink="other-utility" [routerLinkActive]="['active']">Other Utility
                </a>
            </li>
        </ul>
    </nav>
    <div class="content-padding">
        <router-outlet></router-outlet>
    </div>
</div>