<h4>Edit Natural Gas Bill</h4>
<p class="bold">General Information</p>
<form class="meterForm" [formGroup]="meterDataForm">

    <label>Meter Read Date
        <input type="date" formControlName="readDate">
    </label><br>

    <label>Total Energy Use
        <span class="unit">$</span>
        <input type="number" formControlName="totalEnergyUse">
    </label><br>

    <label>Commodity Charge
        <span class="unit">$</span>
        <input type="number" formControlName="commodityCharge">
    </label><br>

    <label>Delivery Charges
        <span class="unit">$</span>
        <input type="number" formControlName="deliveryCharge">
    </label><br>

    <label>Other Charges
        <span class="unit">$</span>
        <input type="number" formControlName="otherCharge">
    </label><br>
</form>

<hr>

<div class="saveCancel item-right">
    <button class="btn btn-primary" (click)="cancel()">Cancel</button>
    <button class="btn btn-primary" (click)="meterDataSave()">Save</button>
</div>