
.dashboard-container{
    /* height: calc(100vh - 100px); */
    height: 100%;
    overflow-y: auto; 
}


@media print {
    .dashboard-container{
        height: auto;
        overflow-y: visible;
    }
}