input[type="checkbox"]{
    float: left;
    width: auto;
    margin: 5px 10px 0 0;
}

.checkbox-label{
    margin-left: 10px;
}

.alert-danger, .alert-danger a{
    font-size: larger
}



label.baseline-label{
    width: auto;
}

.variable-names{
    width: 200px;
}

.sub-column{
    margin-left: 7px;
}