<div class="d-flex w-100 justify-content-between">
    <div>
        <button class="btn nav-btn m-0" (click)="cancelInspectModel()">
            <span class="fa fa-chevron-left"></span>Return to Model
            Selection
        </button>
    </div>
    <div>
        <ng-container *ngIf="isSelectedModel">
            <span class="fa fa-check-circle-o"></span> Current Model
        </ng-container>

        <div class="d-flex" *ngIf="!isSelectedModel">
            <button *ngIf="!compareSelectedModel" class="btn action-btn m-0" (click)="setCompareSelected()">Compare
                Current Model</button>
            <button *ngIf="compareSelectedModel" class="btn action-btn m-0" (click)="hideCompareSelected()">Hide
                Current Model</button>
        </div>
    </div>
</div>
<hr>


<div class="table-responsive">

    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th *ngIf="compareSelectedModel">

                </th>
                <th>
                    Model<br> Year
                </th>
                <th>
                    Variable<br> p-Values
                </th>
                <th>
                    R2
                </th>
                <th>
                    Adjusted<br> R2
                </th>
                <th>
                    Model<br> p-Value
                </th>
                <th>
                    Formula
                </th>
                <th>
                    Model Notes
                </th>
                <th *ngIf="!isSelectedModel">

                </th>
            </tr>
        </thead>
        <tbody>
            <!--inspected-->
            <tr>
                <td *ngIf="compareSelectedModel">
                    <span class="badge inspected">#</span>
                    Potential Model
                </td>
                <td>
                    {{model.modelYear | yearDisplay:selectedFacility.fiscalYear}}
                </td>
                <td>
                    <span *ngFor="let pVal of model.t.p; let index = index">
                        <span *ngIf="index != 0">{{model.predictorVariables[index-1].name}}: {{pVal | number:'0.2-2'}}
                            <br>
                        </span>
                    </span>
                </td>
                <td>
                    {{model.R2| number:'0.3-3'}}
                </td>
                <td>
                    {{model.adjust_R2| number:'0.3-3'}}
                </td>
                <td>
                    {{model.modelPValue| number:'0.2-2'}}
                </td>
                <td>
                    <span *ngFor="let coefVal of model.coef; let index = index;">
                        <span *ngIf="index == 0">{{coefVal| regressionNumber}}</span>
                        <span *ngIf="index != 0">({{coefVal|
                            regressionNumber}}*{{model.predictorVariables[index-1].name}})</span> <span
                            *ngIf="index != model.coef.length-1"> +</span>
                    </span>
                </td>
                <td>
                    <span *ngFor="let notes of model.modelNotes">
                        {{notes}}<br>
                    </span>
                    <span *ngIf="model.modelNotes.length == 0">
                        &mdash;
                    </span>
                </td>
                <td *ngIf="!isSelectedModel">
                    <button class="btn action-btn" (click)="selectModel()">Select Model</button>
                </td>
            </tr>
            <!--selected-->
            <tr *ngIf="selectedModel">
                <td>
                    <span class="badge selected">#</span>
                    Current Model
                </td>
                <td>
                    {{selectedModel.modelYear | yearDisplay:selectedFacility.fiscalYear}}
                </td>
                <td>
                    <span *ngFor="let pVal of selectedModel.t.p; let index = index">
                        <span *ngIf="index != 0">{{selectedModel.predictorVariables[index-1].name}}: {{pVal |
                            number:'0.2-2'}}
                            <br>
                        </span>
                    </span>
                </td>
                <td>
                    {{selectedModel.R2| number:'0.3-3'}}
                </td>
                <td>
                    {{selectedModel.adjust_R2| number:'0.3-3'}}
                </td>
                <td>
                    {{selectedModel.modelPValue| number:'0.2-2'}}
                </td>
                <td>
                    <span *ngFor="let coefVal of selectedModel.coef; let index = index;">
                        <span *ngIf="index == 0">{{coefVal| regressionNumber}}</span>
                        <span *ngIf="index != 0">({{coefVal|
                            regressionNumber}}*{{selectedModel.predictorVariables[index-1].name}})</span> <span
                            *ngIf="index != selectedModel.coef.length-1"> +</span>
                    </span>
                </td>
                <td>
                    <span *ngFor="let notes of selectedModel.modelNotes">
                        {{notes}}<br>
                    </span>
                    <span *ngIf="selectedModel.modelNotes.length == 0">
                        &mdash;
                    </span>
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>

<hr>
<div class="d-flex w-100 justify-content-center">
    <div class="pe-2">
        <table class="table table-sm sep-table">
            <thead>
                <tr>
                    <th>
                        <span *ngIf="compareSelectedModel">
                            Potential Model
                        </span>
                    </th>
                    <th>

                    </th>
                    <th *ngFor="let sepValidation of model.SEPValidation">
                        {{sepValidation.predictorVariable}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-white border-top">
                    <td>

                    </td>
                    <td>
                        SEP Mean Report Year Value
                    </td>
                    <td *ngFor="let sepValidation of model.SEPValidation">
                        {{sepValidation.meanReportYear | customNumber}}
                    </td>
                </tr>
                <tr class="bg-white">
                    <td>

                    </td>
                    <td>
                        SEP Mean Baseline Year Value
                    </td>
                    <td *ngFor="let sepValidation of model.SEPValidation">
                        {{sepValidation.meanBaselineYear | customNumber}}
                    </td>
                </tr>
                <tr class="bg-white border-top">
                    <td>
                        Range 1
                    </td>
                    <td>
                        Minimum of Model Variable
                    </td>
                    <td *ngFor="let sepValidation of model.SEPValidation"
                        [ngClass]="{'alert-danger': !sepValidation.modelMinValid}">
                        {{sepValidation.modelMin | customNumber}}
                    </td>
                </tr>
                <tr class="bg-white">
                    <td>

                    </td>
                    <td>
                        Maximum of Model Variable
                    </td>
                    <td *ngFor="let sepValidation of model.SEPValidation"
                        [ngClass]="{'alert-danger': !sepValidation.modelMaxValid}">
                        {{sepValidation.modelMax | customNumber}}
                    </td>
                </tr>
                <tr class="bg-white border-top">
                    <td>
                        Range 2
                    </td>
                    <td>
                        Model Mean -3 Std Dev
                    </td>
                    <td *ngFor="let sepValidation of model.SEPValidation"
                        [ngClass]="{'alert-danger': !sepValidation.modelMinus3StdDevValid}">
                        {{sepValidation.modelMinus3StdDev | customNumber}}
                    </td>
                </tr>
                <tr class="bg-white">
                    <td>

                    </td>
                    <td>
                        Model Mean +3 Std Dev
                    </td>
                    <td *ngFor="let sepValidation of model.SEPValidation"
                        [ngClass]="{'alert-danger': !sepValidation.modelPlus3StdDevValid}">
                        {{sepValidation.modelPlus3StdDev | customNumber}}
                    </td>
                </tr>
            </tbody>
            <tfoot class="border-top">
                <tr>
                    <th>

                    </th>
                    <th>
                        SEP Validation Check
                    </th>
                    <th *ngFor="let sepValidation of model.SEPValidation">
                        <span *ngIf="sepValidation.isValid">
                            Pass
                        </span>
                        <span *ngIf="!sepValidation.isValid">
                            Fail
                        </span>
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="ps-2" *ngIf="selectedModel">
        <table class="table table-sm sep-table">
            <thead>
                <tr>
                    <th>
                        Current Model
                    </th>
                    <th>

                    </th>
                    <th *ngFor="let sepValidation of selectedModel.SEPValidation">
                        {{sepValidation.predictorVariable}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-white border-top">
                    <td>

                    </td>
                    <td>
                        SEP Mean Report Year Value
                    </td>
                    <td *ngFor="let sepValidation of selectedModel.SEPValidation">
                        {{sepValidation.meanReportYear | customNumber}}
                    </td>
                </tr>
                <tr class="bg-white">
                    <td>

                    </td>
                    <td>
                        SEP Mean Baseline Year Value
                    </td>
                    <td *ngFor="let sepValidation of selectedModel.SEPValidation">
                        {{sepValidation.meanBaselineYear | customNumber}}
                    </td>
                </tr>
                <tr class="bg-white border-top">
                    <td>
                        Range 1
                    </td>
                    <td>
                        Minimum of Model Variable
                    </td>
                    <td *ngFor="let sepValidation of selectedModel.SEPValidation"
                        [ngClass]="{'alert-danger': !sepValidation.modelMinValid}">
                        {{sepValidation.modelMin | customNumber}}
                    </td>
                </tr>
                <tr class="bg-white">
                    <td>

                    </td>
                    <td>
                        Maximum of Model Variable
                    </td>
                    <td *ngFor="let sepValidation of selectedModel.SEPValidation"
                        [ngClass]="{'alert-danger': !sepValidation.modelMaxValid}">
                        {{sepValidation.modelMax | customNumber}}
                    </td>
                </tr>
                <tr class="bg-white border-top">
                    <td>
                        Range 2
                    </td>
                    <td>
                        Model Avg -3 Std Dev
                    </td>
                    <td *ngFor="let sepValidation of selectedModel.SEPValidation"
                        [ngClass]="{'alert-danger': !sepValidation.modelMinus3StdDevValid}">
                        {{sepValidation.modelMinus3StdDev | customNumber}}
                    </td>
                </tr>
                <tr class="bg-white">
                    <td>

                    </td>
                    <td>
                        Model Avg +3 Std Dev
                    </td>
                    <td *ngFor="let sepValidation of selectedModel.SEPValidation"
                        [ngClass]="{'alert-danger': !sepValidation.modelPlus3StdDevValid}">
                        {{sepValidation.modelPlus3StdDev | customNumber}}
                    </td>
                </tr>
            </tbody>
            <tfoot class="border-top">
                <tr>
                    <th>

                    </th>
                    <th>
                        SEP Validation Check
                    </th>
                    <th *ngFor="let sepValidation of selectedModel.SEPValidation">
                        <span *ngIf="sepValidation.isValid">
                            Pass
                        </span>
                        <span *ngIf="!sepValidation.isValid">
                            Fail
                        </span>
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>

</div>
<hr>
<app-calculating-spinner *ngIf="calculating" [message]="'Calculating Model Details...'"></app-calculating-spinner>
<div #monthlyAnalysisGraph id="monthlyAnalysisGraph"></div>