<button #openModalBtn class="btn" (click)="openModal()" [ngClass]="selectedPredictor | predictorDataQualityStatus: predictorData: true">
    <i class="fa fa-clipboard-check me-1"></i> Data Validity Check</button>

<div [ngClass]="{'windowOverlay': showModal}"></div>
<div class="popup" [class.open]="showModal">
    <div class="popup-header" *ngIf="showModal"><i class="fa fa-clipboard-check me-1"></i> Data Validity Check: {{selectedPredictor?.name}}
        <button class="item-right" (click)="hideModal()">x</button>
    </div>
    <div class="popup-body">
        <app-predictor-data-quality-report [selectedPredictor]="selectedPredictor"
            [predictorData]="predictorData"></app-predictor-data-quality-report>
    </div>
    <div class="saveCancel popup-footer text-end">
        <hr class="my-1">
        <button class="btn btn-secondary" (click)="hideModal()">Close</button>
    </div>
</div>