<div class="worksheet-data-table">
    <app-worksheet-data-table></app-worksheet-data-table>
</div>
<hr>
<div class="row no-gutters">
    <div cdkDropList [cdkDropListData]="columnGroups" class="card col-6" *ngFor="let columnGroup of columnGroups"
        (cdkDropListDropped)="drop($event)" id={{columnGroup.id}} [cdkDropListConnectedTo]="groupItemIds">
        <div class="card-header">
            {{columnGroup.groupLabel}}
        </div>
        <div class="card-body">
            <!-- <div class="d-flex flex-wrap"> -->
            <button [cdkDragData]="groupItem" class="btn btn-primary m-2"
                *ngFor="let groupItem of columnGroup.groupItems" cdkDrag>
                {{groupItem.value}}
            </button>
            <!-- </div> -->
        </div>
    </div>
</div>