.nav-link{
    font-size: 18px;
}

.saveCancel .btn-secondary {
    margin-right: 10px;
}


.wizard-content{
    max-height: 85%;
    height: 85%;
}


.purple{
    background-color: purple;
    color: white;
}

h4 span{
    text-transform: none;
}