<form [formGroup]="form">

  @if (inAccount) {
  <label class="semibold" for="isBetterPlantsPartner">Is this account a member of the Better Plants Program?</label>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" name="isBetterPlantsPartner" formControlName="isBetterPlantsPartner"
      (change)="saveChanges()" id="isBetterPlantsPartner">
    <label class="form-check-label" for="isBetterPlantsPartner">Better Plants Program Partner</label>
  </div>
  <hr>
  }
  <!--energy reduction-->
  <div class="form-check">
    <input type="checkbox" class="form-check-input" name="energyReductionGoal" formControlName="energyReductionGoal"
      (change)="saveChanges()" id="energyReductionGoal">
    <label class="form-check-label semibold" for="energyReductionGoal">Do you have an Energy Reduction goal? </label>
  </div>
  <div class="row" [hidden]="!form.controls.energyReductionGoal.value">
    <div class="col-6">
      <label for="energyReductionPercent">Reduction Goal</label>
      <div class="input-group">
        <input type="number" class="form-control" formControlName="energyReductionPercent" (input)="saveChanges();"
          min="0" max="100">
        <span class="input-group-text">%</span>
      </div>
    </div>
    <div class="col-6">
      <label>Is goal for absolute energy or energy intensity?</label>

      <div class="form-check">
        <input type="radio" class="form-check-input" name="energyIsAbsolute" formControlName="energyIsAbsolute"
          [value]="true" (change)="saveChanges()" id="energyAbsolute">
        <label class="form-check-label" for="energyAbsolute">Absolute</label>
      </div>

      <div class="form-check">
        <input type="radio" class="form-check-input" name="energyIsAbsolute" formControlName="energyIsAbsolute"
          [value]="false" (change)="saveChanges()" id="energyIntensity">
        <label class="form-check-label" for="energyIntensity">Intensity</label>
      </div>
    </div>
    <div class="col-6">
      <label for="energyReductionBaselineYear">Baseline Year</label>
      <select class="form-select" formControlName="energyReductionBaselineYear"
        (change)="changeBaselineYear('energyReductionBaselineYear','energyReductionTargetYear')">
        @for (year of years; track year) {
        <option [ngValue]="year">{{year | yearDisplay:fiscalYearOption}}</option>
        }
      </select>
    </div>
    <div class="col-6">
      <label for="energyReductionTargetYear">Target Year</label>
      <select class="form-select" formControlName="energyReductionTargetYear" (change)="saveChanges()">
        @for (year of years | yearOptions: form.controls.energyReductionBaselineYear.value; track year) {
        <option [ngValue]="year">{{year | yearDisplay:fiscalYearOption}}</option>
        }
      </select>
    </div>
    <div class="col-12">
      <hr>
    </div>
  </div>
  <div class="alert alert-warning mb-2" [hidden]="form.controls.energyReductionGoal.value">
    Energy Reduction goal needed to perform analysis.
  </div>
  <!--water reduction-->
  <div class="form-check">
    <input type="checkbox" class="form-check-input" name="waterReductionGoal" formControlName="waterReductionGoal"
      (change)="saveChanges()" id="waterReductionGoal">
    <label class="form-check-label semibold" for="waterReductionGoal">Do you have a Water Reduction goal?</label>
  </div>
  <div class="row" [hidden]="!form.controls.waterReductionGoal.value">
    <div class="col-6">
      <label for="waterReductionPercent">Reduction Goal</label>
      <div class="input-group mb-3">
        <input type="number" class="form-control" formControlName="waterReductionPercent" (input)="saveChanges();"
          min="0" max="100">
        <span class="input-group-text">%</span>
      </div>
    </div>
    <div class="col-6">
      <label>Is goal for absolute water or water intensity?</label>

      <div class="form-check">
        <input type="radio" class="form-check-input" name="waterIsAbsolute" formControlName="waterIsAbsolute"
          [value]="true" (change)="saveChanges()" id="waterAbsolute">
        <label class="form-check-label" for="waterAbsolute">Absolute</label>
      </div>

      <div class="form-check">
        <input type="radio" class="form-check-input" name="waterIsAbsolute" formControlName="waterIsAbsolute"
          [value]="false" (change)="saveChanges()" id="waterIntensity">
        <label class="form-check-label" for="waterIntensity">Intensity</label>
      </div>
    </div>
    <div class="col-6">
      <label for="waterReductionBaselineYear">Baseline Year</label>
      <select class="form-select" formControlName="waterReductionBaselineYear"
        (change)="changeBaselineYear('waterReductionBaselineYear','waterReductionTargetYear')">
        @for (year of years; track year) {
        <option [ngValue]="year">{{year | yearDisplay:fiscalYearOption}}</option>
        }
      </select>
    </div>
    <div class="col-6">
      <label for="waterReductionTargetYear">Target Year</label>
      <select class="form-select" formControlName="waterReductionTargetYear" (change)="saveChanges()">
        @for (year of years | yearOptions: form.controls.waterReductionBaselineYear.value; track year) {
        <option [ngValue]="year">{{year | yearDisplay:fiscalYearOption}}</option>
        }
      </select>
    </div>
  </div>
</form>
@if (sustainQuestionsDontMatchAccount) {
<hr>
@if (selectedFacility.isNewFacility != true) {
<p class="alert alert-warning">
  Facility sustainability answers are different then the answers set for the account. If you would like to
  use the account answers for this facility click here: <a class="click-link" (click)="setAccountSustainQuestions()">Use
    Account Answers</a><br><br>
  Otherwise, if this facility opened after the account baseline year, check the "This is a new facility" box
  below.
</p>
}
<form>
  <!--energy reduction-->
  <div class="form-check new-facility">
    <input type="checkbox" class="form-check-input" name="isNewFacility" [(ngModel)]="selectedFacility.isNewFacility"
      (change)="saveChanges()" id="isNewFacility">
    <label class="form-check-label" for="isNewFacility">This is a new facility</label>
  </div>
</form>
}