<ng-container *ngIf="isElectron">
    <div [ngClass]="{'windowOverlay': showModal}">
    </div>

    <div class="popup" [class.open]="showModal">
        <div class="popup-header">Backup File Found
        </div>
        <div class="popup-body" *ngIf="latestBackupFile && electronBackup">
            <!-- <p>
                A backup file for this account was found from {{latestBackupFile.timeStamp | date:'medium'}}
            </p> -->
            <ng-container *ngIf="differingBackups">
                <!-- <hr> -->
                <p> The data found in the backup file corresponding to this account differs from the data in the
                    account.</p>

                <table class="table table-responsive table-bordered">
                    <thead>
                        <tr>
                            <th>

                            </th>
                            <th>
                                Current Account
                            </th>
                            <th>
                                Backup Account
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Account Name
                            </td>
                            <td>
                                {{account.name}}
                            </td>
                            <td>
                                {{latestBackupFile.account.name}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Time Stamp
                            </td>
                            <td>
                                {{electronBackup.timeStamp | date:'medium'}}
                            </td>
                            <td>
                                {{latestBackupFile.timeStamp | date:'medium'}}
                            </td>
                        </tr>
                        <tr *ngIf="account.isSharedBackupFile || latestBackupFile.account.isSharedBackupFile">
                            <td>
                                Shared File Author
                            </td>
                            <td>
                                {{account.sharedFileAuthor}}
                            </td>
                            <td>
                                {{latestBackupFile.account.sharedFileAuthor}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Which would you like to update?
                            </td>
                            <td>
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" name="overwriteOption"
                                        [(ngModel)]="overwriteOption" [value]="'updateAccount'" id="updateAccount">
                                    <label class="form-check-label" for="updateAccount">Update Account from
                                        Backup</label>
                                </div>
                            </td>
                            <td>

                                <div class="form-check">
                                    <input type="radio" class="form-check-input" name="overwriteOption"
                                        [(ngModel)]="overwriteOption" [value]="'overwriteFile'" id="overwriteFile">
                                    <label class="form-check-label" for="overwriteFile">Update Backup from
                                        Account</label>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </ng-container>

            <ng-container *ngIf="!differingBackups">
                <p class="alert alert-success">
                    This account is up to date with the latest backup file found. <br>
                    Backup Timestamp: {{latestBackupFile.timeStamp | date:'medium'}}
                </p>
            </ng-container>

            <!-- <hr> -->
            <ng-container
                *ngIf="differingBackups || (account.archiveOption != 'always' && account.archiveOption != 'never') || forceModal">
                <label class="semibold">
                    Would you like to create an archive of the current state of this account? If selected, a copy of
                    this
                    account will be saved as a backup file with a time stamp. </label>
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="archiveOption" [(ngModel)]="archiveOption"
                        [value]="'skip'" id="skip">
                    <label class="form-check-label" for="skip">Skip Archive This Time</label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="archiveOption" [(ngModel)]="archiveOption"
                        [value]="'justOnce'" id="justOnce">
                    <label class="form-check-label" for="justOnce">
                        <span class="fa fa-file-arrow-down"></span>
                        Create Single Archive
                    </label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="archiveOption" [(ngModel)]="archiveOption"
                        [value]="'always'" id="always">
                    <label class="form-check-label" for="always">
                        <span class="fa fa-file-arrow-down"></span> Always Archive
                    </label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="archiveOption" [(ngModel)]="archiveOption"
                        [value]="'never'" id="never">
                    <label class="form-check-label" for="never">Never Archive</label>
                </div>
                <hr>
            </ng-container>
        </div>
        <div class="popup-footer text-end">
            <button class="btn btn-secondary" (click)="hideModal()">Do Nothing</button>
            <button class="btn action-btn" (click)="confirmActions()">Confirm</button>
        </div>
    </div>
</ng-container>