.th{
    transition: background-color 1s ease;
  }

th.Unused{
    background-color: #929292;
    color: white;
}

th.Date{
    background-color: #2c3e50;
    color: white;
}

th.Meters{
    background-color: #2980b9;
    color: white;
}

th.Predictors{
    background-color: #ffa500;
    color: white;
}

tr.hidden{
    display: none;
}